<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the reference component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderReference="${ @ model }">
<div data-sly-list.child="${currentPage.listChildren}">
<sly data-sly-resource="${child.getPath}/jcr:content/par"/>
</div>
</template>
<sly data-sly-use.model="gigamon.core.models.component.Reference" data-sly-call="${renderReference @ model=model}" />
