<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the sub-menu-block component which is synonomous with column
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderSubMenuBlock="${ @ model }">
    <figcaption>
        <sly data-sly-test="${model.headerImage}" >
            <sly data-sly-test="${model.blockHeadingLink}" >
                <a href="${model.blockHeadingLink}" target="${model.blockHeadingLinkNewTab ? '_blank' : ''}"><img class="img-responsive" src="${model.headerImage}" alt="${model.imageAltText}"/></a>
            </sly>
            <sly data-sly-test="${!model.blockHeadingLink}" >
                <img class="img-responsive" src="${model.headerImage}" alt="${model.imageAltText}"/>
            </sly>
        </sly>
        <sly data-sly-test="${!model.headerImage}" >
            <sly data-sly-test="${model.blockHeadingLink}" >
                <h4  data-sly-test="${model.blockHeading}"><a href="${model.blockHeadingLink}" target="${model.blockHeadingLinkNewTab ? '_blank' : ''}">${model.blockHeading}</a></h4>
            </sly>
            <sly data-sly-test="${!model.blockHeadingLink}" >
                <h4 data-sly-test="${model.blockHeading}">${model.blockHeading}</h4>
            </sly>
        </sly>
    </figcaption>

    <ul class="children-l2" data-sly-test="${model.links}" data-sly-list="${model.links}">
        <li>
            <sly data-sly-call="${_renderLink @
                link=item.link,
                newTab=item.newTabBool,
                title=item.title,
                analyticsAttributeMap=item.analyticsAttributeMap
            }" />
            <ul class="children-l3" data-sly-test="${model.linkChildren[itemList.index]}" data-sly-list.child="${model.linkChildren[itemList.index]}">
                <li>
                    <sly data-sly-call="${_renderLink @
                        link=child.link,
                        newTab=child.newTabBool,
                        title=child.title,
                        analyticsAttributeMap=child.analyticsAttributeMap
                    }" />
                </li>
            </ul>
        </li>
    </ul>
</template>
<sly data-sly-use.model="gigamon.core.models.component.SubMenuBlock" data-sly-call="${renderSubMenuBlock @ model=model}" />

<template data-sly-template._renderLink="${ @ link, newTab, title, analyticsAttributeMap}">
    <a
        class=""
        href="${link @ context='uri'}"
        target="${newTab ? '_blank' : ''}"
        data-sly-attribute="${analyticsAttributeMap}">
        ${title}
    </a>
</template>
