<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderTextJumbo="${ @ model }">

    <section class="component-text-jumbo" id="${model.componentId}"
        data-sly-attribute="${model.analyticsAttributeMap}"
        data-sly-use.cta="gigamon/components/content/cta/cta.html"
        data-sly-use.text="gigamon/components/content/text/text.html">

        <div class="text-${model.textJumboAlignment} ${model.headerWithCTA} ${model.textJumboColor}">
            <sly data-sly-call="${text.renderHText @ text=model.title, size=model.textJumboTitleSize, classes=model.textJumClasses}" />
            <sly data-sly-call="${text.renderText @ model=model}" />
            <sly data-sly-call="${cta.renderCta @ model=model}" />
        </div>
    </section>

</template>

<sly data-sly-use.model="gigamon.core.models.component.TextJumbo"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderTextJumbo}" />
