<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the filter-dropdown-resource component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderFilterDropdownResource="${ @ model }">
		<section class="component-dropdown-filter">
			<div class="select-dropdown" tabindex="1" data-placeholder-text="${model.filterDropdownLabelTag.title}" data-selected-value="">
				<span class="filter-label"></span>
				<button class="btn close-dropdown"><svg width="13" height="13" viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg"><title>Close</title><g stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M2.237 1.72l14.31 14.312M16.796 1.72L2.485 16.033"/></g></svg></button>
				<button class="btn open-dropdown"><svg class="arrow-down" width="16" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>Chevron</title><g fill-rule="evenodd" ><path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/><path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/></g></svg></button>
				<ul class="dropdown">
					<li data-sly-repeat.item="${model.filterDropdownTags}"><a href="#" data-value="${item.id}">${item.title}</a></li>
				</ul>
				<button class="btn reset-value"><svg width="13" height="13" viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg"><title>Close</title><g stroke-width="3" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M2.237 1.72l14.31 14.312M16.796 1.72L2.485 16.033"/></g></svg></button>
			</div>
		</section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.FilterDropdownResource" data-sly-call="${renderFilterDropdownResource @ model=model}" />
