<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

    <!--/*
        Main HTL template for the sub-menu component.
        model: The java model containing all fields necessary for rendering.
    */-->
    <template data-sly-template.renderSubMenu="${ @ model }">
        <section class="component-sub-menu">
            <div class="nav-dropdown">
                <div class="container">
                    <div class="container-flex">
                    <sly data-sly-list.column="${model.totalNumColumnsArray}">
                        <section class="component-sub-menu-block ${columnList.count == 1 ? 'leadin-container' : ''}">
                            <figure>
                                <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${columnList.count > model.totalNumColumns ? "Feature " : ""}Column ${columnList.count} &#9473;&#9491;</span>
                                <sly data-sly-resource="${'column{0}' @format=[columnList.count], resourceType='wcm/foundation/components/parsys'}"/>
                                <span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; ${columnList.count > model.totalNumColumns ? "Feature " : ""}Column ${columnList.count} &#9473;&#9499;</span>
                            </figure>
                        </section>
                    </sly>
                    </div>
                </div>
            </div>
        </section>
        <div class="nav-background"></div>

    </template>

<sly data-sly-use.model="gigamon.core.models.component.SubMenu" data-sly-call="${renderSubMenu @ model=model}" />