/**
 *  Main css for jump-navigation
 */

.component-jump-navigation {
   position: fixed;
   top: 30%;
   right: 0;
   background:lightgrey;
   z-index: 100000;
   width:250px;
.jump-main{

   }
.jump-head {
    background-color: #62b9b1;
  	padding: 7px;
  	text-align: center;
  	height: 50px;
  	width: 100%;

   		 svg{
			fill: white;
		 	position: absolute;
   			left: 30%;
   		 	top:30%;
			}

			span{
				position:absolute;
				left:51px;
			    font-family: 'proxima_nova';
                font-size: 11px;
            	letter-spacing: 1px;
            	line-height: 1em;
  					font-style: normal;
  					font-size: 15px;
   					color: #ffffff;
  				 	text-align: left;
   					line-height: 36px;
   					font-weight: 600;
   					}
    }
    .jump-list {
        background-color: lightgray;
        text-align: left;
        /*margin-left: -15px;*/

        span{margin-left:10px;}
    	li{
    		list-style: none;
   			font-family: 'proxima_nova';
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 1em;
    		font-style: normal;
    		font-size: 14px;
    		color: #666666;
    		line-height: 36px;
		  }
    	a {
    		color: grey;
    	    text-decoration: none;
    	        font-weight: 700;
    		}

    		a:hover {
    				/*color:  rgb(204, 204, 204);*/
					}
    	svg{
    	   position: absolute;
   		   left: 20px;
    	   top: 61px;
    	   fill: gray;
    	   }

    	  li:not(:last-child):after {
    		content: "";
    		display: block;
    		height: 1px;
    		width: 90%;
    		margin-left: 0px;
    		border-bottom: 1px solid #ddd;
			}
  }

    .arrow{
    background-color: #62b9b1;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    position: absolute;
    cursor: pointer;
    left:0;
    }

.arrow:hover {
/*ackground: darkgray;*/
}

.arrow-open:hover {
/*background: darkgray;*/
}


.arrow-open{
  background: #62b9b1;
  top: 30%;
  right: 0;
  height: 50px;
  width: 50px;
  position: fixed;
  cursor: pointer;

  svg{
	fill: white;
    position: absolute;
    left:30%;
    top:30%;
	}
   }

}


    @media (max-width: 414px) {
    		.component-jump-navigation .arrow-open{display:none!important;}
    		.component-jump-navigation .jump-head{display:block!important;}
			.component-jump-navigation {top:0!important;width: 100%;}
			.component-jump-navigation .jump-list {margin-left: 5%!important;}
			.component-jump-navigation .jump-head {width: inherit!important;height:60px!important;text-align: left;}
			.component-jump-navigation .jump-list svg {left:10%!important;top: 40%;}
			.component-jump-navigation .arrow{height:60px!important;width:60px!important;right:0!important;left:initial;}
			.component-jump-navigation .jump-head svg {left:38%!important; }
			.component-jump-navigation .jump-list li {font-size: 16px;}
			.component-jump-navigation .jump-list li:not(:last-child):after {
    		content: "";
    		display: block;
    		height: 1px;
    		width: 70%;
    		margin-left: 0px;
    		border-bottom: 1px solid #ddd;
			}
			.component-jump-navigation {position:relative!important;top:initial!important;left:initial!important;}
			.component-jump-navigation.sticky{position:fixed!important;top:0!important;left:0!important;}
			.simple-navigation.absolute{position:absolute;}
			.component-simple-navigation.absolute{position:absolute;}
	}
