/**
 *  Main css for search
 */

.component-search {
    .title-row {
    	padding: 20px 0;
    	.result-nr {
	    	font-size: 18px;
	    }
    	.list-inline {
    		float: right;
    	}
    }

    .search-result-item {
		padding: 10px 20px;
		/*border: 1px solid $light-grey;*/
		margin-bottom: 10px;
		h4, h4 a {
			font-weight: 400;
			color: #3ba1d9;
            font-size: 26px;
            /* height: 31px; */
		}
		p {
			max-width: 100%;
			/*width: 300px;*/
			font-size: 20px;
		}
		a {
			color: $grey;
		}
    }
    .search-result-image {
    	float: right;
    }
}


.search {
	max-width: 100%;
	width: $max-width-indent;
	margin: 0 auto;
}

@media (max-width: $breakpoint_md) {
 	.search-result-image {
    	float: none;
    	margin-bottom: 20px;
    }
}
