<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Contains the core video player markup.
    Other components should use this when video player is required.
*/-->
<template data-sly-template.renderVideoPlayer="${ @ provider, videoId, videoPlayerId, autoPlay, includeVimeoScript }">

    <script data-sly-test="${includeVimeoScript}" src="https://player.vimeo.com/api/player.js"></script>
    <section class="component-video ${autoPlay ? 'autoplay' : ''} ${provider}" data-modal="false" data-video-id="${videoId}" data-player-id="${videoPlayerId}" >
        <div id="${videoPlayerId}" class="video-player"></div>
    </section>

</template>


<template data-sly-template.renderVideoPlayerModal="${ @ provider, videoId, videoPlayerId, autoPlay, includeVimeoScript, thumbnail, ctaText, model }" data-sly-use.image="gigamon/components/content/image/image.html">

    <script data-sly-test="${includeVimeoScript}" src="https://player.vimeo.com/api/player.js"></script>
    <a class="general-modal" href="#x${videoPlayerId}">
        <div data-sly-test="${thumbnail}">
            <div class="thumbnail-container">
                <div data-sly-test="${model.image}">
                    <sly data-sly-call="${image.renderImage @ model=model, type='original'}"/>
                </div>
                <div data-sly-test="${!model.image}">
                    <img data-sly-test="${provider == 'youtube'}" src="http://img.youtube.com/vi/${videoId}/0.jpg" id="img${videoPlayerId}"  />
                    <img data-sly-test="${provider == 'vimeo'}" src="" id="vimeo-${videoId}" />
                </div>
                <div class="play-icon">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                    <span>Play Video</span>
                </div>
            </div>
        </div>
        <span class="">${ctaText}</span>
    </a>

    <div class="component-general-modal modal--fade" id="x${videoPlayerId}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-inner">
            <header>
                <!-- Header -->
            </header>
            <div class="modal-content general-modal">
                <section class="component-video ${autoPlay ? 'autoplay' : ''} ${provider}" data-video-id="${videoId}" data-player-id="${videoPlayerId}" data-modal="true">

                    <div id="${videoPlayerId}" class="video-player"></div>

                </section>
            </div>
            <footer>
                <!-- Footer -->
            </footer>
        </div>
        <a href="#!" class="modal-close general-modal-close" title="Close" data-close="Close" data-dismiss="modal"></a>
    </div>

</template>


<!--/* VIDEO PLAYER */-->
<template data-sly-template.renderVideo="${ @ model }">

    <div data-sly-test="${!model.playModal}">
        <sly data-sly-call="${renderVideoPlayer @
            provider= model.videoProvider,
            videoId=model.videoId,
            videoPlayerId=model.videoPlayerId,
            autoPlay=model.autoPlay,
            includeVimeoScript=model.includeVimeoScript}" />
    </div>
    <div data-sly-test="${model.playModal}">
        <sly data-sly-call="${renderVideoPlayerModal @
            provider=model.videoProvider,
            videoId=model.videoId,
            videoPlayerId=model.videoPlayerId,
            autoPlay=model.autoPlay,
            includeVimeoScript=model.includeVimeoScript,
            thumbnail = model.showThumbnail,
            ctaText = model.ctaText,
            model = model }" />
    </div>

</template>

<sly
    data-sly-use.model="gigamon.core.models.component.Video"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderVideo}" />
