  <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the multi-tabs component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderMultiTabs="${ @ model }">
    <section class="component-multi-tabs">
<script>
        function changeBackground(link) {
        if(link != null ){
   	        $(".multi-tabs .component-background:first").css('background-image', 'url(' + link + ')');
   	    }
   	}
</script>

        <!--/*
        Uncomment for debug output
        <sly data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model=model}" />
        */-->
  <div class="component-text text-block">
                        <h2 class="${model.titleSize} ${model.textAlignment} ${model.textColor} ${model.fontWeight} main-header">
                            ${model.title @ context="unsafe"}
                        </h2>
                    </div>


   <div class="responsive-tabs-container accordion-xs">
<ul class="nav nav-tabs responsive-tabs ${model.tabsAlignment}" data-sly-list.tabitem="${model.tabs}">
<li data-sly-test="${tabitemList.index < 1}" id='initactive' class=" arrow" attr="${tabitem.imgLink @ context='html'}" ><a class="${model.tabcolor} ${model.activecolor}" onclick="changeBackground('${tabitem.imgLink @ context='unsafe'}')" href="#${tabitem.tabId}">${tabitem.tabName}<i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
<li data-sly-test="${tabitemList.index >0 && tabitemList.index <=3}"  class=" arrow " ><a class="${model.tabcolor} ${model.activecolor}" onclick="changeBackground('${tabitem.imgLink @ context='unsafe'}')" href="#${tabitem.tabId}">${tabitem.tabName}<i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>

</ul>
<div class="tab-content ${wcmmode.edit ? 'edit' : ''} ${wcmmode.design ? 'design' : ''} ${wcmmode.preview ? 'preview' : ''} ${wcmmode.disabled ? 'publish' : ''}">


<sly data-sly-list.section="${model.tabs}">
<div class="tab-pane" id="${section.tabId}" >
		<div data-sly-test="${sectionList.index <= 3}" data-sly-resource="${section.tabId @ resourceType='wcm/foundation/components/parsys'}"></div>
	        </div>
        </sly>
        </div>
        </div>
		<div data-sly-resource="${'multi-tab' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.MultiTabs"  data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderMultiTabs}" />

