<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderArticle="${ @ model }">

    <section class="component-article" data-sly-use.text="gigamon/components/content/text/text.html">
        <div class="row">
            <div class="col-xs-12">
                <sly data-sly-call="${text.renderHText @ text=model.title, size=model.articleTitleSize}" />
            </div>

            <sly data-sly-test.count="${model.articleColumnCount}" />
            <div class="col-xs-12 article"
                style="-moz-column-count: ${count @ context='styleString'}; -webkit-column-count: ${count @ context='styleString'}; column-count: ${count @ context='styleString'};">

                <sly data-sly-call="${text.renderText @ model=model}" />

            </div>
        </div>
    </section>

</template>

<sly data-sly-use.model="gigamon.core.models.component.Article"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderArticle}" />
