<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderHeroBanner="${ @ model }">

    <sly data-sly-use.image="gigamon/components/content/image/image.html"
        data-sly-call="${image.renderBackgroundImageStyleTag @
            id=model.componentId,
            model=model,
            extraModsDesktop=' 50% 50%',
            extraModsMobile=' 50% 50%, linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)) '
        }" />

    <section id="${model.componentId}" class="component-hero-banner image-full-bleed ${model.heightVar} ${model.heroBannerTextColor} ${model.heroBannerHideImageMobile ? 'mobile-hide-img' : ''} "
        style="background-repeat: no-repeat; background-size: cover;"
        data-title="${model.title}"
        data-sly-attribute="${model.analyticsAttributeMap}"
        data-sly-use.text="gigamon/components/content/text/text.html"
        data-sly-use.cta="gigamon/components/content/cta/cta.html">

        <div class="text-overlay">
            <div class="container flex-container flex-${model.heroBannerAlignment @ context='attribute'} text-${model.heroBannerAlignment @ context='attribute'}">
                <div class="flex-align-center col-md-8 col-xs-12">
                    <div data-sly-test="${model.heroBannerIncludeBreadcrumbs}"
                        data-sly-unwrap="${!wcmmode.edit}"
                        data-sly-resource="${'breadcrumbs' @ resourceType='gigamon/components/content/breadcrumbs'}">
                    </div>
                    <sly data-sly-call="${text.renderP @ text=model.superTitle, classes='super', wrapPTag=false}"/>

                    <div class="component-text text-block">
                        <h1 class="${model.titleSize} ${model.titleColor}">
                            ${model.title @ context="html"} 
                        </h1>
                    </div>

                    <sly data-sly-call="${text.renderText @ model=model}"/>
                    <sly data-sly-call="${cta.renderCta @ model=model}"/>
                </div>
            </div>
        </div>

    </section>

</template>

<sly data-sly-use.model="gigamon.core.models.component.HeroBanner" data-sly-call="${renderHeroBanner @ model=model}" />
