/**
 *  Main css for video
 */

.general-modal .component-video {
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    iframe, object, embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.thumbnail-container {
    max-width: 400px;
    position: relative;
    img {
        width: auto;
        max-width: 100%;
        height: auto;
    }
    .play-icon {
        color: #000;
        width: 100px;
        height: 40px;
        display: block;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        i {
            font-size: 40px;
        }
        span {
            font-weight: 600;
            display: none;
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    &:hover {
        background: #000;
        img {
            opacity: .5;
        }
        i {
            color: #fff;
        }
        span {
            display: block;
            color: #fff;
        }
    }
}
    