<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the page-list component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderPageList="${ @ model }">
    <section class="component-page-list">

        <ul data-sly-list.item="${model.links}">
            <li>
                <a href="${item.link @ context='uri'}" target="${item.newTabBool ? '_blank' : ''}">${item.title}</a>
            </li>
        </ul>

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.PageList"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderPageList}" />
