<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>

<template data-sly-template.renderColumns="${ @ model }">

    <section class="component-columns row ${model.columnSpacing} ${model.columnHoverable}" data-sly-use.text="gigamon/components/content/text/text.html">
	
        <!--/* 2 COLUMNS */-->
        <sly data-sly-test="${model.columnLayout == 'two'}">
            <!-- expose ability to add activator class alongside col-* to aem author -->
            <div class="col-xs-12 col-md-6 ${model.getbsClass_2_1=='None' ? '' : model.getbsClass_2_1}">
                <div data-sly-resource="${'colLeft' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-6 ${model.getbsClass_2_2=='None' ? '' : model.getbsClass_2_2}">
                <div data-sly-resource="${'colRight' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </sly>
        
         <sly data-sly-test="${model.columnLayout == '75-25'}">
            <!-- expose ability to add activator class alongside col-* to aem author -->
            <div class="col-xs-12 col-md-8 ">
                <div data-sly-resource="${'colLeft' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-4 ">
                <div data-sly-resource="${'colRight' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </sly>
        
        
         <sly data-sly-test="${model.columnLayout == '25-75'}">
            <!-- expose ability to add activator class alongside col-* to aem author -->
            <div class="col-xs-12 col-md-4">
                <div data-sly-resource="${'colLeft' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div data-sly-resource="${'colRight' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </sly>
        

        <!--/* 3 COLUMNS */-->
        <sly data-sly-test="${model.columnLayout == 'three'}">
            <div class="col-xs-12 col-md-4">
                <div data-sly-resource="${'colLeft' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div data-sly-resource="${'colMid' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div data-sly-resource="${'colRight' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </sly>

        <!--/* 4 COLUMNS */-->
        <sly data-sly-test="${model.columnLayout == 'four'}">
            <div class="col-xs-12 col-md-3">
                <div data-sly-resource="${'colLeft' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div data-sly-resource="${'colMidLeft' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div data-sly-resource="${'colMidRight' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div data-sly-resource="${'colRight' @ resourceType='wcm/foundation/components/parsys'}"></div>
            </div>
        </sly>

    </section>

</template>

<sly data-sly-use.model="gigamon.core.models.component.Columns"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderColumns}" />

<span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; ${resource.name} &#9473;&#9499;</span>
