/**
 *  Main css for rss-feeds
 */
 
@media (min-width: 1200px) {
.component-rss-feeds {

padding-left: 15px;
    padding-right: 15px;

}
}


.component-rss-feeds {


.feedEkList {
list-style : none outside none;
border-bottom : 1px solid #D3CAD7;
padding : 0;
color : #444450;
line-height:35px;
}

.feedEkList li {
border-bottom : 1px solid #D3CAD7;
padding : 5px;
}

.feedEkList li:last-child {
border-bottom : none;
}

.itemTitle a {
font-weight : bold;
color : #444450 !important ;
text-decoration : none;
letter-spacing : normal;
font-style : normal;
text-align : left;
height : 50px;
font-family : "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size : 22px;
font-weight : 500;
line-height : 26px;
letter-spacing : 1px;
}

.itemTitle a:hover {
text-decoration : underline;
}

.itemDate {

font-size : 12px;
color : #444450;
font-weight : 600;
font-style : normal;
font-stretch : normal;
letter-spacing : normal;
text-align : left;
}
.itemContent p {
font-style : normal;
font-stretch : normal;
letter-spacing : normal;
text-align : left;
color : #444450;
}

}

