<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Internal template to render a single cta button

    style: supported values
        - btn-primary
        - btn-link
*/-->
<template data-sly-template._renderCtaButton="${ @ link, color, newTab, title, style, analyticsAttributeMap,stroke,fill}">

    <a
        class="btn ${style || 'btn-primary'} ${color @ context='styleToken'} ${stroke @ context='styleToken'} ${fill @ context='styleToken'}"
        href="${link @ context='uri'}"
        target="${newTab ? '_blank' : ''}"
        data-sly-attribute="${analyticsAttributeMap}">

        <span>
            ${title}
        </span>
        <!-- <i data-sly-test="${style == 'btn-link'}" class="fa fa-arrow-circle-right" aria-hidden="true"></i> -->
        <svg  data-sly-test="${style == 'btn-link'}" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>Chevron</title><g fill-rule="evenodd"><path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/><path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/></g></svg>
    </a>

</template>

<!--/*
    The manual and static version of renderCta that can be provided a CtaModel java object.
*/-->
<template data-sly-template.renderCtaWithModel="${ @ ctaModel, style }">

    <sly data-sly-test.resolvedStyle="${model.ctaStyle || style}" />

    <sly data-sly-call="${renderCta @
        link=ctaModel.link,
        color=ctaModel.color,
        newTab=ctaModel.newTabBool,
        title=ctaModel.title,
        style=resolvedStyle,
        analyticsAttributeMap=ctaModel.analyticsAttributeMap
    }" />

</template>

<!--/*
    The manual and static version of renderCta
*/-->
<template data-sly-template.renderCtaStatic="${ @ link, color, newTab, title, style, analyticsAttributeMap}">

    <div class="component-cta-button" data-sly-test="${link}">
        <sly data-sly-call="${_renderCtaButton @
            link=link,
            color=color,
            newTab=newTab,
            title=title,
            style=style,
            analyticsAttributeMap=analyticsAttributeMap
        }" />
    </div>

</template>

<!--/*
    Dynamic model based version of renderCta
*/-->
<template data-sly-template.renderCta="${ @ model, style }">

    <div class="component-cta-button ${model.ctaAlignment}" data-sly-test="${model.ctaList}">
        <sly data-sly-list.i="${model.ctaList}">

            <sly data-sly-test.resolvedStyle="${i.ctaStyle || style}" />
            <sly data-sly-test.stroke="${resolvedStyle == null ? i.stroke : ''}" />
              <sly data-sly-test.fill="${resolvedStyle == null ? i.buttonfill : ''}" />


            <sly data-sly-call="${_renderCtaButton @
                link=i.link,
                color=i.color,
                newTab=i.newTabBool,
                title=i.title,
                style=resolvedStyle,
                analyticsAttributeMap=i.analyticsAttributeMap,
                stroke=stroke,
                fill=fill
            }" />

        </sly>
    </div>

</template>

<template data-sly-template.renderMegaCta="${ @ model, style }">

    <div class="component-cta-button ${model.ctaAlignment}" data-sly-test="${model.ctaList}">
        <sly data-sly-list.i="${model.ctaList}">
            <sly data-sly-test.resolvedStyle="${i.ctaStyle || style}" />
			  <sly data-sly-test.stroke="${resolvedStyle == null ? i.stroke : ''}" />
              <sly data-sly-test.fill="${resolvedStyle == null ? i.buttonfill : ''}" />
            <sly data-sly-test="${iList.first}" data-sly-call="${_renderCtaButton @
                link=model.AnalyticsLink,
                color=i.color,
                newTab=i.newTabBool,
                title=i.title,
                style=resolvedStyle,
                analyticsAttributeMap=i.analyticsAttributeMap,
				stroke=stroke,
				fill=fill
            }" />
             <sly data-sly-test="${iList.index>0}" data-sly-call="${_renderCtaButton @
                link=i.link,
                color=i.color,
                newTab=i.newTabBool,
                title=i.title,
                style=resolvedStyle,
                analyticsAttributeMap=i.analyticsAttributeMap,
				stroke=stroke,
				fill=fill
            }" />
        </sly>
    </div>
</template>


<sly data-sly-use.model="gigamon.core.models.component.Cta"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderCta}" />
