<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>

<template data-sly-template.renderResponsiveLayout="${ @ model }">
<sly data-sly-test="${!model.canSort}">
    <section class="component-responsive-layout">

        <!--/* Render all columns (child nodes in the JCR) */-->
        <div class="row ${model.rowClasses}">
            <sly data-sly-repeat.column="${model.columns}"
                data-sly-resource="${column.path @ resourceType=column.resourceType, decorationTagName='div', cssClassName=column.classes}" />
        </div>

        <!--/* Clear the floats so new column/parsys renders correctly. */-->
        <div data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}"
            style="clear: both"></div>
        <!--/* New column component / drop zone */-->
        <div data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}"
            data-sly-resource="${model.newColumnPath @ resourceType='gigamon/components/content/responsive-layout/column'}"></div>

    </section>
</sly>

<sly data-sly-test="${model.canSort}">
    <section class="component-responsive-layout">

        <!--/* Render all columns (child nodes in the JCR) */-->
        <div data-sly-test="${wcmmode.disabled}" class="row ${model.rowClasses}">
            <sly data-sly-repeat.column="${model.columns}"
                data-sly-resource="${column.path @ resourceType=column.resourceType, decorationTagName='div', cssClassName=column.classes}" />
        </div>
		
        <div data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}"
            class="sorter" data-sly-resource="${'colpar' @ resourceType='wcm/foundation/components/parsys', cssClassName='col-md-2'}">
		</div>

    </section>
</sly>

</template>

<sly data-sly-use.model="gigamon.core.models.component.ResponsiveLayout"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderResponsiveLayout}" />

<span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; ${resource.name} &#9473;&#9499;</span>
