<!--/* Include the site client libraries (loading only the JS in the footer, CSS was loaded in the header) */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='gigamon.all'}" data-sly-unwrap/>

<!--/* Include cloud service code for the footer. */-->
<sly data-sly-resource="${@ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap/>

<!--/* Timing */-->
<div data-sly-use.timing="gigamon.core.models.TimingModel"
    data-sly-test="${timing.showTiming}"
    data-sly-resource="${'timing' @ resourceType='foundation/components/timing'}">
</div>

<!--/* Analytics: Should be placed just before the closing </body> tag */-->
<script type="text/javascript">_satellite.pageBottom();</script>
