<template data-sly-template.renderHead>

    <!--/* Analytics: Should be placed as close to the top of the page as possible */-->
    <script data-sly-use.analytics="gigamon.core.models.AnalyticsDataModel" src="//assets.adobedtm.com/e2fa0ed5c8ffae79a4c105547c26862cd5c40b77/satelliteLib-70192f855520f6174aace14681c2611af1cce113${analytics.preProd ? '-staging' : ''}.js"></script>
    <script>
        var digitalData = ${analytics.digitalData @ context='unsafe'};
    </script>

    <meta charset="utf-8" data-sly-use.head="/apps/gigamon/components/structure/page/partials/head.js" data-sly-use.metatags="gigamon.core.models.MetaTagModel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>${metatags.title}</title>
    <link data-sly-test="${metatags.canonicalUrl}" rel="canonical" href="${metatags.canonicalUrl}" />
    <sly data-sly-list.tag="${metatags.metaTags}">
        <meta data-sly-attribute="${tag.metaAttributeMap}"/>
    </sly>

    <link data-sly-test="${head.favIcon}" rel="icon" href="${head.favIcon}"/>
	<section data-sly-include="/apps/wcm/core/browsermap/browsermap.jsp"></section> 
	
</template>

<sly data-sly-call="${renderHead}" />
