<div class="site-wrapper">

    <div data-sly-unwrap="${!wcmmode.edit}" data-sly-resource="${'header' @ resourceType='wcm/foundation/components/iparsys'}"></div>
    <span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; Header &#9473;&#9499;</span>

    <div class="site-content">

        <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; Body &#9473;&#9491;</span>
        <sly data-sly-resource="${'par' @ resourceType='wcm/foundation/components/parsys'}"/>
        <span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; Body &#9473;&#9499;</span>

    </div>

    <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; Footer &#9473;&#9491;</span>
    <div data-sly-unwrap="${!wcmmode.edit}" data-sly-resource="${'footer' @ resourceType='wcm/foundation/components/iparsys'}"></div>

</div>
