/**
 *  Main css for background-image
 */

.component-background-image {
    display: flex;

    &.v-top { align-items: flex-start; }
    &.v-center { align-items: center; }
    &.v-bottom { align-items: flex-end; }

    background-repeat: no-repeat;
    background-size: cover;
    .breadcrumbs {
    	.white-bg {
    		background: transparent;
    		color: #fff;
    	}
    }
    .container {
        max-width: $max-width;
        padding: 0px;
    }
}
