<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderTimeline="${ @ model }">
	<section class="component-twitter-timeline">
        <div class="component-text text-block">
            <h3>${model.title}</h3>

            <a href="${model.accountUrl}" target="_blank">
                ${model.linkText @ format=[model.account], context='html'}
            </a>
        </div>
		<a class="twitter-timeline" href="${model.accountUrl}" data-chrome="noheader nofooter" data-tweet-limit="${model.maxTweets}"></a>
	</section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.TwitterTimeline"
     data-sly-use.background="gigamon/components/content/background/background.html"
     data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderTimeline}" />
