<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderBreadcrumbs="${ @ model }">
    <ol class="component-breadcrumbs ${model.breadcrumbsTextColor} breadcrumb"
        data-sly-attribute="${model.analyticsAttributeMap}"
        data-sly-list.item="${model.navigationItems}">

        <sly data-sly-test.currPageLink="${currentPage.path @ extension='html'}" />
        <li class="${currPageLink == item.link ? 'active' : ''}">
            <a data-sly-unwrap="${!item.link}" href="${item.link}" target="${item.newTabBool ? '_blank' : ''}">${itemList.first ? 'Home' : item.navigationTitle}</a>
        </li>

    </ol>
    
    <h1 data-sly-test="${model.showCurrentAsTitle}" class="component-breadcrumb-title">${currentPage.name}</h1>
</template>

<sly data-sly-use.model="gigamon.core.models.component.Breadcrumbs"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderBreadcrumbs}" />
