/**
 *  Main css for gated-marketo-form
 */

.component-gated-marketo-form {
background-color: #ffffff !important;
input {
  width: 363px !important;
  height: 44px;
  border-radius: 3px;
  background-color: #ffffff;
  border: solid 1px #c6c9cc;
  margin-left: 15px;
}
select {
  border: solid 1px #c6c9cc;
  font: 14px/120% Arial,Helvetica,sans-serif;
  height: 44px;
  border-radius: 3px;
  width: 363px !important;
  box-shadow: none;
   background: #fff url("../images/select-arrow.png") no-repeat 96% center;
  -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
     appearance:none;
    padding: 0 6px;

	background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 0.0em;
  background-repeat: no-repeat;

}

form[id^='mktoForm_']{
    width: 394px !important;
    background-color: #ffffff !important;
}


.disable-disclaimer{
display:none;
}
.source{
	font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0px;
  text-align: left;
  color: #404a59;
     padding-left: 29px;
    padding-right: 10px;
	width:394px;
background-color: #ffffff;
}
.mktoForm label[for="optin"] {

display:none!important;
}
.mktoForm .mktoRadioList > input, .mktoForm .mktoCheckboxList > input{
    margin-top: 2px !important;
}


@media only screen and (max-width: 1024px) and (min-width: 767px)
{
.mktoCheckboxList{
width: 70%!important;
}
.source{

	padding-right: 0px;
	width: 579px!important;
	padding-top:41px!important;

}}
@media only screen and (max-width: 480px) and (min-width: 320px)
{
    .mktoForm .mktoRadioList > label, .mktoForm .mktoCheckboxList > label{
        padding-left: 19px!important;
    }
    .source{
        padding-left: 9px;
        padding-right: 0px!important;
        width:337px!important;

     }
     .mktoCheckboxList{
          width: 100% !important;
          margin-left: -8px !important;
          font-size: 11px;
          margin-top: 5px !important;
      }

      form[id^='mktoForm_'] {
          width: 100% !important;
          margin-left: 15px !important;
      }
}

.mktoCheckboxList{
    width: 100% !important;
    margin-top: -20px;
    margin-left: 10px !important;
	margin-left: -1px !important;
    font-size: 11px;
}
.mktoForm .mktoRadioList > label, .mktoForm .mktoCheckboxList > label{

    margin-left: 0.5em;
    margin-top: 0.1em;
    margin-bottom: 0.3em;
    line-height: 1.2em;
    display: block;
    padding-left: 34px;
    min-height: 12px;
}
.mktoForm .mktoCheckboxList > input {
    padding: 0;
    height: 15px;
    width: 25px !important;
}
.mktoHtmlText.mktoHasWidth{
	width: 300px !important;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0px;
    text-align: left;
    color: #404a59;
}

.mktoFormRow select option {
  color: #979798 !important;
}
.mktoForm .mktoButtonWrap.mktoRound button.mktoButton {
	height: 48px;
	border-radius: 3px;
    background: #ff6600;
    width: 363px;
    margin-left: -90px;
	border: 0px;
	letter-spacing: 2.2px;
}
@media(min-width: 992px){
.line {
  width: 2px;
  height: 400px;
  border-left: solid 1px #dddddd;
}


}
.mktoForm .mktoLabel {
  padding: 10px 0 0 10px;
  width: 100%;
  position: relative;
  text-align: left;
  color: #999999;
}

@media (min-width: 768px) and (max-width: 1024px)
{
	.mktoForm .mktoButtonWrap.mktoRound button.mktoButton {
    width: 363px;
    margin-left: -90px!important;
	position:absolute;
}

}
.mktoForm .mktoRequiredField .mktoAsterix {
    display: none;
}
@media only screen and (max-device-width: 992px) and (min-device-width: 320px)
{
.line{
 border-left: solid 1px #FFFFFF;
}
.mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
    padding: 2px 3px;
    width: 250px;
	height:40px;
}
.mktoForm .mktoButtonWrap.mktoRound button.mktoButton {
    height: 48px;
    border-radius: 3px;
    background: #ff6600;
    width: 363px;
    border: 0px !important;
}
.mktoForm .mktoFieldWrap {
    float: left;
}

}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px)
{

    input, select,.mktoForm .mktoButtonWrap.mktoRound button.mktoButton {
        width: 328px !important;
        margin-left: 0px;
        height:44px;
        margin-top: 10px;
        }
    .vert-pad-top-md{
        margin-top:0 !important;
    }

    span.mktoButtonWrap.mktoRound{
        margin-left:0 !important;
     }
}

}
