<span class="edit-start container" data-sly-test="${wcmmode.edit}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the html component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderHtml="${ @ model }">
    <section class="component-html">
        ${model.htmlContent @ context='unsafe'} 
    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.Html"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderHtml}" />