/*
--------------------------------------------------
    Dropdown Filter Component
-------------------------------------------------- 
*/
.component-dropdown-filter{
    float: none;
    width: 100%;

    &:last-of-type{
        margin-bottom:50px;
    }
.select-dropdown {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 10px 13px;
    z-index: 300;

    padding-right: 40px;

    background: transparent;
    border-radius: 0;
    box-shadow: 0 0 0 transparent; 
    border: 1px solid $light-grey;

    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-out;
    
    .filter-label{
        strong{
            text-transform: capitalize;
        }
    }
    svg {
        top: 3px;
        position: relative;
        fill: $blue;
    }

    .close-dropdown,
    .open-dropdown,
    .reset-value{
        display: none;
        padding: 0;
        margin: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        top: 4px;
        right: 4px;
        text-align: center;
        color: $blue;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        svg {
            top: 3px;
            position: relative;
            stroke: $blue;
            fill: $blue;
        }
    }

    .open-dropdown{
        display: inline-block;
    }

    .reset-value{
        span{
            display: block;
            height: 30px;
            width: 30px;

            &:before {
                content: ' ';
                width: 14px;
                height: 2px;
                top: 13px;
                left: 8px;
                transform: rotate(45deg); 
            }
            &:after {
                content: ' ';
                width: 14px;
                height: 2px;
                top: 13px;
                left: 8px;
                transform: rotate(-45deg); 
            }

            &:before,
            &:after {
                position: absolute;
                background-color: $grey;
            }

            &:focus,
            &:hover{
                &:before,
                &:after {
                    background-color: $orange;
                }
            }
        }
    }

    &.value-selected{

        /*>span{
            font-weight: 700;
        }*/

        .open-dropdown{
            display: none;
        }
        .reset-value{
            display: inline-block;
        }
    }

    .dropdown {
        position: absolute;
        top: 42px;
        left: -1px;
        right: -1px;
        background: transparent;
        border-radius: 0;
        border: none;
        box-shadow: none;
        border-top: none;
        list-style: none;
        transition: all 0.3s ease-out;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        padding-top: 38px;
        margin: 0;
        box-shadow: none;
        border: 1px solid $light-grey;
        display: none;
        li {
            padding: 0 15px;
            opacity: 0;

            a {
                display: block;
                text-decoration: none;
                font-size: 14px;
                color: $text-color;
                padding: 5px 0;
                transition: all 0.3s ease-out;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $light-grey;
                    border-radius: 2px;
                    margin-right: 5px;
                }
                &:hover {
                    &:before {
                        background: $orange;
                    }
                }
            }
            &:first-child {
                border: none;
                padding-top: 10px;
            }
            &:last-child {
                border: none;
                padding-bottom: 10px;
            }
            &.selected{
                a{
                    &:before {
                        background: $orange;
                    }
                }
            }
        }
    }

    &.active {
        background: transparent;
        box-shadow: none;
        .dropdown {
            display: block;
        }
        .close-dropdown{
            display: inline-block;
        }

        .open-dropdown{
            display: none;
        }

        &.value-selected{

            .open-dropdown{
                display: none;
            }
            .close-dropdown{
                display: none;
            }
            .reset-value{
                display: inline-block;
            }
        }

        .dropdown {
            max-height: 400px;
            overflow: scroll;
            background: #ffffff;
            padding: 0;
            li{
                opacity: 1;
            }
        }
    }
}
}

.component-dropdown-filter:not(:last-of-type){
    margin-bottom: 10px;
}



/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* XSM Phone */
@media(min-width: $breakpoint_xs){
	
}

/* SM Phone */
@media (max-width: ($breakpoint_sm - 1)){

}

/* Phone */
@media(min-width: $breakpoint_sm){
    .component-dropdown-filter{
        float: left;
        min-width: 200px;
        width: auto;
        margin-right: 15px;
        &:last-of-type{
            margin-bottom:0;
        }        
    }
}
/* Tablet */
@media(min-width: $breakpoint_md){

}
/* Desktop */
@media(min-width: $breakpoint_lg){
	
}