/**
 *  Main css for resource-grid
 */

.component-resource-grid {
	h4 {
        color: $dark-grey !important;
    }
}

.load-more-bar {
	padding: 20px 0;
	text-align: center;
}

.resource-grid {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 120px;
	h2 {
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 500;
		overflow: hidden;
		line-height: 27px;
		letter-spacing: 1px;
	}
}

.component-grid-filter {
	position: relative;
	z-index: 9;
}

.resource-results-cell {
	.resource-item-media {
		overflow: hidden;
	}
}

@media (max-width: $screen-lg-min) {
   	.resource-grid {
        padding: 0px 40px;
    }
}

@media (max-width: $screen-md-min) {
    .resource-grid {
        padding: 0px 20px;
    }
}

@media (max-width: $screen-sm-min) {
    .resource-grid {
        padding: 0px 20px;
    }
}
