.resource-results-cell {
	min-height: 390px; 
	.resource-item-media {
		padding-bottom: 60%;
		overflow: hidden;
		display: block;
		position: relative;
		img {
			position: absolute;
			width: 100%; 
		}
	}
	h2 {
		font-family: $headings-font-family;
		font-size: 22px;
		font-weight: 500;
		overflow: hidden;
		line-height: 27px;
		letter-spacing: 1px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.resource-item-description {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical; 
		text-overflow: ellipsis;
		max-height: 43px;
		overflow: hidden;
		font-size: 16px;
	}
	p {
		font-size: 16px;
	}
	.btn-link {
		color: black;
		margin-bottom: 20px;
		.chev {
			fill: black;
		}
	}
}
