/**
 *  Main css for sub-menu-block
 */
.nav-dropdown{
    .container{
        display: flex;
        .container {
            width: auto;
        }
    }
}

.component-global-navigation .logo-nav .nav-dropdown .container .image .container {
    padding: 0px;
}

.component-sub-menu-block {
    width: 216px;
    max-width: 25%;
    padding: 2em 0;
    margin-right: 30px;
    display: inline-block;
    vertical-align: top;
    p {
        font-size: 14px;
    }
    &.leadin-container {
        width: 340px;
        min-width: 340px;
        margin-right: 60px;
        padding-left: 2em;
        h3 {
            margin-top: 0px;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.17;
            letter-spacing: 1px;
            color: $dropdown-title;
        }
        p {
            font-size: 14px;
        }
        .btn-primary {
            padding: 16px 14px 14px;
            outline: 4px solid #000 !important;
            outline-offset: -4px!important;
            &:hover {
                 outline: 4px solid #000 !important;
                 outline-offset: -3px!important;
                 }
        }
        .btn {
            color: $primary-navigation;
            font-size: 16px;
        }
    }

    h4 {
        margin-top: 0px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .1em;
        margin: 0px 0 10px;
        display: block;
        padding-bottom: 10px;
        border-bottom: 2px solid rgba(151, 151, 151, 0.3);
        a {
            color: $primary-navigation;
        }
    }

    .component-image {
        display: flex;
        align-items: flex-start;
        max-height: 90px;
        height: 60px;
        margin-bottom: 15px;
        img {

            max-height: 90px;
            width: auto;
        }
    }
    .text-jumbo .component-background .container {
        padding: 0px;
    }
    ul{

        &.children-l2 {
            padding-left:0;
        }

        li{
            list-style: none;
            margin-bottom: 10px;
            a{
                color: $dropdown-nav;
                display: inline-block;
                font-size: 14px;
                &:hover{
                    color: $dropdown-nav;
                }
            }
            ul li a {
                font-size: 12px;
            }
        }
    }
}
