/**
 *  Main css for breadcrumb
 */

.component-breadcrumbs {
    padding: 1em 0;
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    &.dark-text a {
        color: $gray-dark;
    }
    &.white-text {
        h1, a {
            color: $white;
        }
    }
    a {
        background: none;
        color: $text-color;
        display: inline;
        padding: 0;
        font-size: 14px;
        text-transform: capitalize;
    }
}

h1.component-breadcrumb-title {
    margin-top: 5px;
    color: $white;
    height: 61px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2.1px;
    color: #ffffff;
}

.breadcrumbs {
    max-width: $max-width;
    /*margin: 0 auto; */
    padding: 0 20px;
}

.breadcrumb > li + li:before {
      content: "#{$breadcrumb-separator}" !important;
      padding: 0 0px !important;
}

.white-text {
    h1.component-breadcrumb-title {
        color: $white;
    }
}

@media (max-width: $screen-lg-min) {
    .breadcrumbs {
        padding: 0px 50px;
    }
}

@media (max-width: $screen-md-min) {
    .breadcrumbs {
        padding: 0px 20px;
    }
}

@media (max-width: $screen-sm-min) {
    .component-background-image .container {
        margin-left: 0px;
    }
    .breadcrumbs {
        margin-left: 0px;
        padding: 0px 20px;
    }
}
