<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderHText="${ @ text, size, classes }">
    <div data-sly-test="${text}" class="component-text text-block ${classes}">
        <h2 data-sly-element="${size}">
            ${text @ context='html'}
        </h2>
    </div>
</template>

<template data-sly-template.renderH1="${ @ text, classes}">
    <sly data-sly-call="${renderHText @ text=text, classes=classes, size='h1'}" />
</template>

<template data-sly-template.renderH2="${ @ text, classes}">
    <sly data-sly-call="${renderHText @ text=text, classes=classes, size='h2'}" />
</template>

<template data-sly-template.renderH3="${ @ text, classes}">
    <sly data-sly-call="${renderHText @ text=text, classes=classes, size='h3'}" />
</template>

<template data-sly-template.renderH4="${ @ text, classes}">
    <sly data-sly-call="${renderHText @ text=text, classes=classes, size='h4'}" />
</template>

<template data-sly-template.renderH5="${ @ text, classes}">
    <sly data-sly-call="${renderHText @ text=text, classes=classes, size='h5'}" />
</template>

<template data-sly-template.renderH6="${ @ text, classes}">
    <sly data-sly-call="${renderHText @ text=text, classes=classes, size='h6'}" />
</template>

<template data-sly-template.renderP="${ @ text, classes, wrapPTag }">
    <div data-sly-test="${text}" class="component-text text-block ${classes}">
        <p data-sly-unwrap="${!wrapPTag}">${text @ context='html'}</p>
    </div>
</template>

<!--/*
     * Convenience wrapper for rendering text from the RTE
     */-->
<template data-sly-template.renderText="${ @ model, classes }">
    <sly data-sly-call="${renderP @ text=model.text, classes=classes}" />
</template>
