<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;${resource.name} <i class="fa fa-long-arrow-down" aria-hidden="true"></i></span>

<!--/*
    Render image tag with component-image wrapper div/class

    model: the Java model (must inherit from ImageRenditionSupport)
    classes: (Optional) class attributes
    type:
        'full' for resultion aware full with images
        'half' for resolution aware half width images
        'original' for raw original image
        else type is passed as rendition parameter value. possible values [imageOriginal, imageFWX2D, imageFWX1D, imageFWX2M, imageFWX1M, imageHWL, imageHWS]
*/-->
<template data-sly-template.renderImage="${ @ model, classes, type }">

    <!--/*
        If the model has an size defined, use that over the passed parameter
        If both the model and type paramter are unset, default to 'half'.
        An author is more likely to notice a low-rez image and fix it than a
        super high 20mb image and downsize it appropriately.
    */-->
    <sly data-sly-test.resolvedType="${model.imageSizeRendition || type || 'half'}" />


    <div class="component-image ${model.Cropimage ? 'crop-img' : ''}">
        <!--/* IMAGE */-->
        <sly data-sly-test.original="${resolvedType == 'original'}"          data-sly-call="${renderImageTag             @ model=model, classes=classes}" />
        <sly data-sly-test.half="${resolvedType == 'half'}"                  data-sly-call="${renderHalfWidthImageTag    @ model=model, classes=classes}" />
        <sly data-sly-test.full="${resolvedType == 'full'}"                  data-sly-call="${renderFullWidthImageTag    @ model=model, classes=classes}" />
        <sly data-sly-test="${!half && !original && !full}"                  data-sly-call="${renderImageTag             @ model=model, classes=classes, rendition=resolvedType}" />
    </div>

</template>

<sly data-sly-use.background="gigamon/components/content/background/background.html"
     data-sly-use.model="gigamon.core.models.component.Image"
     data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderImage}" />

<!--/*
***********************
***********************
*** IMAGE TEMPLATES ***
***********************
***********************
*/-->

<!--/*
    Render plain image tag with no special screen resolution behavior
    rendition: possible values [imageOriginal, imageFWX2D, imageFWX1D, imageFWX2M, imageFWX1M, imageHWL, imageHWS, imageProductListThumbnail]
*/-->
<template data-sly-template.renderImageTag="${ @ model, classes, rendition}">

    <a data-sly-unwrap="${!model.imgLink}" href="${model.imgLink}" target="${model.imgLinkNewTab ? '_blank' : ''}">

        <img data-sly-test="${!rendition && model.primaryImageFileReference}"
             src="${model.imageOriginal}"
             title="${model.imageTitle}"
             alt="${model.imageAlt}"
             class="${wcmmode.edit ? 'cq-dd-image' : ''} ${classes ? classes : 'img-responsive'}  ${model.scaleImage}" />

        <img data-sly-test="${rendition && model.primaryImageFileReference}"
             src="${model[rendition]}"
             title="${model.imageTitle}"
             alt="${model.imageAlt}"
             class="${wcmmode.edit ? 'cq-dd-image' : ''} ${classes ? classes : 'img-responsive'}" />

        <span data-sly-test="${model.imgText}" class="img-text">${model.imgText}</span>
    </a>

</template>

<!--/* Render image tag for full width image that is screen resolution aware */-->
<template data-sly-template.renderFullWidthImageTag="${ @ model, classes}">

    <picture data-sly-test="${model.primaryImageFileReference}">
        <source media="(max-width: ${model.maxWidthMobile}px)" srcset="${model.imageFWX1M} 1x, ${model.imageFWX2M} 2x">
        <source media="(min-width: ${model.minWidthDesktop}px)" srcset="${model.imageFWX1D} 1x, ${model.imageFWX2D} 2x">
        <img src="${model.imageFWX1D}"
             title="${model.imageTitle}"
             alt="${model.imageAlt}"
             class="${wcmmode.edit ? 'cq-dd-image' : ''} ${classes ? classes : 'img-responsive'}">
    </picture>

</template>

<!--/* Render image tag for half width image that is screen resolution aware */-->
<template data-sly-template.renderHalfWidthImageTag="${ @ model, classes}">

    <sly data-sly-test="${model.imgLink}"><a href="${model.imgLink}" target="${model.imgLinkNewTab ? '_blank' : ''}"></sly>
    <picture data-sly-test="${model.primaryImageFileReference}">
        <source media="(max-width: ${model.maxWidthMobile}px)" srcset="${model.imageHWS} 1x, ${model.imageHWL} 2x">
        <source media="(min-width: ${model.minWidthDesktop}px)" srcset="${model.imageHWL} 1x, ${model.imageHWL} 2x">

        <img src="${model.imageHWL}"
             title="${model.imageTitle}"
             alt="${model.imageAlt}"
             class="${wcmmode.edit ? 'cq-dd-image' : ''} ${classes ? classes : 'img-responsive'} ${model.scaleImage}">

    </picture>
    <sly data-sly-test="${model.imgLink}"></a></sly>

</template>

<!--/*
    id: the ID of the html tag (<div id="${id}></div>) that this image will be the background for
    model: model that extends ImageRenditionSupportTrait
    extraModsMobile: extra css rules that will be placed in the 'background' css rule for mobile
    extraModsDesktop: extra css rules that will be placed in the 'background' css rule for desktop
*/-->
<template data-sly-template.renderBackgroundImageStyleTag="${ @ id, model, extraModsMobile, extraModsDesktop }">

    <style data-sly-test="${model.primaryImageFileReference}" scoped>
        <!--/* Mobile x1 */-->
        @media
            only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) {
            #${id @ context='styleToken'} {
                ${extraModsMobile ? 'background' : 'background-image' @ context='unsafe'}: url("${model.mobileImageFWX1M || model.imageFWX1M @ context='unsafe'}") ${extraModsMobile @ context='unsafe'};
            }
        }

        <!--/* Mobile x2 */-->
        @media
            only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) and (-webkit-min-device-pixel-ratio: 2),
            only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) and (min-resolution: 192dpi) {

           #${id @ context='styleToken'} {
               ${extraModsMobile ? 'background' : 'background-image' @ context='unsafe'}: url("${model.mobileImageFWX2M || model.imageFWX2M @ context='unsafe'}") ${extraModsMobile @ context='unsafe'};
           }
        }

        <!--/* Desktop x1 */-->
        @media only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) {
           #${id @ context='styleToken'} {
               ${extraModsDesktop ? 'background' : 'background-image' @ context='unsafe'}: url("${model.imageFWX1D @ context='unsafe'}") ${extraModsDesktop @ context='unsafe'};
           }
        }

        <!--/* Desktop x2 */-->
        @media
            only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) and (min-resolution: 192dpi) {

           #${id @ context='styleToken'} {
               ${extraModsDesktop ? 'background' : 'background-image' @ context='unsafe'}: url("${model.imageFWX2D @ context='unsafe'}") ${extraModsDesktop @ context='unsafe'};
           }
        }
    </style>

</template>
