/**
 *  Main css for columns
 */


.component-columns {
	&.not-flush {
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6  {
			.background-image {
				min-height: 420px;
				height: 420px;
				.component-background-image {
					height: 100% !important;
					padding: 1em;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
				}
				.text-jumbo {
					h2 {
						font-family:  $headings-font-family;
						font-size: 22px;
						font-weight: 500;
						height: 55px;
						overflow: hidden;
						line-height: 27px;
						letter-spacing: 1px;
						color: #FFFFFF;
					}
					p {
						color: #FFFFFF;
						display: block;
						height: 70px;
						font-family: Roboto;
						font-size: 16px;
						font-weight: 300;
						line-height: 24px;
						margin-bottom: 20px;
						display: -webkit-box;
					    -webkit-line-clamp: 3;
					    -webkit-box-orient: vertical;
						overflow: hidden;
			  			text-overflow: ellipsis;
					}
					.btn-link {
						color: #fff;
						margin-bottom: 20px;
						.chev {
							fill: #fff;
						}
					}
				}
			}
		}
	}

	&.flush {
		.col-md-3,
		.col-md-6 {
			padding: 0px;
		}
		.container {
			max-width: 100%;
			width: 100%;
		}
	}
	&.large-tile {
		margin: 0px;
		.col-md-6 {
			padding: 0px;
			&:nth-child(odd){
				.text-jumbo {
					margin-left: auto;
    				margin-right: 0;
    				padding-left: 50px;
				}
			}
		}
		.container {
			max-width: 100%;
			width: 100%;
		}
		.text-jumbo {
			min-height: 420px;
			max-width: 600px;

			display: flex;
			align-items: center;
			padding-right: 100px;
			h2, h3 {
				display: block;
				min-height: 60px;
				font-family: $headings-font-family;
				text-transform: none;
				font-size: 42px;
				font-weight: 700;
			    margin: 15px 0 15px 0;
				display: -webkit-box;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
				overflow: hidden;
	  			text-overflow: ellipsis;
	  			color: black;
			}
			p {
				display: block;
				height: 100px;
				font-family: Roboto;
				font-size: 16px;
				font-weight: 300;
				line-height: 24px;
				margin-bottom: 29px;
				display: -webkit-box;
			    -webkit-line-clamp: 4;
			    -webkit-box-orient: vertical;
				overflow: hidden;
	  			text-overflow: ellipsis;
	  			color: black;
			}
			.btn-link {
				font-family: $headings-font-family;
				font-size: 16px;
				font-weight: bold;
				line-height: 19px;
				letter-spacing: 3px;
				margin-bottom: 32px;
				color: black;
			}
		}
		.col-md-6 .text-image-two-column .component-background {
			min-height: 420px;
			display: flex;
			align-items: center;
			&:not(.white-bg) {
				color: #fff;
				h2 {
					font-family: $headings-font-family;
					font-size: 22px;
					font-weight: 500;
					line-height: 27px;
				}
				p {
					font-family: Roboto;
					font-size: 16px;
					font-weight: 300;
					line-height: 24px;
				}
				.btn-link {
					color: #fff;
					.chev {
						fill: #fff;
					}
				}
			}
		}
	}
	&.secondary-banner {
	    max-width: 1440px;
    	margin: 0 auto;
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6 {
			padding: 0px;
		}
		.col-md-6 .text-jumbo .container {
			padding-left: 0px;
		}
		.container {
			max-width: 100%;
			width: 100%;
		}
		.text-jumbo .component-background .container {
			padding: 0px;
		}
		.btn-link {
			color: #fff;
			.chev {
				fill: #fff;
			}
		}
		.text-jumbo .component-text-jumbo {
			padding: 38px  2em 0;
			color: #fff;
			margin-right: 0px;

			h3 {
				display: block;
				min-height: 60px;
				font-family: $headings-font-family;
				text-transform: none;
				font-size: 22px;
				font-weight: 600;
				line-height: 1.09;
				letter-spacing: 0.9px;
				margin: 0 0 14px;
				display: -webkit-box;
			    -webkit-line-clamp: 3;
			    -webkit-box-orient: vertical;
				overflow: hidden;
	  			text-overflow: ellipsis;
			}
			p {
				display: block;
				height: 100px;
				font-family: Roboto;
				font-size: 16px;
				font-weight: 300;
				line-height: 1.5;
				letter-spacing: 1px;
				margin-bottom: 29px;
				display: -webkit-box;
			    -webkit-line-clamp: 4;
			    -webkit-box-orient: vertical;
				overflow: hidden;
	  			text-overflow: ellipsis;
			}
			.btn-link {
				font-family: $headings-font-family;
				font-size: 16px;
				font-weight: bold;
				line-height: 19px;
				letter-spacing: 3px;
				margin-bottom: 32px;
			}
		}
	}
	&.hoverable {
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6 {
			.component-text-jumbo:before {
			  content: "";
			  position: absolute;
			  left: 0;
			  top: 25%;
			  height: 50%;
			  width: 1px;  /* or 100px */
			  border-left: 1px solid #fff;
			  opacity: .3;
			}
			&:first-child .component-text-jumbo:before {
				border-left: none;
			}
			.component-text-jumbo.active,
			.component-text-jumbo.active>.white-text{
				background: #fff;
				color: $secondary-options;
				box-shadow: inset 0 -8px 0 $orange;
				.btn-link {
					color: $secondary-options;
					.chev {
						fill: $secondary-options;
					}
				}
			}
		}
	}
}

@media (min-width: $screen-md-min) {
	.component-columns.large-tile .text-jumbo {
		padding-right: 50px;
	}
}

@media (min-width: $screen-lg-min) {
	.columns {
		.container {
			padding: 0px;
		}
	}

	.content-max-width {
		max-width: $max-width;
		margin: 0 auto;
		&.component-columns.flush .container {
			padding: 1em;
		}
	}

	.columns .container .large-tile .text-jumbo {
		padding-right: 100px;
        .container {
            max-width: $max-width;
            padding: 0 0px;
        }

    }
    .columns {
		.component-background {
			.container .large-tile {
				.col-md-6 {
					.text-jumbo .container {
						padding-left: 110px;
						margin-right: 0px;
					}
					.text-jumbo .component-background .container {
						padding-left: 0px;
					}
				}
			}
		}
	}
	.adjust-column-width-90 {
		.content-max-width {
			max-width: $max-width;
			padding: 0 120px;

		}
	}
	.columns {
		.component-background {
			.container {
				.col-md-6 {
					.text-jumbo .container,
					.text-image-two-column .container {
						// max-width: 100%;
					}
				}
			}
		}
	}

}

@media (min-width: 1400px) {
	.columns {
		.component-background {
			.container .large-tile {
				// max-width: $max-width;
				.col-md-6 {
					.text-jumbo {
						padding-left: 0px !important;
						.container {
							padding-left: 110px;
							margin-right: 0px;
						}
						.component-background .container {
							padding-left: 0px;
						}
					}
					.text-jumbo .container {
						margin-right: 0px;
						margin-left: auto;
					}
					.text-jumbo .container {
						max-width: 600px;
					}
					.text-image-two-column .container {
						max-width: ($max-width/2)-20;
					}
					&:nth-child(even) {
						.text-image-two-column .container {
							margin-left: 0px;
						}
					}
					:nth-child(odd) {
						.text-jumbo .container,
						.text-image-two-column .container {
							margin-right: 0px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-lg-min) {
	.component-columns {
		&.not-flush {
			.text-jumbo {
				.container {
					padding: 0px;
				}
			}
		}
	}
}

/* Mobile */
@media (max-width: $screen-md-min) {
	.component-columns.large-tile .col-md-6:nth-child(odd) .text-jumbo {
		margin-left: 0px;
		margin-right: auto;
		padding-left: 1em;
	}
    .component-columns {
    	&.secondary-banner.row {
		    margin-left: -15px;
    		margin-right: -15px;
    	}
        &.hoverable {
    		>div .component-text-jumbo {
    			border-top: 1px solid #fff;
    			&:before {
    				border-left: none !important;
    			}
			}
    		.text-jumbo .component-text-jumbo {
				padding: 2em 2em 0;
				h3 {
					min-height: auto;
				}
				p {
					height: auto;
					display: block;
				    -webkit-line-clamp: auto;
				    -webkit-box-orient: vertical;
					overflow: visible;
				}
			}
        }
        &.large-tile .col-md-6 .text-jumbo {
        	min-height: auto;
			display: block;
			padding: 1em;
			text-align: center;
			margin-left: 0;
			margin-right: auto;
        }
        &.flush .col-md-6 .text-jumbo .component-background,
		.col-md-6 .text-image-two-column .component-background {
			min-height: auto;
			display: block;
			padding: 1em;
			text-align: center;
			&:not(.white-bg) {
				color: #fff;
				h2 {
					font-family: $headings-font-family;
					font-size: 22px;
					font-weight: 500;
					line-height: 27px;
				}
				p {
					font-family: Roboto;
					font-size: 16px;
					font-weight: 300;
					line-height: 24px;
				}
				.btn-link {
					color: #fff;
					.chev {
						fill: #fff;
					}
				}
			}
			.col-md-pull-4 {
				width: 100%;
				right: auto;
			}
		}
    }
    .adjust-column-width-90  .component-columns.not-flush {
		&.row {
			margin: 0px;
		}
		.col-xs-12 {
			margin: 15px 0;
		}
    }
}

