<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the rss-feeds component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderRssFeeds="${ @ model }">
<script>

</script>
    <section class="component-rss-feeds">

        <!--/*
        Uncomment for debug output
        <sly data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model=model}" />
        */-->

      
        
        <div id="divRss" data-feed='{"feedurl":"${model.feedurl}","feedcount": "${model.maxCount}"}'></div>

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.RssFeeds"  data-sly-use.background="gigamon/components/content/background/background.html" data-sly-call="${background.renderBackground  @ model=model, contentTemplate=renderRssFeeds}" />
  