<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>

<!--/*
    Renders the background markup.
    model: background and contentTemplate model
    contentTemplate: the template containing the content which will be wrapped by the background markup.
*/-->
<template data-sly-template.renderBackground="${ @ model, contentTemplate }">

    <!--/* Unwrap if color and spacing fields are unset */-->
    <div data-sly-unwrap="${!model.backgroundColor && !model.backgroundTopSpacing && !model.backgroundBottomSpacing && !model.backgroundHorizontalSpacing && !model.backgroundLeftSpacing && !model.backgroundRightSpacing && !model.backgroundHexStyle && !model.visibilityClasses}"
            class="component-background ${model.backgroundColor} ${model.backgroundTopSpacing} ${model.backgroundBottomSpacing} ${model.visibilityClasses}"
            style="${model.backgroundHexStyle @ context='styleString'}">

        <!--/* Unwrap if color and spacing fields are unset */-->
        <div data-sly-unwrap="${!model.backgroundColor && !model.backgroundTopSpacing && !model.backgroundBottomSpacing && !model.backgroundHorizontalSpacing && !model.backgroundLeftSpacing && !model.backgroundRightSpacing && !model.backgroundHexStyle}"
            class="container">

            <div data-sly-unwrap="${!model.backgroundHorizontalSpacing && !model.backgroundLeftSpacing && !model.backgroundRightSpacing}" class="${model.backgroundHorizontalSpacing} ${model.backgroundLeftSpacing} ${model.backgroundRightSpacing}">

                <!--/*
                    Renders the content of the background component. This will either be the result of invoking the contentTemplate (with supplied model)
                    or an empty parsys if no contentTemplate is provided.
                */-->
                <sly data-sly-test.hasContent="${contentTemplate}" data-sly-call="${contentTemplate @ model=model}" />
                <sly data-sly-test="${!hasContent}">
                    <div data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>
                </sly>

            </div>

        </div>

    </div>
</template>

<sly data-sly-use.model="gigamon.core.models.component.Background" data-sly-call="${renderBackground @ model=model}" />

<span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; ${resource.name} &#9473;&#9499;</span>
