<!--/*

This is a helper template that will print all variables your Sightly component has access to.

Copy/paste the below Sightly into your component:

<sly data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model=model}" />
OR
<sly data-sly-use.model="NAME_OF_YOUR_FULLY_QUALIFIED_JAVA_COMPONENT_MODEL_CLASS" data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model = model}" />

*/-->
<template data-sly-template.renderDebugging="${ @ model }">
    <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; START DEBUG OUTPUT FOR ${resource.path} &#9473;&#9491;</span>
    <hr/>
    <p><b>This bean provides access to the following variables for Sightly:</b></p>
    <table data-sly-list="${model.debugModelKeys}">
        <tr>
            <td>${item}</td>
            <td>${model.debugModel[item]}</td>
        </tr>
    </table>
    <hr/>
    <p><b>This bean is composed of the following models/mixins:</b></p>
    <table data-sly-list="${model.debugTypes}">
        <tr><td>${item}</td></tr>
    </table>
    <hr/>
    <span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; END DEBUG OUTPUT FOR ${resource.path} &#9473;&#9499;</span>
</template>
