.site {
    float: left;
    clear: left;
    width: 100%;
    overflow: hidden;
}
.ie8 .site {
    overflow: visible;
}

.site-wrapper.publish {
    float: left;
}

.site-wrapper {
    background: $white;
    clear: left;
    width: 100%;
    position: relative;
    left: 0;
    height: 100%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.site-wrapper.mp-pushed:after {
    content: '';
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.site-wrapper {
    overflow: visible;
    clear: left;
    width: 100%;
}

.site-container {
    position: relative;
}

.site-outer, .mp-level {
    transition: all 0.3s;
}

.search-bar-mobile {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 99;
    padding: 0px;
    .container {
        padding: 0px;
        input {
            opacity: .8;
            width: 100%;
            font-size: 20px;
            padding: 15px 25px;
            border: none;
            &:focus {
                outline: none;
            }

        }
        button {
            position: absolute;
            right: 10px;
            border: none;
            background: none;
            box-shadow: none;
            top: 10px;
            z-index: 9;
            width: 40px;
            height: 40px;
            font-size: 24px;
        }

    }

}

/* handle transition to close button for mobile trigger */
.mp-pushed {
    background: #F4F4F4;
    position: fixed;

    #mobile-trigger span {
        opacity: 0;
        // top: 8px;
        // width: 0%;
        // left: 50%;
    }

    // #mobile-trigger span:nth-child(2) {
    //   transform: rotate(45deg);
    // }

    // #mobile-trigger span:nth-child(3) {
    //   transform: rotate(-45deg);
    // }

    // #mobile-trigger span:nth-child(4) {
    //   top: 8px;
    //   width: 0%;
    //   left: 50%;
    // }

}

.search-trigger-mobile {
    position: absolute;
    top: 5px;
    right: 0px;
    color: #000;
    z-index: 99;
    font-size: 20px;
    .close-search {
        display: none;
    }
    &.active {
        .search-icon {
            display: none;
        }
        .close-search {
            display: block;
        }

    }

}


@media (max-width: $screen-md-min) {
    .logo-nav {
        background: #fff;
        height: 60px;
        padding: 10px 20px;
    }
    .mp-pushed {
        .logo-nav {
            background: black;
        }

    }

}


.component-global-navigation {
    /* start mp menu slide push customization */
    .mp-menu {
        min-height: 100vh;
        display: block;
        background: #F4F4F4;
        overflow-y: scroll;
        overflow-x: hidden;

        .mp-level {
            background: #F4F4F4;
            
            /* fix flicker during animation */
            .sub-menu {
                background: #F4F4F4;
                opacity: 1;
                //height: 100vh;
                padding-top: 10px;
                padding-left: 20px;
                li {
                    padding: 5px;
                    border-bottom: none;
                    a {
                        text-transform: capitalize;
                    }

                }

            }
            .mobile-logo {
                display: block;
                padding: 0px;
                height: 40px;
                margin: 10px 0 20px 20px;
                img {
                    height: 100%;
                    width: auto;
                }

            }

        }
        input {
            width: 100%;
            border: 1px solid #dddfde;
            padding: 10px;
            font-size: 0.9em;
            text-transform: uppercase;
        }
        .search {
            position: relative;
        }

    }
  

    .mp-level.mp-level-overlay::after {
        background: white;
    }

    /* end mp menu slide push customization */

    #mobile-trigger {
        width: 25px;
        height: 20px;
        position: absolute;
        transform: translate(0, -50%) rotate(0deg);
        transition: .35s ease-in-out;
        cursor: pointer;
        top: 20px;
        left: 0px;
    }

    #mobile-trigger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    /* Icon 3 */

    #mobile-trigger span:nth-child(1) {
        top: 0px;
    }

    #mobile-trigger span:nth-child(2),#mobile-trigger span:nth-child(3) {
        top: 8px;
    }

    #mobile-trigger span:nth-child(4) {
        top: 16px;
    }

    .menu-trigger {
        position: relative;
        padding-left: 60px;
        font-size: 0.9em;
    }

    .menu-trigger:before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 40px;
        height: 6px;
        background: #fff;
        content: '';
    }

    /* overlays for pusher and for level that gets covered */
    .site-outer:after, .mp-level::after, .mp-level::before {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        content: '';
        opacity: 0;
    }

    .site-outer:after, .mp-level::after {
        background: rgba(0, 0, 0, 0.3);
        transition: opacity 0.2s, width 0.1s 0.2s, height 0.1s 0.2s;
        z-index: 10000;
    }

    .mp-level::after {
        z-index: -1;
    }

    .site-outer.mp-pushed:after, .mp-level.mp-level-overlay::after {
        width: 100%;
        height: 100%;
        opacity: 1;
        transition: opacity 0.2s;
    }

    .mp-level.mp-level-overlay {
        cursor: pointer;
    }

    .mp-level.mp-level-overlay.mp-level::before {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    /* First level */
    .mp-menu > .mp-level, .mp-menu > .mp-level.mp-level-open, .mp-menu.mp-overlap > .mp-level, .mp-menu.mp-overlap > .mp-level.mp-level-open {
        box-shadow: none;
    }
    .lte9 .mp-menu > .mp-level, .lte9 .mp-menu > .mp-level.mp-level-open, .lte9 .mp-menu.mp-overlap > .mp-level, .lte9 .mp-menu.mp-overlap > .mp-level.mp-level-open {
        left: 0px;
    }

    .lte9 .mp-cover .mp-level.mp-level-open {
        left: 0px;
    }

    .lte9 .mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
        left: -300px;
    }

    .mp-menu {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 360px;
        height: 100%;
        transform: translate3d(-100%, 0, 0);
    }

    .lte9 .mp-menu {
        left: -300px;
    }
    .mp-pushed .mp-menu {
        height: 100%;
        overflow-y: scroll;
    }

    .mp-level {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mp-level li:before {
        content: none;
    }

    .mp-menu {
        [data-level="1"] {
            &.mp-level-open {
            }
            &.mp-level-overlay {
                left: -100%;
            }

        }

    }

    .mp-menu .mp-level {
        .slide-priority {
            display: block !important;
            z-index: 1;
        }

        [data-level="2"] {
            &.mp-level-open {
                z-index: 1;
                display: block;
            }
            left:100%;
            &.mp-level-overlay {
                left: 0%;
            }

        }

        [data-level="3"] {
            left: 100%;
            transform: translate3d(0, 0px, 0px) !important;
            &.mp-level-open {
                z-index: 1;
            }
            &.mp-level-overlay {
                left: 0%;
            }

        }

        [data-level="4"] {
            left: 100%;
            transform: translate3d(0, 0px, 0px) !important;
            &.mp-level-open {
                z-index: 1;
            }

        }

    }

    /* cover */
    .mp-cover .mp-level ul li.light-cell,  li.light-cell {
        background: $white;
        text-transform: none;
        font-weight: 300;
        color: #7c8083;
        a {
            text-transform: none;
            font-weight: 300;
        }
        i {
            font-size: 24px;
        }

    }

    .mp-menu {
        .logo-cell {
            text-align: center;
            padding: 0;
            height: 100%;
            margin: 0 auto;
            .img-responsive {
                display: inline-block;
                filter: invert(100%);
                opacity: 0.45;
            }

            a {
                padding: 20px;
                width: 50%;
                height: 100%;
                display: inline-block;
                font-size: 16px;
            }
            a:first-of-type {
                border-right: 1px solid #dddfde;
            }

        }

    }

    /* content style */
    .mp-level {
        background-color: #FFFFFF;
    }

    .mp-menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        //padding-bottom: 100px;

        li {
            position: static;
            background: #f4f4f4;
            border-bottom: 1px solid #dddfde;
            padding: 15px;
            button,
            a {
                font-size: 14px;
                font-weight: 400;
                color: $mobile-nav;
                line-height: 29px;
                display: block;
                padding: 0px 10px;
                text-transform: uppercase;
                letter-spacing: 0.4px;
                background: transparent;
                border: none;
                width: 100%;
                text-align: left;
                svg {
                    &.down {
                        float: right;
                        margin-top: 12px;
                    }
                    &.arrow-left {
                        transform: rotate(180deg);
                    }
                    &.arrow-right {
                        float: right;
                        margin-top: 12px;
                        transform: rotate(-90deg);
                    }

                }
                &:active,
                &:focus,
                &:hover {
                    outline: none;
                    text-decoration: none;
                }
                &.expanded {
                    svg {
                        &.down {
                            transform: rotate(-180deg);
                        }

                    }

                }
                &.split-link {
                    margin-right: 40px;    
                }
                &.split-link-child {
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    float: right;
                    width: 40px;
                    height: 40px;
                    margin-top: -34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    svg {
                        margin-top: 0px;
                    }
                }
                &.mp-back {
                    font-size: 14px;
                    font-weight: 400;
                    color: $mobile-nav;
                    line-height: 29px;
                    display: block;
                    padding: 0px 10px;
                    text-transform: capitalize;
                    letter-spacing: 0.4px;
                    text-align: left;
                    background: #fff;
                    border-bottom: 1px solid #dddfde;
                    padding: 15px;
                    &:hover {
                        text-decoration: none;
                    }

                }

            }
            strong {
                font-size: 14px;
                line-height: 29px;
                font-weight: 700;
                color: $mobile-nav;
                text-transform: none;
                display: block;
                border-bottom: 1px solid #000;
                padding: 0px 10px;
            }
            &.secondary-style {
                border-bottom: none;
                a {
                    text-transform: none;
                    font-weight: 400;
                }

            }

        }
        &.teir-options {
            padding-bottom: 0px;
            display: none;
            li {
                border-bottom: none;
                padding: 10px 15px;
                a {
                    text-transform: none;
                    svg {
                        &.arrow-right {
                            float: none;
                            vertical-align: top;
                            margin-left: 10px;
                        }

                    }

                }

            }

        }

    }



    .mobile-request-demo {
        margin-top: 30px;
        display: block;
        padding: 10px 10px;
        text-align: center;
        color: white;
        background: $orange;
        text-transform: uppercase;
        &:hover {
            color: white;
            text-decoration: none;
        }

    }

}
