/**
 *  Main css for global-navigation
 */
@import "global-navigation-mobile";

html{
    touch-action: manipulation;
}


@media (max-width:992px)
{
.site-content{margin-top:60px!important;}
}
.site-content{margin-top:96px;}

body {
/*margin-top:96px;*/
  /* class applied when search results is open */
  &.fixed{
    width:100%;
    position:fixed;
  }
}
  .ie8 body {
    overflow: visible; }

.global-navigation {

 span
{
.fa-phone{
    font-size: 31px;
    color: #ffffff;
	padding-bottom: 5px;
	}
	.fa-dropbox{
    font-size: 31px;
    color: #FF6C00;
	padding-bottom: 5px;
	}
}


.fa-dropbox:hover{-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;}
.fa-phone:hover{-moz-animation:wiggle .3s 2;-webkit-animation:wiggle .3s 2;}
@-moz-keyframes wiggle{0%{-moz-transform:rotate(3deg);}50%{-moz-transform:rotate(-3deg);}100%{-moz-transform:rotate(3deg);}}
@-webkit-keyframes wiggle{0%{-webkit-transform:rotate(3deg);}50%{-webkit-transform:rotate(-20deg);}100%{-webkit-transform:rotate(40deg);}}

  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  position: fixed;
  background-color:#ffffff;
  top: 0;
  width: 100%;
  left: 0;
  font-family: $headings-font-family;
  // display: flex;
  .navigation-container {
    // flex: 1;
  }
  a.btn.btn-orange
	{
	font-family: proxima_nova;
	text-align: center;
  	letter-spacing: 2.2px;
  	line-height: 1.2;
  	font-size: 20px;
  	font-weight: bold;
  	padding: 11px 15px;
 	width: 225px;
    color: #ff6600;
    background-color:white;
  	height: 48px;
  	border-radius: 3px;
  	border: solid 1px #ff6600;
	top:-200px;
    right: 50px;
    position:absolute;
	transition: all 1s ease-in-out;
    float:right;
	}
}

.component-global-navigation {
  font-family: $headings-font-family;
}

.site-wrapper.mp-pushed{
  .site-content{
    position:fixed;
    overflow-y: hidden;
  }
}



  .contact-sales{

 -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-family: "proxima_nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: 0.9px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FF6C00;
  width: 98px;
  padding: 0 9px;
  height: 96px;
  color: white;
  text-align: center;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
     &:hover {
    color: white;
    background: #ff7b1a;
    text-decoration: none; }
        }



.request-demo {
  transition: all 500ms ease-in-out;
  font-family: $headings-font-family;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: 0.9px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  width: 98px;
  padding: 0 9px;
  // flex: 0 0 50px;
  height: 96px;
  color: $orange;
  text-align: center;
  position: absolute;
  z-index: 999;
  top: 0;
  right: 98px;
  box-shadow: -2px -3px 8px rgba(216, 218, 221, .7);
  &:hover {
    color: #FF6C00;
    background: lighten(#ffffff, 5%);
    text-decoration: none;
  }
}


.utility-nav {
  margin-right: 180px;
}

@media (min-width: $screen-md-min ) {
  .component-global-navigation {
    height: inherit;
  }
  .global-navigation {
    min-height: 70px;
    height:96px;
    transition: all 500ms ease-in-out;
  }
}


.component-global-navigation {
  position: relative;
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  overflow: visible;

  a{
    cursor: pointer;
  }

  a:focus {
    &.accessibility-focus{
      border: 1px dashed #ff0000;
      margin: -1px;
    }
  }
    /* dark theme start */
    &.dark-theme{
      .logo-nav{
        color: $primary-navigation;

        .search-trigger{

            &:before{
                color:$white;
            }
            span {
                color: $blue;
                font-size: 14px;
            }
        }
        a.search-trigger, a.search-trigger:link,a.search-trigger:hover,a.search-trigger:visited,a.search-trigger:active{
          color:$primary-navigation;
          &:before{
          color:$primary-navigation;
          }
        }

        .desktop-nav-top{
          transition: all 500ms ease-in-out;
          margin-left: 120px;
          position: relative;
          z-index: 10;
          top:0;
          white-space: nowrap;
            a{
                &:hover{
                }
            }
            a:after {
              border-bottom: solid 8px $primary-navigation;
            }

        }

      }

      @media (min-width: $breakpoint_sm) {
        .hero-logo-ani.animating {
          display: block;
          background: url("") top center;
          -webkit-animation: play 1.4s steps(37) 1s forwards;
          animation: play 1.4s steps(37) 1s forwards;
        }
        .hero-logo-ani.animating.hoverPlay {
          -webkit-animation: hoverPlay 1.4s steps(37) forwards;
            animation: hoverPlay 1.4s steps(37) forwards;
        }
        .hero-logo-ani.animating.stoppedAnimation {
          background-position: 0 -1440px;
          -webkit-animation-play-state: paused;
            animation-play-state: paused;
          }
      }

    }
    /* dark theme end */

    &.light-theme{
      .search-results{
        color: $primary-navigation;
      }
    }

    .container{
        position: relative;
        clear: right;
    }

    .top-bar{
    	transition: all 500ms ease-in-out;
    	top:1px;
        height: 45px;
        background-color: transparent;
        position: relative;
        letter-spacing: .3px;
        ul{
            li{
                list-style: none;
                display: inline-block;
                height: 100%;
                position: relative;
                line-height: 20px;
                font-size:13px;
                letter-spacing: 0.9px;
                a {
                  font-weight: 400;
                  color: $primary-navigation;
                  display: inline-block;
                  transition: color 0.2s;
                  padding: 10px;
                  &:hover{
                    color: darken($primary-navigation, 20%);
                    text-decoration: none;
                    transition: color 0s;
                  }
                  &.lang-options {
                    // border: 1px solid $utility-nav;
                    padding: 2px 10px;
                    margin-left: 10px;
                    position: relative;
                    text-align: right;
                    &:hover {
                      // border: 1px solid $dark-grey;
                    }
                  }
                }

                &.lang-container {
                  position: relative;
                  .arrow-down {
                    font-size: 14px;
                  }
                  .option-nav {
                    display: none;
                    top: 25px;
                    right: 0px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 99;
                    width: 120px;
                    background: #fff;
                    border: 1px solid $utility-nav;
                    padding-left: 0px;
                    li {
                      display: block;
                      a {
                        display: block;
                        padding: 5px 10px;
                      }
                    }
                  }
                }

                .lang-link{
                    background-repeat:no-repeat;
                    background-size:contain;
                    padding-left:30px;
                    background-position:left center;
                }
                .cart-quantity{
                  background: red;
                  height: 15px;
                  width: 15px;
                  border-radius: 20px;
                  text-align: center;
                  font-weight: 800;
                  color: white;
                  position: absolute;
                  top: 10px;
                  left: 30px;
                  line-height: 15px;
                  font-size: 12px;
                }
            }
        }
    }

    .mobile-close-nav {
      color: #000;
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 20px;
    }

    .logo-nav{
        font-size: 1em;
        line-height: 1.42857;
        display: block;
        z-index: 2000;
        .nav-background{
            position:absolute;
            width:100%;
            top: 100px;
            height:0;
        }
        .nav-dropdown{
            opacity:1;
            z-index: 1;
            position:absolute;
            top:80px;
            width:100%;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.18);
            >.container{
              display: none;
              padding:30px 0;
              background: #fff;
              .container-flex {
                display: flex;
                justify-content: flex-start;
              }
            }
        }
        #hero-logo-container{
            position: absolute;
            left: 24px;
        }
        .mobile-btns{
          position:relative;
          height: 100%;
          .mobile-logo{
              position: absolute;
              left: 50%;
              transform:translateX(-50%);
              padding:0px;
              height: 40px;
              img {
                height: 100%;
                width: auto;
              }
          }
        }
        @media (min-width : 1280px)	{

.search-bar{

 width: 160px !important;

}

}
@media (min-width : 1024px)	and (max-width: 1279px){

.search-bar{

 width: 100px !important;

}
  input[type="text"] {
  width: 100px!important;

  }
  .search-trigger{

    position: absolute;
    right: -8px;
    bottom: 0;
  }

}
        .search-bar{
          opacity: 1;
          width: 160px;
          margin-left: 10px;
          margin-right: -25px;
          z-index: 5;
          position: relative;
          display: inline-block;
          vertical-align: top;
          width: 0px;
          padding-bottom: 2px;
          border-bottom: 2px solid $grey;
          transition: all 0.2s ease;
          ::-webkit-input-placeholder {
              color:$grey;
          }

          input[type="text"] {
              padding: 0;
              border: none;
              background: transparent;
              color:$black;
              font-weight: 500;
          }
          input:focus {outline:none;}
          input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
          input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

          .search-container{
            position: relative;
            z-index: 3;
            padding:0;
            background: #fff;
          }

          .search-container.active{

          }

          &.reveal{
            opacity: 1;
            pointer-events:all;
            width: 160px;

            margin-left: 10px;
            margin-right: -25px;
            transition: all 0.2s ease;
          }
        }

        .search-trigger{
          cursor: pointer;
          z-index:2;
          position:absolute;
          right:0;
          bottom: 0;
            span {
                color: black;
                padding: 0 0 5px;
                outline:none;
                font-weight: 700;
            }
        }
        #search-results{
          .row{
            .col-xs-4:first-of-type{
              padding: 0 15px 0 0;
            }
            .col-xs-4:last-of-type{
              padding: 0 0 0 15px;
            }
          }
        }

        .search-results{
          .container{
            padding: 0;
          }
          opacity: 0;
          pointer-events:none;
          transition: opacity 0.2s;
          background:$white;
          width: 100%;
          height:calc(100vh - 150px);
          position: absolute;
          top: 70px;
          z-index: 3;
          padding: 45px 0;
          overflow-y: scroll;
          .product-cell-loading{
            pointer-events:none;
            height:400px;
            width:100%;
            padding:15px;
            .image{
              background: #f6f6f6;
              width:100%;
              height:300px;
            }
            .content-1{
              background: #f6f6f6;
              height:20px;
              width:100%;
              margin: 15px 0 10px;
              animation: OPACITY-LOOP 0.5s infinite;
            }
            .content-2{
              background: #f6f6f6;
              height:40px;
              width:100%;
              margin: 0 0 11px;
              animation: OPACITY-LOOP 0.75s infinite;
            }
            @-webkit-keyframes OPACITY-LOOP {
              0%   { opacity: 1; }
              50% { opacity: 0.4; }
              100% { opacity: 1; }
            }
          }

          .search-zero-results{
              width:100%;
              margin: 30px auto;
              padding: 40px 0 80px 0;
              text-align:center;
          }

          .search-more-results{
              border-top: lightgrey 1px solid;
              width:100%;
              margin: 30px auto;
              padding: 40px 0 80px 0;
              text-align:center;
              p{
                margin-bottom: 40px;
              }
            a.full-search{
              background-color: $client_primary;
              color: $white;
              border: none;
              font-weight: 800;
              letter-spacing: 1px;
              margin-bottom: 7px;
              margin-top: 40px;
              min-height: 50px;
              transition: background-color .1s ease, color .1s ease;
              padding: 10px 15px;

              &:hover{
                text-decoration: none;
                background-color: $client_hilite;
              }
              &:active{
                box-shadow:none;
              }
            }
          }
        }

        .desktop-nav-top{
            position:relative;
            text-decoration: none;
            font-size: 14px;
            margin-right: 98px;
            margin-top: 10px;
            a{
              color: $primary-navigation;
                font-size:13px;
                padding: 15px 0px 20px;
                margin: 0 10px;
                font-weight: 600;
                letter-spacing: 0.9px;
                position: relative;
                -webkit-backface-visibility: hidden;
                -webkit-perspective: 1000;
                &:hover{
                    color: $primary-navigation;
                    text-decoration: none;
                }
                &.active:after{
                  text-decoration: none;
                  content: '';
                  position: absolute;
                  left: 0;
                  display: inline-block;
                  height: 1em;
                  width: 100%;
                  border-bottom: 2px solid $primary-navigation;
                  margin-top: 10px;
                }
                &.search-trigger {
                    z-index: 8;
                }
            }

            a:hover:after { transform: scaleY(1); }
            a:after{  transform-origin: 50% 100%; }
        }
    }


    .mobile-nav{
        .container{
            position: relative;
            height: 70px;
        }
        .hero-logo-container{
            position:absolute;
            bottom: 0;
            margin-top:0;
        }

        .mobile-menu{
            display:none;
            &.reveal{
                display: block;
            }
            position: fixed;
            width: 100%;
            height: 100%;
            background: #252a2c;
        }

        .navbar-menu-toggle{
            position: absolute;
            top: 50%;
            transform: translatey(-50%);
            cursor: pointer;
            content: " ";
            background:rgba(0,0,0,0);
            color:$white;
        }
    }
    @-webkit-keyframes play {
      100% {
        background-position: 0 -1480px; } }

    @keyframes play {
      100% {
        background-position: 0 -1480px; } }

    @-webkit-keyframes hoverPlay {
      100% {
        background-position: 0 -1480px; } }

    @keyframes hoverPlay {
      100% {
        background-position: 0 -1480px; } }

    .hero-logo-container {
      position: absolute;
      z-index: 1;
      bottom:0;
      width: 98px;
      height: 64px;
      margin-top: 0;
      -webkit-transition: margin-top 0.3s ease;
      transition: margin-top 0.3s ease;
    }
    .hero-logo-container:not(.focus--mouse):focus {
      outline: 1px solid white;
    }

    .logo-static {
    	transition: all 500ms ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
    }

    .hero-logo-ani {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .hero-logo-ani.animating {
      display: none;
    }

}

ul.children-l3 {
  padding: 10px 0 0px 15px;
}


.search-position-container {
 transition: all 500ms ease-in-out;
  position: absolute;
  top: 0;
  right: 95px;
}

@media( min-width: 1024px) and (max-width: 1279px) {
.search-position-container {
 transition: all 500ms ease-in-out;
  position: absolute;
  top: 0;
  right: 100px!important;
}

}

/* UNIQUE CONDITION FOR FIREFOX PSUEDO ELEMENT */
@-moz-document url-prefix() {
  .desktop-nav-top a.active:after {
    margin-top: 25px !important;
  }
}

/* > MD Tablet */
@media( min-width: $breakpoint_md){
  body {
    overflow-x:hidden;
  }
}

@media (min-width: $breakpoint_sm) {
  .component-global-navigation {
    .hero-logo-container {
      width: 98px;
      height: 64px;
      margin-top: 0;
    }
    .hero-logo-ani.animating {
      display: block;
      background: url("") top center;
      -webkit-animation: play 1.4s steps(37) 1s forwards;
      animation: play 1.4s steps(37) 1s forwards;
    }
    .hero-logo-ani.animating.hoverPlay {
      -webkit-animation: hoverPlay 1.4s steps(37) forwards;
        animation: hoverPlay 1.4s steps(37) forwards;
    }
    .hero-logo-ani.animating.stoppedAnimation {
      background-position: 0 -1440px;
      -webkit-animation-play-state: paused;
        animation-play-state: paused;
      }
    }
}
@media (min-width: $breakpoint_md) {
  .component-global-navigation {
    .hero-logo-container
    {
      -webkit-transition: none;
      transition: none;
    }
  }

  //override push menu javascript applied inline styles to force menu to close for desktop view
  .site-wrapper.mp-pushed{
    transform: translate3d(0px, 0px, 0px) !important;
  }
}


@media (max-width: 1115px) {
  .component-global-navigation.dark-theme .logo-nav .desktop-nav-top {
    margin-left: 120px;
  }
  .component-global-navigation .logo-nav .desktop-nav-top a {
    margin: 0 10px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px){
  .component-global-navigation.dark-theme .logo-nav .desktop-nav-top {
    margin-left: 110px!important;
  }
  .component-global-navigation .logo-nav .desktop-nav-top a {
    margin: 0 8px!important;
  }
}

.contact-sales{

  background: #ff6c00!important;
    right: 0px!important;
    color: #ffffff !important;
    border: 1px solid #ff6600 !important;
    }


@media (min-width: 992px) {
  .global-navigation.shrink .logo-static {
    top: -10px;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .global-navigation.shrink {
    height: 80px;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
    .global-navigation.shrink .top-bar {
    position: relative;
    top: -200px;
    height: 0px !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .global-navigation.shrink .request-demo {

    height: 80px !important;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .global-navigation.shrink .search-position-container {
    top: -200px;
    height: 0px !important;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .global-navigation.shrink .desktop-nav-top {
    top: -10px !important;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }
  .global-navigation.shrink .contact-sales {
    height:80px!important;
     -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out; }



}
