<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the sticky-footer component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderStickyFooter="${ @ model }" >
    <section class="component-sticky-footer">
        <div class="sticky-footer-container">
            <sly data-sly-test="${!model.button}">
                 <a href="https://www.gigamon.com/contact-sales.html" style="width:150px;margin-right:26px;" class="check0 btn btn-orange contact-btn" title="Contact Sales" target="_blank">
                     Contact Sales
                      <svg  width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>Chevron</title><g fill-rule="evenodd"><path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/><path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/></g></svg>
                 </a>
            </sly>
            <sly data-sly-list="${model.button}">
                <sly data-sly-test="${itemList.index < 3}">
                 <a href="${item.link}" class="check${itemList.index} btn btn-orange contact-btn" title="${item.title}" target="${item.newTabBool ? '_blank' : ''}">${item.title}
				 <svg  width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>Chevron</title><g fill-rule="evenodd"><path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/><path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/></g></svg>

				</a>
                </sly>
            </sly>
          </div>
    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.StickyFooter" data-sly-call="${renderStickyFooter @ model=model}" />
