/**
 *  Main css for carousel
 */

// Slick variables
// refer to node_modules/slick-carousel/slick/slick-theme.scss

$slick-font-family: "FontAwesome";
// $slick-font-family: "slick";
// $slick-loader-path: "./";
$slick-arrow-color: $brand-primary;
// $slick-dot-color: black;
// $slick-dot-color-active: $slick-dot-color;
$slick-prev-character: "\f137"; // FontAwesome icon
$slick-next-character: "\f138"; // FontAwesome icon
$slick-dot-character: "\f10c"; // FontAwesome icon
$slick-dot-size: 15px;
// $slick-opacity-default: 0.75;
$slick-opacity-on-hover: 1;
// $slick-opacity-not-active: 0.25;

.component-carousel {

    .slick-dots {
        bottom: -35px;
    }

    .slick-prev {
        left: -15px;
    }

    .slick-next {
        right: -15px;
    }

    &.move-dots-up.slick-dotted {
        margin-bottom: 0px;

        .slick-dots {
            bottom: 30px;
        }
    }
}

.navArrows
{
width:50px;
}

.component-carousel.whitearrows svg
{fill: white;}
.component-carousel.blackarrows svg
{fill: black;}
.component-carousel.aquaarrows svg
{fill: #62B9B1;}
.component-carousel.bluearrows svg
{fill: #1B5071;}
.component-carousel.grayarrows svg
{fill: #999;}
.component-carousel.darkgrayarrows svg
{fill: #222222;}
.component-carousel.hasharrows svg
{fill: #404a59;}
.component-carousel.light-grayarrows svg
{fill: #f6f6f6;}
.component-carousel.orangearrows svg
{fill: #FF6600;}


.custom-prev{
    display: inline-block;
    position: absolute;
    border: 0px;
    background-color: transparent;
    padding:0;
    left: -15px;
    top: 35%;
    z-index: 1;
}

.custom-next{
        display: inline-block;
        position: absolute;
        border: 0px;
        background-color: transparent;
        padding:0;
        right: -15px;
        z-index: 1;
        top: 35%;
}

.custom-prev:hover,
.custom-prev:focus,
.custom-next:hover,
.custom-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.custom-prev:hover:before,
.custom-prev:focus:before,
.custom-next:hover:before,
.custom-next:focus:before
{
    opacity: 1;
}

.slick-dots button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  background-color: black;
  border-radius: 50%;
  /*box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.75); */
  }

.slick-dots .slick-active button:before {
  background-color: black;
  }

 .slick-dots li button:before {
        /*position: absolute;
        top: 0;
        left: 0;
        content: "";*/
        width: 10px !important;
        height: 10px !important;
        /*font-family: "FontAwesome";
        font-size: 15px;
        line-height: 20px;
        text-align: center;*/
        color: transparent !important;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        }
    .slick-dots li.slick-active button:before {
      color: transparent !important;
      opacity: 0.75;
      }


.slick-loading .slick-list {
  background: #fff !important;
  }

/* Tablet */
@media (min-width: $screen-md-min) {
    .component-carousel {
        .slick-prev {
            left: -35px;
        }

        .slick-next {
            right: -35px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
.component-carousel .component-text-jumbo {
  /*height: calc(50vh - 100px);*/
  width: auto;
  margin: 0 170px; /* it centers any block level element */
}
}

