/**
 *  Main css for text-image-two-column
 */

.component-text-image-two-column {
    img {
    	margin: 0 auto;
    	max-width: 200px;
    }
    .col-md-6 + .col-md-6 {
	    padding-right: 30px;  
    	margin-left: -10px;
        max-width: 280px; 
    }
    .col-md-6.col-md-pull-4 {
    	width: 44%; 
    	right: 38%;
    }
}


/* Mobile */
@media (max-width: $screen-md-min) {
	.component-text-image-two-column {
	    .col-md-6 + .col-md-6 {
		    padding-right: 0px;
	    	margin-left: 0px;
            max-width: 100%;
	    }
	}
}