/**
 *  Main css for multi-tabs
 */


.tab-content.edit .tab-pane{

display:block!important;

}
.component-multi-tabs {

.component-text h2.main-header {
  margin-bottom: 35px; }
  
  
.nav-tabs>li>a
{
    padding: 10px 0px !important;
    margin: 0px 40px !important;
   
}

a.accordion-link.active i.fa.fa-chevron-down {
    transition: all 0.4s ease;
    transform: rotateZ(-180deg);
}

ul.nav.nav-tabs.responsive-tabs.tab-center {
    margin: 10px;
}



}
.component-multi-tabs {

.tab-center {display:flex!important;justify-content:center!important;}

.tab-left {display:flex!important;justify-content:left!important;}

.component-text h2.light {font-weight:100;font-style:normal;}
.component-text h2.bold {font-weight:700;font-style:normal;}
.component-text h2.medium {font-weight:600;font-style:normal;}
.component-text h2.extra-bold {font-weight:900;font-style:normal;}

.blue-tab { color: #69b8e2;    border: 0px solid transparent;  }
.default-tab{color: #314054;    border: 0px solid transparent; }
.orange-tab{color: #ff6600;    border: 0px solid transparent; }
.aqua-tab{color: #84c8c1;     border: 0px solid transparent; }
.purple-tab{color: #7777bb;    border: 0px solid transparent; }
.teal-tab{color: #1b5071;    border: 0px solid transparent; }
.white-tab{color: #ffffff;    border: 0px solid transparent; }
.grey-tab{ color: #314054;     border: 0px solid transparent;}


ul li.active .default-active{color: #314054;  border-bottom: 2px solid #314054!important; }
ul li.active .orange-active{color: #ff6600; border-bottom: 2px solid #ff6600!important; }
ul li.active .aqua-active{color: #84c8c1; border-bottom: 2px solid #84c8c1!important;  }
ul li.active .blue-active{  color: #69b8e2; border-bottom: 2px solid #69b8e2!important; }
ul li.active .teal-active{color: #1b5071;  border-bottom: 2px solid #1b5071!important; }
ul li.active .purple-active{color: #7777bb; border-bottom: 2px solid #7777bb!important; }
ul li.active .grey-active{color: #314054; border-bottom: 2px solid #314054!important; }
ul li.active .white-active{color: #ffffff;  border-bottom: 2px solid #ffffff!important; }


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {

    border: 0px solid #ddd;
   background-color:transparent;
    font-weight: 600;
-webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.fa-chevron-down{
float:right;

}
.responsive-tabs-container .accordion-link {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
}


@media only screen and (min-width: 768px)
{



.fa-chevron-down {
    display: none !important;

}

.responsive-tabs-container .tab-pane {
  margin-bottom: 15px;
}
.responsive-tabs-container .accordion-link {
  display: none;
  margin-bottom: 10px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #333;
}
}
@media (max-width: 767px) {
  .responsive-tabs-container.accordion-xs .nav-tabs {
    display: none!important;
  }
  .responsive-tabs-container.accordion-xs .accordion-link {
    display: block;

  }

  .tab-pane.active
  {
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  a.accordion-link.active{
     margin-bottom: 0px!important; }
}
@media (min-width: 768px) and (max-width: 991px) {

.nav-tabs > li > a {
    padding: 10px 30px !important;

}

  .responsive-tabs-container.accordion-sm .nav-tabs {
    display: none;
  }
  .responsive-tabs-container.accordion-sm .accordion-link {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .responsive-tabs-container.accordion-md .nav-tabs {
    display: none;
  }
  .responsive-tabs-container.accordion-md .accordion-link {
    display: block;
  }
}
@media (min-width: 1200px) {
  .responsive-tabs-container.accordion-lg .nav-tabs {
    display: none;
  }
  .responsive-tabs-container.accordion-lg .accordion-link {
    display: block;
  }
}



}
