/*
--------------------------------------------------
    Background Component
--------------------------------------------------
*/

//------------------------------------------------
// Background Colors
// These classes should all end in -bg
//
.dark-grey-bg {
    background-color: $gray-dark;
}
.grey-bg {
    background-color: $gray;
}
.light-grey-bg {
    background-color: $gray-light;
}
.white-bg {
    background-color: $white;
}
.aqua-bg {
    background-color: $aqua;
}

.blue-bg {
    background-color: $blue;
}
.hash-bg {
    background-color: #404a59;
}
.orange-bg {
    background-color: #FF6600;
}

.light-orange-bg {
    background-color:rgba(255, 102, 0, 0.1)!important;
}

.light-blue-bg {
    background-color:rgba(59, 161, 217, 0.1)!important;
}
//------------------------------------------------
//  Text Colors
//
.white-text{
    color: $white;
}
.dark-text{
    color: $gray-dark;
}

.component-background {

    /* Show hidden colums in author edit mode, but mark with red background */
    body.edit & {
        @media (max-width: $screen-xs-max) {
            &.hidden-xs {
                display: block !important;
                background: rgba(red, .25) !important;
            }
        }

        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            &.hidden-sm {
                display: block !important;
                background: rgba(red, .25) !important;
            }
        }

        @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
            &.hidden-md {
                display: block !important;
                background: rgba(red, .25) !important;
            }
        }

        @media (min-width: $screen-lg-min) {
            &.hidden-lg {
                display: block !important;
                background: rgba(red, .25) !important;
            }
        }
    }
}
