// Below is for reference only. It is not used in build!

/*
--------------------------------------------------
    Mobile First Breakpoints
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* Small phone and up */
@media (min-width: $screen-xs-min) {

}

/* Large phone and up */
@media (min-width: $screen-sm-min) {

}

/* Tablet and up */
@media (min-width: $screen-md-min) {

}

/* Desktop */
@media (min-width: $screen-lg-min) {

}

/*
--------------------------------------------------
    No Overlap Breakpoints
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* Small Phone */
@media (max-width: $screen-xs-max) {

}

/* Large Phone */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* Tablet */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}

/* Desktop */
@media (min-width: $screen-lg-min) {

}
