/*
--------------------------------------------------
    Buttons
--------------------------------------------------
*/

.btn {
    // vert-pad, horz-pad, font-size, line-height, btn-border-radius
    @include button-size(10px, 25px, 16px, $line-height-base, $btn-border-radius-base);

    &.btn-link {
        text-transform: uppercase;
        font-family: $headings-font-family;
        display: inline-block;
        position: relative;
        font-weight: bold;
        line-height: 19px;
        letter-spacing: 2.7px;
        padding-right: 20px !important;
        @include button-size(10px, 0px, 15.9px, $line-height-base, $btn-border-radius-base);
        i.arrows {
        	display: inline-block;
        	height: 15px;
        	width: 14px;
        	background: url('/content/dam/gigamon/front-end-resources/arrow.svg');
        }
        svg {
            position: absolute;
            top: 13px;
            right: 0px;
            transition: all .3s ease-in-out;
        }
        &:hover {
        	text-decoration: none;
            svg {
                right: -6px;
                transition: all .3s ease-in-out;
            }
        }
    }

    &.btn-link-no-arrow {
        color: #666;
        &:hover {
            text-decoration: none;
            color: #1F6D9E;
        }
    }

    &.btn-primary {
    	/*min-width: 240px;*/
    	padding: 16px 32px;
    	border: 1px solid #000;
    	border-radius: 0px;
    	color: #000;
    	background: transparent;
    	text-transform: uppercase;
		font-family: $headings-font-family;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		line-height: 19px;
		letter-spacing: 3px;
		color: #122231;
        &:hover {
            background: transparent;
            box-shadow: inset 0px 0px 0 2px #000;
        }
    }

    &.btn-secondary {
       /*min-width: 240px;*/
        padding: 16px 32px;
        border-radius: 0px;
        background: transparent;
        text-transform: uppercase;
        font-family: $headings-font-family;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 19px;
        letter-spacing: 3px;
        color: #122231;
        /*border: 1px solid $orange;*/
        color: #fff;
        outline: 4px solid $orange!important;
        outline-offset: -4px!important;
        &:hover {
            background: transparent;
            box-shadow: inset 0px 0px 0 2px $orange;
            outline: 4px solid $orange!important;
            outline-offset: -3px!important;
        }
    }
    &.btn-orange {
        background: $orange;
        color: #fff;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
    background: transparent;
}

/* Mobile */
@media (max-width: $screen-sm-min) {
    .btn {
        &.btn-primary,
        &.btn-secondary {
            min-width: auto;
            padding: 16px 20px 14px;
        }
    }
}
