/*
--------------------------------------------------
    Common Cross-Component Styles
--------------------------------------------------
*/

.img-responsive {
    width: 100%;
}

.text-light {
	color: #fff;
}

.text-dark {
	color: $dark-grey;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.arrow-down {
	transform: rotate(90deg);
}