

/*
--------------------------------------------------
    Proxima
--------------------------------------------------
*/

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-light-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-medium-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-regularit-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

/*
--------------------------------------------------
    Roboto
--------------------------------------------------
*/


@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-italic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}


@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'roboto'; 
    src: url('../fonts/roboto/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}