/*
--------------------------------------------------
    Forms
--------------------------------------------------
*/

// --------------------------------------------------
//     Override bootstrap defaults for
//     Classic UI authoring fixes.
// --------------------------------------------------
.x-window {

    label {
      display: inline;
      max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
      font-weight: normal;
    }

    legend {
        display: inline;
        width: auto;
        margin-bottom: 0px;
        border-bottom: none;
    }

    fieldset {
        min-width: auto;
    }

}


.security-form {
    max-width: 100%;
    width: $max-width-indent;
    margin: 0 auto;
    h1 {
        color: $orange;
        font-size: 40px;
        font-weight: 400;
    }
}