/*
--------------------------------------------------
    Typography
--------------------------------------------------
*/

body {
    text-rendering: auto;
    font-smooth: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

h1, h2, h3, h4 {
    font-family: $headings-font-family;
    font-weight: 700;
    margin: 15px 0 15px 0;
}

a:focus {
    text-decoration: none;

    &:hover, &:focus{
        outline: none;
        outline-offset: 0px;
        text-decoration: none;
    }
}

/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* Phone Large */
@media (min-width: $screen-sm-min) {
    h1         { font-size: 54px; line-height:0.9;}
    .h1-small  { font-size: 30px; h1{ font-size: 30px; }}
    h2         { font-size: 30px; line-height:1.0;}
    h3         { font-size: 22px; }
    h4         { font-size: 18px; }
    h5         { font-size: 17px; }
    h6         { font-size: 14px; }

    p, .p, ul, ol { font-size: 16px; line-height:1.4;}
}

/* Tablet */
@media (min-width: $screen-md-min) {
    h1         { font-size: 60px; line-height:0.9;}
    .h1-small  { font-size: 32px; h1{ font-size: 32px; } }
    h2         { font-size: 32px; line-height:1;}
    h3         { font-size: 24px; }
    h4         { font-size: 20px; }
    h5         { font-size: 19px; }
    h6         { font-size: 16px; }

    p, .p, ul, ol { font-size: 16px; line-height:1.4;}
}

/* Desktop */
@media (min-width: $screen-lg-min) {
    h1         { font-size: 60px; line-height:0.96;}
    .h1-small  { font-size: 35px; h1{ font-size: 35px; }}
    h2         { font-size: 42px; line-height:1;}
    h3         { font-size: 30px; }
    h4         { font-size: 20px; }
    h5         { font-size: 19px; }
    h6         { font-size: 16px; }

    p, .p, ul, ol { font-size: 18px; line-height:1.4;}

    h2 {
        line-height: 52px;
    }
}

/* Author mode markers */
.edit-start, .edit-end { font-size: .5em !important; }


.light-grey {
    color: $grey;
}
