//--------------------------------------------------
//  Navigation specific breakpoints
//--------------------------------------------------
$breakpoint_xxs:                375px;
$breakpoint_xs:                 480px;
$breakpoint_sm:                 768px;
$breakpoint_md:                 992px;
$breakpoint_lg:                 1200px;
$breakpoint_xl:                 1400px;

//--------------------------------------------------
//    Color Palette 
//--------------------------------------------------

$white: #FFFFFF;
$light-grey: #CECECE;
$grey: #555;
$dark-grey: #122230;
$darker-grey: #1B5071;
$orange: #FF6C00;
$aqua: #62B9B1;
$blue: #1B5071;
$black: #000000;
$client_primary: #00a9e0;
$client_hilite:	#0083ad;
$dark-text: #222;


/* UI components */
$primary-navigation: #535c69;
$dropdown-title: #404a59;
$utility-nav: #999;
$dropdown-nav: $primary-navigation;
$mobile-nav: $primary-navigation;
$hover-default: #1F6D9E;
$footer-grey: #122231;
$social-links: #79808b;
$stroke-default: #dddddd;
$secondary-options: $primary-navigation;

/* Layout */
$max-width: 1440px;
$max-width-indent: 1200px;

