/**
 *  Main css for image
 */
.component-image {
	a {
		&:hover {
			color: $hover-default;
			text-decoration: none;
			.img-text {
				color: $hover-default;
				text-decoration: none;
			}
		}
	}
}

.img-responsive.original {
	width: auto;
	margin: 0 auto;
}

.img-text {
	text-align: center;
	color: $dark-grey;
	display: block;
	padding: 10px 0;
	margin-bottom: 20px;
}

@media (min-width: 992px) {
.crop-img .img-responsive.original {
    width: 235px;
    float: right;
}
.crop-img
{
   max-height: 160px!important;
   margin-right: -65px!important;
    overflow: hidden!important;
    width: 235px!important;
    float: right!important;
}
}
@media (min-width: 1366px) and (max-width: 1439px){
.crop-img {
    max-height: 160px !important;
   margin-right: -38px !important;
    overflow: hidden !important;
    width: 235px !important;
    float: right !important;
}}

@media (min-width: 1440px) {
  .crop-img {
    margin-right: 0px !important;  } }


    @media only screen and (max-device-width: 480px) and (min-device-width: 320px)
{
.crop-img .img-responsive.original {
	width: 136px;
    height: 177px;
	}
	}
