/**
 *  Main css for cta
 */

.component-cta-button {
    &.left { text-align: left; }
    &.center { text-align: center; }
    &.right { text-align: right; }
   .default-stroke{
    outline: 4px solid #000 !important;
    outline-offset: -4px!important;
   }
    .default-stroke:hover{
     outline: 4px solid #000 !important;
     outline-offset: -3px!important;}
 .no-stroke{
     border: 0px!important;
     border-radius: 3px;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
     outline: 0px !important;
}
.no-stroke:hover{
     border: 0px!important;
     border-radius: 3px;
     box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
     outline: 0px !important;
}
.white-stroke {

 border-radius: 3px!important;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18)!important;
 /* border: solid 3px #ffffff!important; */
   outline: 4px solid #ffffff!important;
    outline-offset: -4px!important;
 }

 .white-stroke:hover{
 border-radius: 3px!important;
  /* border: solid 3px #ffffff!important; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18)!important;
   outline: 4px solid #ffffff!important;
    outline-offset: -3px!important;
  }

.grey-stroke{
 border-radius: 3px;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  /* border: solid 4px #314054; */
  outline: 4px solid #314054;
    outline-offset: -4px;
}

.grey-stroke:hover{
 border-radius: 3px;
 box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
 /* border: solid 4px #314054; */
 outline: 4px solid #314054;
 outline-offset: -3px;
}

.orange-stroke{
 border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  /* border: solid 4px #ff6600; */
  outline: 4px solid #ff6600;
    outline-offset: -4px;
}

.orange-stroke:hover{
 border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  /* border: solid 4px #ff6600; */
  outline: 4px solid #ff6600;
    outline-offset: -3px;
}

.default-fill{}
.default-fill:hover{}
.no-fill{
      background: transparent;
}
.no-fill:hover{

    background: transparent;

 }
 .orange-fill{
    background-color: #ff6600;
  }
  .orange-fill:hover{
 background-color: #ff8533;

 }
 .aqua-fill{

  background-color: #62b9b1;

 }
 .aqua-fill:hover{

  background-color: #84c8c1;

 }
 .blue-fill{

  background-color: #3ba1d9;


 }
  .blue-fill:hover{

  background-color: #69b8e2;


 }
 .purple-fill{
  background-color: #454589;
 }
 .purple-fill:hover{
  background-color: #7777bb;
 }
 .teal-fill{

  background-color: #1b5071;

 }
  .teal-fill:hover{

  background-color: #2875a4;

 }
 .white-fill{

  background-color: #f5f5f5;

 }
  .white-fill:hover{

  background-color: #ffffff;

 }
 .grey-fill{

  background-color: #314054;

 }
.grey-fill:hover{

  background-color: #425670;

 }
    .btn {
        display: inline-block;
        margin: 0px 0 0 0;

        &.btn-link {
            text-align: left;
        }

        &:first-child:last-child {
            margin: 0 0;
        }

        &:first-child {
            margin: 0 0;
        }
        &.white-text {
            color: #fff;
            .chev {
                fill: #fff!important;
            }
        }
        &.dark-text {
            color: $dark-text !important;
            .chev {
                fill: $dark-text !important;
            }

        }
          &.orange-text {
           letter-spacing: 2px;
  text-align: center;
  color: #ff6600;
            .chev {
                fill: #ff6600!important;
            }

        }
        &.blue-text {
           letter-spacing: 2px;
  text-align: center;
  color:#47b1e1!important;
            .chev {
                fill:#47b1e1!important;
            }

        }
        
         &.aqua-text{
             letter-spacing: 2px;
             text-align: center;
             color: #62b9b1;
                       .chev {
                           fill: #62b9b1!important;
                       }

         }
    }

    /* Phone small and up */
    @media (max-width: $screen-sm-min) {
        .btn {
            display: inline-block;
            margin: 0 0 0 5px;
        }
    }

    @media (max-width: $screen-sm-min) {
        .btn {
            display: inline-block;
            margin: 0 0 0 5px;
        }
    }
}
