<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderNoSearch="${ @ model }">
</template>

<template data-sly-template.renderEmptyResults="${ @ model }">
    <p data-sly-test="${model.resultSize < 1 && model.spellcheck}">
        ${model.spellcheckText} <a href="${model.spellcheckUrl}"><b>${model.spellcheck}</b></a>
    </p>
    <span data-sly-test="${model.resultSize < 1}" class="no-results">${model.noResultsText @ format=[model.query]}</span>
</template>

<!--/*
<template data-sly-template.renderTrends="${ @ model }">
    <sly data-sly-test="${model.trendQueries}">
        <p>${model.searchTrendsText}</p>
        <div class="searchTrends" data-sly-list="${model.trendQueries}">
            <a href="${item}">${model.trends.queries[itemList.index].query}</a>
        </div>
    </sly>
</template>
*/-->

<template data-sly-template.renderLanguages="${ @ model }">
    <!--/* not implemented */-->
</template>

<template data-sly-template.renderTags="${ @ model }">
    <div class="search-sidebar vert-pad-sm light-grey-bg" data-sly-test="${model.tagKeys}">
        <sly data-sly-list.tagKey="${model.tagKeys}">
            <h4>${tagKey}</h4>
            <ul data-sly-list="${model.tags[tagKey]}">
                <li data-sly-test="${item.selected}">${item.localizedTagTitle} (${item.count}) - <a title="filter results" href="${item.queryUrl}">${model.removeFilterText}</a></li>
                <li data-sly-test="${!item.selected}"><a title="filter results" href="${item.queryUrl}">${item.localizedTagTitle} (${item.count})</a></li>
            </ul>
        </sly>

    </div>
</template>

<template data-sly-template.renderMimeTypes="${ @ model }">
    <!--/* not implemented */-->
</template>

<template data-sly-template.renderLastModified="${ @ model }">
    <!--/* not implemented */-->
</template>

<template data-sly-template.renderRelatedSearches="${ @ model }">
    <sly data-sly-test="${!model.relatedQueries.empty}">
        <br/><br/>
        ${model.relatedSearchesText}
        <a data-sly-repeat="${model.relatedQueries}" style="margin-right:10px;" href="${item}">${model.search.relatedQueries[itemList.index]}</a>
    </sly>
</template>

<template data-sly-template.renderResults="${ @ model }">
    <sly data-sly-test="${model.resultSize > 0}" data-sly-list="${model.result.hits}">
        <article data-component-name="text" class="search-result-item">
            <h4>
                <a href="${item.URL}">${item.title @ context='html'}</a>
            </h4>
            <p>${item.excerpt @ context='html'}</p>
            
            <a href="${item.URL}" class="btn btn-link">
                <span>Learn more</span> 
                <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>Chevron</title><g fill-rule="evenodd"><path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/><path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/></g></svg>
            </a>
        </article>
    </sly>
</template>


<template data-sly-template.renderTitle="${ @ model }">
    <div data-sly-test="${model.resultSize > 0}" class="row">
        <div class="col-sm-12 col-md-12 text-center title-row">
            <span class="result-nr">${model.rangeText @ format=[model.resultStartCount, model.resultEndCount, model.result.totalMatches, model.query]}</span>
        </div>
    </div>
</template>            

<template data-sly-template.renderPagination="${ @ model }">
    <div data-sly-test="${model.resultSize > 0}" class="row">
        <div class="col-sm-12 col-md-12 text-center">
            <ul class="list-inline paginator" data-sly-test="${model.showPagination}">
                <!--/* PREVIOUS */-->
                <li data-sly-test="${model.result.previousPage}">
                    <a href="${model.result.previousPage.URL @ context='html'}" class="fa fa-caret-left prev-page"></a>
                </li>
                <!--/* PAGES */-->
                <li class="pages">
                    <ul class="list-inline pages-nr" data-sly-list="${model.result.resultPages}">
                        <li data-sly-test="${item.currentPage}">${itemList.count}</li>
                        <li data-sly-test="${!item.currentPage}"><a href="${item.URL @ context='html'}">${itemList.count}</a></li>
                    </ul>
                </li>
                <!--/* NEXT */-->
                <li data-sly-test="${model.result.nextPage}">
                    <a href="${model.result.nextPage.URL @ context='html'}" class="fa fa-caret-right next-page"></a>
                </li>
            </ul>
        </div>
    </div>
</template>

<template data-sly-template.renderBody="${ @ model }">
    <div class="search-results-container">
        <div class="row">
            <div class="facets col-sm-12">
                <sly data-sly-call="${renderTags @ model=model}"/>
            </div>
            <div class="results col-sm-12">
                <sly data-sly-call="${renderResults @ model=model}"/>
                <sly data-sly-call="${renderEmptyResults @ model=model}"/>
            </div>
        </div>
    </div>
</template>

<template data-sly-template.renderSearch="${ @ model }">

    <section data-sly-test.showSearch="${!model.searchDenied}" class="component-search" data-result-count="${model.resultSize}">
        <sly data-sly-call="${renderTitle @ model=model}"/>
        <sly data-sly-call="${renderBody @ model=model}"/>
        <sly data-sly-call="${renderPagination @ model=model}"/>
    </section>

    <p data-sly-test="${!showSearch}">${model.errorText}</p>

</template>

<sly data-sly-use.model="gigamon.core.models.component.Search"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderSearch}"/>
