<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>

<template data-sly-template._renderGeneralModal="${ @ model, contentTemplate }">
    <sly data-sly-test.hasContent="${contentTemplate}" data-sly-call="${contentTemplate @ model=model}" />
    <sly data-sly-test="${!hasContent}">
        <div data-sly-resource="${'modal' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </sly>
</template>

<!--/*
    Main HTL template for the general-modal component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderGeneralModal="${ @ model, contentTemplate }">

    <section class="container" data-sly-test="${wcmmode.edit}">
        <br/>
        <span class="edit-start container">general modal id: <b>${model.modalID}</b> Note: modal id must be unique on this page</span>
        
        <span class="container">cta link must have class of "general-modal" and href of modal ID ${model.modalID}</span>
        <a class="general-modal" href="${model.modalID}">Open Modal</a>

        <br/>
    </section>

    <section class="${wcmmode.edit ? '' : 'component-general-modal modal--fade'}"
             id="${model.modalID}" tabindex="-1" role="dialog" aria-hidden="true">

        <div class="modal-inner">
            <header>
                <!-- Header -->
            </header>
            <div class="modal-content general-modal">
               <sly data-sly-call="${_renderGeneralModal @ model=model, contentTemplate=contentTemplate}"/>

            </div>
            <footer>
                <!-- Footer -->
            </footer>
        </div>
        <a href="#!" class="modal-close general-modal-close" title="Close" data-close="Close" data-dismiss="modal"></a>

    </section>

</template>

<sly data-sly-use.model="gigamon.core.models.component.GeneralModal" data-sly-call="${renderGeneralModal @ model=model}" />

<span class="edit-end container" data-sly-test="${wcmmode.edit}">&nbsp;&#9495;&#9473; ${resource.name} &#9473;&#9499;</span>