/**
 *  Main css for text-jumbo
 */

.text-jumbo .component-text-jumbo {
	.align-horz {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    .dark-text {
        a.btn {
            /*color: $dark-text;*/
            .chev {
                fill: $dark-text;
            }
        }
    }
    .white-text {
        a.btn {
            /*color: #fff;*/
            .chev {
                fill: #fff;
            }
        }
    }

    .orange-text {
            a.btn {
                /*color: #ff6600;*/
                .chev {
                    fill: #ff6600;
                }
            }
        }
}

.text-jumbo .component-background > .container {
    padding: 0px;
}

@media (max-width: $screen-lg-min) {
    .text-jumbo .component-background > .container {
        padding: 0px 15px;
    }
}

@media (min-width: $screen-lg-min) {
    .text-jumbo .component-background > .container {
        padding: 0px 0px;
    }
}


@media (max-width: $screen-md-min) {
    .text-jumbo .component-text-jumbo .align-horz {
        display: block;
        padding-bottom: 20px;
    }
}
