<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<template data-sly-template.renderTextImageTwoColumn="${ @ model }">

    <section class="component-text-image-two-column"
        data-title="${model.title}"
        data-sly-attribute="${model.analyticsAttributeMap}"
        data-sly-use.image="gigamon/components/content/image/image.html"
        data-sly-use.text="gigamon/components/content/text/text.html"
        data-sly-use.cta="gigamon/components/content/cta/cta.html">

        <div class="container">
            <div class="row flex-container">
                <!--/* IMAGE COLUMN */-->
                <div class="col-md-6 col-xs-12 flex-align-center ${model.imageColClasses}">
                    <sly data-sly-call="${image.renderImage @ model=model, type='original'}"/>
                </div>

                <!--/* TEXT COLUMN */-->
                <div class="col-md-6 col-xs-12 flex-align-center ${model.textColClasses}">
                    <sly data-sly-call="${text.renderP @ text=model.superTitle, classes='super', wrapPTag=false}"/>
                    <sly data-sly-call="${text.renderH2 @ text=model.title}"/>
                    <sly data-sly-call="${text.renderText @ model=model}"/>
                    <sly data-sly-call="${cta.renderCta @ model=model}"/>
                </div>

            </div>
        </div>

    </section>

</template>

<sly data-sly-use.model="gigamon.core.models.component.TextImageTwoColumn"
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderTextImageTwoColumn}" />
