<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the resource-card component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderResourceCard="${ @ model }">
     <div data-sly-use.image="gigamon/components/content/image/image.html" class="resource-card-image ${model.cropImage}">
                <sly data-sly-call="${image.renderImage @ model=model, type='original'}"/>
            </div>
    <div class="component-resource-card ${model.isresourcesquare ? 'resource-square' : ''} ${model.border=='border' ? 'border' : ''}"
        data-title="${model.title}"
        data-sly-use.cta="gigamon/components/content/cta/cta.html"
        data-sly-use.text="gigamon/components/content/text/text.html" >
            <p class="super-title">${model.supertitle}</p>
            <h2>${model.resourceCardTitle @ context='unsafe'}</h2>

            <sly data-sly-call="${text.renderText @ model=model}"/>
            <p class="resource-card-metadata">
                ${model.metaData}
            </p>
            <sly data-sly-call="${cta.renderCta @ model=model}" />
    </div>
</template>

<sly data-sly-use.model="gigamon.core.models.component.ResourceCard" 
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderResourceCard}" />
