/**
 *  Main css for twitter-timeline
 */

.component-twitter-timeline {
    .component-text {
        margin-bottom: 15px;

		&:before, &:after {
			content: " ";
			clear: both;
			display: block;
			height: 0px;
			width: 100%;
		}

        h3 {
            width: auto;
            float: left;
            margin: 0;
        }

        a {
            float: left;
            color: $text-color;
            margin: 7px 0 0 15px;
            &:hover {
                color: $brand-primary;
            }
        }
    }
}
