<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>

<!--/*
    Main HTL template for the carousel component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderCarousel="${ @ model }">
    <section class="component-carousel ${model.arrowcolor} ${model.moveDotsUp ? 'move-dots-up' : ''} ${model.arrows ? 'arrows' : ''}" data-slick='${model.carouselConfigAttribute @ context="unsafe"}'>

        <sly data-sly-resource="${'slides' @ resourceType='/libs/wcm/foundation/components/parsys'}" />

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.Carousel"
     data-sly-use.background="gigamon/components/content/background/background.html"
     data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderCarousel}" />

<span class="edit-end container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9495;&#9473; ${resource.name} &#9473;&#9499;</span>
