/**
 *  Main css for mega-banner
 */

.component-mega-banner {


.vert-mar-top--sm{margin-top:-25px!important;}
.vert-mar-top--md{margin-top:-65px!important;}
.vert-mar-top--xl{margin-top:-90px!important;}   


.mega-cta{margin-top:40px}


 display: flex;

    &.v-top {align-items: flex-start;}
    &.v-center {align-items: center;}
    &.v-bottom {align-items: flex-end;}


}

.component-text.text-block.light{
h1{font-weight:100;font-style:normal;}
h2{font-weight:100;font-style:normal;}
h3{font-weight:100;font-style:normal;}
}
.component-text.text-block.bold {
h1{font-weight:700;font-style:normal;}
h2{font-weight:700;font-style:normal;}
h3{font-weight:700;font-style:normal;}
}
.component-text.text-block.medium {
h1{font-weight:600;font-style:normal;}
h2{font-weight:600;font-style:normal;}
h3{font-weight:600;font-style:normal;}
}
.component-text.text-block.extra-bold {
h1{font-weight:900;font-style:normal;}
h2{font-weight:900;font-style:normal;}
h3{font-weight:900;font-style:normal;}
}



@media(max-width:1024px){
    .mega-content{ display: flex;
     flex-direction: column; }
        .mega-left-clm{order:2;}
        }

@media(max-width:767px){        
.mega-cta .component-cta-button a {
    margin-top: 10px;
}

.component-mega-banner .btn + .btn{margin-left: 0px!important;}
}

@media (min-width:1024px) {
    .mega-banner .component-mega-banner > .container {
        padding: 0px;
    }
    
    .mega-left-clm {
        padding: 0px!important;
    }
}
.txt-jum{
margin-top:44px;
margin-bottom:-20px;

}

@media (max-device-width: 991px)
{
.txt-jum{

text-align: center;
}
}
