<!--/*

This component is responsible for rendering both the content of the column as
well as a parsys drop zone for adding additional components to the column.

*/-->

<!--/* If this column has content (child nodes), render each child node. */-->
<sly data-sly-test.hasContent="${resource.children}">
    <span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>

    <div data-sly-use.model="gigamon.core.models.component.ResponsiveLayoutColumn"
         data-sly-repeat.child="${resource.children}"
         data-sly-resource="${child.path @ resourceType=child.resourceType}"
         class="${model.backgroundColor} ${model.backgroundLeftSpacing} ${model.backgroundRightSpacing} ${model.backgroundTopSpacing} ${model.backgroundBottomSpacing}">
    </div>
</sly>

<!--/*
    Render the new section drop zone
    - the resource type (column/new) is a simple pointer to the OOTB
      parsys/newpar component (reason for this is explained below).
    - appending /* to current path is also required as part of AEM parsys
      authoring.
    - 'new section' classes are the magic classes part of the AEM parsys
      authoring.

    We create our own column/new component because
    author.hooks/refresh-on-insert.js needs a unique resource type to target
    for its refresh logic. Otherwise, custom refresh mechanism would apply to
    all parsys/newpar instances, which we don't want.

    We also can't simply use parsys as the resource type because that would
    introduce 3 levels of new nodes (column, parsys, dragged-component) when
    dragging on a new component to the page. The author ajax call that is POSTed
    can create in infinite number of nested nodes, but cannot assign the proper
    resource type to all of them because it only sends sling:resourceType and
    parentResourceType. Therefore, we are limited to only 2 levels of new nodes.
    In this case the new column node resource type
    'gigamon/components/content/responsive-layout/column' and the new dragged
    on component node's resource type.
*/-->
<div data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}"
    data-sly-resource="${resource.path @ resourceType='gigamon/components/content/responsive-layout/column/new', appendPath='/*'}"
    class="new section">
</div>

<!--/* If this column has content, render the end marker */-->
<span class="edit-end container" data-sly-test="${hasContent && (wcmmode.edit || wcmmode.preview || wcmmode.design)}">&nbsp;&#9495;&#9473; ${resource.name} &#9473;&#9499;</span>
