/**
 *  Main css for footer
 */

.component-footer {
	max-width: 1200px;
	padding: 20px 50px;
	margin: 0 auto;
	font-family: Roboto;
	.border-top {
		border-top:1px solid $stroke-default;
		margin-top: 10px;
	}
	.flex {
		.social-links {
			float:right;
		}
	}
	ul {
		display: inline-block;
		vertical-align: top;
		list-style: none;
		li {
			display: inline-block;
			a {
				color: $footer-grey;

				&:hover {
					color: $hover-default;
				}
			}
		}
		&.footer-links {

			li {
				a {
					font-size: 14px;
					font-weight: 300;
				}
				strong {
					font-size: 14px;
					font-weight: 700;
					margin-right: 15px;
				}
			}
			&:first-child {
				li a:first-child {
					padding-left: 0px;
				}
			}
			&.border-left {
				border-left: 1px solid $stroke-default;
			}
		}
		&.social-links {
			li {
				margin-left: 40px;
				a {
					color: $social-links;
					padding: 0px;
				    font-size: 20px;
					display: flex;
					align-items: center;
					width: 17px;
					height: 17px;
					justify-content: center;
					&:hover {
						color: $hover-default;
						border-color: $hover-default;
					}
				}
			}
		}
	}
}
