/*
--------------------------------------------------
    Hero Banner Component
--------------------------------------------------
*/

.hero-banner {
    > section {
        background-position: 50% 0 !important;
        h1 {
            position: relative;
            display: inline-block;
            span {
                position: absolute;
                right: -20px;
                top: 0;
                font-weight: bold;
            }
        }
    }
}

.component-hero-banner {
    min-height: 200px;
    padding: 50px 0 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{ 
        padding: 0 120px;
        .flex-align-center {
            // padding-left: 0px;
        }
    }
    &.image-full-bleed{

        &.container{ 
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        img{
            margin-bottom: 25px;
        }
        .text-overlay{
            padding-top: 30px;
            padding-bottom: 30px;
            width: 100%;
            height: 100%;
            position: relative;
            bottom: 0;
            z-index: 102;
            .container{
                height:100%;
            }
        }
    }

    .btn-link {
        color: #fff;
        .chev {
            fill: #fff;
        }
    }

    &.dark-text {
        /* h1 {
            color: #fff;
            // word-break: break-all;
        } */
        .btn-primary {
            border: 1px solid #000;
            color: #000;
        }
    }

    .btn+.btn {
        margin-left: 25px;
    }

    .component-cta-button {
        margin-top: 40px;
    }

    /* Vertical Alignment in Cols, special application for this component */
    .flex-container {
        display: flex;
        align-items: center;
        &.flex-left{
            justify-content: flex-start;
        }
        &.flex-right{
            justify-content: flex-end;
        }
        &.flex-center{
            justify-content: center;
        }
    }
}
/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px
--------------------------------------------------
*/

/* Small portrait phones */
@media (max-width: $screen-xs-max) {
    .mobile-hide-img {
        background: $gray-light !important;
        color: $text_color;
    }
}

/* Landscape phones or portrait tablet */
@media (min-width: $screen-sm-min) {
    .component-hero-banner{
        min-height:300px;
        padding: 0;
        .col-sm-6{
            padding-right: 30px;
        }
        .col-sm-6 + .col-sm-6{
            padding-right: 15px;
            padding-left: 30px;
        }
        &.md-height {
            min-height: 270px;
        }
    }
    .component-hero-banner{
        &.image-full-bleed{
            padding-bottom: 0;
            position: relative;

            img{
                margin-bottom: 0;
            }
        }
    }

}

/* Tablet */
@media (min-width: $screen-md-min) {
    .component-hero-banner{
        min-height: 400px;
        &.image-full-bleed{
            padding-bottom: 0;
            position: relative;
            img{
                margin-bottom: 0;
            }
        } 
        &.md-height {
            min-height: 370px;
        }
        .container{
            padding: 0 50px;
        }
    }
}

@media (max-width: $screen-md-min) {
    .component-hero-banner{
        .container{
            padding: 0 50px;
        }
    }
}

/* Desktop */
@media (min-width: $screen-lg-min) {
    .component-hero-banner{
        .container{
            padding: 0 120px;
        }
        min-height: 700px;
        &.image-full-bleed{
            .text-overlay{
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        &.md-height {
            min-height: 470px;
        }

    }
    .hero-banner {
        .text-overlay .container {
            max-width: $max-width;
        }
    }
}

/* Mobile */
@media (max-width: $screen-sm-min) {
    .component-hero-banner{
        .container {
            padding: 0 20px;
        }
        .flex-container {
            display: block;
            .flex-align-center {
                text-align: left; 
            }
        }
    }
}
