<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9487;&#9473; ${resource.name} &#9473;&#9491;</span>
<sly data-sly-test.pageUri="${request.scheme}://${request.serverName}${request.requestURI}" />

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.all @ categories='social-share'}"/>
<div id="ShareThisModule">
        <div class="share-icon">
            <i class="fa fa-share-alt share-font-icon"></i>
            <b>SHARE</b>
        </div>
    <ul id="SharethisItems">
        <li data-sly-test=${!properties.hideinfb}><a href="https://www.facebook.com/sharer/sharer.php?u=${pageUri}" target="_blank" class="facebook"><span class="st_facebook_custom" displaytext="Facebook" st_processed="yes"><i class="fa fa-facebook"></i></span></a></li>
        <li data-sly-test=${!properties.hideintwitter}><a href="https://twitter.com/intent/tweet?text=${currentPage.description}&source=sharethiscom&related=sharethis&via=Gigamon&url=${pageUri}" target="_blank" class="twitter"><span class="st_twitter_custom" displaytext="Tweet" st_via="Gigamon" st_processed="yes"><i class="fa fa-twitter"></i></span></a></li>
        <li data-sly-test=${!properties.hideinli}><a href="https://www.linkedin.com/shareArticle?mini=true&url=${pageUri}&title=${currentPage.title}&summary=${currentPage.description}&source=Gigamon" target="_blank"><span class="st_linkedin_custom" displaytext="LinkedIn" st_processed="yes"><i class="fa fa-linkedin"></i></span></a></li>
    </ul>
    </div>
