<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>American Business Award Finalist (2010)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-513" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>New Products &amp; Product Management Categories - 2010 Honorees</p>
          <p>The following have been recognized in The 2010 (8th annual) American Business Awards. Click the titles of the Stevie Award-winning nominations to read the full text.</p>
          <p>People's Choice Stevie Awards for Favorite New ProductsIn addition to peer-review judging, every new product or service nominated in The American Business Awards was automatically included in voting for the People's Choice Stevie Awards for Favorite New Products. More than 150,000 votes were cast by the general public from May 13 through June 4, and the winners were honored at the ABA awards banquet in New York on June 21. Congratulations to the 2010 People's Choice Stevie Awards for Favorite New Products winners:</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>