<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Amid Tight IT Budgets, Gigamon Delivers Millions In Savings For CIO's</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-28" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/cio-budget-roi-pr.pdf" target="_blank">cio-budget-roi-pr.pdf </a> (27 KB pdf file)</p>
          <p>Silicon Valley, CA - March 03, 2009 - Gigamon™, the global leading provider of intelligent data access networking products, today announced its innovative Data Access Network (DAN) can help reduce capital outlay for critical monitoring projects. As a case in point, two recent customers were able to save $2.71 million and $1.43 million, respectively. The cases are real-world examples of how CIO's and CSO's can stretch already-tight IT budgets using the Gigamon approach to do more with less by aggregating data sources and consolidating monitoring tools.</p>
          <p>Gigamon’s DAN system facilitates and streamlines the intelligent, centralized deployment of monitoring tools, enhancing the ability of tools to work more effectively and accurately. At the heart of the solution is a unique hardware-based data access switch, the GigaVUE™, which is packet-aware and can divide traffic and distribute packets at line rate to any number of different GigE or 10GbE monitoring tools.</p>
          <p>GigaVUE switches can aggregate and filter traffic to ensure that each tool gets the exact information it needs, at its optimal data rate. The ROI is achieved through the consolidation and centralization of monitoring tools, thereby reducing the capital cost of a substantially larger distributed tool deployment and correspondingly reduce management, maintenance and energy costs.</p>
          <p>Two recent cases underscore the savings:</p>
          <p>One of the world’s largest ISP's offering VoIP services needed to monitor 48 10G links real time, 24x7. The GigaVUE solution allowed significant consolidation of the probes. The customer realized a $2.71 million in savings over the original strategy. A large enterprise customer needed to record discrete application transactions from very high speed connections at several of its data centers. After receiving a proposal that included hundreds of monitoring probes totaling $1.8 million to purchase and install, a GigaVUE alternative, calling for less than two dozen probes and the GigaVUE DAN solution, was submitted and adopted. Total cost was $400,000 for a savings of $1.4M from the original proposal. In both cases, multiple 10GbE and 1GbE links needed to be monitored simultaneously and large numbers of tools would have been required. Also, there was a strong need to connect and disconnect tools on the fly. By working closely with the monitoring tool providers, Gigamon was able to complement the monitoring solution with aggregated, filtered traffic from 10GbE and 1GbE links. Not only did the GigaVUE proposals align with customers’ capital budgets, but the companies were also now free to deploy tools with 1 GbE interfaces to higher speed 10GbE links.</p>
          <p>“Gigamon technology can produce substantial savings—orders of magnitude greater than with non-aggregated Matrix Switch, SPAN or TAP strategies,” said Patrick Leong, Gigamon’s chief technical officer. “With most corporate IT budgets flat at best or even declining in 2009, Gigamon’s Data Access Network approach can meet the conflicting tasks of increasing IT performance while stretching investment dollars.”</p>
          <p>“The downturn in the economy has caused corporations to rethink deploying a large numbers of security and network monitoring tools in a global distributed fashion. Gigamon working together with tool suppliers has been very successful meeting the customer’s budgetary demands while providing a more concentrated yet scalable solution,” said Kevin Jablonski, Gigamon’s Senior Director of Business Development.</p>
          <p>Gigamon equipment can support the entire range of monitoring tools and processes including intrusion detection, SOX compliance, forensic recording, VoIP analysis, lawful intercept, system troubleshooting and customer experience. To learn more about Gigamon Data Access Network technology, including a product brief and online presentation on the company’s GigaVUE data access switches, or case studies that describe the specific customer experiences described above, log on to <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>