<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Ananda Rajagopal Joins Gigamon As VP of Product Management</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-45" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Award-Winning Technology Executive Brings Two Decades of Networking, SDN, and Network Visibility Leadership</em></p>
          <p><strong>Santa Clara, CALIF., April 21, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup> Inc. (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced Ananda Rajagopal has joined the company as Vice President of Product Management, bringing more than 20 years of global software, hardware and engineering leadership. Ananda joins Gigamon from Brocade, where he was most recently VP Routing, Product Management &amp; Strategy for their Data Center Switching and Routing business.</p>
          <p>“Ananda is an accomplished technology industry leader, with technical and executive expertise across virtually every sector in which we operate, from cloud infrastructure to SDN and from NFV to network visibility,” said Peter Finter, CMO of Gigamon. “With more than two decades of spearheading solutions and complex emerging technologies for large customers and service providers, Ananda brings a proven high-performance record that will extend Gigamon’s leadership with our solutions for service providers and enterprises.”</p>
          <p>Prior to Gigamon, Rajagopal joined Brocade through the Foundry Networks acquisition where he helped the company achieve significant penetration in the service provider and high-end enterprise markets. Prior to Foundry Networks, Rajagopal was with Ascend Communications, subsequently acquired by Lucent Technologies, where he led Software, Quality and Pre-Sales Engineering teams, and was responsible for the industry’s first IP-DSLAM product that powered many of the early large-scale IPTV deployments in the world. He previously served as a software specialist for Wipro, one of the world’s largest IT outsourcing/staffing consultancies, where he consulted for clients such as Cisco, Sun Microsystems and AT&amp;T. At Cisco, Rajagopal was the software lead for the industry’s first Inverse Multiplexing over ATM (IMA) product.</p>
          <p>“I’m enthusiastic to join a world-class team with unprecedented vision for the industry,” Rajagopal said. “Gigamon is empowering the next generation of pervasive, intelligent network visibility for service providers, enterprises and cloud data centers today. I look forward to building upon Gigamon’s incredible product portfolio to drive the future course of network visibility.”</p>
          <p>Rajagopal holds an MBA in Technology Management from Santa Clara University, as well as a Masters of Technology in Computer Science and Engineering from IIT in Kanpur, India. He received his Bachelor of Engineering in Computer Science and Engineering from University of Mysore in India. Previously, he held positions on the Internet2 Research Advisory Board, Metro Ethernet Forum, and DSL Forum, as well as serving as a voting member of the Institute of Electrical and Electronics Engineers.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>