<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Argyle Data and Gigamon to Deliver Real-Time Fraud Detection and Analytics for Communications Service Providers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-671" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>BARCELONA, Mobile World Congress, (March 3, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a>® Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™, and <a href="http://www.argyledata.com/">Argyle Data</a>, the leader in real-time fraud detection and analytics for data-driven Hadoop organizations in mobile communications and financial services, today announced that the companies are teaming together to deliver fraud detection and revenue protection for communications service providers (CSPs).</p>
          <p>According to the Communications Fraud Control Association’s <a href="http://www.cvidya.com/media/62059/global-fraud_loss_survey2013.pdf"><em>2013 Global Fraud Loss Survey</em></a>, an estimated $46.3 billion annually is lost to fraud, and fraud losses are “growing at a faster pace than global telecom revenues.” The high priority fraud types and methods that cost most to CSPs include roaming fraud, subscription fraud, PBX hacking, VoIP hacking and Wangiri fraud.</p>
          <p>To address these issues, Argyle Data and Gigamon have teamed up to give CSPs a unique solution that offers fraud detection and revenue protection. This gives CSPs the ability to quickly and effectively respond to fraud while ensuring operational stability and performance of the operational network. Easy to use, the solution also enables pervasive traffic visibility of entire network infrastructures and real-time subscriber level insights.</p>
          <p>“We are excited to be teaming with Gigamon to provide a modern way to beat mobile fraud and once again give CSPs the upper hand against criminals,” said Dr. Ian Howells, CMO, Argyle Data. “The combination of Gigamon and Argyle Data allows CSPs to protect both their bottom line and their brand while ensuring the stability and performance of the operational network. Real-time packet level insight is critical in the move from batch to instant response against continually changing advanced attacks.”</p>
          <h4><strong>Using Network Visibility and Monitoring to Eliminate Carrier Fraud – How the Solution Works</strong></h4>
          <p>By using the Argyle Data and Gigamon solution, carriers can leverage several services to gain deep insight of subscribers and content, which enables CSPs to optimize, visualize, extract and react to user behavior.&nbsp;</p>
          <p>First, user and data plane correlation is achieved by the deployment of Gigamon’s GTP correlation GigaSMART® application.&nbsp; GPRS Tunneling Protocol is (GTP) is commonly used to carry mobile data across networks, and includes control plane and user data plane traffic. Visibility into a subscriber’s activity requires the ability to understand the stateful nature of GTP traffic and correlate subscriber-specific session to gain an accurate view of the subscriber’s activities.</p>
          <p>Second, Gigamon’s patented Flow Mapping® technology helps reduce traffic and improve analyzer performance. Flow Mapping is a technology found in Gigamon’s GigaVUE Visibility Fabric nodes that takes line-rate traffic at 1Gb, 10Gb, 40Gb or 100Gb from a network tap or a SPAN/mirror port (physical or virtual) and then optimizes flows based on individual traffic profiles of tools and applications that secure, monitor, and analyze the CSP infrastructure.</p>
          <p>Next, Gigamon’s FlowVUE™ application offers a subscriber-based IP sampling solution that helps carriers turn Big Data into manageable and actionable data.&nbsp; The application enables existing tools to connect to the latest high-speed pipes by providing a representative view of traffic for diagnostics and visualization.</p>
          <p>Lastly, GigaSMART® provides Adaptive Packet Filtering, which provides a powerful filtering engine that identifies content across any part of a packet, including packet payloads.&nbsp; Adaptive Packet Filtering enables filtering based on specific encapsulation protocol parameters, including GTP tunnel ID, VXLAN ID, VN-Tag src/dst vif, and many more, including SSL traffic.&nbsp; In addition, operators also have the capability to look beyond the encapsulation protocols and into the original, encapsulated packet, to filter source/destination IP or Layer 4 port numbers.</p>
          <p>Argyle Data then uses Hadoop to quickly process petabytes of data, including real-time packet based data extracted by Gigamon. Argyle Data’s machine learning algorithms and complex analytics are able to detect fraud in real-time from the massive amount of fast-moving data.</p>
          <p>“Cybercriminals continue to innovate and find new ways to steal from carriers,” said Andy Huckridge, Director of Service Provider Solutions at Gigamon. “The only way to stop these thefts is to leverage pervasive visibility coupled with real-time big data analytics. With Argyle Data and Gigamon, CSPs gain a dynamic, real-time fraud detecting, visibility fabric for their networks.”</p>
          <h3>About Argyle Data</h3>
          <p>Argyle Data is the leader in real-time fraud and security analytics at network speed and Hadoop scale offering solutions for the largest data-driven companies in mobile communications and financial services. Argyle Data offers a real-time fraud and security analytics application built from the ground up on Hadoop using the latest big data, machine learning and anomaly detection technology proven at Facebook and Google. It is able to detect fraud not detected by existing systems, discover fraud in minutes vs. days, discover both new and old fraud attack techniques and dramatically reduce false positives.&nbsp;To learn more, please visit <a href="http://www.argyledata.com/">www.argyledata.com</a>.&nbsp;</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center">###</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, our strategic product initiatives, demand for our product portfolio, benefits for a customer of the joint solution, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended&nbsp;September 27, 2014. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>