<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Breach Security and Gigamon Partner to Provide Enterprises With Best-of-Breed Data Security Technologies</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-21" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/breach-gigamon-data-security.pdf" target="_blank">breach-gigamon-data-security.pdf</a> (39 KB pdf file)</p>
          <p>CARLSBAD, Calif., June 29, 2009 - Breach Security, Inc., the leader in web application integrity, security and PCI compliance, and Gigamon™, a leading global provider of intelligent data access networking products, today announced a partnership to enable large enterprise environments to easily and cost-effectively manage multiple network monitoring tools and traffic, including application-layer activity.</p>
          <p>As hackers become more sophisticated, enterprise organizations have an increasing need to understand the threats and vulnerabilities affecting their data security. In 2008, for example, web attackers unleashed a new type of SQL injection attack that successfully compromised more than 500,000 web sites, according to a recent report. In addition, the report found that SQL injection attacks planting malware on target web sites was the number one security attack for online criminals last year.</p>
          <p>With the growth in the use of web applications for business transactions and the rise in for-profit hacking, organizations use Breach Security web application firewalls for immediate and effective protection for web applications and to provide their security teams with visibility into their applications’ defects, transactions architectures and communications.</p>
          <p>Enterprise environments often need to deploy and manage multiple monitoring solutions, such as Breach WebDefend, across their network. Accessing massive amounts of data from multiple network segments with tools on each segment of interest is not only an arduous 24x7 task, it is also cost-prohibitive. Gigamon offers a comprehensive solution that can access any data from any segment, anytime at any speed including 10G connections. The Gigamon solution has the capability to aggregate data from multiple connections, filter specific information within the data stream and direct it to security devices such as WebDefend for comprehensive analysis of specific data traffic.</p>
          <p>Gigamon’s ability to aggregate, filter and divide the substantial amount of information flowing through an enterprise network and deliver a customized data stream with easier to identify data flows at more manageable data rates enables Breach’s n-Tier multi-sensor deployment methodology to keep up with high traffic volumes in large enterprise sites.</p>
          <p>“Gigamon enables greater tool efficiency and immediate ROI by connecting any number of network monitoring tools with custom filtering to multiple access points,” said Kevin Jablonski, Senior Director, Business Development, for Gigamon. “By partnering with Breach, companies benefit from tighter web application security amidst broader network security monitoring activity.”</p>
          <p>“Gigamon and Breach’s partnership combines two best-of-breed technologies for the benefit of better, more effective enterprise-level security with unlimited scaling capabilities,” said Sanjay Mehta, senior vice president for Breach Security.</p>
          <h3>About Breach Security</h3>
          <p>Breach Security, Inc. is the leading provider of real-time, continuous web application integrity, security and compliance that protects sensitive web-based information. Breach Security’s products protect web applications from hacking attacks and data leakage, and ensure applications operate as intended. The company’s products are trusted by thousands of organizations around the world, including leaders in finance, healthcare, ecommerce, travel and government. For more information, please visit <a href="http://www.breach.com">www.breach.com</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>