<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Broadband Technology Report Four Diamond Technology Review Award (2012)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-510" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>Monitoring and management tools are only as good as the traffic they can see, Gigamon says. What is believed to be the best location for connecting tools could change given the dynamic nature of the network. The GigaVUE H Series sends any packet to any destination, providing the appropriate network traffic to the monitoring tools.</p>
          <p>The company's Flow Mapping packet distribution technology aggregates, replicates and filters traffic flows, which allows for dynamic connectivity for 40G, 10G, or 1G monitoring, compliance and archival tools. These include intrusion detection systems, protocol analyzers, deep packet inspection analyzers, VoIP and MPEG Video Analyzers, application and network performance monitors, and stream-to-disk data recorders.</p>
          <p>Fabric nodes acquire and map traffic from multiple data sources under one of the following scenarios: filtering and mapping (any-to-any), aggregation (many-to-any), multicasting (any-to-many). In other words, once data is acquired from multiple mirror/SPAN ports or TAPs, it can be multicast to multiple tools, aggregated to a few consolidated tools, and filtered or divided across many instances of the same tools.</p>
          <p>The Diamonds judges noted that backbone visibility is "crucial to allow operators to make the best decisions toward configuration edits and upgrades," and applauded the Flow Mapping technology as being vital for collecting the "analytics needed to adjust designs quickly and plan long-term solutions."</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>