<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>CME Group Selects Gigamon Visibility Platform on Amazon Web Services</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1691" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Gigamon enables CME Group to gain cloud visibility for optimized performance, security and business efficiencies</em></h2>
          <p>Santa Clara, Calif., (January 18, 2017) – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the industry leader in traffic visibility solutions, announced today that CME Group, the world’s leading and most diverse derivatives marketplace, has selected Gigamon Visibility Platform on Amazon Web Services (AWS). The Gigamon solution delivers pervasive visibility to data-in-motion within the exchange’s Virtual Private Cloud (VPC) deployed in AWS.</p>
          <p>The Gigamon Visibility Platform on AWS is the first data-in-motion visibility platform for the cloud that enables organizations to gain consistent insight and access across their corporate infrastructure to manage workloads and applications as they scale to the cloud. Cloud architects, security operations and DevOps teams can now realize deep visibility regardless of infrastructure location, whether owned on-premise or deployed in the cloud, providing them with the same visibility required to perform content inspection and secure their mission-critical workloads in a hybrid world.</p>
          <p>In a public cloud Infrastructure-as-a-Service (IaaS) deployment, the IaaS user is still responsible for their applications and application data security. The Gigamon Visibility Platform on AWS enables organizations to use a standardized approach to gain access to network traffic in an AWS VPC. Gigamon’s solution enables users to send traffic from Amazon EC2’s to multiple tools on demand, a capability which was not previously available.</p>
          <p>“One of CME Group’s top priorities is ensuring we are ahead of the curve when it comes to protecting the integrity of our data,” said Kevin Kometer, Chief Information Officer for CME Group. “The Gigamon Visibility Platform allows us to benefit from the cost efficiencies and security of a cloud solution, while standardizing our solutions across our cloud and on-premise solutions.”</p>
          <p>“We are pleased to be working with CME Group to support their visibility strategy into AWS,” said Ananda Rajagopal, Vice President of Products at Gigamon. “Our Visibility Platform enables many large enterprises like CME Group to take full computing and economic benefits in migrating mission-critical applications and workloads in a hybrid world.”</p>
          <p>For more information on Gigamon Visibility Platform on AWS and technical specifications, visit our solutions <a href="/products/public-cloud-aws">page</a>.</p>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into data-in-motion network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a>, or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><em>Legal Notice Regarding Forward Looking Statements</em></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Visibility Platform on AWS and projected growth for public cloud services market. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Judy Kaneko <br>Gigamon <br>M. 669-600-1602 <br><a href="mailto:Judy.kaneko@gigamon.com" target="_blank">Judy.kaneko@gigamon.com</a></td>
              <td>Melissa Chadwick <br>Merritt Group for Gigamon <br>M. 571-382- 8513 <br><a href="mailto:Chadwick@merrittgrp.com" target="_blank">Chadwick@merrittgrp.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>