<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Deeper and Stronger: Gigamon Demonstrates Commitment and Launches Enhanced Partner Program for Value Added Resellers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-621" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Enhancements Gives Partners Access to Significant Resources and New Opportunities in High Growth Market Space </em></h2>
          <p><strong>Santa Clara, CALIF., Jan 13, 2015</strong> – <a href="/">Gigamon®</a> (NYSE: GIMO), a leader in traffic visibility solutions with its innovative Unified <a href="/visibility-fabric-architecture">Visibility Fabric™</a>, today announced the launch of the Gigamon Partner Program, a worldwide channel program that rewards and enables value added reseller (VAR) partners. Key new program features include a range of incentives and financial benefits, sales and technical certifications, sales enablement tools and access to marketing resources.</p>
          <p>Reinforcing the Company’s deeper and stronger commitment to its channel partners, the Gigamon Partner Program aligns resources, expertise and investments with partners who are committed to working closely with Gigamon to build successful practices around Gigamon’s market-leading visibility and security solutions. This new program recognizes the value of supporting the development of the VAR’s business with the introduction of expanded market development funds and significant investments in training programs. Additional enhancements to the program allow Gigamon to work jointly with partners to develop expertise, build awareness, and create demand in Gigamon’s significant high growth market.</p>
          <p>“Our channel partners are a valued extension of our Gigamon sales force,” said Gigamon CEO Paul Hooper. “As our market continues to develop, our enhanced VAR Partner Program will enable participating channel partners to leverage Gigamon’s differentiated technology with existing and future customers to support their evolution to the next generation business infrastructure.”</p>
          <p>The new Gigamon Partner Program includes:</p>
          <p><strong>Channel Enablement -</strong> The Gigamon Partner Program is designed to equip partners for success. Gigamon provides its partners with solutions to help drive incremental revenue through comprehensive pre- and post-sales training certifications as well as marketing, sales and technical tools that help drive success in competitive situations.</p>
          <p><strong>Channel Development -</strong> The Gigamon Partner Program is designed around a highly channel centric sales model. Joint business planning is at the heart of the partnership development model, supported by Gigamon’s worldwide Inside and Field-based sales teams. In addition, support is provided for joint marketing initiatives, including lead generation and market awareness programs.</p>
          <p><strong>Channel Rewards -</strong> Gigamon Partner Program members that demonstrate a strong commitment to Gigamon will receive generous benefits designed both to accelerate future revenue growth and reward current success.</p>
          <p>“Partners are key to establishing scale and vital to Gigamon’s operations,” added Gigamon Vice President of Worldwide Channel Sales, Scott Sullivan. “We’ve been listening to our partners and have evolved our program as an expression of our ongoing commitment to their success. We will continue to enhance the program to provide partners with access to our expertise and new opportunities in this high growth market.”</p>
          <p>The introduction of the Partner Program has been well received by key industry experts and analysts, among them Kevin Rhone, Director of ESG’s Channel Acceleration Practice, who commented: “Solution Providers are adapting to transform their businesses today to match changing IT consumption models, and look to vendors to help them as they expand beyond their traditional comfort zones. Gigamon’s new Partner Program comes with a significant commitment of people and resources on the part of the company to engage, support and reward those partners who invest to grow their Gigamon business. In our view, the redesigned package of financial rewards are set up in just the right way to motivate partner investment in developing the same technical, sales and services skills that are critical for growth and partner profitability. Gigamon partners should be very excited!”</p>
          <p>Rhone’s views were echoed by Gigamon partners: “Working closely with Gigamon, channel partners are a critical component in their supply chain,” commented Mike Nowlan, Vice President – Security, Virtualization and Networking, at Arrow. “This enhanced program makes Gigamon a very attractive proposition, both for existing and potential partners. We’re excited about the potential to grow Gigamon’s partner ecosystem.”</p>
          <p>“We at Comsource are excited about the new Gigamon partner program and the value it brings to our organization,” added Ryan Hyary, CTO at Comsource, Inc. “Gigamon's investment in its partner portal and online training tools allowed my team to come up to speed quickly, enabling us to articulate the value proposition of Gigamon's Visibility Fabric to our customers.”</p>
          <p>“As an IT systems integrator and solution provider that focuses on providing our customers greater visibility into what is going on inside of their network, I have always been excited about our partnership with Gigamon,” said Justin T. Smith, President and COO of Brite Computers. “However, the launch of Gigamon’s new Partner Program has once again increased my enthusiasm and commitment to our relationship. A very channel friendly organization to begin with, Gigamon has taken it to the next level by committing even further to partners that commit to them. It’s definitely a win-win relationship in my opinion.”</p>
          <p>David Watkins, VP Alliances &amp; Channels – Americas, Dimension Data, commented: “Dimension Data is pleased to be part of the Gigamon 2015 Partner Program, as it is enhanced to even further accelerate our strategic partnership. The completeness of program elements expanding across training, engagement protection and marketing resources, to name a few, demonstrates Gigamon’s commitment to its partners. It is clear, partner success is important to Gigamon.”</p>
          <p>"We are excited to see Gigamon take the next step in their channel program. Supporting partners with increased access and resources will drive our success to new levels. The new program is poised to enable and optimize larger opportunities and increased revenue," said Luis Palacio, Vice President of Vendor Relations at FishNet Security.</p>
          <p>For more information on Gigamon’s Partner Program, visit<br><a href="/reseller-partners/become-a-partner">www.gigamon.com/reseller-partners/become-a-partner</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <h3><em>Legal Notice Regarding Forward Looking Statements</em></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution and benefits of our channel partner program. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended September 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>