<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Discover the Gigamon Visibility Platform to “See More and Secure More” at RSA 2017</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1726" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <div class="pressrelease">
           <h2><em>Company to showcase its security delivery platform, featuring inline SSL/TLS decryption and Visibility Platform for hybrid cloud solutions</em></h2>
           <p>Santa Clara, Calif. and San Francisco, Calif. (February 13, 2017) - <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, invites <a href="https://www.rsaconference.com/events/us17" target="_blank">RSA Conference 2017</a> attendees to attend an engaging lineup of events and presentations from our technology experts and security ecosystem partners.</p>
           <p>Gigamon is changing the security landscape and enabling organizations to “See More and Secure More.” We’re working with leading security and cloud companies to help enterprises more efficiently and effectively defend against threats.</p>
           <p><strong>Visit Gigamon @ RSA 2017 starting Tuesday, February 14<sup>th</sup>, through, Thursday, 16<sup>th</sup>, at Expo booth S1523, South Hall</strong>, Moscone Convention Center, San Francisco. Full details can be found <a href="https://insight.gigamon.com/RSAConference2017.html" target="_blank">here.</a></p>
           <h3 class="pressrelease-rsac">Here is our full RSAC agenda:</h3>
           <p>Gigamon invites RSA attendees, media, analysts and influencers to attend our influential CSO panel titled <strong>“<em>Machine vs. Machine: The New Security Paradigm,</em>”</strong> discussing how artificial intelligence (AI) and machine learning are the wave of the future. Our <strong>“Modern Cyberwarfare: Streamlined Solutions for the Public Sector”</strong> panel provides insightful topics and use cases from an esteemed panel of experts.</p>
           <p class="pressrelease-rsa"><strong><em>Breakfast Panel: Modern Cyberwarfare: Streamlined Solutions for the Public Sector</em></strong></p>
           <p class="pressrelease-rsa-see-more">Wednesday, February 15, 2017, 7:30 – 10 am <br>The Four Seasons Hotel, Veranda Ballroom A <br>217 Stevenson Street, San Francisco <br>Register <a href="https://insight.gigamon.com/17Q1_NA-US_RSA-FederalBreakfast.html" target="_blank">here</a>.</p>
           <p class="pressrelease-pan-mod">Moderator: Simon Gibson, CISO and Security Fellow, Gigamon</p>
           <p class="pressrelease-rsa pressrelease-pan-mod">Panelists:</p>
           <p class="pressrelease-rsa-see-more">Tony Cole, VP/Global Government CTO, FireEye <br>John Chirhart, Federal Technical Director, Tenable <br>Finn Ramsland, Engineering and Technology Director, ClearShark <br>Mike Ward, Federal Engineering Director, Palo Alto Networks <br>Michael Whitaker, Sr. Solutions Engineer, Gigamon</p>
           <p class="pressrelease-rsa"><strong><em>CSO Luncheon Panel: Machine vs. Machine: The New Security Paradigm</em></strong></p>
           <p class="pressrelease-rsa-see-more">Wednesday, February 15, 2017, Noon – 2 pm <br>The Four Seasons Hotel, Veranda Ballroom A <br>217 Stevenson Street, San Francisco <br>Register <a href="https://insight.gigamon.com/17Q1_NA-US_RSA-CISOPanelLunch.html" target="_blank">here</a>.</p>
           <p class="pressrelease-pan-mod">Moderator: Bob Bragdon, Publisher, CSO Magazine</p>
           <p class="pressrelease-rsa pressrelease-pan-mod">Panelists:</p>
           <p class="pressrelease-rsa-see-more">Sean Cordero, Senior Executive Director Office of CISO, Optiv <br>Justin Harvey, Security Managing Director and Global IR Leader, Accenture <br>Jack Leidecker, Head of Information Security &amp; IT Compliance, Digital Reality <br>Janet Levesque, CISO, RSA <br>Shehzad Merchant, CTO, Gigamon</p>
           <p>Follow @Gigamon, @RSAConference, and #RSAC Twitter for the latest updates from the event.</p>
           <h3>Gigamon</h3>
           <p>Gigamon (NYSE: GIMO) provides active visibility into data-in-motion network traffic, enabling organizations to see more and secure more with stronger security and superior performance. Gigamon Visibility Platform and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a>, or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
           <p align="center"># # #</p>
           <h3>Media Contacts:</h3>
           <div class="table-responsive table-section">
            <table class="table">
             <tbody>
              <tr>
               <td>Judy Kaneko <br>Gigamon <br>M. 669-600-1602 <br><a href="mailto:Judy.kaneko@gigamon.com" target="_blank">Judy.kaneko@gigamon.com</a></td>
               <td>Melissa Chadwick <br>Merritt Group for Gigamon <br>M. 571-382- 8513 <br><a href="mailto:Chadwick@merrittgrp.com" target="_blank">Chadwick@merrittgrp.com</a></td>
              </tr>
             </tbody>
            </table>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>