<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Frost &amp; Sullivan Best Practices Award (2008)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-514" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Palo Alto, Calif. — April 7, 2008</strong>— Based on its recent analysis of the World Monitoring Market, Frost &amp; Sullivan recognizes Gigamon Systems™ (Gigamon) with the 2008 Global Frost &amp; Sullivan Emerging Company of the Year Award for strategically positioning itself to become a significant data access equipment manufacturer within the global monitoring market.</p>
          <p>Gigamon has earned significant revenues and growth since shipping its first product in 2005 by solving real problems and saving money for large telecom and enterprise network managers. Gigamon offers a new best practice for deploying multiple monitoring tools by creating the Data Access Network which unobtrusively links test and monitoring tools to the traffic in the networks.</p>
          <p>“By enabling the non-intrusive and comprehensive monitoring of mission critical data networks, Gigamon has succeeded in serving its telecommunications and enterprise clients while reducing the overall complexity typically associated with monitoring and security,” says Frost &amp; Sullivan Research Analyst Juan Rosales. “Furthermore, the partnerships that Gigamon has developed with a variety of tool vendors have led to a significant increase in year-over-year revenues while sustaining an annual growth rate in excess of 30 percent.”</p>
          <p>The company delivers the GigaVUE™ Data Access Switch. The modular GigaVUE switch is an out-of-band intelligent data access networking (DAN) switch used by large telecom and enterprise networks. This switch addresses the issue of “too many tools and not enough ports” by providing dynamic connectivity for “out-of-band” monitoring tools such as intrusion detection systems, sniffers, voice over Internet Protocol (VoIP) analyzers, application monitors, and data recorders.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>