<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Solutions Monitors National Center for Supercomputing Applications</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-64" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>SILICON VALLEY, Calif., July 19, 2011-- <a href="http://www.gigamon.com/">Gigamon<sup>®</sup></a>,the world's leading provider of Traffic Visibility Networking solutions, has been selected by the National Center for Supercomputing Applications (NCSA) to deliver powerful network visibility products for its 'Blue Waters' project. Gigamon's Intelligent Data Access Networking technology will enable researchers to greatly enhance the scalability and security of their network infrastructure, increasing their productivity and as a result, reduce the time required to deliver breakthrough research.</p>
          <p>The objective of the NCSA Blue Waters' project is to deliver a supercomputer capable of processing 1 quadrillion calculations per second (one petaflop). The project is a combined effort between the National Center for Supercomputing Applications at the University of Illinois, Urbana-Champaign, IBM and the Great Lakes Consortium for Petascale Computation. The project is also supported by the National Science Foundation.</p>
          <p>As the Blue Waters project progressed, the security team at NCSA realized their existing technology would not support the higher speed 10Gbps network connections required for the remote collaboration between the project researchers. The team turned to Gigamon's GigaVUE-2404 intelligent data access switch to enable centralized monitoring for their higher performance network.</p>
          <p>Using the GigaVUE® solution as their cornerstone, the security team at NCSA developed a robust monitoring architecture that allows them to aggregate multiple 10Gbps connections between the border routers/WAN, balance the aggregated traffic load, provide active failover, and replicate the traffic to existing Bro IDS and Netflow tools, ensuring that all network traffic is visible to the centralized security suite.</p>
          <p>"With Gigamon appliances, NCSA is able to protect its cyber infrastructure to best serve the researches who use that cyber infrastructure to advance science and engineering," said Mike Dopheide, Security Engineer at NCSA.</p>
          <p>"Gigamon is proud to have been selected for one of this nation's most important computing projects," said Ted Ho, company Co-Founder and CEO. "Network scalability, information security and data visibility are of the utmost importance in advanced networking projects like Blue Waters, and this is specifically why we created our Intelligent Data Access Networking Technology."</p>
          <p>For more information about Gigamon or GigaVUE appliances, please visit the website at <a href="http://www.gigamon.com/">www.gigamon.com</a>, or call (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>