<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Gerard Allison to Vice President of EMEA</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1684" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Respected industry leader brings two decades of experience to Gigamon’s growing global operations</em></h2>
          <p>Santa Clara, Calif. and Reading, UK (January 10, 2017) - <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that Gerard Allison has joined Gigamon as Vice President of EMEA. Allison will be responsible for overseeing all operations in EMEA, including driving a coordinated sales, channel, technical and marketing team to accelerate market development in the region.</p>
          <p>“Having a leader with a proven track record to guide our EMEA operations is crucial as we continue to expand and strengthen our global presence,” said Helmut Wilke, Senior Vice President of Worldwide Sales at Gigamon. “Gerard’s unmatched understanding of the EMEA market and deep understanding of the industry will help us further solidify our footprint internationally.”</p>
          <p>Gerard brings to Gigamon more than 20 years of experience in technology industry sales leadership and channel management, including nearly a decade of expertise in the EMEA market. Prior to joining Gigamon, Gerard spent 12 years with Juniper Networks. He held a variety of sales roles from Channel Director for UK, Ireland, Middle East and Africa to his most recent position as Senior Vice President of EMEA Sales, where he was responsible for the structure, management and performance of Juniper’s Service Provider, Enterprise, Channel and Commercial business across the region. Allison also spent three years serving as UK Country Manager for Netscreen Technologies Inc., as well as held other sales and channel roles at companies including Open Capital Plc, Wall Data Inc, and Borland Ltd.</p>
          <p>“I’m thrilled with the chance to work with such a well-respected and rapidly growing organization such as Gigamon,” Allison said. “Gigamon is known for their industry innovation and market-leading data-in-motion visibility solutions. I’m honored to have the opportunity to drive true business growth in the EMEA region.”</p>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into data-in-motion network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>™</sup> and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn,</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><em>Legal Notice Regarding Forward Looking Statements</em></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to our expectations regarding future performance in the EMEA region. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>