<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Paul Shinn as General Counsel</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-114" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Former Hewlett-Packard Vice President and Associate General Counsel Brings Extensive Legal Experience to Gigamon</em></p>
          <p><strong>Silicon Valley, Calif., May 14, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a world leader in Traffic Visibility solutions, today announced that Paul Shinn has joined the company as General Counsel. As part of Gigamon's executive team, Shinn will report to Chief Executive Officer, Ted Ho. Shinn will be responsible for the Company's global legal strategy and overall legal matters, including contract negotiations, strategic acquisitions, compliance, securities, and intellectual property matters. He joins Gigamon from <a href="http://www.hp.com/">Hewlett-Packard Company</a>.</p>
          <p>“Gigamon is committed to building a strong and experienced leadership team that can take the company forward into a new era,” commented Ted Ho. “We are extremely pleased to have Paul join our company. He brings a wealth of experience and a solid understanding of corporate, intellectual property and legal issues affecting the technology industry, and will be a valuable addition to our executive team.”</p>
          <p>Prior to joining Gigamon, Shinn served as Vice President and Associate General Counsel of HP’s Enterprise Group, where he was responsible for driving legal strategy and support across multiple disciplines. He has also held senior legal roles in commercial and corporate, securities and mergers &amp; acquisitions at HP. Prior to joining HP, Shinn was senior counsel at Wilson Sonsini Goodrich &amp; Rosati. Shinn received his undergraduate degree from the University of Norte Dame and earned his J.D. from the Santa Clara University School of Law.</p>
          <p>“I’m thrilled to join a visionary, market-energizing company like Gigamon,” said Shinn. “The company has accumulated numerous award wins, has achieved impressive growth since its founding when it pioneered the development of the Visibility Fabric. I’m delighted to be part of such a dynamic and visionary team.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>