<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces New Visibility Fabric Innovations for 40Gb Networks, Security and Mobile Service Providers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-717" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2>New Edge Node and Software Release Demonstrates Ubiquitous Applicability of Unified Visibility Fabric</h2>
          <p><strong>Santa Clara, Calif., (April 21, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™, today announced a new high-density edge node, the <a href="/sites/default/files/resources/datasheet/ds-gigavue-ta-series-traffic-aggregation-4042.pdf">GigaVUE-TA40</a> for visibility into 40Gb networks, and a suite of new <a href="/products/gigavue-os">GigaVUE-OS™</a> capabilities that further enhance the breadth of the Unified Visibility Fabric. The new capabilities span a broad spectrum, including, expansion of its security offerings in the areas of inline bypass and privacy safeguards, introduction of a unique whitelisting capability for mobile service providers, and general availability of GigaVUE-OS on select third party white box switches from Quanta Cloud Technology (QCT).</p>
          <p>“As network architects race to deploy next-generation networks for enterprise, data center and service provider environments, they are simultaneously challenged to maintain pervasive visibility of their network traffic – both physical and virtual,” said Ananda Rajagopal, vice president of product line management at Gigamon. “The enhancements that we announced today provide architects and admins the ability to see more, secure more and do more with their network and traffic that it transports.”</p>
          <h3><strong>Gigamon Traffic Aggregation Nodes – Gateways to Visibility</strong></h3>
          <p>To address traffic visibility gaps and challenges inherent with network upgrade cycles, Gigamon today unleashed its most powerful traffic aggregation (TA) node, the GigaVUE-TA40. Ideal for large-scale enterprise edge deployments or high-volume data centers migrating to 40Gb, the GigaVUE-TA40 sports 32 x 40Gb ports in a 1 RU form factor, allowing for the connection of multiple SPAN/TAP traffic feeds into 40Gb uplinks that feed the core of the Visibility Fabric. When combined with 40Gb BiDi TAPs and optics, this solution is especially relevant to Cisco customers migrating to 40Gb networks or deploying Application Centric Infrastructure (ACI) who need pervasive visibility into advanced architectures.</p>
          <p>Powered by GigaVUE-OS, the <a href="/products/gigavue-os-white-box">software that powers the Visibility Fabric</a>, the new GigaVUE-TA40 inherits all built-in Fabric Services, such as patented Flow Mapping® and can be clustered with core nodes to gain access to rich traffic intelligence provided by GigaSMART packet functions and applications, such as SSL Decryption, NetFlow Generation, De-duplication, and more.</p>
          <h3><strong>You Can’t Secure What You Can’t See</strong></h3>
          <p>Gigamon is bolstering its security capabilities with today’s introduction of copper inline bypass that complements the existing fiber inline bypass capabilities on the GigaVUE-HC2.&nbsp; This provides 1GbE fail-safe access ports for inline security appliances, such as intrusion prevention systems, next-generation firewalls, secure email gateways, and other inline security systems that need to be inline with networks that still have a 1Gb copper infrastructure.</p>
          <p>To ensure data privacy, Gigamon has enhanced its Adaptive Packet Filtering (APF) GigaSMART application with the ability to perform pattern match-based masking. This allows for any sensitive data, such as credit card or personal identifiable information to be identified anywhere in the network traffic and then masked with a functional substitute, helping address compliance and regulatory requirements.</p>
          <h3><strong>Enabling Mobile Service Providers to Attach Value-Added Services to Premier Subscribers </strong></h3>
          <p>As adoption of 4G and LTE networks expands and volume of traffic in these networks grows, mobile service providers are grappling with the growing costs and challenges of customer experience management. Gigamon has introduced a unique mechanism that allows mobile providers to gain per-subscriber visibility using whitelists. Combined with the pre-existing GTP Correlation capability in the Visibility Fabric, mobile carriers can now create custom whitelists of specific subscribers using their IMSI (International Mobile Subscriber Identity) that can be used to identify security threats to a specific subscriber, attach value-added services to a specific subscriber, or conduct real-time analytics for a premium subscriber.</p>
          <h3><strong>General Availability of GigaVUE-OS on Third Party White Box</strong></h3>
          <p>Earlier this year, Gigamon announced its plans to make its software, GigaVUE-OS available on select third party white box hardware.&nbsp; The new release of GigaVUE-OS is now certified to run on QuantaMesh BMS T3048-LY2R, a 10GbE bare metal switch from Quanta Cloud Technology (QCT) and is now generally available.</p>
          <h3><strong>Pricing &amp; Availability</strong></h3>
          <p>The GigaVUE-TA40 and the new enhancements to the GigaVUE-OS software are available now from authorized Gigamon channel partners.&nbsp; List price for the GigaVUE-TA40 starts at $29,995.&nbsp; The new software updates to GigaVUE-OS and the new GigaSMART application enhancements are available at no additional charge to existing customers with a valid support and maintenance contract.</p>
          <h3><strong>About Gigamon</strong></h3>
          <p>Gigamon provides an intelligent <a href="/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>