<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon and Corvil Collaborate to Enhance Operational Performance Monitoring in High Performance IT Infrastructures</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-101" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Partnership Utilizes Precise Time Stamping for Cross Platform Correlation of Events</em></p>
          <p><strong>Silicon Valley, CALIF., June 26, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>(NYSE:GIMO), a leader in traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announces that <a href="http://www.corvil.com/">Corvil</a>, a provider of IT monitoring systems for high performance businesses, now supports Gigamon’s GigaVUE HD Series time stamping solution. Accurate time stamping is critical for correlation of network events, optimal network analysis and faster application troubleshooting in high performance enterprise IT environments. Through this combination of <a href="http://www.corvil.com/Products.aspx">CorvilNet Operational Performance Monitoring</a> and Gigamon time stamping technology, accurate time stamping detail can be used in high speed data capture, distributed transaction-application network monitoring and real-time business analysis.</p>
          <p>Gigamon’s GigaPORT-X12-TS blade for the GigaVUE HD Series offers hardware-based, nanosecond-accurate time stamping, enabling IT organizations to optimize networks for all types of traffic including high frequency trading (HFT) communications. The time stamping feature precisely synchronizes data to enhance Quality of Service (QoS) analysis and overcomes port latency issues, improving network analysis, jitter evaluation, and overall infrastructure performance management. Gigamon’s Visibility Fabric Nodes are designed to work together to create a pervasive Visibility Fabric architecture and provide a view into physical, virtual, and, eventually, software-defined networks (SDN).</p>
          <p>“Corvil’s support of Gigamon’s time stamping technology allows Gigamon to provide our customers with versatile, cost-effective and far-reaching solutions,” said Tara Reeve, director of strategic alliances at Gigamon. “By utilizing Gigamon’s highly accurate and scalable time stamping functionality in conjunction with Corvil’s Operational Performance Monitoring, we are able to provide network managers with a swift and accurate solution to troubleshoot low latency applications and high performance networks. Thereby allowing them to achieve real-time, deep analysis and insight.”</p>
          <p>“The collaboration between Corvil and an advanced technology provider like Gigamon will benefit our mutual customers," said Donal O’Sullivan, vice president of product management at Corvil. "By utilizing Gigamon’s time stamp technology together with Corvil’s Operational Performance Monitoring, customers are able to utilize the enhanced visibility and turn highly-granular performance data into operational and business intelligence in real-time, creating valuable analytics that fuel business performance in trading, financial and other high-performance IT environments."</p>
          <p>For more information, please visit the website at <a href="/gigamon-stac-program">http://www.gigamon.com/gigamon-stac-program</a>, or call (408) 263-2022.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>About Corvil</h3>
          <p>Corvil provides <a href="http://www.corvil.com/Products.aspx">Operational Performance Monitoring (OPM)</a> for IT. The Corvil platform extracts real-time operational intelligence from wire data and uses this intelligence to analyze the performance of IT applications and services, detect and alert on events in real-time and export enriched data for business intelligence and risk management analysis. Customers use Corvil to optimize and safeguard the operational performance of their business processes and services. The Corvil platform uniquely handles the demands of high-performance, low-latency and data intensive IT environments. The company was founded in 2000 and operates from New York, London, Singapore, Tokyo and Dublin. For more information on Corvil please visit <a href="http://www.corvil.com">www.corvil.com</a>.</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our initial public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-182662). The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>