<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Change in Executive Leadership</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-80" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Paul Hooper named chief executive officer </em></p>
          <p><strong>Milpitas, Calif., December 19, 2012</strong>– <a href="/">Gigamon</a><sup>®</sup>, a leading provider of <a href="/traffic-visibility-fabric">Traffic Visibility Fabric</a>™ solutions, today announced changes to the Company's executive leadership team, naming Paul Hooper as the Company’s new Chief Executive Officer. Previously the Company’s Vice President of Marketing and Product Management, Mr. Hooper will replace co-founder Ted Ho who is stepping down as the Company’s Chief Executive Officer.</p>
          <p>“Ted, along with the co-founders, have created a new market, and established Gigamon as one of the leaders of this new segment, by combining incredible engineering innovation and skills with a vision to create a more efficient and effective approach to manage the information traversing networks of today and tomorrow," said Paul Hooper, Gigamon CEO. "I am honored to assume the leadership of Gigamon and take our company to new levels of success.”</p>
          <p>“On behalf of the Board of Directors and everyone at Gigamon, I thank Ted for his insightful leadership, dedication and brilliant engineering skills. Because of Ted’s leadership, Gigamon has helped change the networking industry forever.” said Corey Mulloy, General Partner at Highland Capital Partners and a member of the Gigamon Board of Directors. “With his in-depth knowledge of the company, our industry and our customers, Paul has the right skills and ability to lead Gigamon through the next stage of growth.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/traffic-visibility-fabric">Traffic Visibility Fabric</a> for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>