<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces New Solutions for SSL Visibility and Enhancements for Multi-Tiered Security</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-575" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Announces New Solutions for SSL Visibility and Enhancements for Multi-Tiered Security</strong></p>
          <p><strong>Industry's First Traffic Visibility Solution with Integrated SSL Support Provides Visibility into Emerging Threat Sources</strong></p>
          <p><strong>SANTA CLARA, Calif., Oct. 28, 2014</strong> /PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon®</a> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a>, today announced the upcoming release of a new GigaSMART traffic intelligence application that provides visibility into SSL sessions. The innovative GigaSMART application will be the industry's first and only traffic visibility solution with integrated SSL support, allowing deeper insight into infrastructure blind spots to help expose hidden threats or performance issues.</p>
          <p>Gigamon also announced upcoming enhancements to its 'Active Visibility for Multi-Tiered Security' architecture detailed earlier this year as well as associated upgrades to its Fabric Manager, which will centrally administer all of these capabilities across the Visibility Fabric. These new releases will build on Gigamon's vision of pervasive traffic visibility and will significantly expand its architectural approach to its Visibility Fabric platform.</p>
          <p>Despite 25-35 percent of enterprise traffic being carried over SSL connections, many performance management and security tools today are blind to this growing network traffic segment. According to a Dec. 9, 2013 Gartner report titled "Security Leaders Must Address Threats From Rising SSL Traffic" by Jeremy D'Hoinne and Adam Hils, "Gartner believes that, in 2017, more than half of the network attacks targeting enterprises will use encrypted traffic to bypass controls, up from less than 5% today." Hackers and nefarious actors are now hiding threats, such as the Zeus botnet, in SSL sessions that were once considered safe. Consequently, uncovering attacks hiding in emerging threat sources like SSL sessions is becoming an essential component of enterprise security. With this new GigaSMART application, Gigamon will provide visibility into these sessions to enable network security and analytics tools to detect these threats.</p>
          <p>"SSL sessions are either invisible to security and performance management tools or degrade performance by up to 80% if they are processed by the tools," said Ananda Rajagopal, vice president of product line management at Gigamon. "By delivering SSL decryption as a common service to security and performance management tools, the tools can return to full performance. Further, because SSL is at the heart of today's enterprise infrastructure, endpoints and DMZ servers are potentially exposed to attacks without the right level of traffic visibility."</p>
          <p>The broad spectrum of GigaSMART applications can be 'service chained' together so that multiple visibility services can be performed in combination to address the specific needs of a range of vertical markets. With a central management system controlling all distributed devices, Gigamon customers benefit from lower cost of ownership, higher performance and improved agility.</p>
          <p>Gigamon is also announcing new capabilities for traffic consolidation, load distribution and redundancy to its "Active Visibility for Multi-Tiered Security" architecture, which was announced earlier this year. Using Application Aware Bypass, traffic can now be selectively sent to inline security tools based on specific applications of interest. The efficiency of inline bypass can now be further enhanced with many-to-many and many-to-one traffic consolidation from multiple network links. Other enhancements allow redundancy for serial inline tool configurations to be bolstered with the ability to bypass unhealthy tools without affecting the production network.</p>
          <p>These capabilities are available to order now and will be generally available later this quarter.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a> architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended June 28, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>SOURCE Gigamon<br>MEDIA CONTACT: J.T. Eger, (408) 831-4247, <a href="mailto:jt@gigamon.com">jt@gigamon.com</a>; INVESTOR CONTACT: Cynthia Hiponia and Alice Kousoum, (408) 831-4100, <a href="mailto:IR@gigamon.com">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>