<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Data Access Network Architecture Provides Assured Remedy For SOX/HIPAA Compliance</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-12" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-network-security-sox-hippa-compliance.pdf" target="_blank">gigamon-network-security-sox-hippa-compliance.pdf</a> (28 KB pdf file)</p>
          <p>Silicon Valley, CA - October 28, 2008 - Gigamon™, the leading provider of intelligent data access networking products, today announced that its Data Access Network (DAN) technology, available through its flagship GigaVUE™ line of data access switches, provides a no-worries alternative to the security and audit risks posed by SPAN (Switch Port for Analysis) and TAP (Test Access Port) products. These risks, in many cases, cause companies to be out of compliance with requirements imposed by federal Sarbanes-Oxley (SOX) and Health Information Portability and Accountability Act (HIPAA) mandates.</p>
          <p>“Nearly every corporate data network requires some form of data tap for intrusion protection or troubleshooting purposes. Trouble is, tap ports are unmanaged and can be used to steal sensitive network information without a trace. Even authorized Analyzers and sniffers using SPAN or TAP technology can reveal more information than is required for federal compliance purposes,” said Patrick Leong, Gigamon’s chief technical officer. “Because IT staff can potentially capture emails, VoIP streams and other confidential sources of information along with ‘neutral’ network data, companies using SPANs and TAPs are left open for SOX or HIPAA violations.”</p>
          <p>According to a recent report from Audit Analytics, 14.4% of Section 404 filers were found to have material weaknesses in their networks. These weaknesses included insufficient ICFR (Internal Control over Financial Reporting) protection—a defect that can be caused by uncontrollable data analysis.</p>
          <p>Strong Solution</p>
          <p>Gigamon DAN technology, by contrast, provides the necessary controls to assure regulatory compliance. DANs provide a managed and alarmed alternative to span or tap ports. No data is transmitted to any capture tool unless it is authorized by a trusted operator. A DAN intelligently provides exactly the packets needed to carry out the analytical function in question.</p>
          <p>Furthermore, DAN-based GigaVUE access switches may be installed at a single secure location, making them accessible only by authorized personnel. Users can be monitored to assure that only the necessary ports and data are accessed. SNMP traps can be configured to alert network managers of unauthorized attempts to attach capture devices or reconfigure the DAN paths.</p>
          <p>Finally, because GigaVUE switches can be programmed to filter out any data not involved with a troubleshooting task, they offer an audit trail if or when a data security violation occurs, furnishing companies with further proof of control.</p>
          <h3>Award-Winning Solution</h3>
          <p>Gigamon’s DAN technology has earned the Emerging Technology of the Year award in the world monitoring market from Frost &amp; Sullivan. Over 1,900 GigaVUE units are already in use at over 400 telecom, industrial, manufacturing, financial, banking, medical, utility and government networks worldwide. Current users include Apple, Chevron, Cisco, eBay, the U.S. Federal Reserve, Capital One, Deutsche Bank, Royal Bank of Canada, Fidelity Investments, JCPenney, NASA, Northwestern Insurance, the NYSE, Raytheon, Toyota, Sprint, AT&amp;T, Verizon, T-Mobile, Vodafone, NTT, KDDI, and the U.S. Department of Defense, among many others.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>