<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Reseller Agreement with Accuvant</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-131" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley—June 24, 2010 - <a href="http://www.gigamon.com">Gigamon™</a>,</strong> the leading global provider of Intelligent Data Access Networking™, today announced a reseller agreement with Accuvant, a national value-added reseller and research-driven information security consulting organization. By partnering with Accuvant, Gigamon can further extend the availability of its patented, world-renowned technology to enhance network security, risk and compliance solutions.</p>
          <p>“Gigamon continues to experience tremendous growth in all vertical markets. Our solution is in high demand with security and network teams. These teams understand the importance of secure access and complete visibility of all their data anytime and anywhere. Partnering with a world-class reseller like Accuvant allows us to expand our horizons and extend our reach to many more customers. We believe the Gigamon solution will complement and enhance the impressive portfolio of network and security monitoring solutions Accuvant currently provides to its clients,” said Kevin Jablonski, Gigamon’s VP of Marketing and Business Development.</p>
          <p>“Gigamon enables Accuvant to provide its clients with a more robust networking solution that ensures secure access and complete visibility to data anywhere on the network. Through Accuvant, organizations can take advantage of Gigamon’s technology to help meet the needs of the business as it relates to compliance, policy, audit, technical controls, and management of the security environment,” said Doug Lockhart, Director of National Channels &amp; Distribution for Gigamon.</p>
          <p>“By partnering with Gigamon, our customers gain access to some of the world’s most advanced data access technology to enhance their security appliances and solutions,” said Dan Wilson, Accuvant co-founder and vice president of partner alliances. “Gigamon’s powerful line of products, including the <a href="www.gigamon.com/products.php">GigaVUE</a> family, enhances our ability to support our clients as they secure and optimize their IT infrastructure.”</p>
          <p>Accuvant has a nationwide team of technology and sales professionals that are very knowledgeable about Gigamon solutions. They can assist clients deploying, configuring and integrating Gigamon technology in their infrastructure. Accuvant’s expertise will allow clients to reap the full benefits of utilizing Gigamon’s solutions.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>