<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon to Monitor Network Operations Center at Interop Las Vegas 2011</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-73" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Gigamon to Deliver Network Visibility and Data Access Capabilities to InteropNet Concept Showcase; Behind-the-Scenes NOC Blog Updates Provide Sneak Peeks</em></p>
          <p>SILICON VALLEY, Calif., April 26, 2011 PRNewswire -- Gigamon<sup>®</sup>, the world's leading provider of Traffic Visibility Networking solutions, today announced that the GigaVUE-2404<sup>®</sup> and G-TAP<sup>®</sup> product line 2404 have been chosen to provide critical network visibility and data access capabilities for the InteropNet network operations center (NOC) at the Interop Las Vegas 2011 show, May 8-12, at the prestigious Mandalay Bay Hotel and Resort.</p>
          <p>InteropNet is a cornerstone of the Interop event, built in collaboration with an exclusive group of innovative vendors and industry segment engineers. InteropNet provides a reliable, high-speed network backbone serving the exhibitors, conference rooms and attendees at the event. GigaVUE-2404 appliances connected to Gigamon G-TAPs will play a key monitoring enablement role within this completely interoperable concept network. This marks Gigamon's successful return to the InteropNet to provide these critical monitoring activities after the company's last appearance in 2006.</p>
          <p>Additionally, InteropNet veteran John Mattes will represent Gigamon as one of a hand-picked peer group of elite engineers overseeing the implementation. A technical marketing engineer at Gigamon, Mattes will provide exclusive behind-the-scenes blog updates from the NOC trenches over the course of the show and be available to provide tours of the implementation. To follow Mattes and the InteropNet events of the week, please visit <a href="http://gigamon.posterous.com/">http://gigamon.posterous.com</a>.</p>
          <p>Gigamon will be showcasing its line of advanced network visibility and data access appliances at Interop booth #1021, May 8-12.</p>
          <p>For more information about Gigamon, please visit <a href="http://www.gigamon.com/">www.gigamon.com</a>, or call (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>