<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon's NetFlow Generation Application Selected as Leading Lights Finalist</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-41" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Light Reading recognizes NetFlow Generation application as a finalist for Best New Product in 10<sup>th</sup> annual awards program</em></p>
          <p><strong>Santa Clara, CALIF., June 13, 2014</strong> – <a href="/">Gigamon</a>® (NYSE: GIMO), a leader in traffic visibility solutions with its innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced its <a href="/products/technology/netflow-generation">NetFlow Generation</a> application is a finalist in the Leading Lights Awards for Best New Product (telecom). In March, the NetFlow Generation application was recognized as a <a href="/gigamon-selected-as-best-of-interop-2014-finalist">Best of Interop 2014 Finalist</a>.</p>
          <p>Light Reading®, which hosts the awards, is the leading global community-driven media and research business that provides information, analysis, events, consulting and marketing solutions for the communications industry. Limited to 300 exclusive guests, Light Reading will announce winners at the 10<sup>th</sup> Annual Leading Lights Awards on Tuesday, June 17 at The Adler Planetarium in Chicago.</p>
          <p>“The NetFlow Generation application is unique in that it centralizes flow record generation, thereby eliminating blind spots when users, devices and applications move around – which happens quite often in highly dynamic infrastructures,” said Andy Huckridge, director of service provider solutions at Gigamon. “By combining NetFlow generation with sophisticated packet filtering using Gigamon’s patented Flow Mapping® technology, communications service providers can generate targeted NetFlow records to monitor their networks and help ensure a high-quality end user experience and accurate billing. We’re excited that Leading Lights, one of the communications technology industry’s premier awards programs, has recognized our NetFlow Generation application as a finalist this year.”</p>
          <p>NetFlow is gaining wider acceptance as a reliable and standards-based approach to analyze network and application issues, as well as a source of information to identify anomalous traffic patterns for security management. Gigamon’s NetFlow generation can produce NetFlow records at very high throughput, leading to unsampled record generation that provides superior accuracy and visibility relative to traditional methods in switches and routers. The previous approach of sampled flow record generation leads to a loss of information and greater levels of inaccuracy. Gigamon’s Visibility Fabric provides the flexibility of pre-filtering traffic before NetFlow records are generated, which allows for granular tuning of the NetFlow records. Gigamon’s NetFlow Generation application offers a high performance solution to meet the rigorous demands of dynamic high-speed networks, while the Visibility Fabric provides a single source for packet and flow-level visibility.</p>
          <h3>About Light Reading®</h3>
          <p>Light Reading (<a href="http://www.lightreading.com">www.lightreading.com</a>) combines its research-led online communities and targeted events portfolio to help those in the global communications industry make informed decisions. Lightreading.com is the ultimate source for telecom analysis for more than 350,000 subscribers each month, leading the media sector in terms of traffic, content, and reputation. Light Reading produces targeted communications events and focused one-day conferences each year for cable, mobile, and wireline executives across five continents.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our and our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>