<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Partners with Palo Alto Networks</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-55" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Partnership focused on delivering innovative threat prevention and firewall solutions that enable greater visibility and control over network data and applications</em></p>
          <p>SILICON VALLEY, Calif., Nov. 15, 2011 /PRNewswire/ -- <a href="/" target="_blank">Gigamon</a>®, the world leader in Traffic Visibility Networking solutions, has partnered with Palo Alto Networks to deliver a highly reliable and transparent threat prevention solution that enables unprecedented visibility into, and granular policy control over, network applications and content.</p>
          <p>Gigamon was recently named one of Palo Alto Networks technology vendors under the latter company's Technology Partner Program. The combination of the Palo Alto Networks' next-generation firewall with GigaVUE bypass functionality provides full threat prevention with no reduction in reliability. The modular construction of the GigaVUE Traffic Visibility Node allows for different network topologies, data rates (10/100/1000Mbps through 10Gbps), and simultaneous deployment of multiple bypass modules that are complimentary to Palo Alto Networks' complete family of next-generation firewalls.</p>
          <p>"Enterprise IT organizations view us as an essential vendor in their networks and so it's incumbent upon us to continue collaborating with our industry's best-in-class vendors to ensure that customers can reap the most from their network security investments," said Punit Minocha, vice president of corporate and business development at Palo Alto Networks. "We are confident that the solution offerings resulting from our partnership with Gigamon will address the needs of diverse enterprise infrastructures and security requirements out there."</p>
          <p>"Enterprises and service providers require more visibility into the traffic traversing their networks now more than ever, because of the exponential growth of network communications driven by an increasingly mobile workforce," said Paul Hooper, Vice President of Marketing at Gigamon. "With this partnership, we will continue to deliver pervasive traffic visibility for the physical and virtual world. The combination of Palo Alto Networks' next-generation firewalls with our GigaVUE products can greatly accelerate the threat detection process."</p>
          <p>In a high-availability environment, the loss of a single device or power source can jeopardize network connectivity. The challenge IT managers face is adding a network security device to protect the network without introducing additional points of potential failure. Palo Alto Networks can deploy its next-generation firewalls in a completely transparent, layer-1 mode, while still providing full protection. With GigaVUE, the Palo Alto Networks award-winning products can be connected, removed, or upgraded without any impact to the in-line link traffic.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>