<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Strengthens its UK Channel Team</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-68" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Reading, UK ,— July 4<sup>th</sup>, 2011</strong>— <a href="http://www.gigamon.com/"> <strong>Gigamon</strong><sup>®</sup></a> <strong>,</strong>the world's leading provider of Traffic Visibility Networking solutions has today announced that it has appointed Nigel Norris to join its team as Channel Director. Responsible for building a strong channel, creating partnerships and empowering the value added distributor network, Norris will focus on creating a stronger UK Gigamon community.</p>
          <p>“We are delighted to welcome Nigel to the team. He is a results orientated individual with excellent knowledge of the channel and strong skills in sales and relationship networking,” said Derek Jackman, VP EMEA Sales at Gigamon. “Gigamon is 100% channel centric in the UK so it is imperative that we have a strong and experienced person in charge of its development. I am confident that Nigel is the man to build the best channel in the business.”</p>
          <p>With a wealth of knowledge in management and training as well as business development and sales – having spent time working with companies such as Newbridge Networks (now Alcatel), Ericsson, Symantec and Novell - Norris has already been instrumental in designing and implementing successful value added reseller and distributor programmes across the UK and Ireland.</p>
          <p>Grahame Smee, Managing Director at Cohort Technology a Gigamon distribution partner, said: “Gigamon may be a relatively new entrant to the UK market, but its technology is already being used in large deployments worldwide, therefore removing any risk for the reseller. Recruiting Nigel Norris as Channel Director now marks another new chapter for the company and for resellers in the networking market. There are exciting changes ahead.”</p>
          <p>“My objective is to grow a self sufficient, capable partner community that identifies Gigamon as a key portfolio brand,” added Norris. “Gigamon is looking to work with a finite number of strong, focused, partners who can take our technology and introduce it confidently into new vertical markets. In return, we will put in place a solid support foundation which will help them to identify opportunities and close business.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>