<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces New Subscriber-Aware Correlation Capabilities Advancing Subscriber, Traffic and Network Intelligence</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1558" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Service providers can now offer expanded services to their high-value subscribers, create new revenue streams, de-risk new technology rollouts and gain an operational advantage</em></h2>
          <p>Santa Clara, Calif., (November 3, 2016) – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the industry leader in traffic visibility solutions, announced today a new subscriber-based IP sampling paradigm which helps service providers turn big data into manageable data providing greater visibility and insight. The new capabilities in Gigamon’s FlowVUE<sup>®</sup> application enable users to send overlapping flow samples to multiple analytic tools at the same time. By expanding tool rail depth of analysis, operators can gain a multi-dimensional understanding of subscriber behavior and deeper traffic insight for improved and actionable intelligence.</p>
          <p>Service providers are fundamentally transforming how they manage and monitor their networks to keep up with escalating amounts of traffic, new handsets, new real-time services and complex subscriber behaviors. The approach to add more analytic and performance management tools has been challenging due to variable rate interfaces and variable throughput processing capabilities - making it previously impossible to integrate, scale or aggregate disparate traffic to achieve a holistic view of a subscriber’s daily services and device use.</p>
          <p>Network performance lags and new technologies are slow to rollout without being de-risked through the insight provided by a centralized tool rail. Many new services are sensitive to delay, jitter and latency forcing customer-service costs to rise and subscriber satisfaction to decrease. The previous inability to dynamically scale traffic to fit the busy hour requirement has caused both tool over- and under-subscription, further draining tool resources and decreasing overall operational efficiency.</p>
          <h3>Overlapping Flow Samples Deliver Service Providers Richer Intelligence &amp; Insights</h3>
          <p><a href="/solutions/service-providers">Gigamon’s Visibility Platform</a> with expanded FlowVUE capabilities helps service providers solve these challenges by enabling analytic tools to collect, analyze and gain a multi-dimensional understanding of subscriber behavior and insight of network traffic. By correlating subscriber identity, traffic type, and subscriber quality of experience, operators can pin-point where network trouble spots reside and what their associated causes are, shortening the analysis time.</p>
          <p>FlowVUE also increases tool performance by scaling the traffic to fit the attached tool processing throughput capacity as the network traffic volumes shift during high and low peak times. Service providers gain new operational efficiencies by avoiding the unnecessary traffic and tool dimensioning of over- and under-subscription across a wide set of tools. The optimized throughput processing allows operators to dimension their tool rail for a specific percentage of the typical busy hour and apply cost savings elsewhere on their network.</p>
          <p>“For the first time, service providers can experience higher levels of subscriber-aware visibility and intelligence to make real-time decisions and improved customer experiences,” said Andy Huckridge, director of service provider solutions at Gigamon. “By centralizing and correlating previously siloed data samples with Gigamon’s FlowVUE, service providers can now offer expanded services to their high-value subscribers, create new revenue streams, de-risk new technology rollouts and gain an operational advantage in the process.”</p>
          <h3>Other key benefits of new traffic scaling with multiple overlapping flow samples include:</h3>
          <ul class="pr-listing">
           <li>For the first time, security tools can now be driven as part of a centralized tool rail, sharing and seeing traffic with Application Performance Management (APM), Customer Experience Management (CEM) or Network Performance Management (NPM) tools to provide better security coverage</li>
           <li>Raised customer experience standards by allowing service providers to focus less on monitoring traffic and more on enhancing performance</li>
           <li>Optimized infrastructure investments from maximizing analytic tool throughput and eliminating tool oversubscription</li>
          </ul>
          <p>“Service Providers looking to operationalize Viavi’s full portfolio of solutions want to have the flexibility to provide the right traffic at the right speeds at the right time to the right tools,” said Sameh Yamany, CTO of Viavi Solutions. “Viavi’s Visibility, Intelligence &amp; Analytics tools are engineered to deploy, assure, and optimize the most complex and powerful networks on the planet in order to reduce churn, improve customer lifetime value and profitability. Gigamon’s Visibility Platform with expanded FlowVUE offers a means to extend our capabilities in light of the intensity of today’s subscriber traffic volumes, especially given the move of the industry toward 5G and the Internet of Things. This allows service providers to ensure that end-users enjoy the highest possible quality of experience and application performance in an environment of high traffic growth now and in the future with 5G and IoT.”</p>
          <p>“Gigamon’s FlowVUE with overlapping flow samples allows our customers to feed the exact traffic needed to monitor voice quality in real time,” said Eyal Ullert, head of sales &amp; marketing for Voipfuture. “The ability to use overlapping flow sampling allows Voipfuture to provide our joint customers deep insight into their networks, delivering them the root causes and not just the symptoms of performance problems.”</p>
          <h3>Additional Resources</h3>
          <ul class="pr-listing">
           <li>Overlapping Flow Samples, A New Capability Inside Gigamon’s FlowVUE Feature <a href="https://www.gigamon.com/blog/2016/11/03/overlapping-flow-samples-new-capabilities-inside-gigamons-flowvue-feature/"> blog</a></li>
           <li>Gigamon Visibility Fabric<sup>™</sup> for service providers solution <a href="/solutions/service-providers"> page</a></li>
           <li>Multi-Point Correlation for Mobile Operators: Turn Big Data into Competitive Advantage <a href="/sites/default/files/resources/whitepaper/wp-multi-point-correlation-for-mobile-operators-3209.pdf" target="_blank">white paper</a></li>
           <li>Subscriber Aware Visibility for Mobile Carriers application <a href="/sites/default/files/resources/application-note/an-subscriber-aware-visibility-for-mobile-carriers-4092.pdf" target="_blank">note</a></li>
           <li><a href="/resources/analyst-industry-report/idc-report-business-value-subscriber-visibility-mobile-network">IDC Report:</a> The Business Value of Subscriber Visibility for Mobile Network Operators</li>
           <li>Tweet: #SubscriberAware</li>
          </ul>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>™</sup> and GigaSECURE, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/">Gigamon Blog</a>,or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn,</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><em>Legal Notice Regarding Forward Looking Statements</em></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Judy Kaneko<br>Gigamon<br>M. 669-600-1602<br><a href="mailto:Judy.kaneko@gigamon.com" target="_blank">Judy.kaneko@gigamon.com</a></td>
              <td>Melissa Chadwick<br>Merritt Group for Gigamon<br>M. 571-382- 8513<br><a href="mailto:Chadwick@merrittgrp.com" target="_blank">Chadwick@merrittgrp.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>