<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Celebrates 7 Years of Success</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-63" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Silicon Valley technology leader delivers strong growth through continued market leadership</em></p>
          <p>Silicon Valley, Calif., July 29, 2011 <strong>–</strong> <a href="http://www.gigamon.com/" target="_blank">Gigamon<sup>®</sup></a>, the world's leading provider of Traffic Visibility Networking solutions, celebrates its 7<sup>th</sup> anniversary today. The milestone comes during a time of unprecedented growth for the Silicon Valley technology leader. Since founding in 2004, Gigamon has delivered empowering network visibility to over 150 of the Fortune 1000, to organizations at the forefront of the wave of social and mobile communications , and to Enterprises and Service Providers around the globe. During the past seven years, which included one of the most challenging financial periods in history across many global markets, Gigamon has delivered 22 sequential profitable quarters, and since 2006, 50% year-over-year growth.</p>
          <p>Driving this impressive track record has been the delivery of innovative and market-shaping technologies and solutions that address several major industry trends, including the unprecedented growth in network traffic, the migration of services into the Cloud and the transition to 4G/LTE by Mobile carriers. These trends have resulted in the expansion of the Gigamon organization around the globe, which now includes a presence in Europe, the Middle East, Russia, and throughout the Asia Pacific region.</p>
          <p>“When we boot-strapped Gigamon from a one-room office seven years ago, we had a vision for the future that has become a reality much faster than many had expected.” said Ted Ho, Co-Founder and CEO. “We saw the need for pervasive, intelligent visibility across global networks, ensuring that data, voice and video traffic could be secured, monitored and managed”.</p>
          <p>The expansion continues with the quadrupling of headcount in the last 18 months, the move into a new worldwide headquarters and manufacturing facility in Silicon Valley, and the addition of some of Silicon Valley’s top executives to the Executive Team and Board of Directors.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit<a href="http://www.gigamon.com/"> www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>