<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon and Corvil Partner for Visibility and Analytics Of Network Data Across Virtual and Physical Environments</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-42" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Corvil Leverages Gigamon’s Pervasive Visibility for Application and Network Analytics and Business Intelligence</em></p>
          <p><strong>Santa Clara, CALIF., May 19, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>(NYSE:GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, announced a go-to-market partnership with Corvil for application and network analytics across private enterprise cloud infrastructures. The family of GigaVUE Visibility Fabric nodes, including GigaVUE-VM, provides unprecedented visibility into virtual and physical environments for Corvil’s Operational Performance Analytics for high-speed data capture, distributed transaction-application network monitoring, and real-time business analysis.</p>
          <p>Gigamon and Corvil will be at Cisco Live in San Francisco from May 19<sup>th</sup> to the 22<sup>nd</sup> in booths 1005 and 428, respectively. Corvil will also be presenting at Gigamon’s booth on Tuesday May 20th at 4:15pm.</p>
          <p>“Corvil has created a new way of analyzing the rich data flowing through corporate networks at very precise timescales. We call this capability Application and Network Analytics. Our unique and patented approach provides business insight that is trusted by the most demanding enterprise brands, said Raymond Russell, CTO, Corvil. “Our platform provides customers with a different answer, a different view, a different root cause and a different understanding compared to what they get from competing products. And with our Gigamon relationship, we can extend our application and network analytics capabilities into the virtualized infrastructure to empower application, server, and network engineers with the specific analytics they need, in real time.”</p>
          <p>Today’s private cloud data centers have distributed application architectures and unprecedented levels of virtualization, which is creating significantly more east-west traffic that is hidden from the monitoring, analytic and security tools on the physical wire. GigaVUE-VM provides the VM-level visibility required for Corvil and its customers to gain access to that hidden traffic. When combined with other GigaVUE physical fabric nodes and the application-level intelligence delivered by Gigamon’s GigaSMART platform, Corvil’s customers can benefit from pervasive visibility across their networks. Corvil’s Application and Network Analytics tool can then provide the ability to monitor and analyze both application and network data running across global networks in real time. This analysis is used dynamically or after-the-fact to optimize network performance, troubleshoot application issues, and mediate between the two.</p>
          <p>“The Gigamon and Corvil relationship is an ideal partnership in which our joint customers can achieve pervasive visibility across geographically independent data centers for optimal network analysis and faster troubleshooting of applications”, said Ananda Rajagopal, Vice President of Product Management at Gigamon. “Visibility into inter-VM communications is critical since over 80% of servers are now virtualized. That is potentially a lot of hidden traffic that we are making visible for tools such as Corvil’s Application and Network Analytics to perform their industry leading performance analysis. Customers will benefit from this best-of-breed combination to ensure optimal visibility and monitoring of their private cloud environments.”</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>About Corvil</h3>
          <p>Corvil provides real-time operational performance analytics solutions. The Corvil platform extracts real-time operational intelligence from network data and uses this intelligence to analyze the performance of IT applications and services, detect and alert on events in real-time and export enriched data for business intelligence and risk management analysis. Customers use Corvil to optimize and safeguard the operational performance of their business processes and services. The Corvil platform uniquely handles the demands of high-performance, low-latency and data intensive IT environments. The company operates from New York, London, Singapore, Tokyo and Dublin. For more information on Corvil please visit <a href="http://www.corvil.com">www.corvil.com</a>.</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the goals for our Unified Visibility Fabric architecture and the benefits of our relationship with Corvil. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our and our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>