<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Demonstrates NetFlow Generation App and Packet-Based Threat Monitoring Solutions at RSA</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-48" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Enables Pervasive Security with Unified Packet and Flow Level Visibility</em></p>
          <p><strong>Silicon Valley, CALIF., February 24, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, will be demonstrating its flow-level visibility NetFlow application and packet-based monitoring solutions at the Gigamon booth #1021 at <a href="http://www.rsaconference.com/events/us15">RSA Conference</a>, February 24-28 at the Moscone Center in San Francisco.</p>
          <p>As a part of the Applications Layer of the Unified Visibility Fabric architecture, the NetFlow Generation application creates NetFlow records, then sends the information to one or multiple NetFlow collectors or analyzers whether for network or application performance or security. NetFlow data allows security professionals to look at patterns of traffic and investigate suspect or anomalous activity. The application can maximize the efficiency of the network itself by assuming the processing necessary to generate NetFlow information that had previously been dedicated within the switch, thereby reducing the burden to the network. In addition to demonstrating their NetFlow generation capabilities, Gigamon will be demonstrating its packet-based visibility solutions for inline and out-of-band threat prevention and intrusion detection technologies.</p>
          <p>Gigamon’s Visibility Fabric can support simultaneous deployment of IPS and IDS tools, inline tool redundancy, packet slicing and masking for secure storage as well as traffic forwarding based on application-layer keywords to help manage the amount of Big Data which can accelerate post-event analysis by network forensics tools.</p>
          <p>“Gigamon has a storied history as an independent and agnostic technology partner, which allows us to work closely with a wide range of security and forensics tool vendors to deliver the highest value security monitoring and analytics solutions for our joint customers,” said Peter Finter, Chief Marketing Officer at Gigamon. “With the addition of the NetFlow Generation application, our Visibility Fabric provides a single source of unified packet- and flow-level visibility for inline and out-of-band security. This is not only a first in the security monitoring space, but enables us to deliver an additional level value to both our customers and our partner ecosystem.”</p>
          <p>In addition, Gigamon's Ecosystem Partners will also be presenting their solutions and how they utilize Gigamon’s Visibility Fabric to enable pervasive security. Partners presenting include Sourcefire/Cisco (NASDAQ:CSCO), ForeScout, FireEye (NASDAQ:FEYE), Websense, TrendMicro, Riverbed (NASDAQ: RVBD), Narus, a subsidiary of Boeing (NYSE:BA), LogRhythm and nPulse. Gigamon's Visibility Fabric Ecosystem Partners includes companies and organizations that are committed to making network traffic more visible and the analytics, management and monitoring of the network more intelligent, efficient and versatile for IT and business leaders.</p>
          <p>“Joint customers of FireEye and Gigamon can take advantage of a number of benefits from our combined solutions,” said Steve Pataky, vice president of worldwide channels and alliances at FireEye. “Gigamon’s out-of-band solution offers the load balancing scalability and pervasive reach so that our solutions can gain 1Gb and 10Gb traffic visibility from multiple network segments while making it easy to test and deploy additional FireEye solutions as the customer scales their FireEye security architecture. At the same time bypass support allows the ability to update FireEye appliances during maintenance windows which is critical for inline deployment and is highly recommended.”</p>
          <p>“IT organizations want to maximize the wealth of operational data in their enterprise in order to gain greater context to make informed decisions and to enable more automated processes. Together ForeScout and Gigamon provide IT teams with a level of full visibility and control hat significantly enhances security intelligence and responsiveness,” said Gil Friedrich, vice president of technology at ForeScout. “We welcome working together at RSA to demonstrate the value of our integrated approach leveraging ForeScout's ControlFabric architecture.”</p>
          <p>“Gigamon helps us deliver only the most relevant traffic to our advanced big data security analytics solution, Narus nSystem," said Prakash Nagpal, SVP of Product Marketing and Marketing at Narus. "Their content-based filtering and forwarding and stateful visibility capabilities enable our solution to speed up time to resolution of cyber threat incidents. By Gigamon reducing the amount of big data needing to be analyzed, Narus can focus on providing rich, contextualized and insightful cyber analytics."</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-191581) and our Quarterly Report on Form 10-Q for the period ended September 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>