<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Industry Veteran Larry Dombrowski New VP of Service Provider Sales</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-60" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>SILICON VALLEY-- <a href="http://www.gigamon.com/">Gigamon</a>®, the world leader in Traffic Visibility Networking solutions, announced today that enterprise computing veteran Larry Dombrowski has joined the company as Vice President of Service Provider Sales. He joins Gigamon from Foundry Networks, which was acquired by Brocade in 2008. Dombrowski will establish a long-term sales strategy focusing specifically on mobile and fixed-line service providers as they look for innovative ways to address the operational needs of their growing networks to deliver new and more compelling services to their customers.</p>
          <p>"Gigamon has experienced exponential growth in both sales and headcount over the last few years. An important part of this growth has been building out a strong and experienced leadership team that can take the company forward into a new era for our business and in the industry," said Ted Ho, Co-Founder and CEO of Gigamon. "Larry Dombrowski flawlessly led the Western Region's sales division for Brocade, and was responsible for developing and executing a strategy that delivered excellent results. I'm confident he will be equally successful in his new role at Gigamon."</p>
          <p>Over the past two decades, Dombrowski has maintained a deep knowledge and awareness of the network solution innovations within the service provider market. As Director of Western Region Sales for Service Providers at Brocade, Dombrowski was responsible for the Western Region's product and services revenue through both direct and indirect sales channels. In this role, Dombrowski led the company's impressive overall revenue growth, drove market share gains in Carrier Ethernet products in the service provider market and delivered increased sales of product and services for the Western Region. Before joining Brocade, he held various leadership positions in the sales divisions with Lucent Technologies, StorageTek, EMC, Bay Networks, and Ascend Communications.</p>
          <p>"With the explosive growth in traffic and the rapidly increasing number of devices attaching to mobile service provider networks, pervasive visibility into the traffic flowing across service provider networks is more critical than ever before," Dombrowski said. "Gigamon's solutions are purpose-built to address the need for powerful and pervasive visibility into traffic across networks of all sizes, including the largest service provider networks on the planet. I look forward to helping Gigamon chart a new course for the networking industry as we enter the era of Traffic Visibility Networking."</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>