<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Extends Technology Leadership with Expanded Portfolio</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-65" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Enabling Intelligent Network Visibility in the most sensitive and demanding<br>data environments with GigaSECURE™ and GigaSMART™.</em></p>
          <p>Silicon Valley, Calif., July 11, 2011 – <a href="http://www.gigamon.com/">Gigamon<sup>®</sup></a>, the leading global provider of data access solutions, responds to customer demand by expanding its product offerings with the addition of the GigaSECURE line, and the expansion of its award winning GigaSMART line. These additions further extend Gigamons’ market leadership by delivering Intelligent Visibility and Control to the most sensitive and demanding communication environments.</p>
          <p>The GigaBPS™ intelligent bypass switch represents the first product in the GigaSECURE family. This first to market module provides intelligent visibility to for both Intrusion Prevention Systems (IPS) and Intrusion Detection Systems (IDS). In doing so the module enables a broader reach of information security, extends monitoring, and allows organizations to further centralize their network management, saving time and expense.</p>
          <p>"With the GigaBPS intelligent bypass switch, Gigamon is the first to introduce a completely centralized monitoring access layer”, said Doug Hurd, Director, Technical Alliances for Sourcefire, a world leader in intelligent cybersecurity solutions. “A single appliance can now be populated to handle inline security devices and receive port only devices, eliminating the need to have multiple TAPs and bypass units from different vendors. This simplifies network management and reduces the time to get network protection implemented."</p>
          <p>The GigaBPS intelligent bypass enables Managed Hosting Providers to implementing more advanced and scalable security practices when delivering ‘Cloud’ services, where IPS connections feed virtual environments in both traditional and high-density data centers. The GigaBPS also enables improved cyber-security protection for Telco, Enterprise, Financial and Government environments where IPS is used to combat a broad range of information ‘attacks’ that are common today including malware, denial of service (DoS), and advanced persistent threats (APT), all of which can cost organizations millions of dollars in fraud, lost business, and tarnished brand reputation.</p>
          <p>In addition to the launch of the new GigaSECURE line, Gigamon has expanded its award winning GigaSMART product, providing organizations with new tools to control, manage and secure their data. The GigaSMART Advanced Packet Modification Technology helps organizations improve data visibility, while both reducing network costs and improving productivity – a CIO’s top priorities.</p>
          <p>The expanded functionality in the GigaSMART product includes IP Tunneling, which allows centralized secure monitoring of remote locations, De-Duplication, which eliminates duplicate data traffic in complex asymmetrical network environments, and Header Stripping, which provides improved network monitoring of VLAN and MPLS traffic. When combined with the existing GigaSMART features of Time Stamping, Data Masking, Port Labeling and Packet Slicing, the new GigaSMART module is the most powerful and versatile packet modification tool in the Data Access industry.</p>
          <p>“Gigamon can play an important role in deployment strategies for performance monitoring solutions in the data center," according to Todd Kaloudis, Senior Vice President at OPNET Technologies, Inc. (NASDAQ: OPNT), a leader in application and network performance management. “Our AppResponse Xpert uniquely delivers multiple capabilities in a single appliance, including end-user experience monitoring, network performance monitoring, web transaction analysis, VoIP troubleshooting and more. Deploying with Gigamon is effective in complex environments with high capacities or many traffic feeds because they perform intelligent traffic conditioning, including grooming, splitting, and filtering.”</p>
          <p>For more information about the GigaBPS intelligent bypass switch, the GigaSECURE product line, or the GigaSMART packet modification blade, please visit the Gigamon website at <a href="http://www.gigamon.com">www.gigamon.com</a>, or call (408) 263-2022.</p>
          <p><strong>About Gigamon</strong><br>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>