<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Enables Threat Detection and Analysis at 100Gb Rates at SCinet</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-577" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Enables Threat Detection and Analysis at 100Gb Rates at SCinet</strong></p>
          <p><strong>Gigamon Partners with Reservoir Labs to provide Active Visibility in High-Performance Computing Network SCinet at Supercomputing 2014</strong></p>
          <p><strong>SANTA CLARA, Calif., Nov. 12, 2014</strong> /PRNewswire/ -- Gigamon® (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified Visibility Fabric™, today announced that for the fifth straight year it will support visibility into SCinet, one of the fastest, most powerful and advanced networks in the world for the fastest computers in the world. This year, during SC14, Gigamon is providing multiple Visibility Fabric nodes and GigaSMART applications that provide traffic intelligence for the monitoring and security tools that help keep SCinet performing and secure the network for the academics and researchers who utilize the network. Gigamon is partnering with Reservoir Labs to help secure the network from both internal and external threats.</p>
          <p>SCinet is a very high-capacity, dedicated research network built specifically for the duration of the SC Conference, which helps showcase high performance networking and technology demonstrations during the International Conference on High Performance Computing, Networking, Storage and Analysis, also known as the SC Conference.</p>
          <p>"SCinet is known for its leading-edge infrastructure to serve the high performance computing community at the SC Conference. It takes a high performance visibility fabric to ensure we have the pervasive visibility we need to monitor and maintain the performance and security of that network," said Kate Mace, SC14's SCinet Chair. "We appreciate Gigamon's contribution to SCinet so that our contributors, scientists and exhibitors and researchers can perform the supercomputing and cloud computing experiments and run the associated applications that help drive pioneering and world-changing research."</p>
          <p>Gigamon is providing SCinet with GigaVUE-HD8 and GigaVUE-HC2 Visibility Fabric nodes with patented Flow Mapping® technology, allowing the network administrators to specify individual traffic delivery profiles to centralized tools. Gigamon provided passive TAPs for the two 100Gb, bi-directional links between the show floor and three core routers for 400Gbps of traffic, which is then forwarded to Gigamon's GigaVUE-HD8 Visibility Fabric node. For threat analysis, the traffic coming from the two 100Gb links is passed to the R-Scope® DOMINATE Network Security Monitoring Appliances, from Gigamon's newest partner, Reservoir Labs, via 20 load-balanced, 10Gb ports. The GigaVUE-HD8 also filters traffic flows of interest to an R-Scope PACE appliance for analysis. Additionally, the GigaVUE-HD8 filters and forwards upwards of 80Gbps of traffic to a traditional switching network that feeds network analytic and performance tools. Lastly, the GigaVUE-HD8 forwards select traffic to a Gigamon GigaVUE-HC2 fabric node for generation of NetFlow-based flow statistics at line rate for much more accurate analytics.</p>
          <p>"As one of the fastest and most advanced networks for high-performance computing in the world, SCinet also has some of the most demanding visibility requirements," said Ananda Rajagopal, vice president of product line management at Gigamon. "The infrastructure's operations require visibility into significant volumes of traffic both for network security purposes as well as application performance. With multiple 100Gb links and the ability to offer high-performance NetFlow generation, Gigamon is uniquely up to the challenge of providing visibility into this environment."</p>
          <p>Reservoir Labs' R-Scope® DOMINATE and PACE network security monitoring systems are on-line for the SCinet for the third straight year, enabling network visibility and security event detection at network traffic speeds of up to 100 Gbps. "Each R-Scope system will provide an unprecedented level of real-time situational awareness of activity on the network," said Ann Johnson, vice president of engineering at Reservoir Labs. "We are proud to be part of the SCinet team once again this year, providing the most advanced real-time network security monitoring technologies available."</p>
          <p>Gigamon's solutions for high performance computing will be demonstrated at SC14 in New Orleans, La. in the SCinet and Gigamon booth #1358 at the Ernest N. Morial Convention Center from Nov. 17 – 20.</p>
          <h3>About SC14</h3>
          <p>SC14, sponsored by IEEE Computer Society and ACM (Association for Computing Machinery) offers a complete technical education program and exhibition to showcase the many ways high performance computing, networking, storage and analysis lead to advances in scientific discovery, research, education and commerce. This premier international conference includes a globally attended technical program, workshops, tutorials, a world class exhibit area, demonstrations and opportunities for hands-on learning. For more information on SC14, please visit: <a href="http://sc14.supercomputing.org/">http://sc14.supercomputing.org</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a> architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>About Reservoir Labs</h3>
          <p>Privately owned and in business since 1990, Reservoir Labs <a href="https://www.reservoir.com/">(www.reservoir.com)</a> is a leader in advanced compiler, network, and reasoning technologies with an emphasis on mapping innovative algorithms to emerging high-performance and embedded computers. Reservoir Labs provides custom solutions, innovative technology products, and leading-edge research and development services to government and commercial clients. Reservoir Labs is headquartered in New York, NY. © 2013 Reservoir Labs, Inc. All rights reserved. R-Scope® is a registered trademark of Reservoir Labs, Inc.</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>Legal Notice Regarding Forward Looking Statements This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture and the benefits of our relationship with Reservoir Labs. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended September 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>SOURCE Gigamon<br>MEDIA CONTACT, J.T. Eger, (408) 831-4247, <a href="mailto:jt@gigamon.com">jt@gigamon.com</a>; INVESTOR CONTACT, Cynthia Hiponia and Alice Kousoum, (408) 831-4100, <a href="mailto:IR@gigamon.com">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>