<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon and Empirix to Deliver Enhanced Data Filtering Capabilities for Service Providers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-668" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><strong>Gigamon’s Visibility Fabric™ solutions provide network operators with traffic visibility to assure IP Voice, VoLTE, and other Real Time Transport Protocol (RTP) based services</strong></h2>
          <p><strong>SANTA CLARA, Calif., February 27, 2015</strong> – <a href="http://www.gigamon.com/">Gigamon</a>® Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™, today announced that it has teamed with Empirix to extend the analytical capabilities of the Empirix IntelliSight customer experience and performance management platform. The combination of the Gigamon Visibility Fabric with the IntelliSight platform enables Empirix service providers to improve customer experience with data-intense applications such as video, voice and machine-to-machine (M2M) communications. This advanced solution combines the advanced traffic intelligence of the Gigamon platform with IntelliSight to transform volumes of data into real-time understanding of user experiences, which allows service providers to raise service levels and increase profitability.</p>
          <p>“As content grows ever richer and real-time applications proliferate, especially in the enterprise and unified communications space, they generate higher volumes of network traffic that challenges service providers to maintain and improve performance levels,” said Franco Messori, Chief Strategy Officer at Empirix. “The more traffic a service analytic solution has to process, the longer it takes to do its essential work of identifying trends that could lead to customer impacting issues. Gigamon’s data filtering and aggregation functionality, in conjunction with the ability to dynamically change configurations, directly complements IntelliSight’s capabilities. Together, the solutions enable service providers to see their networks from their customers’ perspectives, which is key to customer acquisition and retention.”</p>
          <p>Empirix IntelliSight can ingest vast quantities of data leveraging intelligent optimization to better understand customer experience, application and performance management, as well as enhance the ability to make strategic business decisions. Its advanced data visualization options enable users of all technical abilities to quickly derive meaning from mountains of data, enabling providers to anticipate and pinpoint in real time service quality and network systems issues that affect applications and customers.</p>
          <p>“Carriers are constantly exploring new paths to monetization, and that journey begins with having clear insight into how their own infrastructure is being utilized by their subscribers,” said Shehzad Merchant, Chief Technology Officer at Gigamon. “As the carrier infrastructure evolves to a converged 4G/LTE infrastructure with new applications running over that infrastructure, Gigamon’s Visibility Fabric™ solutions provide pertinent, correlated, de-duplicated, and highly optimized traffic feeds to Empirix’s IntelliSight platform. This provides carriers with a deeper insight into their infrastructure, which in turn results in the ability to pinpoint issues and resolve problems faster in order to meet service level agreements while also offering the ability to create new and innovative premium services.”</p>
          <h3>About Empirix</h3>
          <p>Empirix is the recognized leader in end-to-end network performance visibility with the unique ability to analyze customer behaviors by application in real time. Empirix helps service providers, mobile operators, contact centers and businesses optimize processes to reduce operational costs, maximize customer retention and grow top-line revenue. Through Testing, Monitoring and Intelligent Analytics, Empirix helps companies around the world realize the full value of their technology investments to provide a higher quality of service to their Customers. Empirix was acquired in 2013 by private equity firm Thoma Bravo as the first step in an aggressive strategy to take advantage of growth opportunities in the network services industry. The company is creating a comprehensive portfolio of end-to-end network service assurance solutions that will offer customers an integrated performance management solution in an otherwise fragmented market. Learn more at <a href="http://www.empirix.com/">www.empirix.com</a>, <a href="http://blog.empirix.com/">Empirically Speaking</a> or follow us on <a href="https://twitter.com/empirix">Twitter</a>.</p>
          <p>Empirix is a trademark of Empirix Inc. in the United States and other countries.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent&nbsp;<a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at&nbsp;<a href="http://www.gigamon.com/">www.gigamon.com</a>,&nbsp;the&nbsp;<a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on&nbsp;<a href="https://twitter.com/gigamon">Twitter</a>,&nbsp;<a href="https://www.linkedin.com/company/gigamon">LinkedIn</a>&nbsp;or&nbsp;<a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, our strategic product initiatives, demand for our product portfolio, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended&nbsp;September 27, 2014. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>&nbsp;</p>
          <p align="center"># # #&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>