<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Joins Network Intelligence Alliance to Foster Innovation and Industry Collaboration in Next-Generation Network Solutions</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-40" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Summary: </strong>Participation in industry organization will create opportunities to collaborate with other technology providers supporting the Network Economy and better serve customers with solutions based on Network Intelligence technology.</p>
          <p><strong>Silicon Valley, (CA) UNITED STATES, June 18, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a>®, a leader in network traffic visibility solutions with the innovative Visibility Fabric™ architecture, today announced that it has become a member of the Network Intelligence Alliance (NI Alliance), an industry organization created to promote collaboration among the Network Economy’s technology providers. Participation in the NI Alliance will help Gigamon to continue to build and market innovative solutions for customers seeking to improve pervasive visibility across physical and virtual environments from the access to the core and backhaul.</p>
          <p>In today’s Network Economy—a world that now depends and runs on networks—accurate visibility and precise tracking of data crossing networks have become crucial to the availability, performance and security of applications and services. The growing complexity of IP transactions, the explosion of mobile applications, and the mainstream adoption of cloud computing surpass the capabilities of conventional tools to improve how networks operate, expand services, and cope with cybersecurity. Just like Business Intelligence solutions emerged to unlock information hidden in the enterprise, Network Intelligence technology is an emerging category of technology to reveal the critical details of the data locked inside network traffic and transactions.</p>
          <p>The NI Alliance serves two purposes: first, as a forum for collaboration among technology providers whose solutions secure data in transit, ensure efficient data delivery, monetize data transactions or track real-time information. Through the NI Alliance, members can better serve their customers.</p>
          <p>The NI Alliance also seeks to educate the market and the public on the role and value of Network Intelligence in protecting sensitive information; delivering value-added services, applications and information; and ensuring better performance of network-dependent solutions.</p>
          <p>Gigamon’s Visibility Fabric allows communications service providers to gain crucial visibility into physical, virtual and, in the future, software-defined based networks (SDN). Using traffic intelligence, Gigamon delivers only the most essential and relevant network traffic and content to the tools that manage, analyze and secure the complex system that is a communications service provider’s IT infrastructure. With millions of network transactions occurring daily across a company’s network or networks, visibility needs to be pervasive, intelligent and dynamic. Using patented and unique technology, Gigamon created an innovative new approach for delivering this visibility called the Visibility Fabric™ Architecture. This new approach is intelligent and versatile in its ability to provide visibility into the network, enabling real-time access for any and all analytic requirements including Customer Experience Management, Network Performance Management, Application Performance Management and Security.</p>
          <p>“Our membership in the NI Alliance will provide a useful platform as Gigamon develops and improves upon our product portfolio to better serve current and future customers whose networks are transforming with higher speed links and increasing levels of virtualization simultaneously. This high degree of transformation requires traffic intelligence to provide access to the network topology deployed, filter through the high volumes of content and to identify and forward only the high value content required by the respective analytic engines,” said Andy Huckridge, Director of Service Provider Solutions at Gigamon. “Additionally, we look forward to building upon the NI Alliance’s mission to inform the public and the marketplace of the importance of the combination of traffic intelligence and Network Intelligence for data security and the high performance demanded by today’s communications service provider infrastructure.”</p>
          <p>“Gigamon is a valuable addition to the NI Alliance and we welcome their participation,” said Erik Larsson, Chairman of the NI Alliance. “By joining the NI Alliance, Gigamon increases its commitment to customers with greater capabilities to identify, develop and support innovative, more comprehensive solutions based on Network Intelligence.”</p>
          <p>Establishment of the NI Alliance was initiated by Qosmos, whose Network Intelligence technology components provide the crucial first step in understanding what’s passing through networks. Qosmos’ hardware and software components extract and interpret real-time traffic—translating a data stream’s 1s and 0s into their respective communications protocols, metadata and content for use by third-party applications.</p>
          <p>Through the NI Alliance, Qosmos expands its collaborative approach to help vendors design and deliver advanced solutions with embedded Network Intelligence technology in less time and at lower cost. The NI Alliance provides a channel for dialogue and partnerships that Alliance Members otherwise may not have considered or pursued when addressing the needs of joint customers. Visibility within the vendor community through the NI Alliance affords companies opportunities to market more comprehensive solutions with greater ROI and faster time to value for customers.</p>
          <h3>About the NI Alliance</h3>
          <p>The NI Alliance is an industry organization promoting collaboration among vendors of products or solutions based on network intelligence. Members are suppliers of network intelligence technology components; software vendors; and information providers of solutions, such as cybersecurity, telecom service assurance, traffic optimization and more. Participation in the NI Alliance helps members build and market innovative solutions to network operators and enterprise customers seeking to improve performance, security and monetization of network-dependent services. For more information, please visit <a href="http://www.nialliance.org">www.nialliance.org</a> or follow us on LinkedIn, Twitter or Facebook.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance, and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the goals for our Unified Visibility Fabric architecture and the benefits of our relationship with the Network Intelligence (NI) Alliance. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our and our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>