<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints New Senior Vice President of Engineering</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-44" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Former VMware Veteran to Extend Gigamon’s Leadership in Traffic Visibility Solutions</em></p>
          <p><strong>Santa Clara, CALIF., May 15, 2014</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>® </sup>Inc. (NYSE:GIMO), a leader in traffic visibility solutions with the innovative Visibility Fabric™ architecture, today announced that it has appointed Sachi Sambandan as the company’s senior vice president of engineering.</p>
          <p>Sambandan joins Gigamon from VMware, where he most recently served as vice president for the company’s R&amp;D Hybrid Cloud Services, responsible for all aspects of product development as well as building and managing a team of approximately 180 engineers. Prior to VMware, Sambandan spent ten years at Force10 Networks as vice president of engineering, developing and expanding Force10’s product roadmap.</p>
          <p>“We are thrilled to have someone of Sachi’s caliber join our world class team. Sachi’s experience within the cloud, virtualization and infrastructure domains at leading technology companies, and his proven execution in delivering cutting edge products to the marketplace are valuable assets and we look forward to his technical leadership,” said Paul Hooper, CEO of Gigamon.</p>
          <p>Gigamon also announced that its vice president of engineering, Dave de Simone is leaving the Company, effective June 6, 2014, in order to expand the time he spends advising early stage companies. “I want to thank Dave for his contributions to the company and wish him the best in his future endeavors,” said Mr. Hooper.</p>
          <p>Sambandan received a bachelor’s degree in electronics and communication engineering from India’s College of Engineering in Guindy, Madras. He went on to earn a master’s degree in electrical engineering from the University of Maryland and a master’s in business administration from Santa Clara University.</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding our continued innovation and market leadership. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>