<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Named Business Analytics Innovation of the Year by Telecom Asia’s Reader’s Choice &amp; Innovation Awards</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-91" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Named Business Analytics Innovation of the Year by Telecom Asia's Readers' Choice &amp; Innovation Awards</strong></p>
          <p><em>Company Honored for Vision and Industry Leadership</em></p>
          <p><img alt="" class="img-responsive" src="/sites/default/files/rca2013_gigamon.jpg" style="float: right;"><strong>Silicon Valley, CALIF., December 5, 2013</strong>— <a href="http://www.gigamon.com/">Gigamon</a>®(NYSE:GIMO) a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ Architecture, has been named Business Analytics Innovation of the Year. <em>Telecom Asia’s Readers’ Choice &amp; Innovation Awards</em>are held annually to recognize innovations and contributions by top telecom vendors operating in the Asia Pacific region.</p>
          <p>“We are honored to receive such a prestigious award in the telecom space,” said David Sajoto, Vice President of Sales APAC. “This award not only recognizes our continued growth and commitment to the Asia-Pacific market, as well as globally, but it also further substantiates our position as a top telecom vendor in the industry.”</p>
          <p>Now in its 6<sup>th</sup> year, The Readers’ Choice &amp; Innovation Awards have focused on innovation within 17 distinct categories including, LTE, broadband, cloud, business analytics, CEM, bandwidth optimization, small-cell, SDN, optical network, core n project, OSS, BSS, data center, wireless network project, infrastructure management project, FTTx Project and carrier ethernet project. The awards are held annually to recognize the innovations and contributions to the industry of the top telecom vendors operating in Asia Pacific.</p>
          <p>The judging panel, made up of Telecom Asia editors and over a dozen analysts, narrowed the 174 nominations to a shortlist of 69, representing 37 companies, then voting was open to its online subscribers base of service providers across Asia. Nominees were judged on overall quality of innovation and contribution to technology advancement, vision and industry leadership, market acceptance, including market share growth, market share and new customer acquisition, and revenue growth and profitability. The award was presented at the Telecom Asia Insight Summit in Singapore on December 5, 2013.</p>
          <p>Earlier in the year, Gigamon also received the Best of Show Grand Prix award in the Management, Monitoring and Testing category at Interop Tokyo 2013.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>About Telecom Asia</h3>
          <p>Telecom Asia is Asia's largest regional telecom publishing group. It publishes the magazine Telecom Asia and the website <a href="http://www.telecomasia.net">www.telecomasia.net</a>, aimed at telecommunications professionals around the region. Combined, these titles serve more than 100,000 subscribers.</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations that the market for our products will continue to grow and develop; and our expectations regarding product developments and enhancements and adoption of those products by our customers. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-191581). The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>