<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Partners with Vistapointe To Enhance Service Provider Big Data Monitoring and Network Intelligence</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-50" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Partnership to Provide Pervasive Visibility and Intelligence for Big Data Monetization</em></p>
          <p><strong>Silicon Valley, CALIF., February 13, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>® </sup>(NYSE:GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/traffic-visibility-fabric">Visibility Fabric</a>™ architecture, announced today a partnership with <a href="http://vistapointe.net">Vistapointe</a>, Inc. to provide mobile carriers with pervasive visibility and traffic intelligence to enhance network intelligence and insight. The combination of Big Data Traffic Intelligence from Gigamon and Vistapointe’s network intelligence will provide mobile network operators with unprecedented visibility and insight into the operations and transactions occurring on their network.</p>
          <p>“There are significant changes occurring within carrier networks as a result of various forms of virtualization and Big Data,” said Andy Huckridge, Director of Service Provider Solutions at Gigamon. “The associated business impacts are also changing the way these operators deliver services and generate revenue. The Gigamon Visibility Fabric and a new class of tool vendor, like Vistapointe, are addressing the needs of these mobile service providers. We look forward to working with Vistapointe to truly deliver greater value to our carrier customers.”</p>
          <p>Vistapointe is part of Gigamon’s <em>Visibility Fabric Ecosystem Partner Program</em>, which includes companies and organizations that are committed to solving customer problems with best-of-breed visibility solutions for network security, troubleshooting, application analysis, forensics review and SOX compliance. Gigamon and Vistapointe will be working together to solve the Big Data issues of networks today and the future of network monitoring in highly virtualized service provider environments.</p>
          <p>“Vistapointe is excited to partner with Gigamon to bring new and valuable solutions to mobile operators,” said Ravi Medikonda, CEO, Vistapointe Inc. “ Mobile providers are looking for ways to deal with the explosion in the amount and variety of traffic flowing through their networks. They need to enhance subscriber experience, while reducing churn and revenue erosion. The combined Vistapointe and Gigamon solution can support this new Big Data business model, while working towards delivering enhanced value in increasingly virtualized environments.”</p>
          <p>For more information, please visit the website at <a href="/technology-partners">http://www.gigamon.com/technology-partners</a>, or call (408) 263-2022.</p>
          <h3>About Vistapointe, Inc.</h3>
          <p>Vistapointe is at the leading edge of data extraction, analysis and insight generation technologies that enable mobile operators to gain unprecedented visibility into their mobile networks. Vistapointe’s product portfolio, following the NFV architecture, is completely software-based, runs on COTS and ATCA platforms, and provides a 360° visibility around Subscriber, Applications, Networks, Roaming, Tethering and Device proliferation. The Vistapointe solution enables mobile and HetNet operators to monetize the explosion of data traffic, save and optimize their cost structure through better visibility, and reduce subscriber churn through better QoE. The solution passively taps into the data, session and signaling layers of 3G, 4G LTE and Wi-Fi networks non-intrusively. It complies with the 3GPP, IETF &amp; IEEE standard protocols, without requiring any integration with the existing vendors.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.<strong> </strong></p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/traffic-visibility-fabric">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the goals for our Unified Visibility Fabric architecture and the benefits of our partnership with Vistapointe. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended September 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>