<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Applauds VMware's Release of vSphere 5.0</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-61" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>SILICON VALLEY, Calif., Sept. 8, 2011/PRNewswire/ -- <a href="/">Gigamon</a>®, the world's leading provider of Traffic Visibility Networking solutions, congratulates VMware on the release of vSphere 5.0. When combined with Gigamon's GigaVUE 8.0 release, enterprises running virtualized data centers are able to gain unprecedented visibility into traffic flows between both virtual and physical machines.</p>
          <p>With the adoption of cloud-based technologies and solutions growing within enterprises and data centers of all sizes, the need to be able to have pervasive visibility of traffic in both physical and virtual environments is increasing exponentially. The combination of the latest releases of technology from VMware and Gigamon enables IT organizations to capture and mirror traffic between and within physical and virtual machines. By using the VMware vSphere 5.0 in conjunction with the Gigamon GigaVUE 8.0 technology, a network mirror port can replicate and intelligently forward traffic from a virtual machine to one or many centralized management, monitoring or security tools. This software combination in addition to the recently released HD8 chassis from Gigamon enables enterprise to build, manage, monitor and secure very high-density, virtualized environments.</p>
          <p>"As with Gigamon, VMware is a recognized market and innovation leader in the area of Cloud Computing," said Ted Ho, Co-Founder and CEO of Gigamon. "Until now, the Cloud has been regarded by many companies and IT leaders as either too risky, too confusing or both. With the release of VMware vSphere 5.0, the adoption concerns are mitigated and, by leveraging our GigaVUE 8.0 release, the Cloud has been demystified and made more visible, flexible and practical."</p>
          <h3>About VMware</h3>
          <p>VMware delivers virtualization and cloud infrastructure solutions that enable IT organizations to energize businesses of all sizes. With the industry leading virtualization platform – VMware vSphere® – customers rely on VMware to reduce capital and operating expenses, improve agility, ensure business continuity, strengthen security and go green. With 2010 revenues of $2.9 billion, more than 250,000 customers and 25,000 partners, VMware is the leader in virtualization, which consistently ranks as a top priority among CIOs. VMware is headquartered in Silicon Valley with offices throughout the world and can be found online at <a href="http://www.vmware.com/in" target="_blank">www.vmware.com</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking Solutions for traditional data center and cloud-based networks with its flagship line of GigaVUE® purpose-built intelligent aggregation switches. By intelligently delivering the right network traffic to the right security and monitoring tools, Gigamon's technology is demystifying the Cloud and rendering it an achievable objective for enterprises around the world. The company's technology also provides IT leaders with unmatched network visibility to physical and virtual networks, and does so without affecting the performance or reliability of your production network. The GigaVUE product line eliminates span port contentions, increases the efficiency of network tools, and delivers "any-network to any tool" connectivity. Ultimately, this level of visibility and management enables customers to reduce both capital and expense investments, achieve improved uptime, reduced vulnerability to threats while improving their ability to achieve regulatory compliance. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
          <p>VMware and VMware vSphere are registered trademarks and/or trademarks of VMware, Inc. in the United States and/or other jurisdictions. All other marks and names mentioned herein may be trademarks of their respective companies. The use of the word "partner" or "partnership" does not imply a legal partnership relationship between VMware and any other company.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>