<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Wins Best of Show Grand Prix at Interop Tokyo 2013</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-103" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>GigaVUE-HD4 Grabs Top Spot in the Management, Monitoring and Testing Category</em></p>
          <p><strong>Silicon Valley, CALIF., June 19, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today that it has won the Best of Show Grand Prix award in the Management, Monitoring and Testing category at Interop Tokyo 2013. The Grand Prix award was presented to Gigamon by Nano Opt Media and a panel of IT industry experts. Gigamon’s solution won based on judging criteria that included live Performance Optimization and ShowNet demonstrations. Gigamon’s <a href="/products/gigavue-hd-series">GigaVUE-HD4</a> was also deployed in the Interop Network Operations Center (NOC) providing network traffic visibility and traffic optimization for the monitoring tools at the show with the help of Gigamon partner, Bitrieve.</p>
          <p>“This is a great win for Gigamon and the GigaVUE-HD4. The award is acknowledgment that ours was the highest performing submission in the category and that the panel of IT industry experts recognized our superiority in this space,” said David Sajoto, Vice President of Sales APAC. “This is a fantastic follow up to last year’s Best of Interop Tokyo Finalist honor in the same category for our GigaVUE-2404.”</p>
          <p>The GigaVUE-HD4 is a high density chassis-based Visibility Fabric node that uses Gigamon’s <a href="/products/technology/flow-mapping">Flow Mapping®</a> technology to intelligently filter, forward, replicate and manage the flow of traffic from production networks to management, monitoring and security tools. The GigaVUE-HD4 is a 5RU chassis that supports 1Gb, 10Gb, 40Gb and 100Gb connectivity allowing enterprises and data centers of all sizes and scale to operate a powerful Visibility Fabric, resulting in lower operational costs, higher infrastructure flexibility and improved organizational agility.</p>
          <p><a href="http://interop.jp/2013/exhibition/">The Best of Interop Awards</a> recognize exhibitors that have made significant technological advancements in specific categories. The winners in each category represent the products that the Interop Tokyo team of judges believes have the most significant technical impact on their segment and are helping to move business technology forward.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>