<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Barbara Spicek as Vice President, Channel Sales</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-989" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Seasoned Global Channel Leader Joins Gigamon</em></h2>
          <p><strong>Santa Clara, Calif., (January 11, 2016)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that it has expanded its executive team with the appointment of industry veteran Barbara Spicek as Vice President of Channel Sales.</p>
          <p>“With the channel playing such a strategic role for Gigamon, having an experienced and savvy channel leader is critical,” said Helmut Wilke, Senior Vice President Worldwide Sales at Gigamon. “Barbara brings an impressive track record of building global channel relationships, and her insight, knowledge and experience position her as the ideal executive to drive Gigamon’s global channel strategy.”</p>
          <p>Spicek was most recently the Executive Vice President of Global Sales at Nexan Storage Solutions. Prior to that, she was the Senior Vice President Global SI and Channel Sales at ASG SoftwareSolutions, preceded by 12-years of senior sales and marketing roles at Brocade Communications including Vice President Global Channel Sales &amp; Marketing.</p>
          <p>She has a proven record of designing and developing innovative channel programs, expanding partner ecosystems worldwide, executing indirect business models and driving double digit sales growth. &nbsp;She also holds numerous industry awards and recognitions, including the CRN 100 most powerful women, Industry Maverick and others.</p>
          <p>“I am very excited to join the Gigamon team,” said Spicek. “Gigamon’s Security Delivery Platform and Visibility Fabric are market-leading technologies that are now more relevant than ever. Solutions from Gigamon represent an outstanding revenue opportunity for our channel partners worldwide and I look forward to strengthening and expanding our ecosystem.”</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations of continued operating results and our ability to generate new revenue streams. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>