<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announced as Best of Interop Finalist</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-137" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-best-of-interop-finalist-2010-final.pdf" target="_blank">gigamon-best-of-interop-finalist-2010-final.pdf </a> (27 KB pdf file)</p>
          <p>Silicon Valley—April 13, 2010 -<br><br>Gigamon was selected based on its recently announced GigaSMART™ software application family, which is the data access industry’s first 10-Gig full line-rate packet modification technology to offer time stamping, network port labeling, slicing and masking. “GigaSMART enables organizations to realize further optimization and efficiencies in performance, security, compliance and analysis,” said Ted Ho, chief executive officer, Gigamon. “By utilizing the GigaVUE platform with the GigaSMART blade and the associated software modules, organizations can achieve a higher level of security and awareness of vital information. We are pleased to be selected as a Best of Interop finalist based on this groundbreaking technology.”</p>
          <p>Gigamon will showcase its software application family GigaSMART at Interop Las Vegas, North America’s leading business technology event. The Best of Interop Judging Committee reviewed all entries and selected finalists based on the products with the most significant technical impact that are helping to move business technology forward.</p>
          <p>“The Best of Interop Awards highlight important technologies that are driving innovation and new levels of achievement in the industry,” said Art Wittmann, managing director, InformationWeek Analytics. “We applaud all participating companies for their advancements within the business technology market and look forward to announcing the Best of Interop winners onsite at Interop Las Vegas.”</p>
          <p>The nine category areas that Best of Interop finalists were selected for include:</p>
          <ul>
           <li>Cloud Computing</li>
           <li>Collaboration</li>
           <li>Data Center &amp; Storage</li>
           <li>Infrastructure</li>
           <li>Network Management, Monitoring &amp; Testing</li>
           <li>Performance Optimization</li>
           <li>Security</li>
           <li>Virtualization</li>
           <li>Wireless &amp; Mobility</li>
          </ul>
          <p>In addition to these nine specific category areas, there will be three special awards chosen: an overall "Best of Interop," Best Startup and the Green Award, which recognizes eco-friendly products. This year’s Best of Interop is hosted by InformationWeek Analytics.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>About InformationWeek Analytics</h3>
          <p>InformationWeek Analytics is the leading resource for peer-driven research, providing business technology professionals with the real-world analysis and perspective they need to run better, smarter IT organizations. InformationWeek Analytics content is written and produced by an analyst team comprised of practicing senior IT professionals and InformationWeek's world-class editors. Featuring a combination of quantitative research and qualitative real world analysis, coupled with technology-adoption best practices, the InformationWeek Analytics site boasts more than 900 reports and briefs written specifically for and by IT professionals. InformationWeek Analytics is part of the InformationWeek Business Technology Network. For more information, visit <a href="http://reports.informationweek.com/" target="_blank">www.analytics.informationweek.com</a>.</p>
          <h3>About Interop®</h3>
          <p>Interop® drives the adoption of technology, providing knowledge and insight to help IT and corporate decision-makers achieve business success. Part of UBM TechWeb’s family of global brands, Interop is the leading business technology event series. Through in-depth educational programs, workshops, real-world demonstrations and live technology implementations in its unique InteropNet program, Interop provides the forum for the most powerful innovations and solutions the industry has to offer. For more information about these events, visit <a href="http://www.interop.com/" target="_blank">www.interop.com</a>.</p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, IntelligentDAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
          <p>Gigamon™, the leading global provider of Intelligent Data Access Networking™, today announced it has been selected as a Best of Interop finalist for the Network Management, Monitoring and Testing award category, recognizing Gigamon’s significant technological advancements in this specific category area. The Best of Interop winners will be announced on Wednesday, April 28 during Interop Las Vegas, happening April 25-29 at the Mandalay Bay Convention Center. For more information, visit <a href="http://www.interop.com/" target="_blank">www.bestofinterop.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>