<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Expands Executive Team With Addition of Experienced Veteran Kevin Jablonski</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-138" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/networking-innovation.pdf" target="_blank">networking-innovation.pdf </a> (19 KB pdf file)</p>
          <p>Silicon Valley—April 5, 2010 - Gigamon™, the leading global provider of Intelligent Data Access Networking™, today announced the promotion of Kevin Jablonski to Vice President of Marketing and Business Development. In his new capacity, Jablonski will drive Gigamon’s global marketing and business development initiatives as the company expands its channel and product portfolio. While the company benefits from Jablonski’s years of experience and expertise, Gigamon’s customers can expect an increased commitment to ensuring their data access networking needs are fulfilled with even more innovative products and feature sets. Jablonski’s promotion comes shortly after the company’s recent funding of $22.8 million from Highland Capital Partners in its first institutional financing.</p>
          <p>“We are experiencing an exciting time both in our company’s progress and technology development,” said Ted Ho, co-founder and chief executive officer, Gigamon. “Kevin has already proven himself to be an invaluable member of the Gigamon team, and I am confident that his expertise, leadership and vision will help Gigamon achieve explosive growth.”</p>
          <p>The addition of Jablonski to Gigamon’s executive team will support a renewed emphasis on the company’s marketing programs and business development initiatives. In his new role, Jablonski will focus on managing the company’s strategic marketing campaign, expanding the business relationships and working closely with the sales team on strategic global initiatives.</p>
          <p>“I look forward to leveraging my industry experience in working alongside an outstanding Gigamon management team to continue delivering world class, day-one ROI solutions that ensure secure access and complete visibility to all of our customer’s data anytime, anywhere,” said Jablonski. “As the demand for intelligent data access solutions to enhance network monitoring continues to soar, I welcome the opportunity to help accelerate Gigamon’s remarkable growth.”</p>
          <p>Jablonski joined Gigamon in 2008. He brings nearly three decades of experience to his new role. Jablonski has cultivated and established many lucrative business relationships with large corporations such as HP, Microsoft, Cisco Systems, AT&amp;T and EMC. Prior to Gigamon, Jablonski was the Vice President of Business Development at Anue Systems.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <p>Gigamon recently announced its new software application family GigaSMART™ to enhance its award-winning GigaVUE-2404® platform, along with the GigaVUE platform Release 7.0, which delivers increased flexibility by allowing the unique feature of dynamically adding or dropping cross-box connections. GigaSMART is the data access industry’s first 10-Gig full line-rate packet modification technology to offer time stamping, network port labeling, slicing and masking. This enables organizations to realize further optimization and efficiencies in performance, security, compliance and analysis monitoring.</p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, IntelligentDAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>