<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Teams with RSA</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-808" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Gigamon and RSA Bring Best of Breed Visibility to Software-Defined Data Centers</em></h2>
          <p><strong>San Francisco, Calif., (Aug 31, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced a collaboration with RSA, the Security Division of EMC (NYSE: EMC), to provide pervasive visibility into Software Defined Data Center traffic via Gigamon’s new Security Delivery Platform, GigaSECURE®. Together the GigaSECURE platform and RSA Security Analytics provide pervasive visibility and actionable intelligence into physical and virtual network environments, including the VMware NSX™ platform.</p>
          <p>“Customers need pervasive visibility into virtual East-West traffic in order to enforce policy and enable appropriate data center protection and risk remediation techniques, especially as more and more traffic moves through virtual environments,” said Maor Franco, Sr. Product Marketing Manager at RSA.&nbsp; “Because GigaSECURE can reach and deliver relevant network traffic, RSA Security Analytics is better able to discover attacks often missed by log-centric SIEM and signature-based tools by correlating packets with other security data from anywhere in the network.”</p>
          <p>RSA Security Analytics gives organizations the necessary context to help detect and respond to today’s advanced attacks before they can inflict widespread damage. By delivering virtual traffic to RSA Security Analytics, GigaSECURE is designed to provide security operations teams with active visibility to detect, investigate and take timely and targeted action against advanced threats.</p>
          <p>Commenting on the collaboration, Rod Stuhlmuller, Senior Director of Product Marketing in the networking and security business unit at VMware noted, “Our customers are looking to ecosystem partners such as Gigamon and RSA to deliver the best in class solutions that provide unified visibility across customers’ virtual and physical environments. As more customers operationalize VMware NSX to improve security and IT agility, they can be confident that NSX is a platform that supports the security, visibility and troubleshooting solutions which they are already using in their environments.”</p>
          <h3><strong>GigaSECURE – The Industry’s First Security Delivery Platform Optimized for RSA Security Analytics&nbsp; </strong></h3>
          <p>As a platform, GigaSECURE is comprised of scalable hardware and software elements that give security administrators unparalleled visibility and capability for bolstering security effectiveness. By delivering targeted traffic to RSA Security Analytics, organizations will have enhanced visibility of both virtual and physical network traffic and are better able to manage this traffic through a single console, correlated to one security tool.</p>
          <ul>
           <li>Additional key benefits of GigaSECURE include:</li>
           <li>Infrastructure-wide reach via Gigamon’s GigaVUE-VM and GigaVUE nodes to feed RSA Security Analytics with pervasive traffic visibility;</li>
           <li>NetFlow record generation that is unsampled;</li>
           <li>Application Session Filtering, which eliminates unwanted traffic, such as streaming video from the examined traffic flows;</li>
           <li>&nbsp;SSL decryption for faster threat analysis.</li>
          </ul>
          <p>"Massive amounts of traffic flows through software-defined data center environments. This means pervasive visibility across the entire data center network is critical,” said Johnnie Konstantas, Director of Security Solutions at Gigamon. “The GigaSECURE Security Delivery Platform extends the reach of RSA Security Analytics to include all network data and metadata, which simply makes for better security information and event management.”</p>
          <h3><strong>About Gigamon</strong></h3>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
          <p><em>RSA and EMC are either registered trademarks or trademarks of EMC Corporation in the United States and/or other countries. VMware and NSX are registered trademarks or trademarks of VMware, Inc. in the United States and other jurisdictions. All other products and/or services are trademarks of their respective companies</em><strong><em>.&nbsp;</em></strong></p>
          <h3><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals and benefits for our Unified Visibility Fabric and Security Delivery Platform. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>