<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Experiences Unprecedented Growth and Success in 2011</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-37" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>SILICON VALLEY, Calif., Dec. 15, 2011 /PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon</a>®, the world leader in Traffic Visibility Networking solutions, announced that 2011 was a record year for the company. Over the last twelve months, the company experienced significant revenue growth due to increasing demand for its traffic visibility solutions. The growth in demand enabled the company to double its workforce during the course of the year. Additionally, the <a href="http://www.redherring.com/" target="_blank">Red Herring magazine</a> recognized Gigamon's success and contribution to the industry by naming the company a Top 100 Global Technology Innovator following a prior Top 100 North America Technology Innovator award that the company received earlier in 2011.</p>
          <p>"Over the course of the past seven years Gigamon has evolved from our origin as a disruptive technology innovator to where we stand today as a visionary market leader through the delivery of solutions that provide clear and pervasive visibility into network traffic for Enterprises and Service Providers around the globe," said Ted Ho, Gigamon CEO. "We live in the era of device and information proliferation - trends that present formidable new challenges to network operators and owners. Armed with our technology, IT leaders can greatly enhance the way they monitor, manage and secure their networks and protect their data. Furthermore, we enable the adoption of cloud services to allow enterprises to embrace the reality of far more agile and flexible infrastructure without losing the visibility of their data and information."</p>
          <h3>Record Revenue</h3>
          <p>As the volume of traffic increases rapidly and the associated compliance requirements continue to expand, so does the demand for Gigamon's Visibility Fabric. In 2011, the company continued its trend of delivering year-over-year growth approaching 50 percent – a trend that it established soon after the company was founded. During this year specifically, Gigamon delivered record revenue in Q3 and expects Q4 to be the company's highest revenue quarter since inception. Looking ahead, the company expects to grow the workforce in 2012 as it responds to increasing demand for its solutions and technology.</p>
          <p>During the last quarter of 2011, Gigamon broke through the 1,000 customer milestone as its solutions and technology continue to be adopted by an increasing volume of enterprises and service providers around the globe. While some customers represent smaller deployments, many customers have deployed the Visibility Fabric and returned to extend the deployment as the functionality and performance of the technology delivers tangible business value.</p>
          <h3>Doubled Workforce</h3>
          <p>Headquartered in Milpitas, California, Gigamon designs and manufactures all of its systems in-house. As its customer base continues to grow in parallel with the increasing demand for the Visibility Fabric, Gigamon is strategically adding employees in Engineering and Sales. Gigamon invested in its talent pool by doubling the employee head count in the first nine months of 2011 alone. Gigamon is expecting to increase the number of employees in the new year by at least 30 percent; with engineers at the top of its career boards.</p>
          <h3>Award Wins</h3>
          <p>In 2011, Gigamon was a recipient of the <a href="http://www.redherring.com/" target="_blank">Red Herring</a> Top 100 North America award, which honors the most innovative private companies in North American. Hundreds of companies in the telecommunications, security, Web 2.0, software, hardware, biotech, mobile and other industries were evaluated, and the top 100 companies were selected based upon their technological innovation, management strength, market size, sales success and financial health.</p>
          <p>Following the North American award win, Gigamon received Red Herring's 2011 Top 100 Global award - a prestigious recognition honoring the year's most innovative and far reaching private technology companies and entrepreneurs from across the globe. The Red Herring team selected companies that demonstrated the most innovative technologies and business models from over 3,000 entrants across 40 nations. These companies were judged on a range of qualitative and quantitative metrics, including but not limited to, technology innovation, financial performance, growth criteria, management execution and market share improvement.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>