<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces New Solution to Automate Traffic Visibility for the Software-Defined Data Center</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1332" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong><em>GigaVUE-VM achieves VMware Ready Network and Security status and delivers rich operational visibility for accelerated time to value</em></strong></h2>
          <p>SANTA CLARA, Calif., August 29, 2016 --<a href="https://www.gigamon.com/">Gigamon Inc</a>. (NYSE: GIMO), the leader in traffic visibility solutions, today announced the general availability and certification of the GigaVUE-VM integration with VMware NSX<sup>®</sup>, a solution that automates traffic visibility for the software-defined data center (SDDC).</p>
          <p>While utilizing the compelling benefits of a software-defined data center architecture based upon the VMware NSX platform, customers can now leverage the GigaVUE-VM solution to enable enhanced and configurable visibility into their workload traffic patterns.</p>
          <p>GigaVUE-VM, the virtual visibility component of Gigamon’s GigaSECURE Security Delivery Platform, uses VMware NSX Dynamic Service Insertion and NetX API integration to deliver pervasive and automated reach to virtual traffic in the SDDC.</p>
          <p>“Customers looking to operationalize VMware NSX technology want to use the proven threat intelligence tools and troubleshooting solutions already in use in their environments,” said Michael Adler, Vice President, Product, NetWitness Suite at RSA.&nbsp; “The RSA NetWitness Suite is engineered to monitor a broader set of attack vectors. Working in conjunction with the GigaSECURE Security Delivery Platform, security teams can gain a deeper understanding of an attack for rapid detection and response before the attack can impact their businesses. This is especially critical as more traffic and potential threats move across virtualized environments.”</p>
          <p>The GigaSECURE platform with VMware NSX enables organizations to configure and automate the capture of virtual network traffic and delivery to their network and security tools. Specific NSX traffic policies can be configured and associated with the security groups in the micro-segmented deployment. As security groups expand in scale, NSX automatically copies the virtual traffic to Gigamon’s GigaSECURE Security Delivery Platform for replication and optimization before delivery to security tools.</p>
          <p>“VMware is pleased to enable Gigamon as part of a strong NSX Ecosystem of partners helping customers realize the tremendous benefits of SDDC and Network virtualization” said Geoff Huang, senior director of product marketing, networking and security business unit at VMware. “The GigaSECURE Security Delivery Platform provides additional capabilities for traffic capture and interface to other tools directly benefiting the operational metrics of a software-defined data center.”</p>
          <p>Gigamon also announced today that Gigamon GigaVUE-VM has achieved VMware® Ready™ status for VMware NSX-enabled networking and security solutions. The designation indicates that the solution has been interoperability tested with VMware NSX and utilizes the APIs and interface methods enabled by the NSX platform per VMware technical guidance.</p>
          <p>“Automated visibility is critical to securing and monitoring dynamically scalable application workloads in private clouds and data centers where agility and automation are a must,” said Ananda Rajagopal, Vice President Products, Gigamon. “Security administrators can now use the GigaSECURE Security Delivery Platform and VMware NSX to provide dynamic traffic visibility in the micro-segmented data center.”</p>
          <p>VMworld® 2016 US is held August 28, 2016 to September 01, 2016 in Las Vegas. Visit <strong>Gigamon</strong> <strong>booth #727</strong>, to learn more about unified hybrid cloud, cloud management and services, hyper-converged infrastructure, business mobility and network virtualization.</p>
          <p>Follow @Gigamon and #VMworld #runNSX on Twitter for the latest updates from the event.</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. &nbsp;See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center">###</p>
          <p>VMware NSX and VMware Ready are either registered trademarks or trademarks of VMware, Inc. in the United States and/or other countries.&nbsp; RSA and Netwitness are either registered trademarks or trademarks of EMC Corporation in the United States and/or other countries.&nbsp; All other products and/or services referenced are trademarks of their respective companies.</p>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>