<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Secures NEBS Certification</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-20" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-nebs-certification.pdf" target="_blank">gigamon-nebs-certification.pdf</a> (22 KB pdf file)</p>
          <p>Silicon Valley—August 25, 2009 - Gigamon, the leading global provider of intelligent data access networking™, today announced the industry’s first and only NEBS (Network Equipment Building Systems) certified data access switch. Gigamon, adhering to standards outlined by Telcordia, brings the benefits of enhanced monitoring, tool consolidation savings, network wide visibility, and reduced power and space consumption to telecommunication CO (Central Office) network monitoring.</p>
          <p>Gigamon announced availability of NEBS certified GigaVUE-2404N chassis, with 10GigaTAPN and 10GigaPORTN modules. They were all designed to meet the most stringent regulatory requirements of a Telco CO. The NEBS certification demands numerous physical criteria tests including temperature, humidity, vibration, flame, electrostatic discharge (ESD), electromagnetic Interference (EMI), electrical safety, voltage fluctuation, bonding and grounding, ensuring continuous GigaVUE service under any circumstances.</p>
          <p>“Gigamon reinforces its leadership position by raising the bar once again.” said Tom Gallatin, VP of Sales and Marketing. “The GigaVUE-2404N is the only carrier-grade NEBS certified data access solution in the market.”</p>
          <p>Enterprise network managers and IT security professionals have always depended on Gigamon's GigaVUE® “orange boxes” to aggregate, filter and replicate customized data streams to all monitoring tools. With its new NEBS certification in addition to high-availability features like redundant power and filtered fans, Gigamon offers key advantages to the telecommunications sector including guaranteed operation within the range of temperature, humidity, vibration and airborne contamination present in telecommunications locations. As a result, telecommunications customers find simplified product installation, reduced maintenance costs, equipment and service reliability in the event of earthquake and protection from service outages caused by incompatible equipment. Gigamon’s features such as redundant filtered fans, redundant power supplies, and hot swap modules allow for increased availability.</p>
          <p>“The GigaVUE-2404N NEBS chassis is bulletproof for telecom infrastructures,” said Ted Ho, CEO of Gigamon. “With GigaVUE-2404N gaining its NEBS certification, it becomes the best practice for CO network infrastructures to provide for network security, analysis, forensics, SLA monitoring, or troubleshooting tools.”</p>
          <p>Since 2005, Gigamon has addressed the needs of today’s data access networking marketplace. Gigamon provides access to any network segment at any speed including 10 Gigabit connections. Upon being installed, Gigamon can aggregate the data from multiple segments, filter on specific information within each packet and direct that information to all tools needing that information. Any tool can now be connected to the Gigamon GigaVUE anytime, which provides better monitoring in multiple areas simultaneously. Gigamon experienced record sales in the first quarter of 2009, and anticipates continued growth with its new NEBS certification.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>