<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Strategic Focus in Latin America; Names Carlos Perea as Vice President of the Region</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-864" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Cybersecurity Driving Demand for Pervasive Network Traffic Visibility throughout Region</em></h2>
          <p><strong>Santa Clara, Calif., (Sep. 30, 2015)</strong> – <a href="https://www.gigamon.com">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced its expansion into the Latin American (LATAM) market as part of the company’s global growth initiatives. Headquartered in the U.S., Gigamon is building a presence in Argentina, Brazil, Chile, Colombia, Mexico and Peru. Having a local presence in these markets enables Gigamon and its partners to address today’s security and network traffic visibility challenges that impact local mobile operators, service providers, government organizations and enterprise organizations.</p>
          <p>As part of its growth, Gigamon has appointed a new team to drive activities throughout LATAM. Carlos Perea will serve as the Vice President of Sales for Latin America, overseeing all activities. As a seasoned executive, he brings more than 20 years of IT industry experience.</p>
          <p>“For enterprises, government organizations and service providers, increasing security is a key priority for the protection of vital IT assets. A network infrastructure that does not leverage active visibility coupled with strong security is destined to fail and incur a high cost for breach remediation,” said Carlos Perea, Vice President of sales for Latin America, Gigamon. “Gigamon solves the visibility challenge for organizations around the globe, and I am excited to help build our presence in the dynamic and diverse region of Latin America.”</p>
          <p>As part of the LATAM market expansion, Gigamon has established production facilities in Mexico with Jabil, an electronic product solutions company providing comprehensive electronics design and manufacturing services to global electronics and technology companies. By doing so, Gigamon gains greater agility and dynamism to meet growing market needs.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides active visibility. Having the industry’s first Security Delivery Platform, GigaSECURE®, and the <a href="/visibility-fabric-architecture">Visibility Fabric</a>™, an intelligent architecture for enterprises, data centers and service providers around the globe, Gigamon’s technology empowers security and infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="https://www.gigamon.com">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #&nbsp;</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Christi Nicolacopoulos<br>Davies Murphy Group<br>+1 (781) 418-2464<br><a href="mailto:gigamon@daviesmurphy.com" target="_blank">gigamon@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>