<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Multiple Enhancements to its Visibility Fabric™ Platform and Solutions</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-934" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>New Enhancements Triple the Scale of Traffic Intelligence; Announces New GigaVUE-FM Appliance</em></h2>
          <p><strong>Santa Clara, Calif., (December 8, 2015) </strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced multiple new features that triple the scale of traffic intelligence delivered via its GigaVUE-OS operating system software. Gigamon also announced a new GigaVUE-FM appliance to further simplify management and orchestration of visibility infrastructure in addition to several other software enhancements to the GigaVUE-FM Fabric Manager and GigaVUE-VM virtual visibility solutions.</p>
          <p>“The natural consequence resulting from network virtualization, segmentation and distribution is the need for greater visibility into traffic while optimizing traffic flows to appropriate network tools and security appliances,” said Sesh Sayani, Director of Product Management at Gigamon. “In order to meet the needs of IT Operations Management to see all network traffic, Gigamon is enhancing its Visibility Fabric portfolio to enable administrators to take greater control over their networks without adversely impacting network performance.”</p>
          <h3>Enhanced Scale of Traffic Intelligence and Visibility with GigaVUE-OS</h3>
          <p>GigaVUE-OS supports the ability to logically combine multiple visibility nodes into a single node using its unique clustering capability. The latest release of GigaVUE-OS now scales up to 32 H Series nodes per cluster, while also increasing the scale of advanced traffic intelligence up to an unprecedented 15.36 Tbps per cluster. This release of GigaVUE-OS also extends traffic delivery to private cloud-based monitoring tools by using L2GRE tunnel encapsulation, which allows for virtualized tools to secure and analyze network traffic.</p>
          <h3>Multiple Enhancements to GigaVUE-FM</h3>
          <p>New Fabric Manager enhancements include topology visualization of the edge-to-core cluster connectivity, link speed and health. Additional map views and overlays make traffic policies easier to identify and trace for ingress/egress connectivity and performance. Drill-downs and elastic search capabilities make map and port views quick and easy to search for hotspots within the Visibility Fabric.</p>
          <h3>Integration with VMware NSX via GigaVUE-VM</h3>
          <p>This new integration leverages the VMware NSX service insertion framework to dynamically insert the Gigamon Traffic Visibility Service Node (GigaVUE-VM), while also enabling auto-provisioning of visibility traffic policies within customers’ software defined data centers (SDDC). This capability enables administrators to automate the selection, filtering and forwarding of the NSX Security Groups’ virtual traffic to the monitoring and security analytics tools.</p>
          <h3>New GigaVUE-FM Hardware Appliance</h3>
          <p>Complementing these new software enhancements, Gigamon today is also unveiling a new GigaVUE-FM hardware appliance that features the Intel Xeon E5-2603 v3 1.6 GHz 6C/6T processor with 16 GB RAM, and 1 TB HDD with RAID1 in a 1RU form factor. This hardware appliance is ideal for deployments where customers prefer a turnkey solution for management, or when the reach and scale of the Visibility Fabric needs dedicated compute capacity for management.</p>
          <h3>Availability</h3>
          <p>GigaVUE-OS and GigaVUE-FM enhancements are expected to be available in Q4 2015 while the GigaVUE-VM integration for VMware NSX and the GigaVUE-FM hardware appliance are currently in beta and are scheduled for general release at a later date.</p>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, the expected release dates of our new product offerings and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Christi Nicolacopoulos<br>Davies Murphy Group<br>+1 (781) 418-2464<br><a href="mailto:gigamon@daviesmurphy.com" target="_blank">gigamon@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>