<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Unveils Visibility App for Splunk Enterprise</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-830" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Launches New FabricVUE Traffic Analyzer Application to Enhance Active Operational Insights</em></h2>
          <p><strong>Santa Clara, Calif., (Sep. 23, 2015)</strong> – <a href="https://www.gigamon.com">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced the release of its new Gigamon<sup>®</sup> Visibility App for Splunk, which provides Visibility Fabric™ health and analytics, as well as visibility and troubleshooting of Gigamon infrastructure within a Splunk environment. Complementing this, the company launched a new application for GigaVUE-FM, “FabricVUE™ Traffic Analyzer,” which provides fabric-centric traffic visualization that helps identify top conversations, applications and network traffic end-points.</p>
          <p>Gigamon Visibility App for Splunk allows a Splunk<sup>®</sup> Enterprise administrator to collect, store, visualize, and analyze Gigamon Visibility Fabric related data. By allowing the Gigamon Visibility App for Splunk app to access a Visibility Fabric, an administrator can have full visibility and reporting across the entire Gigamon environment. Splunk Software enables automated searches that collect and store aggregated network statistics data from ports and maps within the environment. The map explorer helps an administrator to visualize the relationships within their environment.</p>
          <p>“Network complexity is fundamentally changing the way we see, react and respond to network traffic,” said Emilio Umeoka, vice president of worldwide partners, Splunk. “Having a Gigamon Visibility App for Splunk helps ensure that IT operations get deeper insights across their Gigamon environment for increased security and operational performance of their networks.”</p>
          <p>“IT silos are breaking down. The historic separation between NetOps and SecOps continues to disappear as both teams work together to ensure network performance, high availability and strong security,” said Dan Conde, Analyst at ESG. “The Gigamon Visibility App for Splunk is an excellent example of technologies that help bridge the NetOps and SecOps divide.”</p>
          <h3>Gigamon Visibility App for Splunk</h3>
          <p><a href="/products/technology/gigamon-visibility-app-splunk">Gigamon Visibility App for Splunk</a> enables granular operational insights from Gigamon networking infrastructure. Key benefits include:</p>
          <ul>
           <li>First level visibility and troubleshooting of Gigamon infrastructure within Splunk;</li>
           <li>Visibility Fabric health and analytics dashboards, including port and traffic policies health and metrics;</li>
           <li>Track Visibility Fabric user operations for audit and compliance purposes;</li>
           <li>Pre-integration with GigaVUE-FM 3.1 using REST APIs; and</li>
           <li>Approved and available for free from Splunkbase</li>
          </ul>
          <p>“Operational visibility is becoming increasingly necessary in order to maintain operational performance and maximum security,” said Ananda Rajagopal, Vice President of Product Line Management at Gigamon. “By leveraging Splunk solutions, our customers gain new insights and seamless capabilities that give them an optimal and actionable view of their network traffic.”</p>
          <h3>FabricVUE Traffic Analyzer – The Case for Fabric-Centric Visualization</h3>
          <p>Several challenges facing IT operations management revolve around the number of tools to manage, identification of the top talkers in the network, and how to monitor traffic that occurs outside of tool reach. Addressing these, Gigamon today launched <a href="/products/technology/fabricvue-traffic-analyzer">FabricVUE Traffic Analyzer</a>. This new, GigaVUE-FM license-based application sources IPFIX/Netflow records and uses GigaSMART traffic intelligence to analyze both the traffic sent to tools, as well as traffic not being monitored by tools, thereby providing IT operations teams with greater visualization of their network traffic. This reduces mean time to resolution while providing increased visibility and control over their Visibility Fabric.</p>
          <h3>Availability</h3>
          <p>Both the Gigamon Visibility App for Splunk and GigaVUE Traffic Analyzer are available now from authorized Gigamon channel partners worldwide.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides active visibility. Having the industry’s first Security Delivery Platform, GigaSECURE<sup>®</sup>, and the <a href="/visibility-fabric-architecture">Visibility Fabric</a>™, an intelligent architecture for enterprises, data centers and service providers around the globe, Gigamon’s technology empowers security and infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="https://www.gigamon.com">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Christi Nicolacopoulos<br>Davies Murphy Group<br>+1 (781) 418-2464<br><a href="mailto:gigamon@daviesmurphy.com" target="_blank">gigamon@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>