<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces Network Auto-Discovery and Topology Visualization to Further Simplify Visibility Fabric Administration</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1238" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>New GigaVUE-FM features uniquely position Gigamon as the premier provider of vendor-agnostic visibility for data centers and clouds</em></h2>
          <p><strong>Santa Clara, Calif., &amp; Las Vegas, Nev., (July 11th, 2016) </strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced its newest innovation – automated network topology visualization - for managing visibility infrastructure at scale. Designed specifically for large data centers, this new capability enhances the ease of use and administration of network visibility by providing end-to-end visualization of the Visibility Fabric™ components, associated production networks and interfaces from which traffic is sourced and the connected security and monitoring tools that analyze this traffic.</p>
          <p>Gigamon constructs the data center topology through automated discovery of the attached networks using the Link Layer Discovery Protocol (LLDP) or Cisco Discovery Protocol (CDP). When security and monitoring tools attached to Gigamon’s Security Delivery Platform detect abnormal behavior, an administrator can quickly trace back to the network interfaces at the source of the abnormality, significantly reducing the mean time to resolution (MTTR). Gigamon’s leverage of common protocols minimizes manual tasks and enables visualization of various data center infrastructures comprised of networking products from best of breed vendors.</p>
          <p>This is an integral capability of the GigaVUE-FM Fabric Manager, the management and orchestration element that is essential for operationalizing software-defined visibility. Together with other capabilities - such as REST APIs, workflows for common tasks, customizable dashboards and elastic search capabilities - GigaVUE-FM plays a central role in the Security Delivery Platform for creating automated cybersecurity orchestration across multiple security stacks.</p>
          <p>“The large enterprises and state and local government agencies at the focus of our security business need scalable administration for the technologies they deploy,” said Gary Miglicco, Senior Vice President Security, ePlus Technology. “Data center topology visualization is an example of the kind of innovative management that only mature enterprise-grade visibility infrastructure can offer and Gigamon stands top among them.”</p>
          <p>“We remain committed to offering vendor-agnostic visibility and are uniquely able to meet the needs of customers with large data centers and clouds,” said Sesh Sayani, Director of Product Management, Gigamon. “We recognize that the Visibility Fabric is rapidly becoming essential data center infrastructure and we will continue to be customer-driven in the capabilities that make our market-leading solution easy to use for troubleshooting and security.”</p>
          <h3>Availability</h3>
          <p>Data center network topology visualization is available as part of the version 3.4 release of GigaVUE-FM. Data center topology visualization from Gigamon for multi-vendor networks including Cisco Application Centric Infrastructure (ACI) will be on display at the Gigamon booth #2227 during <a href="http://www.ciscolive.com/us/" target="_blank">Cisco Live</a>.</p>
          <p><img alt="Gigamon's Fabric Manager with Auto-Discovery and Topology Visualization" class="img-responsive" src="/sites/default/files/gigamon-fm-with-auto-discovery.jpg"><br><em>Figure 1: Gigamon's Fabric Manager with Auto-Discovery and Topology Visualization</em></p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, the general availability and benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to successfully deliver new products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>