<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Enhances GigaVUE-OS Software Platform</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-782" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Latest Release of Visibility Software Adds New Security, Session Intelligence, Inline Bypass and Advanced Capabilities for Mobile Carriers</em></h2>
          <p><strong>Santa Clara, Calif., (July 28, 2015) </strong> – <a href="https://www.gigamon.com">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced the availability of version 4.4 of its market-leading visibility software, GigaVUE-OS®. This release is at the heart of Gigamon’s Unified Visibility Fabric™ and GigaSECURE® Security Delivery Platform offerings and offers a range of new security, session intelligence, inline bypass and advanced carrier-specific capabilities.</p>
          <p>“Networks have become the most critical of business and IT assets, and now more than ever, having strong security and pervasive visibility into all network traffic is paramount,” said Ananda Rajagopal, Vice President of Product Line Management at Gigamon. “These new GigaVUE-OS capabilities enable customers to deploy GigaSECURE, the industry’s first Security Delivery Platform, which provides pervasive visibility of network traffic, users, applications and suspicious activity, and simultaneously delivers it to multiple security devices without impacting network availability.”</p>
          <h3>New Session Intelligence: Application Session Filtering (ASF)</h3>
          <p>Application Session Filtering is a new, patent-pending GigaSMART® application that comprises a key pillar of the GigaSECURE Security Delivery Platform. ASF provides a powerful filtering engine that identifies applications based on signatures appearing within packets that form the application flow of network traffic. Once positively identified, ASF extracts the entire session corresponding to the matched application flow from the initial packet to the last packet of the flow, even if the match occurs well after the first packet. This allows an administrator to forward specific “traffic of interest” to security appliances thereby optimizing their operational efficiency and improving overall performance.</p>
          <p>The capability is especially useful in extracting entire sessions of interest corresponding to Web applications (such as YouTube, Netflix), business applications (such as database SQL traffic, Outlook emails with attachments) and many others. The ability to filter entire sessions of such traffic significantly enhances the productivity of security appliances.</p>
          <h3>New Security Features: Enhanced SSL Decryption</h3>
          <p>As part of continuing expansion of the popular GigaSMART SSL Decryption application released last year, the latest version of software adds support for TLS 1.2, SHA256 and increases the number of supported keys up to 4,000. With SSL traffic accounting for up to a third of all traffic in many networks, and network attacks via SSL expected to grow significantly, decryption of SSL traffic is becoming increasingly important to connected security devices to function more effectively. In addition, the capability to service chain SSL decryption with Application Session Filtering allows security appliances to gain advanced visibility into encrypted sessions flowing throughout the network.</p>
          <h3>New Security Features: Inline Bypass Advancements</h3>
          <p>Another key pillar of the Security Delivery Platform is the inline bypass capability that provides the flexibility needed to deploy security functions either inline or out-of-band. GigaVUE-OS 4.4 introduces the ability to perform asymmetric hashing of inline security tool groups. This capability is especially useful for those security tools interested in tracking conversations, such as those from a specific endpoint or conversations to a specific target destination, etc.</p>
          <h3>Empowering Carriers: New Whitelisting and GTP Correlation Capabilities for Intelligent Subscriber Awareness</h3>
          <p>GigaVUE-OS 4.4 extends the scale of whitelisting with support for up to 500,000 subscribers per whitelist per GigaSMART engine. Mobile carriers can create custom whitelists of specific subscribers using their IMSI (International Mobile Subscriber Identity) that can be used to identify security threats to a specific subscriber, attach value-added services to a specific subscriber, or conduct real-time analytics for a premium subscriber at scale. Stateful filtering on new EPC interfaces used in an LTE core network as well as traffic corresponding to GTP versions allows mobile providers to implement both intelligent subscriber awareness and advanced filtering to keep up with the growth in mobile traffic.</p>
          <h3>Availability</h3>
          <p>GigaVUE OS 4.4 is available now from authorized Gigamon channel partners worldwide.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="https://www.gigamon.com">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Unified Visibility Fabric architecture and Security Delivery Platform. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Brian Alberti<br>Davies Murphy Group<br>+1 (781) 418-2403<br><a href="mailto:kalkhoury@webershandwick.com" target="_blank">balberti@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>