<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon's Network Security Management Earns International Common Criteria Validation</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-53" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>National Information Assurance Partnership Approves Gigamon's GigaVUE® Solution<br>Under the CCEVS Common Criteria Standard at EAL2+</p>
          <p>SILICON VALLEY, Calif. -- <a href="http://www.gigamon.com//" target="_blank">Gigamon</a>®, the world leader in Traffic Visibility Networking solutions, today announced that its GigaVUE® 7.2.29has been evaluated by <a href="http://www.boozallen.com/" target="_blank">Booz Allen Hamilton CCTL</a> and officially validated by the Common Criteria Evaluation and Validation Scheme (<a href="http://www.niap-ccevs.org/" target="_blank">CCEVS</a>) at EAL2+. Numerous federal, defense and intelligence agencies around the world require Common Criteria validation to be in place in order to make procurement decisions.</p>
          <p>In addition to being Common Criteria validated, <a href="/government" target="_blank">GigaVUE®</a> also received EAL2+ certification, which provides customers with the confidence that Gigamon's help desk support process has been rigorously evaluated and validated.</p>
          <p>"This validation provides absolute assurance to our government customers that the network traffic visibility solutions we have designed meet the high standards for security set by the NIAP and as a result provide reliable information assurance they need to confidently secure their networks," said Ted Ho, Gigamon CEO. "The threat landscape today is rapidly expanding. And in this new environment, Gigamon is committed to enabling government agencies and enterprises to deploy the most secure and manageable network infrastructure possible."</p>
          <p>CCEVS is a United States Government program administered by the National Information Assurance Partnership (NIAP) to evaluate the benefits of information technology products. The Common Criteria validation is internationally recognized by 26 countries as ISO standard 15408 and through the Common Criteria Recognition Agreement (CCRA) certified products for EAL 1-4. The goal of the testing is to determine the products' real capabilities and benefits for both commercial suppliers and end users in both government and public sectors, thus resulting in improved security and higher confidence in the deployed infrastructure.</p>
          <p>Booz Allen Hamilton's Common Criteria Testing Laboratory (CCTL) conducted the testing and evaluation of the Gigamon GigaVUE® 7.2.29for the Common Criteria validation. They established a security target which, as a result, defined the security posture of GigaVUE® to meet government compliance. The Booz Allen Hamilton CCTL team tested the ability of the GigaVUE® system to use multiple authentication methods including self-signed certificates.</p>
          <p>Government agencies around the world require real-time situational awareness of their network posture, and to establish a continuous monitoring framework, they deploy numerous monitoring tools. However, these tools can easily inject unwarranted vulnerabilities or risk as many of these networks carry classified or privileged information where knowledge of the data needs to be constantly policed. Gigamon's GigaVUE® 7.2.29effectively guards against internal threats and conceals secret data to ensure that the monitoring devices are able to cost-effectively see the same data traversing from the access layer to data center without causing oversubscription or downtime.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years' experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com//" target="_blank">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>