<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Delivers Advanced Inline SSL Solution to Eliminate Network Blind Spots</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1725" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center">New SSL/TLS Decryption/Encryption solution provides scalable visibility and management of encrypted traffic to expose hidden malware, data exfiltration and command and control threats</h2>
          <p>Santa Clara, Calif., (February 9, 2017) – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the industry leader in traffic visibility solutions and provider of the Gigamon Visibility Platform, today announced a significant expansion to its GigaSECURE<sup>®</sup>&nbsp;SSL/TLS Decryption solution, with new inline capabilities, bringing enhanced visibility into encrypted data-in-motion.</p>
          <p>As the volume of encrypted traffic continues to rise, organizations are more vulnerable to encrypted attacks, hidden command and control (C&amp;C) threats and data exfiltration exploits that go undetected. With its expanded SSL decryption solution, Gigamon helps remove network blind spots to expose malicious threats and feeds decrypted traffic-of-interest to the appropriate security tools for immediate analysis and mitigation.</p>
          <p>This solution addresses the growing challenges Security Operations teams face in managing encrypted traffic. Most security tools are not designed to identify and decrypt large volumes of encrypted traffic. Those tools that do decrypt SSL traffic typically become overstressed and suffer significant performance degradation once SSL decryption is enabled. The net result is repeated decryption and re-encryption of SSL sessions as application flows traverse infrastructure, leading to unnecessary appliance sprawl, increased cost and complexity and ultimately, higher application latency.</p>
          <p>The Gigamon SSL Decryption solution addresses these challenges with a new GigaSMART<sup>Ò</sup> traffic intelligence application that supports both inline and out-of-band decryption. The new set of supported ciphers include Diffie-Hellman (DH), Diffie-Hellman Ephemeral (DHE), Perfect Forward Secrecy (PFS) and Elliptic Curve, and operates in networks that range from 1Gb to 100Gb.</p>
          <p>The new SSL Decryption solution automatically identifies all SSL/TLS traffic across any port or application by establishing a <strong>“decrypt once and feed to multiple tools”</strong> design for improved scale and resiliency. A key enabler of this solution is an advanced set of traffic selection and distribution capabilities in the Gigamon Visibility Platform that simplifies deployment of SSL decryption at scale. Furthermore, advanced policies enable traffic filtering and selective decryption based on URL categorization using the market-leading Webroot BrightCloud® Web Classification Service, domain names, and whitelist/blacklist policies, in order to meet data privacy and compliance requirements.</p>
          <p>“Inline SSL decryption represents a strategic technology evolution that further expands the benefits of the Gigamon Security Delivery Platform,” said Ananda Rajagopal, vice president of products at Gigamon. “By offering SSL decryption as a service in the Security Delivery Platform complemented by strong policy enforcement, organizations can create a centralized ‘decryption zone’, enabling them to more easily see and manage their growing SSL/TLS traffic volumes, while enabling their security tools with newfound visibility into formerly encrypted traffic and threats."</p>
          <p>&nbsp;</p>
          <p><strong>SOLUTIONS OVERVIEW</strong></p>
          <p>The new inline SSL Decryption application is a key component of GigaSMART traffic intelligence application suite that significantly expands the applicability of SSL decryption beyond the previously supported out-of-band SSL&nbsp;decryption.&nbsp;Inline SSL decryption addresses a vastly expanded universe of use cases such as monitoring accesses to Internet-based services for risk/compliance violations, detecting malicious activities such as command and control (C&amp;C) communications, decrypting TLS sessions that use modern cipher suites and above all, creating an efficient framework to manage encrypted traffic at scale.</p>
          <p>The&nbsp;inline SSL decryption application complements other GigaSMART applications, such as de-duplication, application session filtering, data masking and metadata generation, that optimize, automate and deliver traffic-of-interest to the appropriate monitoring and security tools across the network. SSL Decryption is a software feature that utilizes a perpetual lifetime license. The license will initially be available on the GigaVUE-HC2 visibility appliance with a list price of $29,995 and will be generally available late March 2017.</p>
          <p>For more information on Gigamon’s SSL Decryption and technical specifications, visit our solutions page <a href="https://www.gigamon.com/products/technology/ssl-decryption">here</a>.</p>
          <p>&nbsp;</p>
          <p><strong>GIGAMON OVERVIEW</strong></p>
          <p>The <a href="https://www.gigamon.com/visibility-platform">Gigamon Visibility Platform</a> enables a modern, secure infrastructure that delivers pervasive visibility into all the data-in-motion across an enterprise network – physical, virtual, private, hybrid and public cloud environments. With an extensive and growing network and security partner ecosystem, Gigamon offers the simplicity, breadth, and depth needed to support the network optimization and security needs of organizations of all types and sizes.</p>
          <p>&nbsp;</p>
          <p><strong>GIGAMON AT RSA 2017</strong></p>
          <p>Join Gigamon at <a href="https://insight.gigamon.com/RSAConference2017.html">RSA 2017</a>, February 14<sup>th</sup> – 16<sup>th</sup> to learn more about the Gigamon Visibility Platform and GigaSECURE offerings at booth #1523, South Hall, Moscone Convention Center, San Francisco.</p>
          <p>&nbsp;</p>
          <p><strong>ADDITIONAL RESOURCES</strong></p>
          <p>SSL Decryption solutions <a href="https://www.gigamon.com/products/technology/ssl-decryption">page</a></p>
          <p>SSL Decryption highlights <a href="https://www.gigamon.com/blog/2017/02/09/ssl-encryption-no-longer-double-edge-sword/">blog</a></p>
          <p>GigaSECURE<sup>Ò</sup> solutions <a href="https://www.gigamon.com/products/technology/gigasecure">page</a></p>
          <p>GigaSMART<sup>®</sup>&nbsp;solutions <a href="https://www.gigamon.com/products/gigasmart">page</a></p>
          <p>Gigamon Security Delivery Platform <a href="https://www.gigamon.com/security-best-practices">page</a></p>
          <p>GigaVUE-HC2 solutions <a href="https://www.gigamon.com/products/gigavue-hc2">page</a></p>
          <p>Video <a href="https://www.youtube.com/playlist?list=PLMnYhIkmPmIfwRHp9BSZlXRx88A4QY9EE">series</a> on SSL/TLS encryption trends and technology overview</p>
          <p>&nbsp;</p>
          <p><strong><u>About Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into data-in-motion network traffic, enabling organizations to see more and secure more with stronger security and superior performance. Gigamon Visibility Platform and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a><u>,</u> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p><strong>Legal Notice Regarding Forward Looking Statements</strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, the potential benefits of new product offerings and product features, goals for our SSL/TLS Decryption solution and our expectations regarding projected growth of the network security market. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>