<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Receives Frost &amp; Sullivan Best Practices Award for Global VoLTE Network Monitoring Systems Product Line Strategy Leadership</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-633" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="http://ww2.frost.com/files/8814/2177/6796/Gigamon_Award_Write_Up.pdf" target="blank">Frost &amp; Sullivan-Award-Global VoLTE Network Monitoring Systems -2015.pdf</a></p>
          <p>Gigamon Receives Frost &amp; Sullivan Best Practices Award for Global VoLTE Network Monitoring Systems Product Line Strategy Leadership</p>
          <p><strong>Santa Clara, CALIF., Jan. 23, 2015</strong>&nbsp;– <a href="http://www.gigamon.com/">Gigamon</a>® (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, announced today that it has been recognized by Frost &amp; Sullivan for its recent work to help service providers de-risk their IP Voice / VoLTE deployments. The award is an independent, third-party endorsement of Gigamon’s accomplishments in delivering superior technology and products to the traffic visibility solutions market.</p>
          <p>With a range of products to customize and scale solutions for IP Voice / VoLTE networks, GigaVUE® fabric nodes work together to create an intelligent and pervasive Visibility Fabric to capture, aggregate, replicate and filter traffic flows across large scale service provider networks to the appropriate centralized management, monitoring and security systems. With a range of unique traffic intelligence features, the Gigamon Visibility Fabric enables a quick resolution to complex but common voice deployment related issues – helping a service provider to find the problem faster and keep networks up and running more reliably with fewer service affecting outages.</p>
          <p>“We are honored that our service assurance methodologies for IP Voice / VoLTE have been chosen by Frost &amp; Sullivan for such a prestigious award. The selection reflects the growing prominence of Gigamon’s network visibility solutions,” said Andy Huckridge, Director of Service Provider Solutions at Gigamon. “We are proud to provide best-in-class traffic visibility solutions to our customers around the world, and we see this award as a clear acknowledgement of Gigamon’s leadership in the industry.”</p>
          <p>Frost &amp; Sullivan’s Best Practices Awards recognize companies throughout a range of regional and global markets for superior leadership, technological innovation, customer service and strategic product development. Frost &amp; Sullivan's industry analyst team benchmarks market participants and measures their performance through independent, primary interviews, and secondary industry research in order to evaluate and identify best practices.</p>
          <p>“By receiving our Best Practices Award, Gigamon has proved itself not only leader in network monitoring solutions, but an industry forerunner with a world-class vision,” said Rohan Joy Thomas, Frost and Sullivan analyst. “We are proud to honor Gigamon with this award and look forward to seeing what exciting innovations develop in the coming years.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>