<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Expands Channel Partnerships in Australia and New Zealand to Support Developing Business</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-595" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h1>Gigamon Expands Channel Partnerships in Australia and New Zealand to Support Developing Business</h1>
          <p><strong>October 21, 2014</strong></p>
          <p>SYDNEY, October 21, 2014 – Gigamon® (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified Visibility Fabric™, today announced an increased commitment to Australia and New Zealand with the introduction of a major distributor, value-added resellers (VARs), systems integrators and professional service providers across the region. The breadth of customers now includes leading organisations in the fields of telecommunications, the federal government, financial services and transportation.</p>
          <p>“Demand for our Unified Visibility Fabric, that now includes solutions for inline security, out-of-band security and both application and network forensic monitoring, is accelerating across many vertical markets” said Gigamon’s Asia Pacific and Japan Channel Director Pascal Fanton. “The transformation within data centres due to virtualisation and ‘big data’ are driving high demand for the unique capabilities of our Visibility Fabric solution. In parallel with the technology, having a strong network of channel partners to reach our customers is a key component of our current and future success.”</p>
          <p>The appointment of Arrow ECS as a distributor was among the first steps in developing a dynamic channel organisation to address the specific needs of the Australian and New Zealand region. The addition of VMtech, Green Light and DeployPartners as leading value-added resellers of Gigamon technology will support business development in the region by enabling our partners to offer differentiated solutions and services to their customers.</p>
          <p>Jean-Loup Desamaison-Cognet, Vice President for Central, Eastern European and Middle East /Africa/Asia-Pacific regions for Arrow’s Enterprise Computing Solutions segment said, “Arrow looks forward to helping Gigamon bring its unique network visibility solutions to Australia. Gigamon solutions complement many of Arrow’s IT security and Internet technology solutions.”</p>
          <p>“Gone are the days of customers investing in a technology just because it’s smart and new. Our customers demand ROI, innovation and a competitive edge from the technology solutions we provide,” said Green Light CEO Gary Hinksman. “This is why we have adopted Gigamon as part of our solutions suite. Gigamon fits perfectly into Green Light’s Solutions Group by providing our customers enterprise-wide and cross-border visibility of what’s happening on their network without affecting performance or stability.”</p>
          <p>“In line with a reduction in overall telecommunications costs in the Australian market, our customer networks are transforming into higher capacity, low-latency, distributed environments. As a result it is becoming more challenging for protection tools such as firewalls, anti-fraud and monitoring services to keep up with the pace without impeding the overall host connectivity experience,” said VMtech CEO Len Findlay. “Partnering with Gigamon allows VMtech to give our customers the ability to insert the powerful Gigamon Visibility Fabric into the heart of a mission critical network without causing bottlenecks or introducing latency.”</p>
          <p>“Once inserted, Gigamon’s technology can deliver pervasive reach for centralised security and monitoring tools and requires only a performance specification to match the volume of traffic required by the tool rather than having to scale the appliance for the aggregate network performance. Gigamon is a valuable addition to VMtech’s portfolio of Data Centre technology solutions.”</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>