<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Named Finalist in the 2012 Hot Companies and Best Products Awards</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-118" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>SILICON VALLEY, Calif., April 12, 2012/PRNewswire/ -- <a href="http://www.gigamon.com/" target="_blank">Gigamon</a>®, a world leader in <a href="/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf" target="_blank">Traffic Visibility</a> Fabric solutions, announced today that Network Products Guide , the industry's leading technology research and advisory guide, has selected three of the company's products as finalists for the 7th Annual 2012 Hot Companies and Best Products Awards . The Network Products Guide industry and peer awards are the world's premier information technology awards honoring achievements and recognitions in every facet of the IT industry. Winners will be honored in Las Vegason Tuesday, May 8, 2012.</p>
          <p>"Gigamon's selection as a finalist by Network Products Guide for this esteemed award is recognition of our role in providing the IT industry with solutions that deliver intelligent visibility into the traffic flowing across production networks," said Paul Hooper, Gigamon Vice President of Marketing. "As traffic volumes continue to increase at rapid rates, organizations require effective solutions to monitor and manage the information flowing across their networks. We're honored that Network Products Guide has recognized our commitment to providing customers with world class Traffic Visibility solutions."</p>
          <p>The annual Hot Companies and Best Products recognition program identifies the world's top information technology companies in a number of categories, including organizational performance, product differentiation, leadership team performance and customer satisfaction, along with others. Three Gigamon products have been selected in the following categories:</p>
          <p><strong>Network Intelligence</strong> – Gigamon's <a href="/stuff/contentmgr/files/1/359f221cedd88fa06f1f758a5c650889/download/gigavue_hd4_ds.pdf" target="_blank">GigaVUE HD4</a> is a high density chassis that uses Gigamon <a href="http://www.gigamon.com/products/technology/flow-mapping" target="_blank">Flow Mapping</a>® technology to intelligently filter, forward, replicate and manage the flow of traffic from production networks to management, monitoring and security tools. The GigaVUE-HD4 provides users with a smaller form factor of the successful and first-to-market <a href="/stuff/contentmgr/files/1/a8b1a60a0963fddd1b17e6bbf64dcbfc/download/gigavue_hd8_datasheet.pdf" target="_blank">GigaVUE-HD8</a> chassis, and delivers up to 1.3Tb of connectivity in a data-center-ready 5RU form. The combination of the two chassis products and the multiple line-card configurations, allows enterprises and data centers of all sizes and scale to operate a powerful Visibility Fabric, resulting in lower operational costs, higher infrastructure flexibility and improved organizational agility.</p>
          <p><strong>Network Management</strong> – Gigamon's <a href="http://www.gigamon.com/products/gigavue-ta1" target="_blank">GigaVUE-TA1</a> consolidates multiple low utilization ports into 'gateway' ports that connect directly into the Visibility Fabric. As enterprises and data centers transition from 1Gb to 10Gb networks, many upgraded network ports are utilized at five percent or lower. Aggregating data from these lower-utilization ports has typically been inefficient, resource demanding or costly, making the task difficult or even impossible to justify. When multiplied across numerous similar characteristic ports, the challenge can lead to a significant gap in network visibility. With the arrival of the Gigamon GigaVUE-TA1 node, traffic from low-utilization ports are aggregated in advance of connection into the Visibility Fabric, allowing for pervasive visibility and, as a direct result, improved measurement and management of an enterprises' network. The GigaVUE-TA1 is ready for high availability and demanding deployments by delivering 640Gb of connectivity in 1RU, with front-to-back cooling and options for hot-swap power and fan trays.</p>
          <p><strong>IT Products and Services for Finance, Banking and Insurance</strong> – Gigamon's <a href="/gigamon-delivers-high-accuracy-traffic-time-stamping" target="_blank">GigaPORT-X12-TS</a> is designed to meet the high-accuracy needs of High Frequency Traders, brokerages and analysts and features the company's purpose-built traffic <a href="/gigasmart-time-stamping" target="_blank">time-stamp technology</a>. The GigaPORT X12-TS executes the traffic time 'stamp' in hardware enabling highly accurate timing of traffic supporting the fastest and most demanding trading transactions. Supporting the PTPv2 timing standard (IEEE 1588), the GigaPORT-X12-TS blade precisely synchronizes time dramatically improving the timing accuracy and visibility into enhanced latency, jitter and bidirectional transactional performance. The new time stamping technology enables out-of-band network analysis to occur at a single location, which drives operational efficiency and reduces infrastructure complexity and cost. Combined with GPS synchronization, GigaPORT-X12-TS enables enhanced accuracy across networks that span hundreds or thousands of miles.</p>
          <h3>About Network Products Guide Awards</h3>
          <p>As industry's leading technology research and advisory publication, Network Products Guide plays a vital role in keeping decision makers and end-users informed of the choices they can make in all areas of information technology. You will discover a wealth of information and tools in this guide including the best products and services, roadmaps, industry directions, technology advancements and independent product evaluations that facilitate in making the most pertinent technology decisions impacting business and personal goals. The guide follows conscientious research methodologies developed and enhanced by industry experts. To learn more, visit <a href="http://www.networkproductsguide.com/" target="_blank">www.networkproductsguide.com</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years' experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/" target="_blank">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>