<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Awarded Three U.S. Patents For Its Data Access Switching Technology</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-29" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-ip-patent-aggregation-switch.pdf" target="_blank">gigamon-ip-patent-aggregation-switch.pdf </a> (26 KB pdf file)</p>
          <p>Silicon Valley, CA - February 27, 2009 - Gigamon™, the global leading provider of intelligent data access networking products, announced today that it has been awarded U.S. Patents No. 7,424,018; 7,436,832; and 7,440,467, for its innovative data access switching technology. These new patents not only further extend Gigamon’s intellectual property portfolio, but also ensure that the company’s core Data Access Network (DAN) technology is protected. family of data access switches, has reshaped the way companies monitor their networks for everything from troubleshooting to lawful intercept. We’re pleased that our innovative approach has been recognized with the issuance of U.S. patents,” said Patrick Leong, Gigamon’s chief technical officer.</p>
          <p>“Gigamon’s DAN approach, as made available through its GigaVUE™ Currently in use at over 500 telecom, industrial, manufacturing, financial, research, medical, retail, utility and government networks in 41 countries around the world, GigaVUE switches allow IT departments to protect their investment in monitoring tools while also ensuring optimum performance. The packet-aware devices provide exactly the data needed for a given tool to carry out its function, at a rate it handle; what’s more, due to their out-of-band orientation, GigaVUE switches do not impact network operations.</p>
          <p>“With the proliferation of tools for Sarbanes-Oxley compliance, intrusion detection, forensic recording, VoIP analysis and the like, TAP or SPAN ports can be overwhelmed,” explained Leong. “The result is that engineers often have to fight for access to network traffic. “DAN technology avoids this issue by aggregating, replicating and filtering network traffic to any number of different GigE or 10 GigE monitoring tools.”</p>
          <p>The ability of GigaVUE switches to intelligently breakdown large loads across different tools, means that both 10 GigE and legacy 1 GigE tools can be employed simultaneously. GigaVUE switches also substantially reduce the capital cost of a conventional monitoring infrastructure. Finally, GigaVUE switches feature a three-tier user access control configuration, enabling administrators to restrict access to only the data streams required for a particular device. The solution ensures compliance with SOX guidelines for data access security.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>