<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Andy Zollo as Vice President of Europe, Middle East and Africa</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-667" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Santa Clara, CALIF. (February 24, 2015)</strong> – &nbsp;<a href="http://www.gigamon.com/">Gigamon</a>® (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™, announced today that Andy Zollo has joined the company as vice president of the company’s Europe, Middle East and Africa (EMEA) region, bringing with him nearly 25 years of leadership in sales and channel strategy within the technology industry.</p>
          <p>In his role at Gigamon, Zollo will oversee all operations in EMEA, including driving a coordinated sales, channel, technical and marketing team to accelerate market development in EMEA. He has a proven track record of taking companies from startup to major success by building their sales and channel organizations across the entire EMEA region.</p>
          <p>&nbsp;“Andy brings broad pan-European experience to Gigamon, fully understands the sales channel and has worked with major customers throughout EMEA,” said Helmut Wilke, Gigamon’s senior vice president of worldwide sales. “We have high expectations for future growth in EMEA and are fully confident that Andy’s leadership will help us to achieve those goals.”&nbsp;</p>
          <p>Zollo joins Gigamon from Dell Software, where he was most recently EMEA vice president of the company’s $120 million security division. Zollo has also held leadership positions at SonicWall, Alcatel and Bay Networks.&nbsp;</p>
          <p>“Gigamon’s commitment and investment in EMEA and its channel is representative of a company poised for rapid progress and advancement,” said Zollo. "I look forward to growing with our partners in this thriving market.”</p>
          <h2><strong>About Gigamon&nbsp;</strong></h2>
          <p>Gigamon provides an intelligent&nbsp;<a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at&nbsp;<a href="http://www.gigamon.com/">www.gigamon.com</a>,&nbsp;the&nbsp;<a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on&nbsp;<a href="https://twitter.com/gigamon">Twitter</a>,&nbsp;<a href="https://www.linkedin.com/company/gigamon">LinkedIn</a>&nbsp;or&nbsp;<a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <h2><strong>Legal Notice Regarding Forward Looking Statements</strong></h2>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, our strategic product initiatives, including the timing, availability, benefits and adoption of white-box certified GigaVUE-OS, demand for our product portfolio and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; our ability to work with QCT and Agema to certify their hardware and successfully market the white-box solutions, customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended&nbsp;September 27, 2014. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p align="center"># # #&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>