<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Availability of Entry Level Data Access Switch for Enterprise Networks and Data Centers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-135" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-gigavue-212-announcementl.pdf" target="_blank">gigamon-gigavue-212-announcementl.pdf </a> (22 KB pdf file)</p>
          <p>Silicon Valley—April 21, 2010 -</p>
          <p>At a much lower entry price level, the switch supports eight 1GE ports and two 10GE ports with an optional expansion module for support of another four 1GE ports. The GigaVUE-212 is ideal for data centers and enterprises who either require a low-cost option in order to enhance their network monitoring for the first time, or who have areas of their networks where they need lower port counts to support comprehensive monitoring.</p>
          <p>With support for plug-in of multiple out-of-band tools, the GigaVUE-212 enables enterprises and data centers to connect any tool to any data stream unobtrusively while enabling aggregation, replicating, filtering and load balancing of multiple data streams. By integrating the GigaVUE-212 Switch into their networks, data centers and enterprises can achieve immediate return on investment (ROI) by consolidating distributed tools and reducing management expense. Additionally, the GigaVUE-212 provides for accurate measurement of time sensitive protocols and quality of service (QoS), a reduction in packet loss to improve monitoring fidelity and support for continuous monitoring and scalable growth with hot-swap modules.</p>
          <p>"The GigaVUE-212 is a purpose-built data access switch capable of full line-rate performance and minimal transfer latency," said Gigamon Chief Technology Officer Patrick Leong. "With Gigamon's technology, nearly any number of traffic sources may be aggregated, filtered and distributed to one or more monitoring tools at any speed. The GigaVUE-212 rounds out a comprehensive Intelligent Data Access Networking product family that ensures immediate ROI."</p>
          <p>"The GigaVUE-212 advances the networking industry by providing enhanced monitoring technology at a much lower cost than other devices with similar capabilities," said Kevin Jablonski, Vice President of Marketing and Business Development, Gigamon. "By offering the GigaVUE-212 product, Gigamon fulfills its customers' requirements for a full spectrum of product options that meet the needs of any network configuration."</p>
          <p>Gigamon recently announced its new software application family GigaSMART™ to enhance its award-winning GigaVUE-2404 Platform, along with the GigaVUE Platform Release 7.0, which delivers increased flexibility by allowing the unique feature of dynamically adding or dropping cross-box connections. GigaSMART is the data access industry's first 10-Gig full line-rate packet modification technology to offer time stamping, network port labeling, slicing and masking. This enables organizations to realize further optimization and efficiencies in performance, security, compliance and analysis monitoring.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon™ delivers intelligent data access solutions to enhance network monitoring of data centers, service provider and enterprises. The company’s world-renowned GigaVUE® aggregates, filters and replicates customized data streams to all monitoring tools. Gigamon pioneered the technology for multi-tool environments, addressing the growing new demands for reporting and analyzing organizational data. Now in its third generation with global deployments in more than 40 countries, Gigamon’s GigaVUE platform is the only proven, fully-integrated, total solution for all data access needs. Gigamon’s patented technology enables companies to realize ROI on day one by increasing tool value and operational efficiencies. GigaVUE ensures seamless and controlled delivery of the right data at the right time to the right tools. Organizations deploying Gigamon solutions achieve greater uptime, reduce threat vulnerability and improve regulatory compliance. For more information about Gigamon and its award-winning solutions, visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, IntelligentDAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
          <p>Gigamon™, the leading global provider of Intelligent Data Access Networking™, today announced immediate availability of its new entry-level Data Access Switch, the GigaVUE-212™. A networking industry first, the GigaVUE-212 is a modular packet-aware Data Access Switch which aggregates, replicates, filters and load divides traffic flows across multiple passive monitoring tools at a fraction of the cost of similar devices. This new product will provide much of the same functionality as Gigamon's popular GigaVUE-420® and GigaVUE-2404® Platforms, but at a much lower cost and for implementations where fewer ports are needed, thus providing access to Gigamon's proven network-monitoring technology to a wider customer base.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>