<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Addresses Big Data for Mobile Carriers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-111" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>The GigaVUE H Series Family Now Provides Big Visibility for Big Data</em></p>
          <p><strong>Milpitas, Calif., February 21, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>, a leader in traffic visibility solutions with the innovative <a href="/traffic-visibility-fabric">Visibility Fabric</a>™ architecture, announced a holistic approach to the current Big Data challenge facing mobile carriers. With the recent additions of the GigaPORT-C01 100Gb and the GigaPORT-Q08 40Gb line cards to the GigaVUE H Series product line, Gigamon’s technology portfolio provides the volume, port density and scale needed to address network visibility in the most demanding of mobile carrier environments. These industry leading capabilities will be demonstrated live at <a href="http://www.mobileworldcongress.com/">Mobile World Congress 2013</a> in Barcelona, Spain.</p>
          <p>“One of the key reasons behind the growth of Gigamon is its proven ability to develop products based on customer challenges and emerging trends. The GigaPORT-C01 100Gb and GigaPORT-Q08 40Gb line cards provide the pervasive traffic visibility required to manage Big Data across complex networks,” said Srihari Padmanabhan, Frost &amp; Sullivan Senior Research Analyst. “With a strong customer base that includes some of the leading mobile carriers across the world, Gigamon is in the best position to understand and tackle the Big Data challenges faced by its customers.”</p>
          <p>As carriers continue to increase not only the number of pipes in their networks, but also the speeds of existing pipes from 10Gb and 40Gb to 100Gb, they require a solution that can enable the efficient management and monitoring of this rising volume of data. The 100Gb GigaPORT-C01 line card extends the pervasive reach of the Visibility Fabric architecture, allowing for the unique ability to handle 40Gb and 100Gb, in addition to 10Gb and 1Gb connections.</p>
          <p>Gigamon deploys highly port-dense 1Gb, 10Gb, 40Gb and 100Gb solutions, facilitating connections with all processing taking place over the built-in backplane. This design allows for enhanced tool integration features, filtering and load balancing across tool ports. The GigaPORT-Q08 40Gb line card further enhances Gigamon’s carrier-grade chassis implementation, providing some of the greatest port concentration in the industry. To ensure the scale necessary to manage the growing influx of data, Gigamon’s nodes within the Visibility Fabric architecture interconnect seamlessly and are able to process traffic across a non-blocking backplane chassis architecture.</p>
          <p>“Big Data is no a longer a problem unique to enterprise data centers. Mobile carriers are now facing a deluge of traffic in their pipes, from an increasingly mobile workforce and the proliferation of smart devices and applications. Mobile carriers must have the capacity to connect pipes to individual analytics tools at the network core and concentration points, to ensure accurate data processing and analysis, as they have already invested a tremendous amount into their existing tools. Gigamon’s technology uniquely provides the necessary volume, port density and scale that enables each tool to function at maximum efficiency whilst keeping monitored traffic off the production network, saving the carrier significant costs that translate into cost savings for the subscriber,” said Andy Huckridge, director of Service Provider Solutions at Gigamon.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/traffic-visibility-fabric">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>