<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Joins New Riverbed-Ready Technology Alliance Program</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-576" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Joins New Riverbed-Ready Technology Alliance Program</strong></p>
          <p><strong>Partnership Aims to Extend Reach and Value of Combined Solutions for Hybrid Enterprises Adopting Next Generation IT</strong></p>
          <p><strong>SANTA CLARA, Calif., Nov. 4, 2014 </strong>/PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon®</a> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="http://www.gigamon.com/products/unified-visibility-fabric-architecture">Visibility Fabric™</a>, today announced at Riverbed FORCE 2014 that it has joined the Riverbed®-Ready Technology Alliance program. The goal is to bring the capabilities of Gigamon's Visibility Fabric to Riverbed customers while expanding the value of Riverbed solutions and helping customers overcome the visibility challenges associated with the adoption of new information technologies for the hybrid enterprise.</p>
          <p>Gigamon's Visibility Fabric™ delivers active visibility across physical, virtual, software-defined networks (SDN) and network function virtualized (NFV) environments while integrating with Riverbed SteelCentral network and application performance management solutions to offer application performance visibility and fast network diagnostic capabilities in any scale of data center environment. Integrating Gigamon offerings that include packet de-duplication and time stamping with Riverbed solutions enhances the network and application performance monitoring capabilities of joint customers. Enterprises and data centers deploying the combined solutions of Gigamon and Riverbed can rest assured that their monitoring infrastructures are tested, verified, and supported.</p>
          <p>"As a Riverbed-Ready Technology Alliance partner, Gigamon is excited to collaborate on developing unified solutions that provide pervasive visibility for application-aware network and application performance management and monitoring for enterprises in various stages of adoption of next generation IT infrastructures," said Tara Reeve, director of strategic alliances at Gigamon, a Platinum-level Riverbed-Ready member. "Through Riverbed-Ready joint testing, our shared customers can be confident that our combined solutions will offer the highest levels of network and application visibility and perform as promised."</p>
          <p>Gigamon has been partnering with Riverbed since early 2012 on integrated solutions and technologies for rapid and accurate troubleshooting of network and application problems in enterprise and financial industry IT environments. The company continues to work together on integrating and testing technologies such as Riverbed's validation of Gigamon's NetFlow Generation application. The updated Riverbed-Ready program framework enables partners to extend the Riverbed Application Performance Platform, the most complete platform for analyzing, diagnosing, and resolving application, network, and end-user performance issues anywhere in the hybrid enterprise. Through the program, Gigamon and Riverbed will help customers maintain visibility across cloud, virtualized and software-defined environments for insight into network and business application performance.</p>
          <p>"Through the new Riverbed-Ready program, Riverbed and Gigamon will provide our customers integrated solutions that extend the Riverbed Application Performance Platform," said Katie Colbert, vice president, global technology alliances at Riverbed. "Together, Riverbed and its partners are providing end-to-end solutions that provide deep visibility and control to inspect, direct, and protect workloads across the hybrid enterprise."</p>
          <p>Gigamon will be exhibiting and presenting in two sessions at the Riverbed FORCE Conference at the San Jose Convention Center in San Jose, Calif. from Nov. 3 – 6, 2014.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>About Riverbed Solutions</h3>
          <p>Riverbed Application Performance Platform product families include: Riverbed® SteelCentral™ for end-to-end visibility, analytics, and diagnostics across the hybrid enterprise; Riverbed® SteelHead™ to optimize and control application delivery throughout the hybrid enterprise; Riverbed® SteelFusion™ to consolidate branch infrastructure in the data center and optimize delivery of apps/data to branches; and Riverbed® SteelApp™ to optimize application delivery and load balancing in hybrid cloud environments.</p>
          <h3>About Riverbed FORCE 2014</h3>
          <p>Riverbed FORCE 2014, November 3 – 6 at the San Jose Convention Center, gathers global IT leaders and industry pioneers to focus on The Hybrid Enterprise: How to Make Yours Perform at Its Peak. FORCE offers attendees thought-provoking General Session keynotes from industry experts; free technical certification testing; a Riverbed-Ready Technology Partner Pavilion; and 80 hands‑on labs and technical sessions that deliver in-depth training with hybrid architectures and solutions in performance management, WAN optimization, branch converged infrastructure and application delivery. More than 1,000 customers, technology partners and industry and Riverbed technology experts are expected at this premier event. Learn more at <a href="http://www.riverbed.com/in/" target="_blank">www.riverbedforce.com.</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>Legal Notice Regarding Forward Looking Statements This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture and the benefits and continuation of our partnership with Riverbed. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended June 28, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>