<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Strengthens the Unified Visibility Fabric Architecture with New Offerings</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-107" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Additions to Service, Management and Applications Layers Enhance Visibility</em></p>
          <p><strong>Silicon Valley, CALIF., May 6, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>, a leader in network traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, today announced the availability of a new Visibility Fabric node, the <a href="3/products/gigavue-hb1">GigaVUE-HB1</a> for branch offices and the implementation of a new Graphical User Interface (GUI) for Gigamon’s H Series product line, as well as a proof-of-concept application called FlowVUE™ which will offer flow-based correlation services. Gigamon recently announced a strategy to develop a unified Visibility Fabric architecture that would ultimately deliver orchestrated visibility across physical, virtual and software-defined networks (SDN). These additions to the Gigamon portfolio further that strategy by extending the reach of the Visibility Fabric architecture to remote locations and providing ease of use and configurability for simplified management and provisioning of monitoring policies. FlowVUE, upon release, will help tame big data and allow for the ability to intelligently correlate network traffic for tool optimization. Gigamon will be demonstrating the Unified Visibility Fabric architecture at booth #1459 at <a href="http://www.interop.com/lasvegas/">Interop Las Vegas 2013</a> at the Mandalay Bay Convention Center.</p>
          <p>“Gigamon recently announced a vision for a Unified Visibility Fabric architecture that builds on the principles of SDN that will deliver centralized and programmable visibility services across physical, virtual and software-defined networks,” said Huy Nguyen, Sr. Director of Product Management at Gigamon. “These three new additions were developed with those goals in mind and join our current portfolio in the context of Gigamon’s recently articulated four-layer architecture to offer orchestrated, centralized and policy-driven Visibility as a Service.”</p>
          <p>The GigaVUE-HB1 Visibility Fabric node builds on Gigamon’s Unified Visibility Fabric architecture within the Services Layer and comes with GigaSMART<sup>®</sup> technology. GigaSMART offers the ability to normalize traffic and perform VXLAN decapsulation for monitoring virtualized network overlays, ERSPAN termination, packet de-duplication, packet masking and packet slicing, among others. The GigaVUE-HB1 extends Gigamon's pervasive and intelligent visibility and packet modification into a customer’s remote sites and enables remote network monitoring by tunneling monitored data back to a central site for tool centralization and consolidation through a unified Visibility Fabric architecture.</p>
          <p>FlowVUE will join the session-aware flow de-duplication application as the second visibility application to be developed by Gigamon in the Applications Layer. These applications offer flow-based correlation services to tools, ensuring optimal tool utilization and performance by making network-based big data more manageable. In the future, Gigamon will continue to work with technology partners and other third parties to develop additional applications as well as continuing to work on in-house applications.</p>
          <p>The new H Series 3.0 OS Software release for the Management Layer brings with it a brand new intuitive workflow-based Web 2.0 graphical user interface (GUI) and simplified provisioning of monitoring policies. The 3.0 Software release also enables customers to utilize Gigamon’s GigaPORT-C01 100Gb blade for visibility into full line-rate 100Gb Ethernet connections.</p>
          <p>“By offering network traffic optimization, normalization and tunneling in a smaller form factor, Gigamon is enabling enterprises with remote or branch offices to abstract data from those remote office networks, prepare that traffic and return it to a centralized data center for analysis,” said Bob Laliberte of the Enterprise Strategy Group. “The addition of FlowVUE in the Applications Layer will further enhance data center efficiency by offering flow-based correlation services that will help to ensure optimal tool utilization and performance. Gigamon’s unified architecture and rapid innovation delivery empowers its customers to achieve greater levels of visibility and control for highly dynamic network environments.”</p>
          <p>The H Series 3.0 software release will be available on May 31<sup>st</sup>. The GigaVUE-HB1 and GigaPORT-C01 blade will be available for purchase on May 31<sup>st</sup> for $15,995 and $124,995 respectively. Gigamon is targeting a Q4FY13 availability date for the FlowVUE application.</p>
          <h3>About the Unified Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance, and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward-Looking Statements</h3>
          <p>This press release contains forward-looking statements. Forward-looking statements generally relate to future events or our future financial or operating performance. Forward-looking statements in this press release include, but are not limited to, statements related to: our expectation that the demand for software-defined networks will continue to grow and develop; our vision and strategy to address software-defined networks; and our expectations regarding future product developments and enhancements. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include the possibility that the market for software-defined networks will not continue to develop as we expect; that customer demand for products that address software-defined networks will not increase; and that we may be unable to develop new products and enhance existing products to address software-defined networks. The forward-looking statements contained in this press release are also subject to other risks and uncertainties. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>