<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Distribution Agreement with EGUARDIAN</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-88" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Expands Global Presence within Southeast Asia</em></p>
          <p><strong>Silicon Valley, Calif., July 2, 2012</strong>–<a href="/" target="_blank">Gigamon</a>®, a leader in traffic visibility solutions, today announced a distribution agreement with EGUARDIAN, a regional value added distributor that specializes in providing innovative technology products and solutions for data centers, networking and security. Through this relationship, Gigamon will further extend the availability of its patented <a href="/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf" target="_blank">Traffic Visibility Fabric</a>™ enabling improved network visibility for security, performance and compliance management.</p>
          <p>"Today the Traffic Visibility Fabric is a key architectural element to improve operation, security and maintenance of increasingly complex IT infrastructures. With Gigamon, management and monitoring solutions are enhanced, enabling customers to achieve pervasive visibility into the traffic flows within their network," stated David Sajoto, vice president of sales for Gigamon in Asia Pacific. "By working with a distributor like EGUARDIAN, we can deliver this solution more effectively into the Southeast Asian market, complementing the strong portfolio of enterprise solutions they currently provide to their reseller partners."</p>
          <p>EGUARDIAN has a team of certified professionals dedicated to the design and delivery of flexible IT infrastructure with reduced security costs and complexity, while also ensuring operational control to their resellers. This dedication coupled with their extensive regional reach, places EGUARDIAN in an ideal position to provide the advantages of Gigamon's technology to the region.</p>
          <p>"EGUARDIAN is delighted to offer Gigamon solutions to our resellers," said Kaiyang Cai, EGUARDIAN CEO. "The pervasive, intelligent and dynamic Traffic Visibility Fabric makes it an important addition to our portfolio, further allowing us to provide our resellers with access to the most advanced and flexible technology solutions on the market."</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years' experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a> .</p>
          <h3>About EGUARDIAN</h3>
          <p>Founded in 2003, EGUARDIAN is a regional value added distributor that specializes in providing innovative technology products and solutions for data center, networking and security. Whether it's optimizing the impact of business infrastructures and services or improving end-to-end risk management to protect against threats while reducing the costs and complexity of security -- we bring business perspective, decades of experience and practical ingenuity to every engagement. EGUARDIAN is headquartered in Singapore and has offices in Indonesia, Malaysia, Sri Lanka and Vietnam. For more information visit <a href="http://www.e-guardian.net">www.e-guardian.net</a> .</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>