<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Recognized on CRN’s Security 100 List</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1061" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Santa Clara, Calif., (Mar, 21st 2016) </strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, announced today that CRN<sup>®</sup>, a brand of The Channel Company, has named Gigamon to its inaugural 2016 Security 100 list. This project recognizes the coolest security vendors in each of five categories: Endpoint Security; Identity and Access Management and Data Protection; Network Security; SIEM and Threat Detection; and Web and Application Security.</p>
          <p>The companies in CRN's Security 100 have demonstrated creativity and innovation in product development, as well as a strong commitment to delivering those offerings through a vibrant channel of solution providers.</p>
          <p>In addition to recognizing security technology vendors for outstanding products and services, the Security 100 list also serves as a valuable guide for solution providers trying to navigate the IT security market. The list aids prospective channel partners in identifying the vendors that can best help them improve or expand their security offerings.</p>
          <p>For Gigamon, the network is the new battleground. And with a new battleground comes the need for a new security approach. Built on pervasive network visibility, the GigaSECURE<sup>®</sup> Security Delivery Platform is changing the game as well as the way enterprises, service providers, and governments view and apply security. Designed to improve the efficacy of existing security infrastructures, GigaSECURE filters and feeds traffic and metadata to pure-play security tools giving them the visibility they need (i.e. the right information at the right time) so they can be better and faster at what they do: detect, respond, analyze, and protect.</p>
          <p>“Security solutions are more essential than ever to the health and sustainability of every business, large or small,” said Robert Faletra, CEO, The Channel Company. “The frequency and complexity of IT security threats have vastly increased in recent years, requiring rapid innovation and an incisive, forward-thinking defense strategy. The importance of having expertly secured networks, software, hardware, applications, and databases cannot be overstated. Our Security 100 list honors those tech suppliers at the forefront of this field for their contributions to the advancement of the channel and to the IT market at large.”</p>
          <p>“Gigamon created and continues to lead the network traffic visibility market because we continue to innovate,” says Barbara Spicek, Vice President of Channel Sales at Gigamon. “Being named to the CRN Security 100 validates our well-established visibility technology, its updated and indispensable applicability to security, and Gigamon's position as the industry’s first solution provider in what we believe should be considered a new and emerging category of security defense: the security delivery platform.”</p>
          <p>The Security 100 list will be featured in the April 2016 issue of CRN and online at <a href="http://www.crn.com/security100" target="_blank">www.crn.com/security100</a>.</p>
          <p><strong>Follow The Channel Company:</strong> <a href="https://twitter.com/TheChannelCo" target="_blank">Twitter</a>, <a href="http://www.linkedin.com/company/the-channel-company" target="_blank">LinkedIn</a> and <a href="https://www.facebook.com/TheChannelCompany?fref=ts" target="_blank">Facebook</a></p>
          <p><strong>Tweet This:</strong><br>@TheChannelCo names @Gigamon to @CRN 2016 Security 100 list #CRNSecurity100 <a href="http://www.crn.com/security100" target="_blank">www.crn.com/security100</a></p>
          <h3>About</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/" target="_blank">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <h3>About The Channel Company</h3>
          <p>The Channel Company enables breakthrough IT channel performance with our dominant media, engaging events, expert consulting and education, and innovative marketing services and platforms. As the channel catalyst, we connect and empower technology suppliers, solution providers and end users. Backed by more than 30 years of unequaled channel experience, we draw from our deep knowledge to envision innovative new solutions for ever-evolving challenges in the technology marketplace. <a href="http://www.thechannelco.com/" target="_blank">www.thechannelco.com</a></p>
          <p><em>CRN is a registered trademark of The Channel Company, LLC. The Channel Company logo is a trademark of The Channel Company, LLC (registration pending). All rights reserved.</em></p>
          <h3>Channel Company Contact:</h3>
          <p>Melanie Turpin<br>The Channel Company<br>(508) 416-1195<br><a href="mailto:mturpin@thechannelco.com" target="_blank">mturpin@thechannelco.com</a></p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Johnnie Konstantas<br>Gigamon<br>+1 (408) 831-4407<br><a href="mailto:johnnie.konstantas@gigamon.com" target="_blank">johnnie.konstantas@gigamon.com</a></td>
              <td>Tom Rice<br>Merritt Group<br>+1 (703) 856-2218<br><a href="mailto:gigamonpr@merrittgrp.com" target="_blank">gigamonpr@merrittgrp.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>