<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Pricing of Initial Public Offering</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-105" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Milpitas, Calif. – June 11, 2013</strong>– Gigamon Inc. (NYSE: GIMO), a leading provider of network traffic visibility solutions, announced today the pricing of its initial public offering of 6,750,000 shares of its common stock at a price to the public of $19.00 per share. Gigamon is offering 4,500,000 shares and certain selling stockholders are offering 2,250,000 shares. Gigamon will not receive any of the proceeds from the sale of the shares being sold by the selling stockholders. In addition, Gigamon has granted the underwriters a 30-day option to purchase up to 1,012,500 additional shares of common stock from Gigamon. The shares are expected to begin trading on the New York Stock Exchange on June 12, 2013, under the symbol “GIMO.”</p>
          <p>Goldman, Sachs &amp; Co., BofA Merrill Lynch and Credit Suisse are acting as lead joint book-running managers for the offering, Barclays is acting as a joint book-running manager for the offering, and Raymond James is acting as co-manager for the offering.</p>
          <p>A registration statement relating to these securities has been filed with, and declared effective by, the Securities and Exchange Commission. The offering is being made only by means of a prospectus. A copy of the final prospectus related to the offering may be obtained, when available, from Goldman, Sachs &amp; Co., Attention: Prospectus Department, 200 West Street, New York, NY 10282, by phone at (866) 471-2526 or by email at <a href="mailto:prospectus-ny@gs.com" target="_blank">prospectus-ny@gs.com</a>; BofA Merrill Lynch, Attention: Prospectus Department, 222 Broadway, New York, New York 10038 or by email at <a href="mailto:dg.prospectus_requests@baml.com" target="_blank">dg.prospectus_requests@baml.com</a>; or from Credit Suisse Securities (USA) LLC, Attention: Prospectus Department, One Madison Avenue, New York, NY, 10010, by phone at (800) 221-1037, or by e-mail at <a href="mailto:newyork.prospectus@credit-suisse.com" target="_blank">newyork.prospectus@credit-suisse.com</a>.</p>
          <p>This press release shall not constitute an offer to sell or the solicitation of an offer to buy, nor shall there be any sale of these securities in any state or jurisdiction in which such an offer, solicitation or sale would be unlawful prior to registration or qualification under the securities laws of any such state or jurisdiction.</p>
          <p>Investor Relations contact:<br>Cynthia Hiponia and Alice Kousoum<br>The Blueshirt Group<br>+1 (408) 493-1399<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>