<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Partners With Velocimetrics To Increase Visibility In Exchange Trading Environments</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-92" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Continues to Expand Visibility Fabric Ecosystem Partners</em></p>
          <p><strong>Silicon Valley, Calif., June 19, 2012</strong>–<a href="http://www.gigamon.com/" target="_blank"> Gigamon</a>®, a leader in traffic visibility solutions, today announced that it has partnered with <a href="http://www.velocimetrics.com/" target="_blank">Velocimetrics </a>to create a solution which analyzes business flows including market data, prices, quotes and trades resulting in the delivery of real-time transaction analysis to the infrastructure operator. Through this relationship, Gigamon further extends the value of its patented <a href="/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf" target="_blank">Traffic Visibility Fabric</a>™ that delivers powerful, pervasive and intelligent visibility to traffic, helping operate, maintain, secure and optimize IT infrastructure and environments.</p>
          <p>Velocimetrics is now part of Gigamon's Visibility Fabric Ecosystem Partners, which includes companies and organizations that are committed to making network traffic more visible and the analytics, management and monitoring of the network more intelligent, efficient and versatile for IT and business leaders.</p>
          <p>"Gigamon is thrilled to work with Velocimetrics due to its wealth of experience and their strong reputation in the 'low latency' financial world," said Tara Reeve, director of strategic alliances at Gigamon. "By utilizing Gigamon's intelligent Traffic Visibility Fabric and nanosecond accurate time-stamp capability, Velocimetrics is now able to provide traders and trade desk managers with accurate latency, real-time alerting and seamless network visibility. This program allows us to provide high-traffic IT environments with reliable world-class solutions."</p>
          <p>A variety of systems are deployed throughout the financial trading infrastructure to provide visibility of the traffic traversing the network. However these systems are only as effective as the traffic and communications they can see.</p>
          <p>"Timestamp resolution and accuracy are fundamental to Velocimetrics' real-time business flow analysis capabilities. By working with Gigamon and integrating with their Traffic Visibility Fabric technology we are able to capture timings closer to the source than we ever have. This provides our clients with a more accurate analysis of their system performance," said Steve Colwill, chief architect and CEO of Velocimetrics.</p>
          <p>Velocimetrics will now leverage Gigamon's Traffic Visibility Fabric and collect traffic from complex trading environments to provide real-time analysis of each transaction. The business flows are then correlated and associated with each other to provide a complete "tick to trade" view with comprehensive performance data for every transaction. At the heart of the combined solution is the Gigamon Visibility Fabric that provides intelligent traffic selection and forwarding to:</p>
          <p>deliver pervasive visibility of the millions of flows, thousands of events and hundreds of changes that occur within the increasingly complex IT infrastructure in real time;</p>
          <p>prioritize critical traffic flows over nonessential ones, one application over another, and optimize packet information;</p>
          <p>provide visibility across physical and virtual borders; and</p>
          <p>provide the clarity and visibility that is crucial to secure, operate and optimize IT services and applications.</p>
          <p>Through this relationship, Velocimetrics is able to provide a new approach to the presentation of real-time business flow analytics within exchange trading environments. By utilizing Gigamon's time-stamp functionality, Velocimetrics can calculate and display trading data, accurate latency and real-time alerting in a customizable console to create real-time performance dashboards for trading environments. Logical views of the trading environment are created automatically, and heat chart colors are used to highlight the cause of any increase in latency allowing infrastructure operations teams to understand where the issue occurred. This provides architects, application developers, system administrators, network operations, business heads and trade desk managers the confidence and peace of mind that trades are not being impacted by latency issues.</p>
          <p>For more information, please visit the website at <a href="/visibility-fabric-ecosystem-partners-program" target="_blank">http://www.gigamon.com/visibility-fabric-ecosystem-partners-program</a> , or call (408) 263-2022.</p>
          <h3>About the Visibility Fabric</h3>
          <p>As requirements on networking and infrastructure continued to demand more flexible, scalable and versatile solutions, Gigamon pioneered a new approach to deliver pervasive and extensible visibility into the network. Understanding the criticality and priority of one communication flow over another, one application over another, and one packet over another, created the foundation for the development of the Traffic Visibility Fabric(TM). The Gigamon Visibility Fabric is a truly pervasive framework, able to see across the boundary of physical and virtual, and therefore able to see into the cloud and provide the clarity that is essential to secure maintain, and support network-based services and applications. For more information visit <a href="/visibility-delivered" target="_blank">http://www.gigamon.com/visibility-delivered</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years' experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>