<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Strategy to Provide Customers with a Unified Visibility Fabric™ Architecture</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-108" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Architecture will be Designed to Provide Unified Visibility Across Physical, Virtual and Software-Defined Networks (SDN)</em></p>
          <p><strong>Silicon Valley, CALIF., April 24, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>, a leader in network traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today a new vision for software-defined monitoring based on a four-layer architecture. Gigamon’s strategy is to develop a unified Visibility Fabric architecture that would ultimately deliver orchestrated visibility across physical, virtual and software-defined networks (SDN). This approach will build on Gigamon’s existing architecture and the principles of SDN to provide a centralized, programmable approach that aims to bridge the gap between the raw data passing through the network and optimally presenting that data to the tools that monitor, manage, secure and ensure application and network performance.</p>
          <p>“As data networks evolve from physical to virtual to software-defined networks (SDN), the role of network visibility needs to evolve as well,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “The Gigamon Unified Visibility Fabric architecture has advanced the vision from providing intelligent traffic filtering and aggregation, to a centralized, policy driven fabric that serves multiple constituents, departments and tools, each with their own policy model. Going forward, we expect that the Unified Visibility Fabric architecture would enable customers to implement ‘Visibility as a Service’. And, as Gigamon continues to develop its offerings, our vision is that this ability will not just be for the physical network, but also across virtual and SDN ‘islands’ as well.”</p>
          <p>The Gigamon Unified Visibility Fabric architecture will be comprised of four layers that Gigamon expects will be able to deliver a centralized, programmable and unified monitoring infrastructure: A Services Layer, a Management Layer, an Orchestration Layer and an Applications Layer. The Services Layer currently provides advanced Flow Mapping® and intelligent packet optimization and normalization using GigaSMART® technology across physical and virtual worlds, and Gigamon expects to expand this layer to include software defined data networks with the GigaVUE-CV application which is currently being developed as a proof of concept. The Management Layer consists of the GigaVUE-FM (Fabric Manager) which provides centralized management and a common policy framework for multi-department and multi-tenant traffic monitoring and manipulation policies across the Visibility Fabric architecture. The Orchestration Layer will be developed by Gigamon to provide an open environment through a set of forthcoming APIs and SDKs to enable third party development of applications. The Applications Layer will consist of a set of visibility applications to be developed by Gigamon, as well as through independent software vendors to deliver optimal tool utilization and performance.</p>
          <p>“The industry has seen a wave of interest in software-defined networks and one of the big questions has been how to intelligently monitor these networks while maintaining visibility for traditional architectures,” said Nick Lippis of Lippis Enterprises and author of the Lippis Report. “Gigamon’s unified Visibility Fabric architecture offers a comprehensive strategy for how Enterprise and Service Providers can extend network visibility into the coming world of SDN. The advanced packet and flow processing, normalization, correlation and de-duplication that are essential capabilities for pervasive network visibility as software defined networks emerge, simply cannot be accomplished with general-purpose Ethernet switches.”</p>
          <h3>About the Unified Visibility Fabric Architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, monitor and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information, visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/visibility-fabric-architecture</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon<sup>®</sup> provides an intelligent Visibility Fabric™ architecture to enable the management of increasingly complex networks. Gigamon technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies, centralized management and a portfolio of high availability and high-density fabric nodes, network traffic is intelligently delivered to management, monitoring and security systems. Gigamon solutions have been deployed globally across enterprise, data centers and service providers, including over half of the Fortune 100 and many government and federal agencies.</p>
          <h3>Legal Notice Regarding Forward-Looking Statements</h3>
          <p>This press release contains forward-looking statements. Forward-looking statements generally relate to future events or our future financial or operating performance. Forward-looking statements in this press release include, but are not limited to, statements related to: our expectation that the demand for software-defined networks will continue to grow and develop; our vision and strategy to address software-defined networks; and our expectations regarding future product developments and enhancements. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include the possibility that the market for software-defined networks will not continue to develop as we expect; that customer demand for products that address software-defined networks will not increase; and that we may be unable to develop new products and enhance existing products to address software-defined networks. The forward-looking statements contained in this press release are also subject to other risks and uncertainties. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>