<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon appoints Gary Newbold as Vice President, Sales for Asia-Pacific</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-737" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>SINGAPORE, June 1, 2015</strong> - Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative <a href="/unified-visibility-fabric">Unified Visibility Fabric™</a>, today announced the appointment of Gary Newbold as Vice President of Sales for the Asia-Pacific region.</p>
          <p>"The demand for pervasive traffic visibility has never been greater, especially as enterprises, service providers and government organizations look to Gigamon to complement their security infrastructure with our Visibility Fabric,” said Helmut Wilke, Senior Vice President Worldwide Sales of Gigamon. “Building on our expansion in the region, Gary brings the qualities that exemplify our commitment to growth, innovation and dedication to lead the network visibility and monitoring market throughout APAC.”</p>
          <p>“I look forward to meeting our challenges in the exciting Asia-Pacific region by applying my experience to strategising and expediting growth across such a diverse geography,” said Newbold. “Immediate strategies include leveraging the company’s recent growth and maximising our opportunities. Challenges can be transformed into positive outcomes by adding direct and channel resources into untapped areas of opportunity.”</p>
          <p>Gary Newbold has a track record of success in the network market. Previously he was Vice President Sales for Asia Pacific and Japan for Extreme Networks, and earlier ran the company’s operations in Northern Europe. Before that he was the country manager for UK&amp;I for 3COM EMEA.</p>
          <p>His experience spans 22 years of sales and general management experience in data communications and networking, sales and marketing, general management, major account acquisition, channel / SI relationships and vertical market focus.</p>
          <h2>About the Visibility Fabric architecture</h2>
          <p>At Gigamon we realised that delivering the visibility essential to manage, analyse and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="http://www.gigamon.com/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h2>About Gigamon</h2>
          <p>Gigamon provides an intelligent Visibility Fabric ™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralised management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>