<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Extends Reach of the Visibility Fabric with New High-Density Network TAPs</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-762" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2>New G-TAP M Series TAPs Enables Operators to Monitor Full Duplex 10Gb/40Gb/100Gb Fiber Optic Links without Impacting Network Traffic</h2>
          <p><strong>Santa Clara, Calif., (July 14, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced a new family of high-density network TAPs, the G-TAP M Series, a next-generation network TAP that extends the reach of Gigamon’s Visibility Fabric while raising the industry bar for TAP port density.</p>
          <p>“In order to see more, secure more and monitor more network traffic, it becomes imperative to have comprehensive network traffic reach,” said Ananda Rajagopal, Vice President of Product Line Management at Gigamon. “The new G-TAP M Series now leads the industry with the highest density and performance in a network TAP, and as a result enables the extension of the Gigamon Visibility Fabric to the furthest reaches of the network.”</p>
          <p>Requiring no power source to operate, the G-TAP M Series is a family of high-density passive fiber optical TAPs for 10Gb, 40Gb and 100Gb links. By splitting light optically, the G-TAP M Series enables network operators to passively monitor full duplex fiber optic links without impacting network traffic. Up to 36 full duplex links can be tapped in a 1RU form factor, which provides for more visibility in a smaller form factor and at a lower cost. With this industry-leading density, organizations will find an effective way to implement a “TAP all” strategy that provides deep, pervasive and non-intrusive visibility into their infrastructure.</p>
          <p>The <a href="/products/g-tap-m-series">G-TAP M series</a> is a modular platform that holds up to 6 TAP modules. Each TAP module supports up to six 1G/10G or six 40G/100G links. A combination of both multimode and single-mode TAPs in 50/50 and 70/30 split ratios is available. Not only does this provide flexibility in choosing link speeds, fiber types and ratio splits, but also provides space for future growth in network and security monitoring.<br>&nbsp;</p>
          <h3><strong>G-TAP M Series – Key Features &amp; Benefits</strong></h3>
          <p>The G-TAP M Series TAPs utilize advanced thin-film technology to minimize insertion loss when deployed with multimode fiber networks. Key features include:</p>
          <ul>
           <li>Full Fidelity Traffic – Unlike SPAN ports, which may throttle output based on load, the G-TAP M Series forward all traffic at full line rate, including any errored, malformed and non-standard packets.</li>
           <li>No Network Impact – Because the G-TAP M Series is a fully passive optical TAP, it does not disrupt network traffic, making for a highly reliable non-intrusive monitoring solution.</li>
           <li>Visibility Fabric Integration – The G-TAP M Series is compatible with Gigamon’s GigaVUE® H Series and GigaVUE® TA Series of visibility nodes that deliver intelligent traffic forwarding and manipulation services via Gigamon’s patented Flow Mapping® and GigaSMART® applications.<br>&nbsp;</li>
          </ul>
          <h3><strong>Availability</strong></h3>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">The G-TAP M Series is expected to be available in August from authorized Gigamon channel partners worldwide.</span><br>&nbsp;</p>
          <h3><strong>About Gigamon</strong></h3>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, the timing of the G-TAP M Series product launch and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>