<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Wins Award for Hottest “New” Networking Company</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-106" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley, CALIF., May 28, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a leader in network traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Unified Visibility Fabric</a>™ architecture, announced today that they have won the NetEvents’ 2013 Innovation Awards for the Hottest “New” Networking Company.</p>
          <p>“We are pleased and excited to receive this award. Our Unified Visibility Fabric architecture solutions help enable rapid instrumentation, tooling and optimization of the network,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “With the growth of new technologies and paradigm shifts such as virtualization, cloud and SDN, Gigamon is uniquely positioned to serve as an enabler to the adoption and growth of these new technologies and this award is a testament to the unique place we hold in the network ecosystem.”</p>
          <p>NetEvents’ Innovation Awards recognizes the very best in the technology industry and rewards the leading individuals and organizations for innovation and performance in the networking and telecommunications sector. Judged by an independent panel of highly respected IT industry gurus, professionals and leading technology press and industry analysts from around the globe, recipients of the award are recognized for their endeavors and achievements in carrier ethernet business services, telecoms, enterprise wireless, cloud/datacenter, security and SDN.</p>
          <p>“Gigamon is rapidly establishing a solid presence in the networking sector. Their innovative approach of providing visibility into networking technologies of today and tomorrow certainly impressed our assembled audience of more than 300 international press, analysts, researchers, industry professionals and Silicon Valley movers and shakers. The live wireless voting at the NetEvents Innovation Awards ceremony certainly made this an exciting vote, awarding Gigamon as the ‘Hottest “New” Networking Company’. Perhaps, an indication of one to watch in this space,” said Mark Fox, CEO, NetEvents.</p>
          <p>The award was presented in tandem with The Ethernet Innovation Summit, which took place May 22<sup>nd</sup> in Mountain View, CA. Gigamon’s Shehzad Merchant spoke on a panel at the Ethernet Innovation Summit on the topic of <em>Future Network Architectures</em>. The panel included other industry pioneers to propose and explore topics such as new architectures, the promised benefits and challenges of Software-Defined Networking (SDN), Content-Centric Networking (CCN) and other new Ethernet architectures and technologies.</p>
          <h3>About the Unified Visibility Fabric Architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, monitor and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information, visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/visibility-fabric-architecture</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon<sup>®</sup> provides an intelligent Visibility Fabric™ architecture to enable the management of increasingly complex networks. Gigamon technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies, centralized management and a portfolio of high availability and high-density fabric nodes, network traffic is intelligently delivered to management, monitoring and security systems. Gigamon solutions have been deployed globally across enterprise, data centers and service providers, including over half of the Fortune 100 and many government and federal agencies.</p>
          <h3>Legal Notice Regarding Forward-Looking Statements</h3>
          <p>This press release contains forward-looking statements. Forward-looking statements generally relate to future events or our future financial or operating performance. Forward-looking statements in this press release include, but are not limited to, statements related to: our expectation that the demand for software-defined networks will continue to grow and develop; our vision and strategy to address software-defined networks; and our expectations regarding future product developments and enhancements. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include the possibility that the market for software-defined networks will not continue to develop as we expect; that customer demand for products that address software-defined networks will not increase; and that we may be unable to develop new products and enhance existing products to address software-defined networks. The forward-looking statements contained in this press release are also subject to other risks and uncertainties. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>