<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces CFO Succession</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1552" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>SANTA CLARA, Calif., October 27, 2016</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, announced that Mr. Rex S. Jackson is joining the company as chief financial officer, effective today. Rex previously served as CFO for four public companies including Rocket Fuel, JDS Uniphase, Symyx and Synopsys. &nbsp;His financial, strategic and operational experience managing both small and large enterprises across hardware, software and services, extend the breadth and depth of Gigamon’s leadership team.&nbsp;</p>
          <p>“We are excited to have Rex’s proven financial leadership on the Gigamon team, as we continue to scale our business and execute our growth strategy,” said Gigamon’s chief executive officer, Paul Hooper.&nbsp; “His experience makes him ideally suited to assume the role of Gigamon’s CFO as we capitalize on new opportunities.”</p>
          <p>Mike Burns, Gigamon’s CFO since July 2014, has agreed to stay on in an advisory role to ensure a seamless transition before pursuing his next career opportunity.&nbsp;&nbsp; Mr. Hooper stated, “I would like to thank Mike for his steady financial leadership and consistent execution on our compelling software-centric profit model. He has built a strong and stable finance team at Gigamon, and we all wish him continued success in the future.”</p>
          <p>“It has been a privilege to partner with Paul and the entire Gigamon team to help deliver sustainably high profits and outstanding returns to shareholders, as we continue to monetize our innovative platform,” said Mr. Burns. “I am confident exciting days are ahead for Gigamon, as the company is well-positioned to capture share in the security, mobility and cloud markets.”</p>
          <p><strong>Gigamon </strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon's Visibility Fabric and GigaSECURE®, the industry's first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively.&nbsp; See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding our future growth opportunities, the evolution of our marketplace and the goals for our Unified Visibility Fabric™ and our Security Delivery Platform. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 26, 2015 and our most recently available Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>