<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Turns Big Data into Manageable Data for Mobile Carriers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-110" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Designs Technology Enabling Engaged Visibility into the Service Provider Network</em></p>
          <p><strong>Mobile World Congress, Barcelona, Spain, February 26, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>, a leader in traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced the development of an advancement that transforms Big Data into manageable data for mobile carriers. This method is intended to facilitate a cost-effective solution for connecting single or multiple 40Gb and 100Gb pipes to 10Gb and 1Gb analytic tools. This technology under development will be able to take the network traffic flowing through the large pipes, and control the volume of data being forwarded to the tools. This breakthrough process will faithfully reproduce the data on a smaller scale, retaining its stateful condition with session awareness. Single tools can then effectively process throughput of what was originally 100Gb or 40Gb traffic flows. This concept and Gigamon’s existing features to address Big Data are currently on show at <a href="http://www.mobileworldcongress.com/about/start-here/2015-preview/">Mobile World Congress 2013</a> in Barcelona, Spain.</p>
          <p>When commercially available, this new innovation will work in tandem with Gigamon’s <a href="/products/technology/flow-mapping">Flow Mapping</a><sup>®</sup> and <a href="/products/gigasmart">GigaSMART</a><sup>®</sup> applications technologies. Flow Mapping enables advanced filtering of individual network traffic packets that are forwarded according to a set of user-defined rules that are optimized to provide customers with unique granularity and scalability. GigaSMART applications modify, manipulate, transform and transport packets, along with the information they carry, in order to enhance and improve the value of the network traffic before delivering it to the appropriate management, monitoring and security tools.</p>
          <p>“As data traffic from mobile devices and applications continues to grow rapidly, mobile carriers have searched for a way to efficiently, effectively, and economically monitor that traffic for performance and quality of service”, said Dana Cooperson, VP &amp; Practice Leader of Network Infrastructure Telecoms at Ovum. “As connections grow to 40G and 100G, the Big Data velocity and volume challenge is further intensified. Gigamon’s approach tackles mobile carriers’ Big Data challenges by intelligently breaking down the problem into smaller, more manageable chunks, while maintaining carrier control over QoE. ”</p>
          <p>In combination with the recent announcement of the GigaVUE<sup>®</sup> H Series product line expanding to provide <a href="/big-visibility-for-big-data">Big Visibility for Big Data</a>, this innovation further demonstrates Gigamon’s commitment to addressing the management and monitoring needs of the most demanding mobile carrier environments. By providing engaged visibility into carrier networks, Gigamon’s technology offers a view into 100Gb and bonded 40Gb pipes, while maintaining the ability to concentrate on specific types of traffic that flow through these larger pipes. The traffic can then be packaged into a smaller pipe, enabling the appropriate tool to more readily focus on traffic that requires analysis. Gigamon also grants customers the flexibility to decide on the amount they wish to view of the traffic traveling from the input pipe to the output pipe. Carriers can select to see as little or as much as they determine appropriate.</p>
          <p>“Gigamon was the first to recognize that the flow of data rushing through mobile carrier pipes has scaled to such levels that no technology out there can sufficiently filter and process it all, so we decided to design an entirely new approach,” said Andy Huckridge, director of service provider solutions at Gigamon. “For the first time, the industry as a whole has a real way to tackle the issues associated with Big Data. Through this new concept we hope to alleviate much of the data running through 40Gb and 100Gb pipes, allowing it to fit into smaller existing pipes and saving the carrier from drowning under the massive flow of data and resulting greater tooling costs.”</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>