<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces NetFlow Generation Application to Optimize Network Infrastructure</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-52" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>New Application Enables Enhanced Flow-Level Visibility and Network Efficiency</em></p>
          <p><strong>Silicon Valley, CALIF., January 13, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced a forthcoming application to generate and export NetFlow records from within the Visibility Fabric. As a part of the Applications Layer of the Unified Visibility Fabric architecture, the <a href="/products/technology/netflow-generation">NetFlow Generation</a> application will create NetFlow records, then send the information to one or multiple NetFlow collectors or analyzers. Gigamon has traditionally focused on creating features and functionalities to help optimize the tools infrastructure, however, NetFlow Generation will allow our Visibility Fabric to optimize the network. The application can maximize the efficiency of the network itself by assuming the processing necessary to generate NetFlow information that had previously been dedicated within the switch, thereby reducing the burden to the network.</p>
          <p>“The NetFlow Generation application is a new and very interesting offering for our customers,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “This application is unique because it centralizes NetFlow Generation, offloads this compute intensive job from the network switches and routers, and does it effectively at high throughput rates for both sampled and unsampled traffic. By making NetFlow Generation an application integral to the Visibility Fabric, all the benefits of Flow Mapping<sup>®</sup>, filtering, replication, can be applied in conjunction with the NetFlow Generation capability, providing a very fine granularity of control. This is really an industry first for the monitoring space.”</p>
          <p>NetFlow is a simple way to derive basic information about things like traffic types, usage patterns, top talkers and top applications across systems. The records from the NetFlow Generation application can be exported to multiple collectors concurrently, providing a single flow source for business-critical management applications such as security, billing, capacity planning, and more.</p>
          <p>“Users can now leverage Gigamon’s Visibility Fabric for both packet and flow-level visibility in order to drive greater efficiencies in the network and network monitoring systems,” said Bob Laliberte, Sr. Analyst at Enterprise Strategy Group. “The NetFlow application will provide IT operations teams with the requisite information on network traffic types, relationships between network nodes and usage patterns without utilizing a separate appliance for NetFlow Generation or taxing the network. Simultaneously, network, application and security teams can take advantage of the Gigamon Visibility Fabric to provide packet-level visibility required for sniffers, probes and other security or performance analysis tools.”</p>
          <p>The NetFlow Generation application is a licensable software application starting at $4,995 and is targeted for availability in Q1 of 2014.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information, visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/visibility-fabric-architecture</a>.<strong> </strong></p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-191581) and our Quarterly Report on Form 10-Q for the period ended September 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>