<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Distribution Agreement with Westcon</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1245" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2>Value-added technology distributor to focus on developing Latin America channel</h2>
          <p><strong>Santa Clara, Calif., (July 13, 2016)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, announced today a distribution agreement with Westcon, a value-added technology distributor of category-leading solutions in security, collaboration, networking and data center. Under this new agreement, Westcon will act as a key Gigamon distributor with local presence in multiple Latin American countries, with initial focus on Brazil, Mexico, Colombia, Argentina, Peru and Chile.</p>
          <p>“With our expertise in security and networking, Westcon has become a strong leader among tech distributors and our alignment with Gigamon will prove invaluable as we look to solve our customer’s toughest security and visibility challenges,” said Otavio Lazarini, executive vice president of Latin America, Westcon. “Gigamon’s Visibility Fabric™ and Security Delivery Platform remove network blind spots, bolstering overall security and allowing organizations to become more agile, secure and cost effective.”</p>
          <p>This new partnership broadens the reach of existing relationships with value-added resellers (VARs) in the LATAM region through Westcon. Westcon and Gigamon also have alliances with security companies FireEye, Blue Coat and Check Point to facilitate security solutions selling to joint customers.</p>
          <p>“We see tremendous value in partnering with Westcon, a leading global security distributor, and the relationship will provide numerous resources to empower our continued growth,” said Barbara Spicek, Vice President of Channel Sales at Gigamon. “Westcon’s strong presence throughout Latin America will help us expand our global footprint and deliver Gigamon’s traffic visibility solutions in a previously untapped market.”</p>
          <p>Over the last year, Gigamon has been expanding its presence in Latin America to address the region’s high growth potential for the Company’s security and visibility solutions in the banking, financial services, telecom service provider, government and large enterprise sectors.</p>
          <p>“This new alliance with Westcon promises to increase operational efficiencies allowing us to better service our growing joint customer base,” said Carlos Perea, Vice President of Sales for Latin America and Caribbean at Gigamon.&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p><strong><u>Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a><u>,</u> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p><strong>About Westcon</strong></p>
          <p>Westcon (WestconGroup Inc.) is a value-added technology distributor of category-leading solutions in Security, Collaboration, Networking and Data Center. The company is transforming the technology supply chain through its capabilities in Cloud, Global Deployment and Services. Westcon combines expert technical and market knowledge with industry-leading partner enablement programs. Westcon delivers results together through its deep partner relationships. The company goes to market under the Westcon and Comstor brands.</p>
          <p><strong>Get Connected</strong></p>
          <p><a href="http://www.westcongroup.com/">WestconGroup.com</a> | <a href="http://www.linkedin.com/groups?gid=4148912&amp;trk=hb_side_g">LinkedIn</a> | <a href="https://twitter.com/WestconComstor">Twitter</a> | <a href="http://www.facebook.com/Westcongroup">Facebook</a></p>
          <p align="center"># # #</p>
          <p><strong>FOR MORE INFORMATION, CONTACT:</strong></p>
          <p><strong>Jennifer Ciavattone, Field Marketing Manager – Federal; CALA and Service Providers, Gigamon</strong></p>
          <p>+1 (301) 606-9006 / <a href="mailto:jennifer.ciavattone@gigamon.com">jennifer.ciavattone@gigamon.com</a></p>
          <p><strong>Glenda Suarez, Corporate Marketing Coordinator, LATAM Vendor Management, Westcon</strong></p>
          <p>+1 954-261-7141 / <a href="mailto:glenda.suarez@westcongroup.com">glenda.suarez@westcongroup.com</a></p>
          <p>&nbsp;</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release may include, but are not limited to, benefits for a customer of new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>