<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Enables Automated Visibility for Software Defined Data Centers using VMware NSX Dynamic Service Insertion</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-867" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Gigamon Collaborates with VMware to Deliver Enhanced Virtualized Functions in GigaSECURE Platform</em></h2>
          <p><strong>Barcelona, Spain., (Oct 12, 2015)</strong> – <a href="https://www.gigamon.com">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced an extension of its collaboration with VMware to enable customers to accelerate the operationalization of the Software Defined Data Center. New functionality in Gigamon’s GigaSECURE<sup>®</sup> Security Delivery Platform will enable administrators to automate the selection, filtering and forwarding of virtual traffic for monitoring and security analytics.</p>
          <p>Rich operational visibility is essential in modern security deployments as it not only delivers pervasive reach to information across the physical and virtual enterprise, but it also maximizes the effectiveness of customer investments in network, application and security monitoring tools. The Gigamon solution leverages the VMware NSX service insertion framework for automated deployment of virtual components in the GigaSECURE Security Delivery Platform, while also enabling dynamic provisioning of visibility traffic policies within customers’ software defined data centers.</p>
          <p>“As customers operationalize the software-defined data center they expect to be able to fully automate all aspects of service activation,” said Rod Stuhlmuller, senior director, product marketing, networking and security business unit at VMware. “We are pleased to work with Gigamon to enable our customers to automate rich operational visibility within the data center.”</p>
          <p>Commenting on the announcement, Zeus Kerravala, Analyst at ZK Research said, “VMware NSX network virtualization provides an excellent model for abstracting the physical infrastructure and reproducing network and security services in software; it allows customers to provision and assign policies and security services to applications in within minutes in a virtual infrastructure. The Gigamon solution with VMware NSX allows IT to automate visibility policies for sending traffic and meta-data to security and performance monitoring solutions, enabling administrators to be constantly aware of what is happening in their network.”</p>
          <p>“As customers ramp up their SDDC deployments they need to automate the deployment and orchestration of advanced operationalization tools. Our vision is focused on leveraging VMware NSX service automation capabilities to help customers scale their deployments seamlessly,” said Ananda Rajagopal, vice president of product management at Gigamon.</p>
          <h3>GigaSECURE – A Leading Security Delivery Platform Optimized for VMware NSX-based Software-Defined Data Centers</h3>
          <p>The GigaSECURE Security Delivery Platform is comprised of scalable hardware and software elements that give security administrators unparalleled visibility and capability for bolstering security effectiveness. By combining the GigaSECURE platform with VMware NSX, organizations will have the ability to automate provisioning and configuration of their virtual network traffic monitoring, collection, manipulation and delivery to their network and security tools.</p>
          <p>Additional key benefits of the GigaSECURE platform include:</p>
          <ul class="list-pr">
           <li>Infrastructure-wide reach to a broad range of network architectures and technologies via Gigamon’s GigaVUE-VM and GigaVUE<sup>®</sup> nodes to feed tools with pervasive traffic visibility;</li>
           <li>Metadata and unsampled NetFlow/IPFIX record generation from any network traffic source;</li>
           <li>Application Session Filtering, which eliminates unwanted traffic, such as streaming video from the examined traffic flows;</li>
           <li>SSL decryption for faster threat analysis;</li>
           <li>Inline plus out-of-band for scaling and fault tolerance.</li>
          </ul>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="https://www.gigamon.com">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #&nbsp;</p>
          <p><em>VMware and NSX are registered trademarks or trademarks of VMware, Inc. in the United States and other jurisdictions</em></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for the combined solution described in this press release. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Christi Nicolacopoulos<br>Davies Murphy Group<br>+1 (781) 418-2464<br><a href="mailto:gigamon@daviesmurphy.com" target="_blank">gigamon@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>