<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces GigaVUE-HD8 Intelligent Data Access Switch</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-72" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>New GigaVUE<sup>®</sup> Architecture Breaks “Terabit Barrier” to Support High Speed Network Monitoring and Intelligent Data Access Needs of Today and Tomorrow</em></p>
          <p><strong>Silicon Valley, Calif., May 3, 2011 – </strong>Gigamon<sup>®</sup>, the world's leading provider of Traffic Visibility Networking solutions, today announced the release of the <a href="/gigavue-hd8">GigaVUE-HD8</a> intelligent data access switch. This is the first offering in the GigaVUE H Series.The GigaVUE-HD8 appliance is the industry’s first purpose-built data access switch to provide network visibility and data access to high-density environments at speeds of 1G, 10G, and beyond.</p>
          <p>The GigaVUE-HD8 appliance replicates and filters network traffic to monitoring and security tools at speeds of 1G and10G, and is designed to support faster speeds as they reach industry adoption. At higher speeds, tools that provide essential network monitoring and security functions become less efficient, limiting the visibility which large network operators require to maintain operations.</p>
          <p>The GigaVUE-HD8 appliance uses next-generation switch fabrics that enable an advanced 1.024 Tbps backplane with true non-blocking architecture, 25x faster than any other product in the data access networking industry. The GigaVUE-HD8 appliance is built around a modular configuration, offering hot-pluggable redundant control cards, power supplies, plus up to eight blades that provide 96 10G and 32 1G ports, or 352 1G and 32 10G ports in the maximum configurations. With a maximum of 384 total ports, this is the industry’s highest density data access device.The GigaVUE-HD8 appliance also introduces a powerful new command line interface (CLI) for the H Series, which controls Gigamon’s patented Intelligent Flow Mapping<sup>®</sup> technology. Flow mapping is the replacement to outdated ingress and egress data filtering technology.</p>
          <p>“To meet the growing demand for network services, enterprises and service providers need greater network monitoring capabilities to serve the ever-evolving needs of their employees and customers,” said Ted Julian, principal analyst at Yankee Group. “A solution such as Gigamon’s GigaVUE-HD8 appliance gets to the heart of what these organizations need now: more visibility into larger amounts of data.”</p>
          <h3>Addressing Technology Challenges, Delivering Business Advantages</h3>
          <p>As a purpose-built data access switch for 10G and above networks, the GigaVUE-HD8 appliance addresses the technical challenge of moving an organization’s network to the higher speeds demanded by their business environments. It also provides mission-critical visibility into those environments, to enable better decisions in areas such as security, compliance, capacity planning, and general network performance. Network failures or security breaches in any of these areas can have a negative business impact, as is illustrated in the following scenarios:</p>
          <ul>
           <li><strong>Security</strong>– If a security breach at a bank goes undetected and unresolved, the consequences could include a loss of customers, a damaged brand reputation, expensive notification processes, and potential legal liabilities that could result in government fines or lawsuits.</li>
           <li><strong>Compliance</strong>– Government fines and lawsuits could also come into play if a credit card company or retailer is unaware that its network has fallen out of compliance with a regulation such as PCI DSS (Payments Card Industry Data Security Standard).</li>
           <li><strong>Capacity planning</strong>– If a telecommunications carrier is unaware of fast approaching network capacity needs, a resulting service outage could cost the organization through the loss of customers to competitors as well as lost billable service hours.</li>
           <li><strong>Performance</strong>– A website performance failure at an online retail site could result in customers giving up mid-transaction and fleeing to competitors who are just a click away, causing missed sales opportunities, particularly during peak holiday shopping periods.</li>
          </ul>
          <p>The GigaVUE-HD8 appliance enables the advanced network access and visibility that keeps pace with the 10G network speeds of these organizations, and provides them with a decided business advantage regardless of what technical challenges arise in the near or more distant future.</p>
          <p>“Data visibility matters, because it’s what the IT staff doesn’t see that can result in lost business, brand damage, fines or other liabilities,” said Ted Ho, CEO at Gigamon. “At the end of the day, the reliable performance of a network is critical to a robust, competitive business. By breaking the ‘terabit barrier,’ the GigaVUE-HD8 appliance provides visibility that is critical to network security and monitoring, enabling efficient tool operations and help reduce business risks associated with those mission-critical operations."</p>
          <p>Gigamon will be showcasing the GigaVUE-HD8 and other solutions at Interop 2011, booth #1021, May 8 – 12, in Las Vegas, NV.</p>
          <p>For more information about the new GigaVUE-HD8, please visit the Gigamon website at <a href="http://www.gigamon.com/">www.gigamon.com</a>, or call (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>