<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Partners With ForeScout To Extend Real-time Visibility</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-117" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Partnership Showcases Latest Success in Gigamon’s Visibility Fabric Ecosystem Partners</em></p>
          <p><strong>Silicon Valley, Calif., – April 24, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a>®, a world leader in <a href="/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf">Traffic Visibility Fabric</a>™ solutions, today announced that it has partnered with <a href="http://www.forescout.com/">ForeScout Technologies</a>, a leading provider of automated security control solutions for Fortune 1000 enterprises and government organizations, to provide an integrated set of network management and visibility solutions that enable real-time network visibility and automated security controls, while minimizing core network switch infrastructure load for network operators and IT leaders.</p>
          <p>The partnership enables the ForeScout’s automated security control platform (<a href="http://www.forescout.com/product/">CounterACT</a>) to leverage Gigamon’s Traffic Visibility Fabric to have broader visibility of all devices communicating on the network and dynamically apply security policy to reduce a range of security risks. At the heart of the combined solution is the Gigamon Visibility Fabric that provides intelligent traffic mirroring to enable CounterACT to ensure that:</p>
          <ul>
           <li>access to network resources and sensitive data is trusted and appropriate;</li>
           <li>endpoints are accounted for and meet security standards; and</li>
           <li>violations and threats can be managed faster and with reduced IT intervention.</li>
          </ul>
          <p>"Our customers are actively looking for ways to expand visibility in today’s infrastructure in parallel with maintaining a framework for security visibility that enables more automated means to take action that preserves operations and safeguards sensitive data." said Michael Stanley, Senior Account Manager at Trace3."Gigamon and ForeScout bring powerful platforms to bear with regards to advancing situational awareness and network security."</p>
          <p>The partnership was formed under Gigamon’s <em>Visibility Fabric Ecosystem Partners</em>, which represents an ecosystem of partner companies and organizations committed to making network traffic more visible and the analytics, management and monitoring of the network more intelligent, efficient and versatile for IT and business leaders. In addition, Gigamon has become a member of the ForeScout <a href="http://www.forescout.com/partner_programs/technology-partners/">Strategic Technical Alliance Partner program</a>, a select group of technology companies that have partnered with ForeScout to bring richer solutions to market and better meet customer requirements.</p>
          <p>“Partnering with ForeScout Technologies and other program member companies allows us to provide our customers with world-class solutions,” said Tara Reeve, Director of Strategic Alliances at Gigamon. “By combining Gigamon’s intelligent Traffic Visibility Fabric that enables the forwarding and manipulation of network traffic with ForeScout CounterACT, we are able to provide IT teams the ability to increase connectivity and maintain seamless network visibility, while sustaining a high level of security.”</p>
          <p>By leveraging Gigamon’s Traffic Visibility Fabric, users are able to pass data streams of network traffic to ForeScout’s CounterACT solution for device discovery and analysis, network admission, mobile security, endpoint compliance and threat detection. This provides IT real-time inventory and security posture intelligence for active remediation while allowing users to seamlessly connect to the network without disruptions or changes in end-user experience unless necessary. In addition, the GigaVUE<sup>®</sup> TAP functionality reduces switch SPAN port and port density constraints to allow enhanced network visibility. This functionality also allows “pruning” of traffic data sent to CounterACT to reduce the processing load of the CounterACT Packet Engine.</p>
          <p>“Enterprises must support a wide variety of users, devices and access points while at the same time ensuring the protection of information assets and data, said Sam Davis, vice president of business development at ForeScout. “By partnering with Gigamon and leveraging their Traffic Visibility Fabric technology, we can deliver high level of security intelligence and control across wired, wireless, managed and unmanaged network devices.”</p>
          <p>For more information, please visit the website at <a href="/technology-partners">http://www.gigamon.com/technology-partners</a>, or call (408) 263-2022. A solution note is available at: <a href="/forescout">http://www.gigamon.com/forescout</a>.</p>
          <p>To attend a webcast on May 16, 2012 to learn more about the joint solution, please visit the website <a href="https://gigamonevents.webex.com/mw0307l/mywebex/default.do?nomenu=true&amp;siteurl=gigamonevents&amp;service=6&amp;rnd=0.456089281859152&amp;main_url=https%3A%2F%2Fgigamonevents.webex.com%2Fec0606l%2Feventcenter%2Fevent%2FeventAction.do%3FtheAction%3Ddetail%26confViewID%3D1002567514%26%26%26%26siteurl%3Dgigamonevents">HERE</a>.</p>
          <h3>About ForeScout Technologies, Inc.</h3>
          <p>ForeScout enables organizations to accelerate productivity and connectivity by allowing users to access corporate network resources where, how and when needed without compromising security. ForeScout’s automated solutions for network access control, mobile security, endpoint compliance and threat prevention empower IT agility while preempting risks and eliminating remediation costs. Because the ForeScout CounterACT platform is easy to deploy, unobtrusive, intelligent and scalable, it has been chosen by more than 1,300 of the world’s most secure enterprises and military installations for global deployments spanning 37 countries. Headquartered in Cupertino, California, ForeScout delivers its solutions through its network of authorized partners worldwide. Learn more at <a href="http://www.forescout.com/">www.forescout.com</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>