<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Plan to Address the Service Provider Triple Challenge of Network Transformation</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-570" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><strong style="font-size: 0.923em; line-height: 1.5em;">IP Voice &amp; Voice over LTE (VoLTE), Carrier Network Virtualization and 100Gb Link Deployment Will Cause Monitoring Challenges</strong></h2>
          <p><strong>SANTA CLARA, Calif., Sept. 24, 2014 </strong>/PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon® </a>(NYSE: GIMO), a leader in active visibility solutions with the innovative Unified <a href="http://www.gigamon.com/products/unified-visibility-fabric-architecture">Visibility Fabric™</a>, today announced a strategy to help network service providers de-risk the rollout of several new technologies, namely voice over LTE (VoLTE), carrier network virtualization and 100Gb transport links. The proposition is that a unified tool rail, which is able to see across technology boundaries, uniquely addresses this "Service Provider Triple Challenge of Network Transformation." Collectively, challenges of these new and largely untried technologies present a major change in the way service providers architect their networks and how services will be deployed across them. A unified tool rail enabled by Gigamon's Visibility Fabric provides operators with the capabilities to understand both the traffic and technology interdependencies and maintain constant visibility to troubleshoot any issues.</p>
          <p>"Gigamon is seeing carriers begin deployments with one of the technologies and end up deploying all three in parallel, which causes an unexpected resource crunch that only Gigamon's Visibility Fabric can resolve through the deployment of a unified tool rail. This quickly becomes apparent with two of the new technologies, 100Gb and network virtualization, since they actively remove monitoring visibility," said Andy Huckridge, director of service provider solutions at Gigamon. "By deploying a unified tool rail and driving it with the correct traffic, carriers can better understand the interdependencies when deploying these new technologies. This allows for the de-risking of all three new technologies, regardless of which one is deployed first – and keeps resource needs in check while allowing more than one technology to be deployed at the same time. The Visibility Fabric can help carriers understand how each of the Triple Challenge technology deployments affects each other, how each transported traffic type is affected by each deployed technology and how Real Time Protocol (RTP) traffic is affected by other transported traffic types on the same pipe."</p>
          <p>Mobile operators are facing a transformative period, as they are increasingly required to roll out new technologies in order to keep up with the amount of traffic crossing their networks, as well as offer new services to stay ahead of the competition. Currently, service providers are looking to deploy next generation IP voice services (VoLTE, VoIMS and VoWiFi) and high speed transmission pipes (40Gb and 100Gb). At the same time they are increasingly evaluating and deploying environments that include network virtualisation, which encompasses virtual workloads, software defined networking (SDN) and network functions virtualization (NFV). Many service providers will now be looking to implement significant projects involving one or more of these technologies and, while the execution of each in isolation is relatively simple, what many service providers have yet to realize is the interdependency between them – and the challenges that this can cause; especially where there are barriers to visibility, technology silos or with pre-existing 'spot' monitoring solutions which aren't able to see the bigger picture.</p>
          <p>"Service providers are looking to differentiate themselves from their competitors by offering industry leading services to their subscribers. There is value in new technologies like IP Voice &amp; VoLTE, network virtualization and 100Gb core connectivity for better voice quality, rapid and dynamic service deployment and faster connectivity, respectively," said Ray Mota, Principal Analyst at ACG Research. "A cross technology approach that supports a unified tool rail feeding the monitoring tools with the correct data to be able to fully de-risk these new technologies and deliver the services carriers need to offer in a cost optimized way."</p>
          <h3>Visit Us at LTE Asia</h3>
          <p>Gigamon is at LTE Asia taking place September 23rd - 25th in Stand #15 at the Marina Bay Sands in Singapore.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/products/unified-visibility-fabric-architecture">Visibility Fabric™ </a>architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies.<a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>Legal Notice Regarding Forward Looking Statements This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended June 28, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>