<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon broadens Strategic Partnerships with Network Tool Partners</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-22" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/_partner-announcement-cisco-live.pdf" target="_blank">partner-announcement-cisco-live.pdf</a> (35 KB pdf file)</p>
          <p>San Francisco—Cisco Live 2009, Moscone Center Booth 237 - June 29, 2009 - Gigamon™,the leading global provider of intelligent data access networking™ products, today revealed its broadened commitment to strategic partners in providing an unparalleled solution to gain greater visibility of any data, anytime, anywhere in the network. Gigamon’s enhanced offering with monitoring tool partners provides joint customers immediate ROI, attracting a substantial amount of new and returning business in the midst of the economic downturn.</p>
          <p>Today’s enterprises struggle to find the balance between gaining visibility into oversubscribed networks and determining where and when to deploy compliance, security and performance monitoring tools. Gigamon’s GigaVUE™ products work in parallel with partner solutions to deliver that much needed balance. Gigamon provides access to any network segment at any speed including 10GbE connections. Upon being installed, Gigamon can aggregate the data from multiple segments, filter on specific information within each packet and direct that information to all tools needing that information. Any tool can now be connected to the Gigamon GigaVUE anytime, which provides better monitoring in multiple areas simultaneously. The unique capabilities of Gigamon to aggregate, filter and divide data streams ensures every tool an easier-to-identify data flows at a more manageable data rate. This enhances the accuracy and efficiency of the tools.</p>
          <p>“Gigamon understands the complicated and arduous tasks involved in managing a data network,” said Kevin Jablonski, senior director, business development at Gigamon. “Our customers are facing limited IT budgets and overtaxed data center resources. At the same time, they are also contending with federal regulations with stringent reporting requirements alongside the worst cyber threat landscape to date. Together with our monitoring tool partners, Gigamon ensures seamless delivery and parsing of data streams so that all tools are able to perform at optimal levels and key stakeholders are able to perform their organizational responsibilities.”</p>
          <h3>Gigamon Technology Partnership Benefits</h3>
          <p>Best of Breed Partner: Currently in its third generation, Gigamon is the pioneer for data access technology for multi-tool environments, addressing the new demands for reporting and analyzing organizational data. Market Exposure: Gigamon has global deployments in more than 40 countries and 90 percent market share for intelligent data access. With hundreds of service provider customers and enterprises in all major vertical markets, Gigamon brings market knowledge, experience and exposure to our partnerships. Strong Complementary Solutions: Gigamon’s patented technology ensures seamless and controlled delivery of the right data at the right time to the right tools, increasing the realized value of partner technology by delivering day one ROI for joint customers.</p>
          <p>Since 2005, Gigamon has addressed the needs of today’s data access networking marketplace. Gigamon’s GigaVUE product line consists of data monitoring switches designed to address network security, compliance, availability, reliability and performance by improving monitoring tool efficiency and enhancing the view of the network. Gigamon was recently included on CRN’s Emerging Technology Vendor list for its award-winning solutions and channel partner strategy. Gigamon experienced record sales in the first quarter of 2009, and anticipates continued growth with its renewed focus on strategic partnerships.</p>
          <p>Companies interested in learning more about the benefits of a Gigamon partnership, please visit<a href="http://www.gigamon.com/tech_partners.html">www.gigamon.com/tech_partners.html</a>, or email <a href="mailto:technology_partners@gigamon.com">technology_partners@gigamon.com</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>