<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Vision of Network Functions Virtualization for Tools in Service Provider Infrastructure</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-49" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Analytic Data Arbitration Concept to Enable Elastic Big Data Analytics Compute Model</em></p>
          <p><strong>Silicon Valley, CALIF., February 20, 2014</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/visibility-fabric-architecture">Visibility Fabric</a>™, today announced a concept for the future of network monitoring in highly virtualized service provider environments. Gigamon is calling this approach, NFV for Tools (NFVfT), and the vision is to standardize APIs and the demarcation point for network traffic and Big Data to be brokered into an elastic compute architecture for analysis. Gigamon’s proposal is to offer visibility arbitration so that the Big Data analytics tools can virtualize their functions and process data on demand enabling a per-unit-of-information-processed pricing model. This vision would create a revolutionary new paradigm for the more effective processing of Big Data by Customer Experience Monitoring (CEM), troubleshooting and Quality of Service (QoS) tools, as well as the OSS/BSS function and other monitoring and analysis solutions.</p>
          <p>“Big Data is changing the status quo for mobile carriers. The current business model for service providers could become problematic as they fund the rising cost of transporting this data,” said Andy Huckridge, Director of Service Provider Solutions at Gigamon. “Many service providers have now realized the value of the Big Data in their pipes and are now in the process of enabling the monetization of that data. However, this model begins to break down with the legacy analytic tool vendors. The NFV for Tools concept empowers the tools of the future to analyze the bandwidth of the future with the end goal of enabling the monetization of Big Data.”</p>
          <p>The NFV for Tools concept revolves around the ability for Gigamon’s Visibility Fabric™ to normalize, filter and forward data in to a storage medium through a virtual demarcation point. The vision is to utilize the Orchestration Layer of the Unified Visibility Fabric Architecture and any developed APIs to discover which tools are available to the Visibility Fabric and their capabilities. This enables what would be called the Analytic Data Arbitration Function (ADAF) which manages the brokering of analytic tools with the supply of data that needs to be processed or analyzed. The ADAF capability is in many ways similar to a portal, but where a provisioning and arbitration function exists to broker vendors of analytic tools with those who supply data that needs to be processed or analyzed.</p>
          <p>“Vistapointe was founded on this exact NFV vision of decoupling the analytic tools from the underlying custom hardware probes and enabling this functionality via software on x86 compute platforms. This architecture eliminates the current method of deploying multiple custom probe-appliances, and leverages the existing data-center compute infrastructure, therefore drastically reducing the total cost of ownership,” said Ravi Medikonda, CEO, Vistapointe Inc. “With an integrated solution of Vistapointe software analytic tools and Gigamon’s innovative NFVfT, the future of service provider monitoring will create a cost-effective and scalable platform for big-data applications.”</p>
          <p>“This concept of NFV for tools is a great idea, but could be disruptive for the incumbent vendors if they don’t innovate to keep up. It should help carriers generate revenue through Big Data analysis while reducing CAPEX and OPEX and accelerating service deployment,” said Ray Mota, Managing Partner at ACG Research. “The dynamic brokering of Big Data analytic services will enable carriers to perform analytics on demand and could certainly create an invaluable new model for them to analyze the vast amounts of data on their networks.”</p>
          <p>Gigamon will be in Hall 6 Stand 6J40 at Mobile World Congress, February 24-27 at the Fira Gran Via in Barcelona, Spain.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information, visit <a href="/visibility-fabric-architecture">http://www.gigamon.com/visibility-fabric-architecture</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of the tools marketplace and goals for the ongoing development of our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-191581) and our Quarterly Report on Form 10-Q for the period ended September 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>