<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon’s GigaVUE® Platform Achieves NIAP Common Criteria Certification</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1046" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Gigamon is the first network visibility platform vendor to complete critical government security testing</em></h2>
          <p><strong>Santa Clara, Calif., (Mar, 16th 2016) </strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced it has achieved National Information Assurance Partnership (NIAP) Common Criteria (CC) certification for its GigaVUE<sup>®</sup> family of products, which include hardware and software components that are offered with the GigaSECURE<sup>®</sup> Security Delivery Platform. This accomplishment signifies that GigaVUE products meet the stringent security requirements of all government agencies, and serves as another significant demonstration of Gigamon’s leadership in the federal market.</p>
          <p>The Common Criteria certification for NIAP’s Network Device Protection Profile builds upon Gigamon's Federal Information Processing Standard (FIPS) Publication 140-2 accreditation, as well as the inclusion in the Department of Defense Unified Capabilities Approved Product List (UC APL). This trio of security certifications allows Gigamon to continue to provide government agencies with the most secure, best-of-breed products and services for network visibility.</p>
          <p>The Common Criteria is an international standard (ISO 17025) for validating products that meet specific security requirements. The features and capabilities of a security product are evaluated through a rigorous third-party evaluation and testing process. The standard is used as the basis for approving Federal Government purchases of critical infrastructure.</p>
          <p>The following GigaVUE nodes that run GigaVUE-OS™ are certified for Common Criteria:</p>
          <ul class="pr-listing">
           <li><a href="/products">GigaVUE H Series Visibility Fabric nodes,</a> including GigaVUE-HB1, GigaVUE-HC2, GigaVUE-HD4 and GigaVUE-HD8</li>
           <li><a href="/products">GigaVUE TA Series Visibility Fabric nodes</a> for traffic aggregation and high-volume traffic monitoring, including GigaVUE-TA10 and GigaVUE-TA40</li>
          </ul>
          <p>GigaVUE H Series and GigaVUE TA Series include hardware and software components of GigaSECURE, the industry’s first <a href="/products/technology/gigasecure">Security Delivery Platform</a> that provides pervasive visibility of network traffic, users, applications and suspicious activity – across physical and virtual networks. GigaSECURE delivers this critical network visibility and metadata to multiple security devices simultaneously without impacting network availability. As a direct result, security appliances of all types are more effective at protection and remediation, with the added benefit that cost and complexity of managing security infrastructure is reduced. The solution has the support of security vendors spanning all major categories of security applications, from emerging areas such as user behavioral analytics as well as traditional ones like forensics, intrusion detection and prevention (IDS/IPS), security information and event management (SIEM) and log management.</p>
          <p>“With Common Criteria certification, our award-winning GigaVUE product family and, by extension, our GigaSECURE Security Delivery Platform become broadly accessible infrastructure worthy of deployment in the world’s most mission critical networks,” said Dennis Reilly, Vice President of Federal Sales at Gigamon. “We are thrilled to be the only network visibility platform provider that is Common Criteria-certified.”</p>
          <p>“We congratulate Gigamon on another federal standards milestone as the first visibility platform to achieve Common Criteria certification,” said Roger Niles, Vice President of Sales, ClearShark. “Our continued success rests on delivering the best IT solutions and services to federal agencies, and Gigamon has proven an outstanding partner in this mission.”</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/" target="_blank">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Johnnie Konstantas<br>Gigamon<br>+1 (408) 831-4407<br><a href="mailto:johnnie.konstantas@gigamon.com" target="_blank">johnnie.konstantas@gigamon.com</a></td>
              <td>Tom Rice<br>Merritt Group<br>+1 (703) 856-2218<br><a href="mailto:gigamonpr@merrittgrp.com" target="_blank">gigamonpr@merrittgrp.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>