<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Brings the Performance of Visibility to 100Gb Networks</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1087" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Portfolio expansion and software updates enable scaled-up monitoring and security for high-performance enterprise networks and 4G/5G LTE deployments</em></h2>
          <p><strong>Santa Clara, Calif., (April 19th, 2016)</strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced new 100Gb product offerings and software updates to its portfolio that further extend the power of its market leading visibility solutions for high-performance enterprise networks, as well as 4G/5G LTE mobile operator infrastructure.</p>
          <p>Enterprises and service providers are accelerating plans to upgrade to 100Gb Ethernet to support the high-bandwidth applications and systems that customers, business partners, subscribers and Internet of Things (IoT) implementers rely on and expect. For many of these upgrades, however, the traffic from high bandwidth links will far exceed the throughput of existing security and monitoring tools and applications.</p>
          <p>Gigamon’s Visibility Fabric<sup>TM</sup> with new 100Gb offerings resolves the speed mismatch while preserving existing investments in performance monitoring and network protection. Enterprises and service providers with current or planned 100Gb deployments can combine the benefits of the new 100Gb Gigamon portfolio with the software enhancements of the GigaVUE-OS and GigaVUE-FM Fabric Manager to help their new high performance networks maintain availability, compliance and security that is consistent with capabilities available prior to the upgrade.</p>
          <h3>Specifically, the new products introduced include:</h3>
          <ul class="pr-listing">
           <li><strong>The GigaPORT-C06X24: A new interface module with six 100Gb ports and twenty-four 10Gb ports for the GigaVUE HD Series Visibility Fabric Node</strong></li>
           <li><strong>The GigaPORT-C02: A new interface module with two 100Gb ports for GigaVUE-HC2 Visibility Fabric Node</strong></li>
           <li><strong>The GigaVUE-TA100: A compact thirty-two 100Gb port system for efficient traffic aggregation in the Visibility Fabric</strong></li>
           <li><strong>The G-TAP M Series: Featuring high-density passive optical TAPs for non-intrusive traffic access to 100Gb short-reach and long-reach links</strong></li>
          </ul>
          <p>Concurrent with these new hardware products are more than 30 new capabilities introduced as part of GigaVUE-OS software 4.6, GigaVUE-FM Fabric Management software 3.3, and the GigaVUE-VM virtual software edition 3.3. Key new capabilities introduced include:</p>
          <ul class="pr-listing">
           <li><strong>Metadata generation:</strong> Domain Name System (DNS) activity is appended to the NetFlow record for use in security analysis (i.e., detecting attackers and their lateral movement);</li>
           <li><strong>100Gb logical bypass:</strong> Enables inline security and availability of 100Gb networks;</li>
           <li><strong>GPRS Tunneling Protocol (GTP) load balancing in clustered environments:</strong> Combines up to 32 nodes per cluster so that several Terabits of traffic in a mobile provider’s infrastructure can be efficiently correlated and distributed to security and performance applications;</li>
           <li><strong>Enhanced topology visualization:</strong> Visualization of both the Visibility Fabric elements and the connected tools via GigaVUE-FM Fabric Manager;</li>
           <li><strong>Real-time traffic visualization:</strong> Tracks traffic variations in real time on GigaVUE-FM Fabric Manager;</li>
           <li><strong>Elastic search capability in GigaVUE-FM Fabric Manager:</strong> Enables quick search of the database for information and events of interest;</li>
           <li><strong>Import/export topologies:</strong> From GigaVUE-FM Fabric Manager from/to Microsoft Excel; and</li>
           <li><strong>OpenStack extensions:</strong> Include packet sampling of monitored traffic and simplified provider management of multi-tenant environments.</li>
          </ul>
          <p>“Big data applications and meteoric growth in network traffic are driving 100G upgrades,” said Ananda Rajagopal, Vice President of Product Management, Gigamon. “Our Visibility Fabric ingests these massive traffic feeds and applies our patented traffic selection and intelligent optimization techniques, so that customers can significantly extend the effectiveness of existing security and performance monitoring efforts.”</p>
          <p>The new 100Gb products are available immediately for pre-order and will ship in April 2016. The GigaVUE-TA100 will ship in May 2016. GigaVUE OS 4.6 and GigaVUE FM 3.3 are available for download now by those with active software support agreements.</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/" target="_blank">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>