<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Expands International Reach into Russia</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-15" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/network-monitoring-platform.pdf" target="-blank">network-monitoring-platform.pdf</a> (19 KB pdf file)</p>
          <p>Silicon Valley—December 28, 2009 - Gigamon™, the leading global provider of intelligent data access networking™, today announced its award-winning GigaVUE™ platform is available and in deployment within Russian organizations. The first of its category to enter the Russian market, Gigamon’s expansion solidifies its global advantage.</p>
          <p>By partnering with the leading Russian value-added resellers (VARs) and adding to its team Country Manager Julian Demurjian, Gigamon is bringing a revolutionary new concept to Russian data centers seeking the most innovative, affordable network monitoring platform. Gigamon provides centralized data access creating a one of a kind monitoring and analyzing solution that can give visibility to any data in the network. Chief Information Officers (CIOs) and network engineers choose Gigamon for its instant return on investment and enhancement of existing monitoring tools; from security to performance monitoring. In addition, Gigamon ensures the network is optimized for regulatory compliance now and in the future.</p>
          <p>"With our first deal closed with a major telecommunications company and several evaluations scheduled in the near future, there is a bright future for Gigamon in the Russian Federation," said Demurjian, Gigamon's Russia country manager.</p>
          <p>Russian data centers have experienced rapid growth over the last eight to ten years. In providing new ways to manage increasingly complex networks, solutions such as Gigamon are in high demand.</p>
          <p>"We’re encouraged by the great demand for Gigamon technology in Russia, and the excellent results we’ve had there in such a short amount of time,” said Kevin Jablonski, Gigamon's senior director of business development. "Gigamon is well versed in developing relationships internationally, and will continue to grow exponentially because we can provide access and visibility to any data, any time, anywhere in the world."</p>
          <p>For more information on Gigamon’s offerings, or to become a reseller, please visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>