<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces Visibility Software for White Box Hardware</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-631" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2>New Capability Further Extends Visibility for Web-scale Data Centers</h2>
          <p><strong>Santa Clara, CALIF., January 28, 2015</strong> – Capitalizing on industry-wide changes in data center architectures, Gigamon® Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified Visibility Fabric™, today announced that it will expand its portfolio to offer its market-leading GigaVUE-OS™ software on select third party ‘white box’ hardware. The new offering will allow Web-scale data center operators to optimize their procurement process, and expand the scope and scale of monitoring while retaining the functionality, agility and scale of visibility they have come to expect from a Gigamon fabric.</p>
          <p>Pervasive traffic visibility assumes ever-greater importance as organizations cope with an increase in the number and complexity of network security threats, the deployment of distributed applications over virtualized infrastructure, and the potential ‘blind spots’ created by encapsulated and encrypted traffic. Migration to next-generation network architectures such as Software-Defined Networking (SDN) or Network Functions Virtualization (NFV) put a spotlight on the critical need for pervasive visibility.</p>
          <p>The new addition to the Gigamon portfolio works seamlessly with the existing components of the Visibility Fabric, and in doing so empowers customers to choose a turnkey solution for the edge of their fabric or, if their strategy and resources permit, white-box edge hardware powered by Gigamon software. Regardless of the path customers choose, they benefit from a common operational model for their entire visibility infrastructure from the edge through to the core of Gigamon’s highly intelligent, scalable and agile fabric. While the edge of the Visibility Fabric represents a location in the architecture where GigaVUE-OS powered white-box hardware is a relevant and appropriate option, the core of the fabric will continue to require the combination of compute and connectivity that delivers deep, line rate traffic inspection and analysis that demands the scale and performance of a purpose-built appliance.</p>
          <p>“With the announcement of GigaVUE-OS for white box platforms, Gigamon is essentially extending the edge layer of the visibility architecture to the high volume, ‘TAP all’ world of the Data Center operator”, said Ananda Rajagopal, Vice President Product Line Management at Gigamon. “By managing the entire visibility infrastructure through a centralized Fabric Manager, operators can lay the foundation for truly active visibility built around Software-Defined Visibility.”</p>
          <p>The new offering will be compatible with the Open Network Install Environment (ONIE) boot loader that allows multiple operating systems to leverage the same underlying hardware. As part of this initiative, GigaVUE-OS will be initially certified to operate with select hardware from <a href="http://www.quantaqct.com/">QCT (Quanta Cloud Technology)</a> and <a href="http://agemasystems.com/">Agema Systems, Inc.,</a> two of the world’s leading white box suppliers.</p>
          <p>This latest initiative from Gigamon has been well received by customers and industry analysts: “Gigamon has taken an innovative approach to supporting white box hardware - one of the key components of open networking. By supporting GigaVUE-OS software on white box hardware and by managing both white box and turnkey solutions in a holistic manner, Gigamon’s new offering solves a significant pain point for Web-scale IT organizations that are looking to expand the scope of visibility in their data center infrastructure,” observed Nick Lippis, Co-Founder and Co-Chair at Open Networking User Group (ONUG).</p>
          <p>“Intuit is very pleased to see the market leader in visibility, Gigamon, extend its rich visibility solution to a white box,” commented Ted Turner, senior network engineer at Intuit. “Gigamon is the only player in the visibility space to offer their customers the choice of a white box edge node and a turnkey edge node. Combined with their highly intelligent core nodes and centralized Fabric Manager, Gigamon’s solution is a terrific proof point to organizations like Intuit, who need to cost-effectively expand the scope of visibility with a common operating software platform.”</p>
          <p>"Bare metal options continue to gain traction in Web-scale datacenters," said Mike Yang, general manager of QCT. "Customers of QuantaMesh series bare metal switches can now easily integrate GigaVUE-OS visibility software, allowing rich visibility to be extended to every rack in their infrastructure."</p>
          <p>"As data centers continue to expand, operators will have a need for rich visibility at the edge. The combination of world-class hardware from Agema Systems, Inc. the leading provider of critical white-box rack solutions to Data Centers, and market-leading visibility software from Gigamon, will enable white box adopters to get the assurance of rich visibility in their infrastructure," said Nick Milo, Vice President of Sales, Agema Systems, Inc.</p>
          <p>In the first phase of introduction, GigaVUE-OS will be offered as a perpetual software license on selected QCT bare metal hardware, with beta trials planned for February 2015 and general availability planned for April 2015. For more details, please refer to <a href="/products/gigavue-os-white-box">www.gigamon.com/products/gigavue-os-white-box</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, our strategic product initiatives, including the timing, availability, benefits and adoption of white-box certified GigaVUE-OS, demand for our product portfolio and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; our ability to work with QCT and Agema to certify their hardware and successfully market the white-box solutions, customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended September 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>