<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces New Solutions for Security Services Delivery</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-10" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Visibility Fabric Updates Enable Scaling for a Pervasive and Multi-tiered Security Approach</em></p>
          <p><strong>Santa Clara, CALIF., July 10, 2014</strong>– <a href="http://www.gigamon.com">Gigamon</a>® (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced a forthcoming expanded set of solutions to address the growing security needs of organizations. These new solutions include modules to address inline traffic security with high availability modes, as well as intelligent load distribution across multiple inline and out-of-band security tools. These latest offerings, together with Gigamon’s powerful, patented Flow Mapping technology and the advanced traffic intelligence capabilities of the Visibility Fabric, will enable simultaneous deployment of multiple, best-of-breed, inline and out-of-band security monitoring and management solutions for more pervasive and proactive threat monitoring and mitigation.</p>
          <p>“The threat envelope to organizations is constantly expanding. As a result, many organizations have taken a multi-tiered approach to security by deploying both inline and out-of-band security solutions,” said Shehzad Merchant, chief strategy officer at Gigamon. “All of these security solutions depend on getting a relevant, consistent and accurate stream of traffic data. With these new security offerings, Gigamon’s Visibility Fabric will provide a comprehensive and sophisticated security services delivery platform that addresses the stringent traffic delivery needs along with the resiliency and uptime requirements for continuous security management.”</p>
          <p>The new GigaVUE-HC2 modules extend the power of the Visibility Fabric with Active Visibility, utilizing intelligence and robust bypass capabilities to better protect both critical IT traffic and the inline tools designed to prevent malicious activity. Advanced threats require more sophisticated tools, but these specialized security tools are often processor bound and may not be able to handle increasing traffic volumes as effectively. Gigamon’s Visibility Fabric establishes a more efficient system by sending only the appropriate data to each tool. In addition, the Visibility Fabric continuously monitors the health of the attached inline tools and in the event of a tool failure will bypass the outage to ensure the network remains available and protected. For example, an inline appliance can be removed for maintenance while allowing network traffic to be sustained.</p>
          <p>"The security of our organization and the data that we maintain are of the utmost importance to us as a leading healthcare network. Securing these requires a diligent mindset, pervasive visibility and a multi-tiered security architecture,” said J. Scott Haugdahl, a principal architect at Minnesota’s leading health plan organization. “Gigamon’s Visibility Fabric gives us visibility and enables tremendous collaboration across the silos of the IT organization to the various security tools that keep our organization, and the data we keep, safe. This ensures that our network of providers and members has secure access to the information they need when they need it.”</p>
          <p>Gigamon’s Visibility Fabric unifies visibility for both packets and flows and allows security teams to rapidly shift traffic from one device to another, eliminating the need to wait days, weeks or months for a maintenance window. The new forthcoming front-facing GigaSMART® modules increase the compute power of the GigaVUE-HC2 so that one chassis can be populated with up to five processing engines, providing scalable traffic intelligence for the offloading of traffic to certain tools and increased NetFlow generation for those security offerings which utilize that data.</p>
          <p>"The changing threat landscape is forcing organizations to fundamentally rethink their approach to security architecture to keep advanced threats at bay,” said Steve Pataky, senior vice president of worldwide channels and alliance at FireEye. “Gigamon’s ability to load balance traffic across multiple solutions in the FireEye platform, whether inline or out-of-band, makes them an ideal partner to enable organizations to detect and mitigate the latest cyber threats. As the FireEye platform expands, customers will be able to scale out their security architecture, move the products inline and deploy high availability pairs to improve their overall security posture."</p>
          <p>“Gigamon and ForeScout provide IT teams with tremendous infrastructure insight and response capabilities,” said Gil Friedrich, vice president of technology at ForeScout. “There’s a lot of operational data in the enterprise and our joint customers are able to derive security intelligence from that data while responding to changes and issues in real time. Gigamon facilitates CounterACT's ability to receive timely and broad context via our ControlFabric architecture to ensure continuous monitoring, analytics and automated response to compliance and threat exposures.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our and our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>