<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Kicks off Fourth Quarter with Noted 2009 Accomplishments</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-17" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/network-monitoring-momentum.pdf" target="_blank">network-monitoring-momentum.pdf </a> (25 KB pdf file)</p>
          <p><strong>Silicon Valley—October 8, 2009 - <a href="http://www.gigamon.com/">Gigamon™</a> </strong>, the leading global provider of intelligent data access networking™, today announced the promotion of Mike Hoffman to vice president of North American Sales. As part of his new responsibilities, Hoffman will more than double Gigamon’s North American sales staff in 2010. In 2009, the Milpitas, California based company that solves real problems in data access for monitoring/security and instantly saves IT departments’ money, continued its growth, maintaining a greater than 40 percent annual revenue and profit growth since inception in 2005. Gigamon anticipates a sustainable growth rate and therefore needs to expand and upgrade its sales team.</p>
          <p>“We started and self-funded Gigamon in 2004 and recognized a gap in the data center monitoring market,” said Tom Gallatin, managing partner, Sales &amp; Marketing. “Today we’ve reached an exciting new phase where the global demand for enhanced network monitoring and security has led to our 90 percent market share for intelligent data access networks. We’re so pleased to expand the Gigamon family with great additions such as Mike Hoffman, who will help us continue this momentum.”</p>
          <p>By growing its management team with industry veterans, Gigamon has maintained its status as the leading global provider of intelligent data access networking. In September, Hoffman was promoted to vice president of North American Sales to lead all sales activities in North America. Having worked most positions in the sales channel from reseller to an independent manufacturer representative, Hoffman brings years of management in networking analysis and monitoring. Before joining Gigamon, Hoffman was the vice president of Enterprise Sales for MRV Communications. During his tenure at MRV, Hoffman pioneered a new sales structure that increased the channel sales by 158 percent. Hoffman served eight years in the US Navy’s Advanced Electronics Field, and after completing two tours in Operation Desert Storm, he was hand-selected for instructor duty at the Navy’s Combat Systems Technical School. Mike holds a BA and MBA from Saint Mary’s College of California.</p>
          <p>“Gigamon’s customers’ realize the importance of having a GigaVUE™ on the front end of their tools. This protects their investment while allowing their tools perform more efficiently —a fact that certainly contributed to our rapid growth in 2009. Where passive, ethernet-based tools don’t work, Gigamon has emerged as the leader in aggregating, filtering and replicating customized data streams to all monitoring tools.” said Mike Hoffman, vice president of North American Sales.</p>
          <p><strong>To date, Gigamon’s 2009 financial and operational highlights include:</strong></p>
          <ul>
           <li>Experienced 15 consecutive quarters of positive cash flow, and anticipated 40 percent year over year growth</li>
           <li>Met emerging global demand for intelligent data access networking solutions, serving more than 500 of the top enterprise, institutional and Telco networks.</li>
           <li>Selected by Everything Channel as a <a href="http://www.crn.com/"><em>CRN Emerging Technology Vendor</em></a>. CRN's Emerging Technology Vendor list features companies that are delivering high margins for solution providers with innovative and easy-to-use technology</li>
           <li>Became the industry’s first and only NEBS (Network Equipment Building Systems) certified data access switch</li>
           <li>Released GigaStream, an innovative trunking technology for traffic load balancing that eliminates bottlenecking and guarantees the highest port density and lowest latency in the industry, and Citrus™1.1, which supports GigaStream in a single browser-based GUI</li>
           <li>Added key strategic partnerships with joint solution providers of Web Application Firewalls,</li>
          </ul>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>