<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon To Relocate Corporate Headquarters to Larger Building in Silicon Valley</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-99" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Strengthening Bay Area Presence with Expanded Headquarters</em></p>
          <p><strong>Silicon Valley, CALIF., July 8, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today that it will move its corporate headquarters to 3300 Olcott Street in Santa Clara, CA, expanding from approximately 45,000 square feet to 105,000 square feet at the new location. The move is scheduled for Q1 2014.</p>
          <p>“This marks another milestone for Gigamon. This new headquarters building will complement our dynamic work environment and provide us with the space we need to continue to develop and expand as a team,” said Paul Hooper, CEO of Gigamon. “Gigamon is a global technology company that was founded in the Bay Area. We’re excited to expand our investment here where we’ll continue to focus on our strong growth and delivering the most innovative solutions to our customers.”</p>
          <p>The goal of Gigamon’s Unified Visibility Fabric architecture is to provide pervasive visibility into traffic flowing across physical, virtual and software-defined networks. As networks increase in size and the amount of information moving across those networks rises -- Gigamon enables companies to secure, manage and monitor the health of critical network infrastructures. 60 of the Fortune 100 companies rely on Gigamon’s technology to gain visibility into their networks.</p>
          <p>“We continue to expand our team and have been looking for a suitable location which can support that growth,” said Rich Jacquet, VP of Human Resources at Gigamon. “Our new headquarters, located in the heart of Silicon Valley, will have the space and the state-of-the-art facilities necessary to support our growing organization.”</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section27A of the Securities Act of 1933 and Section21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding our anticipated growth, that the market for our products will continue to grow and develop; and our timing for moving into our new corporate headquarters. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to move into our new corporate headquarters in a timely manner; our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our initial public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No.333-182662). The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>