<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Named a Top 100 Technology Innovator by Red Herring</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-69" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Recognized for Pioneering Solution to Data Visibility in the Network</em></p>
          <p><strong><img alt="Red Herring" class="img-responsive" src="/sites/default/files/red-herring-logo.png" style="float: right;">Silicon Valley Calif., June 17, 2011</strong>– <a href="http://www.gigamon.com/">Gigamon<sup>®</sup></a>, the world's leading provider of Traffic Visibility Networking solutions, today announced it has been selected as a Red Herring Top 100 North America Award recipient. The award recognizes private companies across North America that have introduced innovative technologies and ideas in their respective industries.</p>
          <p>Red Herring’s Top 100 North America list has become an annual mark of distinction for identifying promising new companies and entrepreneurs. Red Herring editors were among the first to recognize that companies such as Facebook, Twitter, Google, Yahoo, Skype, Salesforce.com, YouTube, and eBay would change the way we live and work.</p>
          <p>"We at Gigamon are thrilled to be a recipient of the Red Herring Top 100 North America Award, “ said Ted Ho, Co-Founder and CEO. “This is further validation of the intelligent data access technology and market space that we created when we founded Gigamon in 2004. This technology provides business and IT leaders the ability to do more with their data, providing them with much deeper visibility into the increasing amount of information flowing through their networks. This is critical in today’s data economy, where success is driven by who has control of their data and can maximize the opportunities that data creates, while avoiding the threat of compliance failures and security threats. We are proud to be in the company of some of the best and brightest innovators in the technology industry.”</p>
          <p>“Choosing the companies with the strongest potential was by no means a small feat,” said Alex Vieux, publisher and CEO of Red Herring. “After rigorous contemplation and discussion, we narrowed our list down from hundreds of candidates across North America to the Top 100 Winners. We believe Gigamon embodies the vision, drive and innovation that define a successful entrepreneurial venture. Gigamon should be proud of its accomplishment, as the competition was very strong.”</p>
          <p>Red Herring’s editorial staff evaluated the companies on both quantitative and qualitative criteria, such as financial performance, technology innovation, management quality, strategy, and market penetration. This assessment of potential is complemented by a review of the track record and standing of startups relative to their sector peers, allowing Red Herring to see past the “buzz” and make the list a valuable instrument of discovery and advocacy for the most promising new business models in North America.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>