<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Continues Explosive Growth</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-140" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/network-monitoring-leader.pdf" target="_blank">network-monitoring-leader.pdf </a> (15 KB pdf file)</p>
          <p>Silicon Valley—February 3, 2010 - Gigamon™, the leading global provider of intelligent data access networking™, today announced it has raised $22.8 million from Highland Capital Partners in its first institutional financing. The capital will be used to further accelerate the company’s growth as Gigamon leverages its market leading position in network monitoring to capitalize on strategic growth opportunities. In conjunction with the investment, Peter Bell and Corey Mulloy, General Partners at Highland, will join Gigamon’s board of directors.</p>
          <p>“When we started Gigamon in 2004, we recognized a gap in the data center monitoring market. Today, more than 500 of the top enterprise, government and telecommunications organizations have put their mission critical trust in Gigamon to proactively and pragmatically address the monitoring and security needs of core business network traffic,” said Ted Ho, chief executive officer of Gigamon. “We welcome Highland as our first institutional investor. With their experience in helping to build global market leading infrastructure companies, we’re excited to have Highland’s involvement in achieving the next stage of the company’s growth.”</p>
          <p>Since its inception in 2004, Gigamon has focused on delivering intelligent data access solutions to Global 2000 companies. Gigamon’s customers require secure and customized access in monitoring their complex and remote networks. With deployments in over 40 countries, Gigamon has achieved greater than 55 percent year-over-year growth rate for each of the past four years.</p>
          <p>“Gigamon is a fantastic success story about a talented team of founders who boot-strapped their way to establishing a market leading, fast growing, profitable company,” added Corey Mulloy of Highland. “The team has executed incredibly well with an exceptional track record of growth and profitability. Gigamon has truly defined a new category in the network monitoring and security industry. As Gigamon is experiencing a dramatic acceleration in the global demand for its network monitoring products, we are excited to partner with them and assist with forging new strategic partnerships and recruiting.”</p>
          <p>“The global intelligent data access networking market is exploding, and Gigamon is the dominant market share leader with a best-in-class solution,” added Peter Bell of Highland. “The company experienced significant sales growth in 2009 as organizations around the world look for reliable and secure ways to monitor mission critical data networks. We see the opportunity to extend that lead further.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon delivers intelligent data access solutions to enhance monitoring of service provider and enterprise data centers. The company’s world-renowned GigaVUE® “orange boxes” aggregate, filter and replicate customized data streams to all monitoring tools. Gigamon pioneered technology for multi-tool environments to address new demands for reporting and analyzing organizational data. Now in its third generation with global deployments in more than 40 countries and 90 percent market share for intelligent data access, Gigamon’s GigaVUE platform is the only proven, fully-integrated, total solution for all data access needs. Gigamon’s patented technology enables companies to realize day one ROI by increasing tool value and operational efficiencies. GigaVUE ensures seamless and controlled delivery of the right data at the right time to the right tools. Organizations deploying Gigamon solutions achieve greater uptime, reduce threat vulnerability and improve regulatory compliance. For more information about Gigamon and its award-winning solutions, visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <p>About Highland Capital Partners<br>Highland Capital Partners was founded with the mission of helping great people build great companies. For over twenty years, the firm has taken a sector-focused approach to investing in exceptional healthcare, internet &amp; digital media and technology companies. With $3 billion of committed capital and offices in Boston, Silicon Valley, Shanghai and Geneva, Highland has invested in and worked to create such firms as Ask Jeeves, Avid Technology, CheckFree, Conor Medsystems, Continental Cable, lululemon athletica, Lycos, MapQuest, Navic Networks, Ocular Networks, P.A. Semi, Quattro Wireless, Quigo, Starent Networks, Sybase, Telica and VistaPrint. For more information, visit Highland's web site at <a href="http://www.hcp.com/">www.hcp.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>