<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon and SharkRack Partner to Simplify Enterprise Data Center Management</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-16" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/enterprise-data-center-mangement.pdf" target="-blank">enterprise-data-center-mangement.pdf </a> (26 KB pdf file)</p>
          <p>Silicon Valley—November 23, 2009 - Gigamon™, the leading global provider of intelligent data access networking™, and SharkRack, the market leader in intelligent infrastructure racks, today announced its partnership to provide a centralized monitoring and analyzing solution which will provide visibility to any data. This fault tolerant, high availability solution provides access to critical data anywhere in the data center and eliminates the need for configuration and change order management.</p>
          <p>Combining SharkRack’s physical infrastructure along with Gigamon’s intelligent GigaVUE® platform enables enhanced management of complex issues that surround the data center ecosystem. Together the companies aim to help CIOs, their network and security teams better approach greening IT initiatives, minimizing rack space and reducing capital expenses.</p>
          <p>The Gigamon and SharkRack solution allows data center managers to:</p>
          <p>Gain access to any data while reducing capital cost and enhancing green initiatives Centralize multiple network monitoring and security tools Provide multiple groups with access to critical data simultaneously and securely Reduce the cost to monitor data traversing high speed, 1G and 10G connections Eliminate SPAN port contention “Data centers are the heart of any company and the data that flows through that heart is vital to the health and success of the company. Teaming with SharkRack, we can physically provide a centralized tool environment for all analytical and monitoring solutions, where appropriate parties who have the ‘need to know’ can securely view the information 24x7,” said Kevin Jablonski, senior director, Business Development of Gigamon. “Our customers can now benefit from SharkRack’s best-in-class racks along with Gigamon’s leading network data access technology.”</p>
          <p>“Together with Gigamon, we can leverage our longtime experience solving problems in today’s complex data center landscape to transform data center management,” said Seth Schalet, president of SharkRack. “We’re certain this innovative combination will provide our customers rapid ROI and the most advanced enterprise data center technology for network monitoring.”</p>
          <h3>About SharkRack</h3>
          <p>SharkRack is a leading provider of intelligent physical infrastructure solutions. Thousands of organizations worldwide rely on SharkRack to provide best in class solutions. For more information about SharkRack, visit <a href="http://www.sharkrack.com/">www.Sharkrack.com</a> or call John Smithers at (510) 608-0480.</p>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>