<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Selected as Best of Interop 2014 Finalist</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-47" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Interop Las Vegas Recognizes Gigamon’s NetFlow Generation application as a Management Finalist </em></p>
          <p>SANTA CLARA – March 20, 2014 – <a href="http://www.gigamon.com">Gigamon</a>® (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced its selection as a Best of Interop finalist for the management award category, recognizing <a href="/products/technology/netflow-generation">Gigamon’s NetFlow Generation</a> application. The Best of Interop winners will be announced on Tuesday, April 1st at 5:30 p.m. in the Interop Theater on the Expo Floor during Interop Las Vegas, happening March 31st – April 4th at the Mandalay Bay Convention Center. For more information visit: <a href="http://www.bestofinterop.com">http://www.bestofinterop.com</a>.</p>
          <p>“We are thrilled to be selected as a finalist in the management category for Best of Interop 2014,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “The NetFlow Generation application is unique in that it centralizes flow record generation, thereby eliminating blind spots when users, devices and applications move around. By combining NetFlow generation with sophisticated packet filtering, using Flow Mapping® technology, targeted NetFlow records can be generated. All of this can be done at very high throughput rates to generate unsampled NetFlow. The net result is a highly cost effective and high performance network-wide NetFlow generation capability.”</p>
          <p>NetFlow is gaining wider acceptance as a reliable and standards-based approach to analyze network and application issues as well as provide a source of information to identify anomalous traffic patterns for security. Newer versions of NetFlow allow for user-defined templates for analytics and conversation-based metrics. By relieving the networking equipment of the burden of generating NetFlow, the switches and routers are free to focus on the transport of information. By leveraging the Visibility Fabric architecture to summarize flow statistics, NetFlow Generation provides the flexibility of applying pre-filtering to the traffic before NetFlow records are generated. Gigamon’s NetFlow Generation application offers a high performance solution to meet the rigorous demands of dynamic high speed networks while the Visibility Fabric provides a single source for packet and flow level visibility.</p>
          <p>Gigamon will showcase the NetFlow Generation application at Interop Las Vegas, the industry’s premier technology event designed to inform and inspire the IT community. The Best of Interop Judging Committee comprised of 16 award-winning IT editors and analysts, reviewed nearly 130 entries and shortlisted submissions based on their significant technical impact and potential to move business technology forward.</p>
          <p>“We want to congratulate Gigamon and all Best of Interop finalists for their forward-thinking approaches to improving business efficiency through tech,” said Interop General Manager Jennifer Jessup. “With so many competitive entries, our judges have much deliberation ahead of them, before naming category winners at the event. We’re excited for attendees to be able to interact with these products and services at the expo.”</p>
          <p><strong>Best of Interop judges selected finalists within the following nine categories:</strong></p>
          <ul>
           <li>Cloud</li>
           <li>Data Center</li>
           <li>Management</li>
           <li>Mobility</li>
           <li>Networking</li>
           <li>Performance</li>
           <li>SDN</li>
           <li>Security</li>
           <li>Storage</li>
          </ul>
          <p>In addition to these specific category areas, there will be special awards chosen onsite including: an overall Best of Interop Grand Prize, Best Startup Company and an Audience Choice Award that will be named during the keynote on Wednesday, April 2nd.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <h3>About Interop®</h3>
          <p>Interop® is the leading independent technology conference and expo series designed to inform and inspire the world’s IT community. Part of UBM Tech's family of global brands, Interop® drives the adoption of technology, providing knowledge and insight to help IT and corporate decision-makers achieve business success. Through in-depth educational programs, workshops, real-world demonstrations and live technology implementations in its unique InteropNet program, Interop provides the forum for the most powerful innovations and solutions the industry has to offer. Interop Las Vegas is the flagship event held each spring, with Interop New York held each fall, with annual international events in India, London and Tokyo, all produced by UBM Tech and partners. For more information about these events, visit <a href="http://www.interop.com">www.interop.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>