<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Multi-Purpose Visibility Fabric Node for Big Data Traffic Intelligence</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-46" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>GigaVUE-HC2 Offers Flexible and Modular Platform for Scalable Traffic Intelligence and Performance</em></p>
          <p><strong>Santa Clara, CALIF., March 31, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup> Inc. (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced the forthcoming release of the GigaVUE-HC2 fabric node for the Services Layer of the Visibility Fabric architecture. The GigaVUE-HC2 combines the elasticity of compute with the speed and performance needed to address the ever-changing monitoring and security landscape. Security, performance and customer experience monitoring are rapidly transforming due to the increasing adoption of cloud, consumerization of IT, mobility and the evolution of the Internet of Things. These trends are creating the need for sophisticated, stateful and intelligent traffic correlation, as well as the need to accomplish everything at unprecedented speeds.</p>
          <p>“The GigaVUE-HC2 provides a versatile multi-purpose platform that addresses the needs of a broad variety of tools. Its performance and GigaSMART intelligence addresses not only the monitoring needs of today, but scales to meet the needs of the future,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “ Big Data traffic intelligence requires compute elasticity to meet the dynamic needs of today’s organizations. Gigamon’s architecture supports distributed intelligence, centralized intelligence, or a hybrid of the two and ensures that multiple H-Series platforms can be managed as a single virtual chassis in a cluster. GigaVUE-HC2 offers traffic intelligence at the right place in the network for the right price.”</p>
          <p>The GigaVUE-HC2 is a modular platform that combines multiple external functions such as compute for stateful and intelligent traffic correlation, secure in-band TAPs to prevent unauthorized access to traffic data, and sophisticated filtering, replication and aggregation, all in a single, compact modular form factor thereby eliminating the need for service chaining multiple external nodes. The GigaVUE-HC2 will launch with seven optional modules including 10Gb and 40Gb modules, GigaSMART intelligence as well as copper and fiber TAPs. The optional GigaSMART capabilities include packet slicing, masking, source port labeling, tunneling, header stripping and Layer 7 load balancing. Visibility Fabric Applications provide stateful packet correlation capabilities that enable de-duplication, provide session awareness for enhanced visibility, insight and control over data traffic flows, as well as the ability to summarize and generate NetFlow statistics from incoming traffic streams.</p>
          <p>“The new GigaVUE-HC2 demonstrates Gigamon’s commitment to provide current and future customers with innovative Visibility Fabric platforms and solutions,” said Bob Laliberte, Sr. Analyst with ESG. “The combination of a port dense 2RU footprint, GigaSMART capabilities and a full suite of applications - that deliver network tapping, traffic aggregation, de-duplication, and NetFlow generation - will enable organizations to maximize functionality and versatility, while minimizing its data center footprint.”</p>
          <p>The GigaVUE-HC2 will be showcased at Interop Las Vegas at the Gigamon booth #738. Also found at the Gigamon booth will be a demonstration of Gigamon’s NetFlow application, which has been recognized as a Best of Interop Finalist.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information, visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/visibility-fabric-architecture</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>