<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Further Enhances Visibility into Virtualized Environments</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-102" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>GigaVUE-VM 2.0 Extends Visibility into Cisco Virtual Environments and Supports vMotion</em></p>
          <p><strong>Silicon Valley, CALIF., June 24, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>(NYSE: GIMO), a leader in network traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today enhancements to its GigaVUE-VM Visibility Fabric node to support Cisco and VMware virtualized environments. The <a href="/products/gigavue-vm">GigaVUE-VM</a> 2.0 release includes support for Cisco’s Nexus 1000V virtual switch and seamless visibility for vMotion events for today’s agile virtual environments.</p>
          <p>"Virtualization is creating blind spots, or invisible networks, within server infrastructures making it difficult to secure the network traffic, diagnose problems, and analyze performance,” said Christian Renaud, Senior Analyst with 451 Research. “There are a number of end users who have deployed the Cisco Nexus 1000V within their VMware virtual infrastructures to help ensure that consistent network policy is enforced throughout the data center. It makes sense for Gigamon to add support for these customers with their latest release. Their support for vMotion is exciting as well because without the ability to automatically migrate the monitoring policies with vMotion, visibility would be lost once the vMotion occurs and would require manual reconciliation and that would be a nightmare to manage in agile virtual infrastructures."</p>
          <p>The goal of the Gigamon Unified Visibility Fabric architecture is to deliver pervasive visibility and simplified management and provisioning of monitoring policies across all network topologies including physical, virtual and software-defined networks (SDN). The GigaVUE-VM exposes inter-VM traffic flowing in a physical host and across physical hosts with intelligent filtering and forwarding capabilities for monitoring and troubleshooting virtual environments. The addition of GigaVUE-VM 2.0 expands Gigamon’s pervasive visibility into VMware virtual infrastructures that utilize the Cisco Nexus 1000V distributed virtual switch. The 2.0 update also provides automatic re-configuration of the Visibility Fabric architecture by migrating monitoring policies to maintain continuous visibility when a vMotion event occurs.</p>
          <p>“GigaVUE-VM 2.0 automates the ‘tuning’ of monitoring policies in response to real-time network events such as the migration of a virtual machine from one host to another,” said Huy Nguyen, Sr. Director of Product Management at Gigamon. “In addition, traffic between virtual machines on the same host is switched locally without ever hitting the physical network, thus rendering the existing analysis tools blind to that virtual traffic. Now, GigaVUE-VM bridges the gap between the physical and virtual worlds and allows complete visibility to monitoring and management tools.”</p>
          <p>The GigaVUE-VM 2.0 upgrade is available immediately and pricing starts at $14,995 for 10 GigaVUE-VM Visibility Fabric nodes.</p>
          <h3>About the Unified Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance, and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our initial public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No.333-182662). The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>