<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Fortifies Security Analytics with Certificate Metadata</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1271" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em style="font-size: 0.923em; line-height: 1.5em;">Gigamon’s Metadata Generation Engine Enables Faster Detection of Attacks That Leverage Falsified Certificates</em></h2>
          <p><strong>Santa Clara, Calif. and Las Vegas, Nev. (August 3, 2016)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that the Metadata Engine, a key part of the GigaSECURE® Security Delivery Platform (SDP), can now generate Hypertext Transfer Protocol (HTTP) Secure Sockets Layer (SSL) certificate metadata. Gigamon’s GigaSECURE expedites the time to detection of potentially malicious web servers and unwanted SSL communications by providing security analytics technologies with the information they need to identify invalid SSL certificates.</p>
          <p>SSL-based attacks are on the rise and many phishing sites use fake SSL certificates to appear legitimate so that targets and infected machines will connect to them. Security analytics tools like Security Information and Event Management Systems (SIEMs) can spot these potentially harmful web communications by flagging inconsistencies in the fields of SSL certificates. Still, the certificate data needed for the detection can be difficult to retrieve pervasively and continuously from broad and distributed networks.</p>
          <p>GigaSECURE can expedite anomaly detection by monitoring SSL certificate exchanges and providing metadata that includes indicators of potentially falsified certificates. Examples of the Gigamon-supplied metadata include, information about the issuing certificate authority, requested and responding domain names, dates of expiry, which ciphers are being used and whether the certificates are self-signed.</p>
          <p>"Sifting through raw packet streams to identify malicious network activity can be a slow and cumbersome process in a world where real-time threat identification and remediation is critical," said Robert Lowe, Information Security Manager, Fannie Mae. "Gigamon's network visibility and new HTTP SSL certificate metadata capabilities provide an added layer of intelligence and the context needed to more quickly, effectively and efficiently protect both network infrastructure and data."</p>
          <p>Certificate metadata lets Gigamon, together with its ecosystem partners in the security analytics and SIEM markets, leverage the network to shorten the time to detection and response.</p>
          <p>“Organizations know that their network traffic contains a lot of potential intelligence that can help remediate breaches,” said Jai Balasubramaniyan, Director, Security Product Management, Gigamon. “Gigamon is revolutionizing big data security analytics by uniquely extracting metadata from this data-in-motion and delivering it at network speeds to security technologies that use it to detect and remediate threats faster.”</p>
          <p>Delivered as one pillar of the GigaSECURE Security Delivery Platform, the Metadata Engine generates the following security analytics enabling information:</p>
          <ul>
           <li>NetFlow/IPFIX records</li>
           <li>URL/URI information</li>
           <li>CDP/LLDP information</li>
           <li>SIP request information</li>
           <li>HTTP response codes</li>
           <li>DNS queries</li>
           <li>Certificate information</li>
          </ul>
          <p>To explore the capabilities of the GigaSECURE Security Delivery Platform and learn more about the Metadata Engine, stop by booth 1307 at <a href="https://www.blackhat.com/us-16/">Black Hat USA 2016</a> or visit:&nbsp;<span style="font-size: 0.923em; line-height: 1.5em;"><a href="https://www.gigamon.com/products/technology/netflow-and-metadata-generation">https://www.gigamon.com/products/technology/netflow-and-metadata-generation</a></span></p>
          <p>Follow @Gigamon and #BHUSA16 on Twitter for the latest updates from the event.</p>
          <p><strong><u>Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<ins cite="mailto:Dante%20Corricello" datetime="2016-07-27T10:18">™ </ins>and GigaSECURE, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a><u>,</u> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>