<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Ranked as a Fastest Growing Company in North America Based on Deloitte’s 2015 Technology Fast 500</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-898" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Attributes Revenue Growth to Demand for Pervasive Network Visibility Enabling Stronger Security and Superior Performance</em></h2>
          <p><strong>Santa Clara, Calif., (Nov. 16, 2015)</strong><span> – </span><a href="http://www.gigamon.com/">Gigamon</a><span> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that it has been included in Deloitte’s Technology Fast 500<sup>TM</sup>, a ranking of the 500 fastest growing technology, media, telecommunications, life sciences and energy tech companies in North America. Gigamon grew 131 percent during this period (2011 – 2014).</span></p>
          <p>“We’re delighted to be named to the prestigious Fast 500 list for the third year in a row,” said Peter Finter, Gigamon’s chief marketing officer. “Global demand for our pervasive, end-to-end network visibility solutions to improve security, network and application performance is stronger than ever. Today we serve over three quarters of the Fortune 100 companies, and with our introduction of the industry’s first Security Delivery Platform, supported by our ecosystem of leading technology partners, we look forward to continued growth.”</p>
          <p>“Amid a fierce business climate, there seems to be no shortage of new and established companies that are unlocking a seemingly unlimited potential for growth and advancement through technology’s continued disruption and proliferation across industries,” said Sandra Shirai, principal, Deloitte Consulting LLP and U.S. technology, media and telecommunications leader. “It is inspiring to witness the innovative ways that companies are incorporating emerging technologies for business gains, be it cognitive computing, or the Internet of Things. We congratulate all those ranked on this year’s Fast 500 and look forward to seeing their continued growth into 2016.”</p>
          <p>“Through the efforts and utilization of new and emerging technologies from these companies, we are witnessing greater business demands from across almost all industries,” added Jim Atwell, national managing partner of the emerging company practice, Deloitte &amp; Touche LLP. “We look forward to the opportunity to serve these companies as they strive to grow to the next level – be it towards introducing new solutions or entering new markets – and with it make important and long lasting impressions on the technology market as a whole.”</p>
          <p>Overall, 2015 Technology Fast 500 companies achieved revenue growth ranging from 109 percent to 21,984 percent from 2011 to 2014, with an average growth of 850 percent.</p>
          <h3><strong><u>About Deloitte’s 2015 Technology Fast 500</u><sup>TM</sup></strong></h3>
          <p>Deloitte’s Technology Fast 500 provides a ranking of the fastest growing technology, media, telecommunications, life sciences and energy tech companies – both public and private – in North America. Technology Fast 500 award winners are selected based on percentage fiscal year revenue growth from 2011 to 2014.</p>
          <p>In order to be eligible for Technology Fast 500 recognition, companies must own proprietary intellectual property or technology that is sold to customers in products that contribute to a majority of the company's operating revenues. Companies must have base-year operating revenues of at least $50,000 USD or CD, and current-year operating revenues of at least $5 million USD or CD. Additionally, companies must be in business for a minimum of four years and be headquartered within North America.</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our goals for Gigamon’s continued revenue growth. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>