<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>GigaVUE High Density Data Access Switch Gains Quick Acceptance With Financial/Banking Networks</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-27" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/monitoring-securing-financial-networks.pdf" target="_blank">monitoring-securing-financial-networks.pdf </a> (28 KB pdf file)</p>
          <p>Silicon Valley, CA - April 02, 2009 - Gigamon™, the global leading provider of intelligent data access networking™ (DAN) products, today announced that its GigaVUE™ high-density Data Access Switch, recently introduced to the financial services industry, has already been installed in the data networks of nearly four dozen industry customers. The company credits the quick acceptance due to the device’s ability to connect any number of network monitoring tools with custom filtering to multiple access points regardless of their respective data rates—enabling greater tool efficiency and immediate ROI.</p>
          <p>The GigaVUE-2404® offers the most advanced aggregating, replicating, flow mapping and packet filtering capabilities of any data access switch on the market. DAN technology ensures thatmonitoring tools can be deployed immediately without impact to the network and can see traffic from the entire network, even across parallel or mesh topologies. Legacy 1GigE tools can be used to monitor newly installed 10GigE links using DAN Any-to-Any technology.</p>
          <p>“Financial services companies have an overwhelming need to constantly monitor their data networks for security, performance and capacity,” said Patrick Leong, Gigamon chief technical officer. “The GigaVUE 2404 uniquely solves virtually all of the challenges posed by the current monitoring tool environment. From accommodating legacy 1GigE tools in 10GigE environments, to controlling access to sensitive data, the GigaVUE-2404 is the kind of switch network engineers have been waiting for.”</p>
          <p>Featuring twenty-four 10GigE ports and four 1GigE ports in a low profile 2U chassis, the GigaVUE 2404’s modular design allows network managers to deploy the exact number of ports necessary to accomplish their specific goals—no more and no less. The modular design begins with a minimum of eight ports and scales to a maximum of over 280 ports, to accommodate all current and future monitoring needs.</p>
          <p>Gigamon’s Data Access Network technology is a breakthrough for network engineers dealing with the increased number and variety of tools for intrusion detection, application monitoring, SOX compliance, forensic recording, network analysis and the like. Gigamon’s intelligent DAN-equipped switches are packet-aware, meaning they can provide exactly the packets needed for a given tool to carry out its function. By virtue of their out-of-band connection, they can also do so without impacting network operations.</p>
          <p>Adding flexibility to the GigaVUE-2404’s configuration options is its hot-swappable, three-blade architecture. The base chassis houses eight 10GigE ports and four 1GigE ports as well as the CPU, a 244 Gbps full-duplex switching capacity forwarding engine with serial and Ethernet management ports.</p>
          <p>Optional second and third slot blades each have eight 10GigE ports available in two flavors: GigaPORT and GigaTAP. GigaPORT blades ports are commonly used to receive traffic from SPAN ports or taps and to send traffic to passive monitoring tools. GigaTAP blades have four full-duplex 10GigE TAPs and can simultaneously tap up to 4 different 10 Gbps links per blade.</p>
          <p>“With the need to monitor networks for an ever increasing set of regulatory and management purposes, TAP or SPAN ports can be overwhelmed,” explained Leong. “The strong success we’ve experienced in the financial services sector tells us that the GigaVUE 2404 is solving problems and providing the exceptional flexibility and security that IT staffs demand.”</p>
          <p>For more information on the GigaVUE 2404 data access switch, including a product brief and online presentation, visit GigaVUE-2404 Network Monitoring.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>