<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces the Data Access Network: A Total Solution to Network Monitoring Challenges</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-13" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/dan-a-total-solution-to-network-monitoring-challenges.pdf" target="-blank">dan-a-total-solution-to-network-monitoring-challenges.pdf</a> (30 KB pdf file)</p>
          <p><strong>Silicon Valley, CA - October 14, 2008</strong> - As any voice or data network engineer knows, network monitoring is a critical part of the job. In fact, the reasons for network monitoring are for intrusion detection, SOX compliance, forensic recording, VoIP analysis, lawful intercept, system troubleshooting and the like which have only grown over time.</p>
          <p>Unfortunately, the available infrastructure for network monitoring hasn’t made things easy. SPAN (Switch Port for Analysis) ports on network switches are few—and the packet mirroring approach used by SPANs can affect switch performance. As for TAPs (Test Access Ports), only one can be installed per network segment, and the TAP will add significant cost without the ability to scale for multiple tools.</p>
          <p>Trouble is, multiple tools are often required—at an alarming cost—to sufficiently monitor mission critical network segments. Any additions or changes to the prescribed tools require permission from the configuration management staff, as well as a late-night maintenance window to do the installation.</p>
          <p>Into this complex situation, Gigamon™, a leading provider of intelligent data access networking products, has introduced an innovative and economical solution: the Data Access Network, or DAN. Gigamon developed the DAN concept as a total data center network remedy—one that accommodates the growing number of networking monitoring tools. DAN's provide exactly the packets needed for a given tool to carry out its function and, by virtue of their out-of-band orientation, do so without impacting network operations.</p>
          <p>“Network engineers have never had anything like this before,” explained Patrick Leong, Gigamon’s chief technical officer. “As designed by Gigamon, the Data Access Network is comprised of the monitoring and analysis tools needed to maintain, verify, grow and troubleshoot the production network, facilitated by a ‘packet aware’ data access switch. Traditional access methods are not packet aware, and cannot filter, aggregate, balance or intelligently direct traffic to specific tools. By providing a flexible, dynamic infrastructure, the DAN not only accommodates the growing number and complexity of monitoring tools, but also establishes the support environment necessary for enterprises to successfully maintain and grow their businesses.”</p>
          <h3>Cost-Saving Layer</h3>
          <p>Gigamon’s proprietary DAN solution exists outside the boundaries of normal configuration management supervision. It provides an intelligent connectivity layer between the production network and the enterprise’s monitoring tools, ensuring unobtrusive data access to each and every device. By so doing, the DAN gives network engineers new power to manage their networks with less cost and fewer disruptions.</p>
          <p>DAN's pay for themselves many times over by reducing or consolidating the number of monitors needed to provide complete data center coverage. By using a DAN in the infrastructure, network or security engineers can do much more, with fewer and less expensive tools.</p>
          <h3>Intelligent Filtering/Mapping</h3>
          <p>Gigamon’s innovative DAN concept provides connectivity for virtually any monitoring tool, from intrusion detection systems and sniffers to VoIP analyzers, applications monitors and data recorders. Its secure, customizable “data socket” configuration uniquely allows users to divide traffic and distribute packets to different 1 GigE or 10 GigE tools according to a variety of user-defined rules:</p>
          <ul>
           <li><strong>Any-to-Any Connectivity</strong> to solve tool deployment problems</li>
           <li><strong>Aggregate Multiple Links to consolidate tools</strong></li>
           <li><strong>Multicast to Multiple Tools</strong> to share data sources</li>
           <li><strong>Intelligently Filter and Divide Loads</strong> to customize and manage data to different tools</li>
          </ul>
          <p>“Most individual monitoring tools are not designed to handle the high rate of traffic flow through modern data center networks. By intelligently filtering and mapping packets to multiple instances of a particular type of tool, Gigamon’s DAN connectivity solution breaks down—or balances—the traffic required for a specific set of devices no matter what their interface speed,” said Leong. “The result is better tool performance and complete network coverage with no lost packets. And with an ultra-low latency of six micro-seconds from port to port, there is no measurable effect on data flows. DAN is a reliable, cost-effective passive data access solution.”</p>
          <p>DAN technology is based on circuit switching of replicated packets rather than live traffic, so network performance is not impacted. It offers 100% line rate performance through all ports, even if the port is filtered. Filter rules are based on pre-defined templates that include MAC source or destination addresses, IP source or destination addresses (including IPv6), IP subnets, VLAN IDs, TOS priority bits, range masks featuring odd-even discrimination (RTP/RTCP filtering), user defined bit pattern and offset, and more.</p>
          <p>As a local/remote access management plane, the DAN can provide full access to data across the network—yet strong security is maintained through a number of advanced protocols. Local users are password authenticated, while remote users require TACACS+ or RADIUS authentication. The remote management interface is SSH2 128-bit encrypted for maximum protection; data can’t be seen through the interface and users are locked to their individual ports, ensuring that other ports cannot be altered.</p>
          <h3>Wide Acceptance</h3>
          <p>Gigamon’s DAN technology is incorporated into its GigaVUE line of data access switches. The technology has earned Gigamon the Emerging Technology of the Year award in the world monitoring market from Frost &amp; Sullivan, and thousands of GigaVUE units are already in use at over 500 telecom, industrial, manufacturing, financial, banking, medical, utility and government networks worldwide. Current users include Apple, Chevron, Cisco, eBay, the U.S. Federal Reserve, Capital One, Deutsche Bank, Fidelity Investments, JC Penney, NASA, Northwestern Insurance, the NYSE, Raytheon, Sprint, Verizon, T-Mobile, Vodafone and the U.S. Department of Defense, among many others.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>