<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Chris Deardurff as Vice President, North America Sales</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-893" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Leader of F5 America Sales to join Gigamon</em></h2>
          <p><strong>Santa Clara, Calif., (Nov. 9, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that it has expanded its executive team with the appointment of industry veteran Chris Deardurff as Vice President of North America Sales.</p>
          <p>“I am delighted to have Chris Deardurff join our successful team as his experience is a perfect match to lead the North American Sales team through our next phase of continued growth,” said Helmut Wilke, SVP Worldwide Sales at Gigamon. “Aside from the skills and knowledge that he brings, Chris has the proven ability to scale a Sales organization, and I look forward to his contribution in this critical Sales leadership role.”</p>
          <p>Prior to joining Gigamon, Deardurff was the Senior Vice President of Sales, Americas at F5. Having risen through the ranks since 1998 at F5, Deardurff drove revenue to more than $700 million per year while managing an organization of over 500 people. During this time, he helped transform F5 from a $200 million company to a $1 billion industry leader.</p>
          <p>“I look forward to joining Gigamon - a market leading, innovative and high-growth organization,” said Deardurff. “I have a high degree of confidence that my past experience in combination with the Sales organization at Gigamon, we will be able to continue the results of the past and develop new revenue streams for the future.”</p>
          <p>Deardurff will start at Gigamon in mid-December.</p>
          <p><strong><u>Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations of continued operating results and our ability to generate new revenue streams. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>