<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Files Registration Statement for Proposed Initial Public Offering</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-87" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>July 13, 2012</strong></p>
          <p>MILPITAS, Calif., July 13, 2012 /PRNewswire/ -- Gigamon®, a leading provider of Traffic Visibility Fabric solutions, announced today that it has filed a registration statement on Form S-1 with the U.S. Securities and Exchange Commission relating to a proposed initial public offering of shares of its common stock. The number of shares to be offered and the price range for the offering have not yet been determined.</p>
          <p>Goldman, Sachs &amp; Co., BofA Merrill Lynch and Credit Suisse are acting as joint book-running managers for the proposed offering, Barclays is acting as a passive book-running manager for the proposed offering, and Raymond James is acting as co-manager for the proposed offering.</p>
          <p>The offering will be made only by means of a prospectus. A copy of the preliminary prospectus, when available, may be obtained from Goldman, Sachs &amp; Co., Attention: Prospectus Department, 200 West Street, New York, NY 10282, or by telephone at 1-866-471-2526; BofA Merrill Lynch, Attention: Prospectus Department, 222 Broadway, 7th Floor, New York, NY 10038; or Credit Suisse, Attention: Prospectus Department, One Madison Avenue, New York, NY 10014, or by telephone at 1-800-221-1037.</p>
          <p>A registration statement relating to these securities has been filed with the Securities and Exchange Commission but has not yet become effective. These securities may not be sold, nor may offers to buy be accepted, prior to the time the registration statement becomes effective.</p>
          <p>This press release shall not constitute an offer to sell or the solicitation of an offer to buy, nor shall there be any sale of these securities in any state in which such offer, solicitation or sale would be unlawful prior to registration or qualification under the securities laws of any such state or jurisdiction.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>