<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Enters into Sponsorship Agreement with Securities Technology Analysis Center</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-33" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Gigamon Solutions to Help Support High Frequency Trading</em></p>
          <p><strong>Silicon Valley— November 11, 2010 - </strong><a href="http://www.gigamon.com/"><strong>Gigamon™</strong></a>, the leading global provider of data access solutions, today announced that it has entered into a sponsorship agreement with the Securities Technology Analysis Center, LLC (STAC). STAC is a vendor-neutral specialist in high-performance capital markets technology and facilitates the STAC Benchmark Council, a group of trading firms and vendors specifying standard methods for measuring the performance of trading systems. The resulting STAC Benchmarks are the only technology benchmark specs tailored for today's trading business needs.</p>
          <p>Optimal performance of financial trading infrastructures is essential to success in today’s competitive trading markets. The key considerations with regard to performance are primarily latency, capacity and efficiency. It is vital to accurately monitor and measure the performance of these vast high-speed trading networks. According to the Benchmark Council, “the biggest demand for low latency comes from high-frequency trading (HFT).” HFT is the execution of computerized trading strategies characterized by extremely short (down to fractions of a second) position-holding periods.</p>
          <p>Gigamon’s contribution to the council comes from their industry leading performance and functionality, including their low-latency GigaVUE Data Access Switch solution and GigaSMART packet modification technology. The Tolly Group, an independent third-party testing organization, tested the GigaVUE line and reported that the Data Access Switches “exhibited very low latency across all major connection scenarios even in a fully utilized chassis.” GigaVUE and GigaSMART enable highly accurate monitoring and measurement of the performance of these critical trading infrastructures.</p>
          <p>“Gigamon is committed to offer low latency, high performance monitoring solutions for the financial institutions that comprise the STAC Benchmark Council,” said Patrick Leong, Gigamon CTO. Leong added, “The GigaSMART packet modification technology includes time stamping which helps pinpoint critical network performance issues and enhances the ability to analyze latency, jitter and end-to-end network performance.”</p>
          <p>For more information, visit <a href="http://www.gigamon.com/">http://www.gigamon.com</a> or call Gigamon’s headquarters at (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, Intelligent DAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
          <h3>About STAC</h3>
          <p>STAC (<a href="http://www.stacresearch.com/" target="_blank">www.STACresearch.com</a>) is a technology-research firm that facilitates the STAC Benchmark Council™ (<a href="http://www.stacresearch.com/council" target="_blank">(www.STACresearch.com/council</a>), an organization of leading trading organizations and vendors that specifies standard ways to measure the performance of trading solutions. STAC Benchmarks cover workloads in market data, analytics, and trade execution. STAC helps end-user firms relate the performance of new technologies to that of their existing systems by supplying them with STAC Benchmark reports as well as standards-based STAC Test Harnesses™ for rapid execution of STAC Benchmarks in their own labs. End users do not disclose their results. Some STAC Benchmark results from vendor-driven projects are made available to the public, while those in the STAC Vault™ are reserved for members of the Council (see <a href="http://www.stacresearch.com/vault" target="_blank">www.STACresearch.com/vault</a>).</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>