<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon to Provide Intelligent Visibility for 100Gb Networks</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-81" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Milpitas, Calif., November 1, 2012</strong>–<a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a leading provider of <a href="/traffic-visibility-fabric">Traffic Visibility Fabric</a>™ solutions, demonstrated its industry leadership by announcing that it would showcase a 100 Gigabit Ethernet (100Gb) Traffic Visibility Fabric at <a href="http://sc12.supercomputing.org/">Supercomputing 2012</a>. The Gigamon Visibility Fabric is capable of intelligently forwarding network traffic at full line rate between nodes on 100Gb network connections, offering the ability to connect to 100Gb networks and to deliver intelligently aggregated 10Gb connections into a single 100Gb uplink to network monitoring, management and analytic tools. The technology will be on show at <a href="http://sc12.supercomputing.org/">Supercomputing ’12</a>, Nov. 12 at the Salt Palace Convention Center in Salt Lake City, UT. This will be Gigamon’s fourth year supporting the Supercomputing SCinet infrastructure with its Visibility Fabric.</p>
          <p>In conjunction with the recent launch of <a href="/gigasmart-line-rate-packet-modification-technology">GigaSMART<sup>®</sup></a> technology in the GigaVUE<sup>®</sup> H Series of fabric nodes and the unveiling of the four-phase evolution for its Visibility Fabric, Gigamon has demonstrated its capability to deliver an Engaged Fabric that can receive, filter, modify and deliver traffic at 100Gb rates on network segments with throughput that expands beyond 2.5 Terabits due to the unique architecture of the GigaVUE-HD8 chassis.</p>
          <p>“Since inception of the company, Gigamon’s innovative culture continues to deliver regular industry firsts that address real challenges faced by real customers. With 48 of the top 100 Mobile Service Providers using the Gigamon Visibility Fabric, we are in lockstep with our customer base in understanding the challenges they face deploying 4G, LTE-Advanced &amp; VoLTE architectures,” said Paul Hooper, VP of marketing and product management at Gigamon. “We realized that the move from 10Gb to 40Gb was a short-term step in the upgrading of the core, and that 100Gb was the ultimate medium-term objective for architects and engineers of the most advanced global networks. Our customers will be able to take advantage of our intelligent 100Gb network Visibility Fabric to enable effective monitoring, management and analysis of superior performance carrier-grade networks.”</p>
          <p>Intelligent traffic visibility with ingress, egress and inter-node performance at 100Gb line rates on 100Gb network connections is a challenge for appliance-based solutions due to the port density and scale requirements of today’s leading mobility providers. Gigamon now provides comprehensive, intelligent and fast network visibility technology available to customers across verticals and around the globe, addressing big data, burgeoning OTT video and BYO3 trends ahead of carrier rollout worries, establishing the scale of packet filtering, selection and forwarding to 100Gb. “With network traffic reaching unprecedented volume and speed, enterprises and service providers in every vertical market require intelligent and pervasive solutions to handle the increasing scale of data while allowing analytic processing to reach higher levels of throughput with greater integration between the data access and the tools layer,” said Andy Huckridge, director of service provider solutions at Gigamon.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Traffic Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/traffic-visibility-fabric">Traffic Visibility Fabric</a> for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>