<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Files Registration Statement for Proposed Follow-On Offering</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-96" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Milpitas, California – October 4, 2013 – </strong>Gigamon Inc. (NYSE: GIMO), a leading provider of network traffic visibility solutions, announced today that it has filed a registration statement on Form S-1 with the Securities and Exchange Commission relating to a proposed public offering of shares of its common stock. Gigamon is proposing to offer 300,000 shares and certain selling stockholders are proposing to offer 4,800,000 shares. In addition, certain of the selling stockholders are expected to grant the underwriters a 30-day option to purchase up to 765,000 additional shares of common stock from them. Gigamon will not receive any of the proceeds from the sale of the shares that are proposed to be sold by the selling stockholders.</p>
          <p>Goldman, Sachs &amp; Co., BofA Merrill Lynch and Credit Suisse are acting as lead joint book-running managers for the offering and Raymond James, Pacific Crest and William Blair are acting as co-managers for the offering.</p>
          <p>The offering will be made only by means of a prospectus. A copy of the preliminary prospectus, when available, may be obtained from Goldman, Sachs &amp; Co., Attention: Prospectus Department, 200 West Street, New York, NY 10282, by phone at (866) 471-2526 or by email at <a href="mailto:prospectus-ny@ny.email.gs.com">prospectus-ny@ny.email.gs.com</a>; BofA Merrill Lynch, Attention: Prospectus Department, 222 Broadway, New York, New York 10038 or by email at <a href="mailto:dg.prospectus_requests@baml.com">dg.prospectus_requests@baml.com</a>; or from Credit Suisse Securities (USA) LLC, Attention: Prospectus Department, One Madison Avenue, New York, NY, 10010, by phone at (800) 221-1037, or by e-mail at <a href="mailto:newyork.prospectus@credit-suisse.com">newyork.prospectus@credit-suisse.com</a>.</p>
          <p>A registration statement relating to these securities has been filed with the Securities and Exchange Commission but has not yet become effective. These securities may not be sold, nor may offers to buy be accepted prior to the time the registration statement becomes effective.</p>
          <p>This press release shall not constitute an offer to sell or the solicitation of an offer to buy, nor shall there be any sale of these securities in any state or jurisdiction in which such an offer, solicitation or sale would be unlawful prior to registration or qualification under the securities laws of any such state or jurisdiction.</p>
          <p>Investor Relations contact:<br>Cynthia Hiponia and Alice Kousoum<br>The Blueshirt Group<br>+1 (408) 493-1399<br><a href="mailto:IR@gigamon.com">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>