<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces the First Line Rate Packet Modification Technology</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-139" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigasmart-network-monitoring.pdf" target="_blank">gigasmart-network-monitoring.pdf </a> (24 KB pdf file)</p>
          <p>Silicon Valley—February 23, 2010 - Gigamon™, the leading global provider of intelligent data access networking™, today announced its new software application family GigaSMART™, enhancing its award-winning GigaVUE-2404® platform. GigaSMART is the data access industry’s first 10-Gig full line-rate packet modification technology to offer time stamping, network port labeling, slicing and masking. This enables organizations to realize further optimization and efficiencies in performance, security, compliance and analysis monitoring. By utilizing the GigaVUE-2404 platform with GigaSMART software, organizations can achieve a level of ease in deployment and management of tools while gaining immediate return on capital and operational investment.</p>
          <p>“With the growth of IT networks of highly virtualized assets, the resulting complex traffic demands a new mode of network management,” said Anne MacFarland, senior contributing analyst at The Clipper Group. “With the launch of the GigaSMART software application family, Gigamon establishes a new category of intelligent data access solutions. Gigamon offers solutions that address network security and quality of service, making both administrators and tools more productive and, as well, saving both cost and time."</p>
          <h3>GigaSMART</h3>
          <p>A networking industry first, GigaSMART significantly enhances the capabilities of Gigamon’s GigaVUE-2404 platform, creating the ability to modify packets at the line-rate of data and add valuable information through the first of its GigaSMART family of software modules: time stamping, network port labeling, slicing and masking. Gigamon pioneered intelligent data access networking technology for easier and lower cost deployment and management of multi-tool environments, addressing new demands for reporting and analyzing an organizations’ data and enhancing the ability to view and troubleshoot increasingly complex networks. By aggregating, filtering and replicating customized data streams to all monitoring tools, GigaVUE® ensures seamless and controlled delivery of the right data at the right time to the right tools. Existing filters within the GigaVUE-2404 also allow GigaSMART to pin down a subset of traffic for advanced modification.</p>
          <p>GigaSMART enables an entirely new way to enhance monitoring tools, allowing tools to perform analysis more efficiently, accurately and inexpensively. “Up to now, GigaVUE faithfully transferred packets from the network to the monitoring tools exactly as they appeared on the network,” explained Gigamon Co-founder Tom Gallatin. “But in some cases, the monitoring tools will perform more efficiently by eliminating unwanted content, or by adding source or timing information only available at the point of collection, or by hiding confidential information like passwords, financial accounts, or medical data, keeping it away from users who ‘don’t really need-to-know.’ GigaSMART can deliver all this – and more – at 10-Gig full line-rate.”</p>
          <h3>Time Stamping</h3>
          <p>As a network’s complexity increases, GigaSMART’s time stamping module is an effective way to troubleshoot and measure application response times, jitter or latency. As the packets flow into GigaVUE, they are time stamped at line-rate, taking place as close to the network as possible, resulting in a permanent time record that remains with the packet for subsequent analysis, such as jitter or latency measurements, at a more convenient time.</p>
          <h3>Slicing</h3>
          <p>As the amount of network traffic and thus network monitoring continues to increase, so does the demand for processing and storing the data. Increasing the amount of data a network tool can process or how much data a forensic recorder can hold becomes an increasingly important requirement, best addressed through intelligent data access networking. The GigaSMART slicing module can reduce packet size to increase processing and monitoring throughput, optimizing the tools’ ability to crunch data. With GigaSMART slicing, the reduction in packet size can enable more data storage in a recorder application, leaving only the most vital part of the payload. An advanced time- and space-saving feature, slicing contributes to lowering the overall data center processing and storage needs, in turn reducing costs and footprint.</p>
          <h3>Masking</h3>
          <p>Even when encrypted, a packet can often still carry private information that can be seen by the tools connected to the network, leading to security vulnerability and compliance threats. A simple mask over this private information increases security and compliance without impact to the monitoring tasks. GigaSMART’s customizable masking feature allows any private information within the packet to be masked, keeping the information private while the network tools and the network engineers do their jobs. Masking is an especially desirable feature for the financial, insurance and healthcare verticals, because every network has private or sensitive information on it; as packets travel through tools, masking will keep private information private.</p>
          <h3>Release 7.0</h3>
          <p>To support GigaSMART and add further optimized functionality to the GigaVUE platform, Gigamon is also announcing Release 7.0, which delivers increased flexibility by allowing the unique feature of dynamically adding or dropping cross-box connections. In addition, Release 7.0 includes the Citrus GUI 2.0, which brings more visual value to the desktop, enhancing topology views when supporting stacking or connecting configurations. Citrus GUI 2.0 also supports port bandwidth utilization and the plotting of utilization over time, giving more value to raw data in the form of port statistics. This release also brings the ease of the Citrus GUI to a standalone GigaVUE-MP®. Existing GigaVUE-2404 customers with Gigamon maintenance can request the Release 7.0 upgrade at no cost.</p>
          <p>“Managing a large scale enterprise data center demands a complex network monitoring infrastructure where 24/7 performance is mission-critical. GigaSMART and GigaVUE work in concert to meet the highest standards of network visibility, availability, compliance and security,” said Gigamon Chief Technology Officer Patrick Leong. “Our team has been listening to our customers and their specific needs for increased control over data and configuration, along with additional flexibility. We developed GigaSMART packet modification technology to meet these needs and further optimize network monitoring and security at the lowest overall cost.”</p>
          <h3>Availability</h3>
          <p>GigaSMART is in beta evaluation with organizations around the world. GigaSMART will be fully available by the end of the first quarter. Those interested in learning more about GigaSMART can visit<a href="http://www.gigamon.com/gigaSMART.php">www.gigamon.com/gigaSMART.php</a>. Current Gigamon customers using a GigaVUE-2404 and interested in learning more about an overall upgrade to GigaSMART can call their Gigamon authorized resellers or Gigamon regional sales directors for availability and pricing.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>