<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Introduces Pervasive Visibility Platform on AWS</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1613" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Gigamon Visibility Platform on Amazon Web Services (AWS) enables consistent and elastic visibility into data-in-motion across the entire enterprise to securely manage mission-critical workloads</em></h2>
          <p>Santa Clara, Calif., (November 22, 2016) – <a href="/">Gigamon</a> Inc. (NYSE: GIMO) today announced general availability of one of the first data-in-motion visibility platforms for the cloud that enables organizations to gain consistent insight and access across their corporate infrastructure to manage workloads and applications as they scale to the cloud.</p>
          <p>Cloud architects, SecOps and DevOps teams can now obtain deep visibility into data-in-motion regardless of infrastructure location, whether owned on-premises or consumed on a cloud platform such as Amazon Web Services (AWS), thereby providing them with the same visibility required to perform content inspection and secure their mission-critical workloads.</p>
          <p>With escalating volumes of data and connected devices, enterprises are increasingly migrating mission-critical applications and workloads to public clouds. According to Gartner, “The worldwide public cloud services market is projected to grow over 83%, from $208.6 billion in 2016 to $381 billion by 2020.”* Meeting security and compliance mandates requires the ability to gain visibility into network traffic in order to perform both proactive content inspection for intrusion detection, malware analysis, data loss prevention, customer experience management, as well as reactive content inspection for forensics and compliance.</p>
          <p>The Gigamon Visibility Platform for Amazon Elastic Compute Cloud (Amazon EC2) offers:</p>
          <ul class="pr-listing">
           <li>One consistent method to gain visibility into network traffic in Amazon Virtual Private Cloud (Amazon VPC), eliminating both the visibility gap and the need for custom agents</li>
           <li>Ability to consolidate and distribute traffic to multiple tools for enhanced performance. Security teams can customize traffic sent to each security tool to increase its effectiveness</li>
           <li>Advanced traffic intelligence functions including Gigamon’s patented Flow Mapping<sup>®</sup> and GigaSMART<sup>®</sup> applications - Sampling, Slicing, and Masking - to deliver only the traffic of interest to security tools, and in doing so, maximize their efficiency</li>
           <li>An intuitive drag-and-drop user interface on GigaVUE-FM<sup>®</sup> to quickly configure traffic policies</li>
           <li>An agnostic platform, benefitting any security tool, management tool and application that needs network traffic for analysis and inspection</li>
           <li>The flexibility to run security tools anywhere – on-premises, in the same Amazon VPC, or in a centralized Amazon VPC</li>
          </ul>
          <p>“The Gigamon Visibility Platform enables our customers to accelerate their ‘lift and shift’ strategy as they move workloads on AWS,” said Tim Jefferson, Global Ecosystem Leader-Security, Amazon Web Services, Inc. “They can now accelerate migration of their existing applications and workloads, while gaining greater visibility into network traffic for richer content inspection and protection of their mission-critical workloads and data.”</p>
          <p>“During the course of the last year, many customers and partners asked us to deliver a solution that provides the same level of visibility in the cloud as we offer on-premises,” said Ananda Rajagopal, vice president of products, at Gigamon. “We developed the Gigamon Visibility Platform on AWS to enable our customers to have one consistent visibility platform regardless of workload location. Now these customers can effectively manage, secure and understand all of their data-in-motion across their enterprise and AWS cloud environments.”</p>
          <h3>BUILT FOR ELASTIC SCALE</h3>
          <p>The Gigamon Visibility Platform on AWS is built for elastic scale. Highlights include:</p>
          <ul class="pr-listing">
           <li>Integration between GigaVUE-FM, Amazon EC2 APIs and Amazon CloudWatch to automatically discover new virtual machines (Amazon EC2 instances) or ongoing changes in a VPC</li>
           <li>“Automatic Target Selection” for elastic visibility as applications scale-out: Innovative, patent-pending method to automatically select and deliver traffic that matches a configured policy as new instances spin up</li>
           <li>A patent-pending controller-based elastic architecture that enables organizations to start small and massively scale out to maximize the benefits in a public cloud IaaS</li>
           <li>Open REST APIs for third-party management applications to orchestrate and automate visibility or tool vendors to perform closed loop detect-react-respond to traffic analysis</li>
          </ul>
          <h3>KEY BENEFITS</h3>
          <ul class="pr-listing">
           <li>See What Matters<sup>TM</sup> – On-premise or on AWS<br>- Access, categorize, and consolidate the delivery of network traffic to out-of-band security and performance management tools</li>
           <li>See More. Secure More – Obtain common visibility across all enterprise VPCs<br>- Mitigate risk and ensure data privacy compliance<br>- Accelerate incident detection and response</li>
           <li>Understand What Matters – Gain full transparency into traffic-of-interest traversing AWS<br>- Improve customer experience by delivering better, faster service of applications hosted on AWS<br>- Gain better insights and intelligence into traffic of interest</li>
           <li>Business &amp; AWS Cloud Benefits<br>- Flexible deployment models give freedom of choice on both location of workload and location of monitoring tools<br>- Avoid extensive re-architecting or unnecessary capacity upgrades</li>
          </ul>
          <h3>SECURITY ECO-SYSTEM PARTNERSHIPS</h3>
          <p>In developing this solution on AWS, Gigamon has actively worked with many partners from our large ecosystem community to extend our joint solutions to AWS. Specifically, BluVector, Cyphort, ExtraHop, FireEye, Jask.io, LightCyber, LogRhythm, Niara, ProtectWise and RSA all participated in our beta program over the last six months and performed joint validation of a variety of functionalities using network traffic extracted by the Gigamon Visibility Platform and delivered to their solutions. The validated use cases included all-in-AWS based solutions to hybrid models feeding traffic from cloud and physical infrastructure to an on-premise tool set.</p>
          <p>“Customers need pervasive visibility into all traffic - especially as more data moves through cloud environments,” said Michael Adler, vice president at RSA. “The network traffic data that Gigamon provides from AWS further enables the RSA NetWitness Suite to detect and respond faster to attacks often missed by log-centric SIEM and signature-based tools through its ability to correlate packets with security data from anywhere in the network.”</p>
          <p>Gigamon’s global channel is interested in leveraging the Visibility Platform for AWS for it enables their customers and prospects to gain elastic and deep visibility into their AWS workloads, while preserving their existing security and monitoring infrastructure. Early partners who are working on beta programs and investigating investment opportunities include Westcon-Comstor, ePlus, August Schell, Blackwood Associates, Guidepoint Security, Shelde Pty Ltd. and Scalar Decisions.</p>
          <h3>PRICING</h3>
          <p>Gigamon Visibility Platform on AWS will be generally available as community AMIs (end of November) and later, through the AWS Marketplace and activated by BYOL license. List pricing for the overall solution ranges from 1.4–2.7 cents per monitored Amazon EC2 instance per hour depending on the term duration. A 30-day free trial is also available for up to 10 monitored Amazon EC2 instances.</p>
          <p>For more information on Gigamon Visibility Platform for AWS and technical specifications, visit our solutions <a href="/products/public-cloud-aws">page</a>.</p>
          <p>*Gartner, Inc., Forecast Analysis: Public Cloud Services, Worldwide, 2Q16 Update, Sid Nag, Fred Ng, David Edward Ackerman, August 14, 2016</p>
          <p>Join Gigamon at AWS <a href="https://reinvent.awsevents.com/" target="_blank">re:Invent 2016</a>, 11/28 – 12/2/16 to learn more about the Gigamon Visibility Platform for AWS at Booth #2423, Venetian Hotel, Las Vegas, Nevada</p>
          <ul class="pr-listing">
           <li>“Who Stole My SPAN Port?! Obtaining Traffic Visibility in AWS for Deep Packet Inspection” presentation, Partner Theater, Expo Hall</li>
           <li>Follow @Gigamon and #reInvent on Twitter for the latest updates</li>
          </ul>
          <h3>ADDITIONAL RESOURCES</h3>
          <ul class="pr-listing">
           <li>Gigamon Visibility Platform for AWS product <a href="/sites/default/files/resources/product-brief/pb-gigamon-visibility-platform-for-aws-2039.pdf" target="_blank">brief</a></li>
           <li>Gigamon Visibility Platform for AWS data <a href="/sites/default/files/resources/datasheet/ds-gigamon-visibility-platform-for-aws-4095.pdf" target="_blank">sheet</a></li>
           <li>Gigamon Visibility Platform for AWS product web <a href="/products/public-cloud-aws">page</a></li>
           <li>Customer &amp; Partner quote <a href="/sites/default/files/resources/quote-sheet/qs-Visibility-Platform-for-AWS-4110.pdf" target="_blank">sheet</a></li>
           <li>“Amazon Web Services 101: What’s Driving Companies to the Public Cloud?” <a href="https://www.gigamon.com/blog/2016/11/16/amazon-web-services-101-whats-driving-companies-public-cloud/" target="_blank">blog</a></li>
           <li>“Visibility in the Public Cloud a Game Changer” <a href="https://www.gigamon.com/blog/2016/11/22/visibility-in-the-public-cloud-a-game-changer/" target="_blank">blog</a></li>
           <li>GigaTalks Cloud Chat with Shehzad Merchant and Fred Studer <a href="https://www.youtube.com/watch?v=EaYAKJGno1M&amp;index=4&amp;list=PLMnYhIkmPmIfMPn6ldy0tcZXfQ3ItVl1L" target="_blank">video</a></li>
          </ul>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into data-in-motion network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn,</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><em>Legal Notice Regarding Forward Looking Statements</em></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Visibility Platform for AWS and projected growth for public cloud services market. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Judy Kaneko<br>Gigamon<br>M. 669-600-1602<br><a href="mailto:Judy.kaneko@gigamon.com" target="_blank">Judy.kaneko@gigamon.com</a></td>
              <td>Melissa Chadwick<br>Merritt Group for Gigamon<br>M. 571-382- 8513<br><a href="mailto:Chadwick@merrittgrp.com" target="_blank">Chadwick@merrittgrp.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>