<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Joins the Cisco Developer Network as Registered Developer and Completes Cisco IVT</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-32" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley – December 9, 2010</strong> – Gigamon today announced that it has joined the Cisco Developer Network as a Registered Developer within the Network Management Services technology category. In addition, Gigamon’s <a href="http://www.gigamon.com/gigamon-traffic-visibility-networking-products">GigaVUE™</a> has successfully completed interoperability testing with the Network Analysis Module.</p>
          <p>The <a href="http://www.cisco.com/go/cdn">Cisco Developer Network</a> unites Cisco with third-party developers of hardware and software to deliver tested interoperable solutions to joint customers. As a Registered Developer, Gigamon offers a complementary product offering and has started to collaborate with Cisco to meet the needs of joint customers. With offerings such as GigaVUE, customers can more quickly deploy a broad range of Cisco Compatible business applications, devices, or services that can enhance the capabilities, performance, and management of their Cisco network. For more information on GigaVUE’s interoperability with the Network Analysis Module, go to: <a href="http://developer.cisco.com/web/partner/search?accountId=0014000000Vn5TXAAZ">http://developer.cisco.com/web/partner/search?accountId=0014000000Vn5TXAAZ.</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>