<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Promotes Industry Veteran to Vice President of Worldwide Sales</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-62" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>Silicon Valley, Calif., August 18, 2011 – <a href="http://www.gigamon.com/" target="_blank">Gigamon</a><sup>®</sup>, the world's leading provider of Traffic Visibility Networking solutionshas promoted Mike Hoffman to Vice President, World Wide Sales. Hoffman previously held the position of Vice President of Sales, Americas at Gigamon. Hoffman’s extensive experience within the networking industry, as well as years of international management experience, will be invaluable in continuing to grow Gigamon’s global sales results.</p>
          <p>“Mike Hoffman has played a pivotal role in expanding our business since his arrival in 2008. We look forward to watching him continue to expand Gigamon’s presence in the industry on a global scale,” said Ted Ho, Co-Founder and CEO of Gigamon. “We are confident that he will continue to implement strategies that will help our global sales force further cement our marketplace lead in providing Data Access Networking solutions.”</p>
          <p>Hoffman has led Gigamon’s impressive revenue growth, delivering increases of more than 50% year-over-year, since joining the company. Before joining Gigamon, Hoffman was the Vice President of Enterprise Sales for MRV Communications where he increased sales by over 150%. Prior to that, Hoffman was Regional Director for Fluke Networks, where he helped grow the company’s annual revenue to $500 million.</p>
          <p>“I’ve witnessed Gigamon grow exponentially in both sales and headcount over the past few years, and am very excited to have the opportunity to lead our sales force on a global level,” said Hoffman. “With sales teams across the world that support hundreds of top-notch Channel Resellers, Gigamon brings solutions for companies and Governments that address the need to maintain visibility across their networks. As the demand for data consumption around the world continues to grow, the need for Gigamon’s solutions will increase with it.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>