<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Extends Visibility to Tenant Traffic in Private and Service Provider Cloud Environments</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-883" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Announces Tenant Traffic Visibility Solution for OpenStack/KVM-Powered Clouds</em></h2>
          <p><strong>Santa Clara, Calif., (Oct. 26, 2015)</strong> – <a href="https://www.gigamon.com">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced a new traffic visibility solution for OpenStack/KVM-powered clouds, which provides tenants and administrators extended traffic visibility into private and service provider cloud environments.</p>
          <p>“IT today is more diverse than ever with enterprises leveraging multi-cloud strategies,” said Ananda Rajagopal, Vice President of Product Management at Gigamon. “Because of this, traffic flowing between private and hybrid clouds can easily be unseen. Today, Gigamon solves this visibility blind spot by accessing, filtering and forwarding traffic in OpenStack/KVM-powered clouds to the security and monitoring infrastructure.”</p>
          <p>“OpenStack-powered cloud platforms continue to grow at an impressive rate,” said Christian Renaud, Research Director, Internet of Things at the 451 Group. “Until today, having visibility into these cloud environments has been a significant challenge, especially in multitenant situations. The Gigamon solution addresses this in a seamless manner.”</p>
          <h3>Solving the Multi-tenant Visibility Challenge</h3>
          <p>Several challenges exist when multiple tenants use the same set of cloud resources. Often, tenants are unaware of the physical hosts on which their virtual machines (VMs) are running, which is compounded by tenants having multiple virtual networks that may span across various hosts. Adding to this, tenants are not permitted to access hypervisor level resources, and so cannot implement any sort of virtual switch mirroring solution to see their traffic without compromising security.</p>
          <p>With Gigamon, these problems are now solved. Gigamon now supports tenant-wide monitoring domains, while maintaining the integrity of tenant isolation boundaries. Furthermore, tenants can now monitor cloud-traffic without having “cloud admin” privileges and, best of all, one tenant’s traffic monitoring activity does not adversely impact performance of other tenants on the same host.</p>
          <p>Tenant visibility is achieved via Gigamon G-vTAPs, which reside on the VMs. These filter and intelligently forward traffic to GigaVUE-VM Visibility Fabric<sup>TM</sup> nodes, which then optimize and deliver the modified traffic to the security and monitoring tools via the Visibility Fabric. GigaVUE-FM Fabric Manager acts as the orchestration point for user interface and APIs to integrate with OpenStack components for inventory while also configuring tenant visibility policies.</p>
          <p>The Gigamon OpenStack cloud monitoring solution will be available in Q4, 2015.</p>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="https://www.gigamon.com">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #&nbsp;</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Christi Nicolacopoulos<br>Davies Murphy Group<br>+1 (781) 418-2464<br><a href="mailto:gigamon@daviesmurphy.com" target="_blank">gigamon@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>