<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Updates Management Layer to Enable Visibility as a Service</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-591" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Updates Management Layer to Enable Visibility as a Service</strong></p>
          <p><strong>Multi-tenant Visibility across IT Departments Enabled through Visibility Fabric Virtualization</strong></p>
          <p>SILICON VALLEY, Calif., Aug. 26, 2013 /PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon</a>® (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ Architecture, announced today an update to the Management Layer that enables network services teams to deliver visibility across departmental silos within the IT organization. Organizations will be able to virtualize the Visibility Fabric architecture through an update to Gigamon's patented Flow Mapping® technology, equipping network administrators and services teams to deliver Visibility as a Service to departmental tenants. These tenants, who include various IT Operations teams, will have the power to dynamically change monitoring and traffic visibility policies on a per-organization or per-tenant basis without impacting other departmental monitoring polices and while maintaining compliance and privacy.</p>
          <p>"The notion of multi-tenancy has made its way from the public cloud space into enterprise IT infrastructure as well," said Shehzad Merchant, Chief Strategy Officer at Gigamon. "This solution enables network administrators and services teams to virtualize the Visibility Fabric and offer Visibility as a Service to the different IT departments."</p>
          <p>Gigamon's latest release of its GigaVUE® H Series software, Version 3.1, contains enhancements to Flow Mapping as well as includes support for role-based access control and advanced workflows for independent and concurrent monitoring policy configurations. The release will enable enterprises to offer Visibility as a Service to internal IT tenants. With these capabilities, IT Operations teams will be empowered to access and control their own configurations in the Visibility Fabric architecture, allowing them to simplify and optimize their monitoring infrastructure, while increasing efficiency and reducing OPEX.</p>
          <p>"ESG research indicates that almost half (48%) of the enterprises actively consolidating data centers are creating multitenant environments to support different business units and another third (32%) are planning to create multitenant environments – a sign that enterprises are starting to act like service providers in that they are servicing internal tenants," said Bob Laliberte, Senior Analyst at the Enterprise Strategy Group. "With enhancements to their Flow Mapping technology, Gigamon is enabling this transition and allowing different IT operations teams to carve out their own slice of the Visibility Fabric and manage it independently to improve business processes."</p>
          <p>The GigaVUE H Series 3.1 software update is targeted for availability for current and future GigaVUE H Series customers on September 30, 2013 for no additional cost.</p>
          <p>Gigamon will also exhibit at VMworld 2013 booth #2017, August 25-29 at Moscone Center in San Francisco, CA.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>Legal Notice Regarding Forward Looking Statements This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our initial public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-182662). The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>