<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Strengthens Visibility Fabric Orchestration with a Fabric Management System</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-86" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Gigamon Enhances Visibility Fabric Offering</em></p>
          <p><strong>Milpitas, Calif., August 21, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a leading provider of Traffic Visibility Fabric solutions, today announced a fabric management system that further enhances the Visibility Fabric solution offering. The GigaVUE<sup>®</sup> Fabric Manager (GigaVUE-FM) provides a unified view of the entire <a href="/about-gigamon-traffic-visibility-fabric">Visibility Fabric</a>—across physical and virtual fabric nodes.</p>
          <p>The GigaVUE-FM simplifies fabric management, optimizes maintenance and addresses auditability as it relates to the Visibility Fabric. In addition, the GigaVUE-FM provides the platform to manage distributed <a href="http://www.gigamon.com/products/gigavue-vm">GigaVUE-VM</a> virtual fabric nodes.</p>
          <p>“Within today’s highly virtualized and dynamic IT infrastructures, organizations are looking for a single-pane-of-glass that is accurate, real time and relevant.” said Patrick Leong, CTO of Gigamon. “The GigaVUE-FM addresses the management and orchestration of the Visibility Fabric by providing customers with a solution to manage and control their Visibility Fabric—a technology that enables a reduction in operational complexity and streamlines infrastructure management and deployments.”</p>
          <h3>Simplify Fabric Management</h3>
          <p>The GigaVUE-FM provides comprehensive discovery and proactive monitoring across hundreds of physical and virtual Visibility Fabric nodes. An easy-to-use, web-based user interface recognizes elements of the Visibility Fabric and the associated configurations including the discovery of clusters with master, standby master and member information. As a single point of management for the Traffic Visibility Fabric, GigaVUE-FM centralizes control and simplifies monitoring. It can report individual port-related traffic volume highlighting traffic spikes or anomalies, while also quickly identifying software and hardware status, thereby significantly reducing troubleshooting times and <a href="http://en.wikipedia.org/wiki/Mean_time_to_repair">Mean Time To Repair</a> (MTTR).</p>
          <h3>Optimize Maintenance and Address Auditability</h3>
          <p>Day-to-day maintenance activities can be optimized with features including configuration backup and restore, as well as centralized execution of software upgrades for GigaVUE fabric nodes. As the central device configuration repository, the GigaVUE-FM can assist administrators with auditing and addressing compliance issues by enabling configuration backups and then compare and restore previous configuration versions.</p>
          <p>Keeping firmware up-to-date for a consistent experience across the GigaVUE family of Traffic Visibility Fabric Nodes is now enabled by centralized software upgrades which can be simultaneously applied across one or many nodes. In addition, any of these operations performed within the GigaVUE-FM can be scheduled for execution when convenient during user-specified maintenance windows.</p>
          <h3>Manage Virtualization</h3>
          <p>GigaVUE-VM fabric node extends intelligent traffic visibility, selection and filtering into virtualized environments. The GigaVUE-VM fabric node in conjunction with the GigaVUE-FM fabric management system has the ability to intelligently identify and direct network traffic to physical tools that help organizations manage, analyze or secure the network. Implemented as a native VMware virtual machine, the GigaVUE-VM fabric node can be rapidly and easily deployed, thus avoiding the complexity and instability risk that can be created by alternative approaches requiring hypervisor kernel modifications.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Traffic Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Traffic Visibility Fabric for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years experience designing and building intelligent traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including 43 of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>