<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon is a Finalist for the 2011 Red Herring 100 Global Award</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-54" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>Silicon Valley, Calif. – <a href="http://www.gigamon.com//">Gigamon</a>®, the world leader in Traffic Visibility Networking solutions, announced that it has been selected as a candidate for Red Herring's 2011 Top 100 Global award, a prestigious recognition honoring the year’s most audacious and far reaching private technology companies and entrepreneurs from across the globe.</p>
          <p>"Gigamon's selection as a finalist for the 2011 Red Herring Global 100 Award is an outstanding recognition of our role in helping to create and define an entirely new category of network visibility solutions," said Ted Ho, company President and CEO. “In the age of increasing communications, traffic and data, companies need effective solutions to intelligently manage and secure the information flowing across their networks. Since inception of the organization, Gigamon has been dedicated to addressing this global challenge and we're honored to be recognized by Red Herring for this achievement."</p>
          <p>The Red Herring editorial team selected the companies demonstrating the most innovative technologies and business models originating from over 1000 companies from over 40 nations. These companies, representing past Red Herring Asia, Europe and North America awards, are judged on a range of qualitative and quantitative metrics, including but not limited to, technology innovation, financial performance, growth criterion, management's execution standards, potential globalization of the strategy and market share improvement.</p>
          <p>“Technology companies are becoming the bright spot in the economic outlook based on their increasing role within macro-economic environments.“ Stated Alex Vieux, Chairman of Red Herring. “2011 has confirmed the sector's vibrant activity and its resilience to widespread economic problems. An unprecedented number of entrepreneurs are attempting to jump ahead of the competition and aspire to make a difference. Breakthroughs obsolete each other faster than ever before. Gigamon has performed exceptionally in its field and strongly deserves to be singled out as one of the Red Herring Global Finalists. At this stage, we are left with the daunting task to select the best qualified companies for the 2011 Top 100 Global Award."</p>
          <p>The Finalists are invited to present their winning strategies at the Red Herring Global forum in Los Angeles, December 5-7, 2011. The Top 100 winners will be announced at a special awards ceremony on December 7 at the event.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>