<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Leapfrogs Itself, announcing the GigaVUE-2404 High Density Data Access Switch For 10GbE Networks</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-14" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-gigavue-2404-release.pdf" target="-blank">gigamon-gigavue-2404-release.pdf</a> (30 KB pdf file)</p>
          <p>Silicon Valley, CA - September 16, 2008 - Gigamon™, the leading provider of intelligent data access networking products, today announced its third generation GigaVUE-2404® high density data access switch, a uniquely powerful monitoring infrastructure solution for today’s ultra-fast 10 Gbe networks. Featuring twenty-four 10GbE ports and four 1GbE ports, in a low profile 2U chassis, the GigaVUE-2404 is a high performance implementation of Gigamon’s Data Access Network (DAN) technology—a total solution for today’s complex network monitoring challenges.</p>
          <p>Housed in a 2U chassis, the GigaVUE-2404 offers the most advanced aggregating, replicating, mapping and packet filtering capabilities of any data access switch on the market. DAN technology ensures that monitoring tools can be deployed immediately without impact to the network and can see traffic from the entire network, even across parallel or mesh topologies. Legacy 1 Gpbs tools can be used to monitor newly installed 10 GbE links using DAN Any to Any technology</p>
          <p>The GigVUE-2404’s modular design allows network managers to deploy the exact number of ports necessary to accomplish the specific goals, no more, no less. The modular design begins with a minimum of 4 ports and scales to a maximum of over 300 ports.</p>
          <p>Gigamon’s Data Access Network technology is a breakthrough for network engineers dealing with the increased number and variety of tools for intrusion detection, SOX compliance, forensic recording, VoIP analysis and the like. Gigamon’s DAN-equipped switches are packet-aware, meaning they can provide exactly the packets needed for a given tool to carry out its function. By virtue of their out–of-band connection, they can also do so without impacting network operations.</p>
          <p>“Any Ethernet-based passive monitoring tool can be connected to the GigaVUE-2404 with complete assurances it will operate at peak efficiency,” said Patrick Leong, chief technical officer for Gigamon. “The GigaVUE-2404 not only resolves the problem of too few TAP or SPAN ports, but also enables users to plug in an IDS, DPI, analyzer, sniffer or other passive security or monitoring tool without ever worrying about impact to the production network.”</p>
          <p>The GigaVUE-2404’s secure, customizable “data socket” orientation allows users to divide traffic and distribute packets to different 1 GbE or 10 GbE tools according to a variety of power and flexible map and filter rules:</p>
          <h3>Any-to-Any Connectivity to solve all tool deployment problems</h3>
          <p>Aggregate Multiple Links to reduce monitoring expense, by consolidating tools Multicast to Multiple Tools to share data sources across different tools Intelligently Filter and Divide Loads to customize and manage data to different tools With the GigaVUE-2404 engineers can isolate and capture sessions across parallel links and switches, reducing and customizing data flows to each tool as needed. Adding flexibility to the GigaVUE-2404’s configuration options is its hot-swappable, three-blade architecture. The base chassis houses eight 10 GbE ports and four 1 GbE ports as well as the CPU, a 244 Gbps full-duplex switching capacity forwarding engine with serial and Ethernet management ports.</p>
          <p>Optional second and third slot blades each have eight 10 GbE ports available in two flavors: GigaPORT and GigaTAP. GigaPORT blades ports are commonly used to receive traffic from SPAN ports or taps and to send traffic to passive monitoring tools. GigaTAP blades have four full-duplex 10Gbe TAPs and can simultaneously tap up to 4 different 10 Gbps links per blade.</p>
          <p>Each of the GigaVUE-2404’s 10Gbe ports has a SFP+ form factor, offering a choice of optical or copper port options and 10Gbe or 1Gbe speeds. In addition, each 10Gbe port can be configured to step down as a 1Gbe port. 1Gbe ports, if running copper, can support 10/100/1000 Mbps line speeds. This provides major migration flexibility for customers transforming from 100Mbps and 1Gbps line speeds to a network with 10Gbe links.</p>
          <p>Multiple GigaVUE-2404 data access switches can be stacked together or with existing GigaVUE-MP or GigaVUE-420 chassis into a much bigger virtual GigaVUE fabric of over 200 ports, running in either a master-slave or star configuration. GigaVUE-2404 switches are designed for compatibility with traffic coming from either of Gigamon’s other prior generation data access switches—the GigaVUE 420 or the GigaVUE-MP.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>