<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Launches Professional Services Partner Program</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1079" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Award-winning channel program adds new revenue streams for VARs and distributors</em></h2>
          <p><strong>Santa Clara, Calif., (April 7th, 2016)</strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, announced today the launch of its Professional Service Partner Program, a new offering allowing certified channel partners to design, implement, and service Gigamon solutions. Gigamon’s investment in enablement resources and in-depth technical training provides professional services partners with an opportunity to become trusted advisors to customers and to drive additional revenue streams.</p>
          <p>The networking and security professional skills shortage, coupled with explosive infrastructure growth, continues to accelerate demand for professional services. Increasing network design complexity and technology vendor proliferation is further compounding the challenges facing global businesses. As the first company to offer a comprehensive <a href="/products/technology/security-delivery-platform">Security Delivery Platform</a>, Gigamon and its Professional Service Partner Program provide a unique opportunity for VARs, distributors, and solution providers to close this gap and evolve their service profiles to address changing design, integration. and consulting needs.</p>
          <p>“Gigamon's Professional Service Partner Program offers a unique opportunity for our company to provide what we consider to be a foundational security platform,” said Ryan Morris, Sr. Director of Operations at BAI. “Once installed, GigaSECURE<sup>®</sup> makes it possible to implement new security technologies and scale existing ones with minimal disruption to our customers’ operations, thereby facilitating an optimized platform for threat detection.”</p>
          <p>Gigamon’s Professional Service Partner Program offers an easy and clear path to establishing a professional services practice by virtue of a best-in-class collaborative vendor-assisted model. Partners start with self-assessment, and Gigamon delivers guided training alongside program benefits such as lab and learning center access. Gigamon’s channel-friendly model and proven technology leadership presents green-field opportunity for partners seeking recurring or project-based revenue streams.</p>
          <p>“Gigamon channel partners need access to the best technology, tools, and resources in order to maintain high skill proficiency as trusted strategic advisors as well as to drive sustainable revenue,” said Barbara Spicek, Vice President of Channel Sales at Gigamon. “The addition of our professional services program to our existing partner offering demonstrates our commitment to providing our partner community with a profitable business model that allows them to deliver complete infrastructure solutions.”</p>
          <p>The introduction of the Professional Service Partner Program is part of Gigamon’s ongoing and substantial channel investments strategy, which is focused on enhancing and expanding partner routes to revenue. For more information or to become a partner, visit: <a href="https://www.gigamon.com/reseller-partners/become-a-partner">https://www.gigamon.com/reseller-partners/become-a-partner</a>.</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>™</sup> and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/" target="_blank">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a>, or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>