<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Aidan Cullen as Chief Financial Officer</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-133" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley—May 26, 2010 - <a href="http://www.gigamon.com">Gigamon™</a>,</strong> the leading global provider of Intelligent Data Access Networking™, today announced the appointment of Aidan Cullen to the position of chief financial officer. In his new role, Cullen will oversee all of Gigamon's finance and operations functions.</p>
          <p>"We performed an exhaustive search to find the right person. Aidan is the first external C – Level executive hire Gigamon has made since our founding," said Ted Ho, co-founder and chief executive officer, Gigamon. "This is an exciting time for us. We are expanding globally and growing both domestic and international business rapidly and we need a seasoned financial veteran to keep us on course. Aidan brings nearly thirty years of financial and administration experience which will help to ensure Gigamon maintains sound financial and operational discipline while achieving our long-term business strategy."</p>
          <p>"I'm very excited to join Gigamon and be part of such a dynamic company," Cullen said. "Gigamon's customer base and partnerships are expanding rapidly in the United States and abroad which presents significant growth opportunities that align with my background and expertise. In an age where compliance, financials and operations are quintessential to a company's growth, Gigamon will continue to successfully manage its growth while achieving best practices and furthering their success."</p>
          <p>Cullen comes to Gigamon after serving as the CFO for Sylantro Systems, where he helped build the business model and infrastructure to scale the business, and facilitated Sylantro's merger with Broadsoft. Prior to joining Sylantro Systems, Cullen served as the CFO at Tasman Networks, where he oversaw Tasman's merger with Nortel Networks, and as CFO for Monterey Design Systems.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, IntelligentDAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>