<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Scott Sullivan Vice President of Worldwide Channel Sales</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-601" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Appoints Scott Sullivan Vice President of Worldwide Channel Sales.</strong></p>
          <p><strong>Santa Clara, CALIF. December 9, 2014</strong> – <a href="http://www.gigamon.com/">Gigamon</a>® (NYSE: GIMO), a leader in traffic visibility solutions via its innovative Unified <a href="/visibility-fabric-architecture">Visibility Fabric</a>™, announced today that Scott Sullivan has joined the company as Vice President of Worldwide Channel Sales bringing with him more than 30 years of sales management &amp; leadership in the technology industry.</p>
          <p>In his new role at Gigamon, Sullivan will lead the company’s worldwide channel strategy and work closely with distributors and partners around the world to identify new opportunities for growth. With more than 200 partners globally, the Gigamon partner community provides resources to develop global market opportunities that meet the diverse needs of enterprises and service providers with a focus on providing secure access and complete visibility to data while lowering the total cost of network management.</p>
          <p>“Scott has a strong track record in building, expanding and managing a global channel strategy,” said Helmut Wilke, Gigamon’s Senior Vice President of Worldwide sales. “We view our partners as a critical extension of our own Gigamon team, and we are committed to their success. With Scott’s leadership, we can further increase our collaboration and help our network of partners grow their businesses at an accelerated rate.”</p>
          <p>Prior to joining Gigamon, Sullivan served as Senior Vice President of Worldwide Sales, Channels &amp; Alliances at VSS Monitoring. Sullivan has also held senior leadership positions at Jupiter Systems, Intera Group and Vidsoft. Additionally, he is an active board member of industry organizations including the Microsoft Partner Advisory Council. Sullivan holds both a Master’s in business administration and a Bachelor’s degree from Lesley University.</p>
          <p>“Gigamon’s commitment and investment in the channel is representative of a company poised for growth and opportunity,” said Sullivan. “The channel is increasingly crucial in today’s business model, and I look forward to working closely with our partners to solve customer problems with best-of-breed active visibility monitoring solutions for network security, troubleshooting, application analysis, data forensics and compliance.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies.<a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, goals for our Unified Visibility Fabric architecture and the growth in our channel opportunities. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended September 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>MEDIA CONTACT: Katie Al-Khoury, (206) 576-5507, <a href="mailto:KAlKhoury@webershandwick.com">KAlKhoury@webershandwick.com</a>; INVESTOR CONTACT: Cynthia Hiponia and Alice Kousoum, (408) 831-4100, <a href="mailto:IR@gigamon.com">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>