<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Names Tech Industry Veteran Fred Studer as CMO</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1126" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Top NetSuite, Microsoft and Oracle marketing executive to help a rapidly growing global marketplace leverage the expansive promise of Gigamon</em></h2>
          <p><strong>Santa Clara, Calif. (May 2, 2016)</strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that Fred Studer has joined Gigamon as Chief Marketing Officer (CMO). Studer brings to the company more than 23 years of experience in high tech industry marketing. At Gigamon, Studer will oversee all aspects of global marketing including creative, corporate marketing and product management.</p>
          <p>“Fred Studer comes to Gigamon with a proven record for his innovative approach to marketing,” said Paul Hooper, CEO of Gigamon. “Throughout his career in enterprise and consumer technology, Fred has gained the admiration of his teams by leading with passion, authenticity and a focus on connecting with prospects and partners through relevant and relatable storytelling. We’re thrilled to have this world-class leader and his brand of customer-led marketing on board.”</p>
          <p>Studer comes to Gigamon from NetSuite, where as CMO he oversaw the company’s worldwide marketing initiatives and was responsible for driving awareness and adoption of NetSuite's cloud-based business management software. Prior to NetSuite, Studer held a variety of leadership positions at Microsoft, where he led product marketing and the go-to-market strategy and execution for the Microsoft Dynamics CRM and ERP lines and he served as the General Manager of the U.S. Microsoft Office Business. Prior to Microsoft, Studer spent twelve years at Oracle, where his roles included Group Vice President of Marketing.</p>
          <p>At Gigamon, Fred will lead teams that enhance awareness, generate demand and grow partnerships, as well as refine and broaden the market-leading visibility platform on which customers in every vertical are building their security, data center and cloud architectures.</p>
          <p>“Gigamon helps security stakeholders, service providers and cloud implementers succeed in highly dynamic times as they evolve their networks for modern threat mitigation and agility,” said Fred Studer, CMO of Gigamon. “I’m excited to join an organization whose values I’ve long shared and whose transformative technology I’m privileged to bring to market.”</p>
          <p>Originally from Denver, Colo., Studer received his B.S. in accounting and finance from the University of Colorado Boulder and he is a board member of the University Of Colorado Leeds School Of Business.</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>™</sup> and GigaSECURE<sup>®</sup> , the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>