<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Industry-Leading Active Visibility Solutions for High-Volume Traffic Monitoring</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-574" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Announces Industry-Leading Active Visibility Solutions for High-Volume Traffic Monitoring</strong></p>
          <p><strong>Solutions Provide High Traffic-Volume Visibility and Simplified Management for the Data Center, 40Gb BiDi and 100Gb</strong></p>
          <p><strong>SANTA CLARA, Calif., Oct. 28, 2014 </strong>/PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon</a> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a>, today announced the upcoming release of a suite of industry-leading solutions that will offer Active Visibility for high-volume traffic in both scale-out and scale-up architectures for next-generation business infrastructures.</p>
          <p>Data center networks are experiencing increasing levels of east/west traffic from virtualization and distributed applications, which is driving higher traffic volumes from the leaf to the spine, spurring migration to 40Gb and 100Gb network connectivity. At the same time, data center administrators are moving to monitoring "below the spine switch" to provide visibility for security, operations monitoring and performance monitoring, increasing the number of points from which data has to be acquired. These considerations are directly influencing the most appropriate design and architecture to deliver essential visibility to network traffic and 'virtual-machine to virtual-machine' communications.</p>
          <p>"We're seeing an increase in distributed mission-critical applications driving more east/west traffic below the spine of next gen data centers as well as an increase in the desire to gain a more pervasive view of network and VM-VM activity," said Ananda Rajagopal, vice president of product line management at Gigamon. "Unlike repurposed Ethernet switches that can only offer narrow visibility with no traffic intelligence, our new Visibility Fabric capabilities address higher traffic volume, allowing the best combination of cost, scale, reach and intelligence to be simultaneously achieved by administrators seeking uniform and pervasive visibility across their physical and virtual infrastructure."</p>
          <p>The upcoming new enhancements to the Gigamon Visibility Fabric include:</p>
          <ul>
           <li>Clustering capabilities for the GigaVUE-TA1 Traffic Aggregation nodes, enabling multiple nodes at the edge to act as a single logical unit when combined with an intelligent GigaVUE-H Series node at the core, for seamless extension of visibility to the edge. This extends the premium functionality of the Fabric all the way to the low-cost edge device and allows the GigaVUE-TA1 to be managed in an identical manner to the intelligent H Series node. This market-first architectural approach to visibility avoids overloading the operational and security tools that need access to the traffic.</li>
           <li>The addition of the industry's first 40Gb BiDi TAPs, offered in compact 1 RU and 3 RU enclosures, and 40Gb BiDi optics into the Gigamon portfolio. This solution is ideal for customers considering a cost-effective approach upgrade from 10Gb to 40Gb using BiDi.</li>
           <li>The industry's first combination of multiple 100Gb and 10Gb ports on a single blade allowing a higher degree of network and tool port consolidation to be achieved. The new 2-port 100Gb + 8-port 10Gb combination blade will be available on the GigaVUE-HD4 and GigaVUE-HD8 platforms.</li>
           <li>Gigamon's Fabric Manager, GigaVUE-FM, will offer fabric-wide reporting capabilities, summarized and customizable dashboards, enhanced reporting to visualize the most/least utilized network/tool ports and traffic maps across the Visibility Fabric, audit trail support for security compliance and the ability to export reports for offline review.</li>
           <li>The industry's first intelligent traffic visibility solution to automatically discover the topology of a connected network running Cisco Discovery Protocol (CDP) or Link Layer Discovery Protocol (LLDP). This unique capability allows automatic trace-back of network interfaces detected to be at fault by the Visibility Fabric and drastically cuts down mean time to resolution.</li>
          </ul>
          <p>"These enhancements are a tremendous development in the monitoring fabric space. Extending visibility deeper into the datacenter will provide great information on demand," said Ted Turner, senior network engineer at Intuit Inc. "Extending the management fabric will increase the capabilities of all organizations across all levels of application, performance and security monitoring."</p>
          <p>These features and capabilities are available to be ordered now and will be generally available this quarter.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a> architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended June 28, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>