<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Transforms Security Market; Champions the Security Delivery Platform</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-776" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Unveils GigaSECURE® – a Security Delivery Platform that Provides Pervasive Visibility of Network Traffic and Delivers it to Multiple Security Devices Simultaneously without Impacting Network Availability</em></h2>
          <p><strong>Santa Clara, Calif., (July 21, 2015)</strong> – <a href="https://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today transformed the industry by launching GigaSECURE®, the industry’s first Security Delivery Platform that provides pervasive visibility of network traffic, users, applications and suspicious activity, and delivers it to multiple security devices simultaneously without impacting network availability. As a direct result, third party security appliances are more effective at protection and remediation, and the cost and complexity of security infrastructure is reduced.</p>
          <p>“Given the multitude and magnitude of breaches around the world, it is no surprise that the industry needs to reexamine how security is architected and deployed,” said Scott Haugdahl, Senior Architect at Blue Cross Blue and Shield of Minnesota. “A Security Delivery Platform gives security administrators an advantage that they’ve never had until now by allowing them to gain pervasive, multi-tier visibility into malware and breaches within the environment.”</p>
          <h3>A Security Delivery Platform: Addressing the Threat Within</h3>
          <p>Reversing the asymmetry between the network attacker and defender has been an elusive industry goal. An attacker needs but one vulnerability to exploit, whereas a defender needs to protect all aspects of their infrastructure. Once inside, a cybercriminal often goes unnoticed for months, as detecting their presence is akin to finding a needle in a haystack.</p>
          <p>A Security Delivery Platform tips the scales back in the favor of network defenders by dramatically enhancing the deployment architecture of security systems and third party security applications through new capabilities that include:</p>
          <ul>
           <li>Providing network wide reach, including cloud and virtual environments;</li>
           <li>Offering scalable metadata extraction for improved forensics;</li>
           <li>Isolation of applications for targeted inspection;</li>
           <li>Delivering visibility to encrypted traffic for threat detection; and</li>
           <li>Supporting inline and out-of-band security device deployments.</li>
          </ul>
          <p>“The increasing network complexity and the ad hoc approach to security appliance deployments have resulted in blind spots, extraordinary costs, security device contention for access to traffic and too many false positives,” said Jon Oltsik, senior principal analyst at ESG. “A Security Delivery Platform helps eliminate many of the security architectural deficiencies that have led to so many high-profile breaches.”</p>
          <h3>GigaSECURE – The Industry’s First Security Delivery Platform</h3>
          <p>GigaSECURE is comprised of scalable hardware and software elements that provide security administrators with unparalleled visibility and capability for bolstering the effectiveness of their third party security systems and instrumentation. Key features of GigaSECURE include:</p>
          <ul>
           <li>Infrastructure-wide reach via GigaVUE-VM and GigaVUE® nodes;</li>
           <li>High-fidelity, un-sampled Netflow/IPFIX generation;</li>
           <li>Application Session Filtering;</li>
           <li>SSL decryption; and</li>
           <li>Inline bypass capabilities.</li>
          </ul>
          <p>In particular, Application Session Filtering (ASF), a new, patent-pending GigaSMART® application, provides a powerful filtering engine that identifies applications, based on signature or patterns that appear within a packet or packets that form the application flow of network traffic. Once positively identified, ASF extracts the entire session corresponding to the matched application flow from the initial packet to the last packet of the flow, even if the match occurs well after the first packet. This allows an administrator to forward specific “traffic of interest” to security appliances thereby optimizing their operational efficiency and improving overall performance.</p>
          <p>“One of the greatest threats to an enterprise today comes from the threat within,” said Karin Shopen, Product Marketing Director at Palo Alto Networks. “Because the GigaSECURE Security Delivery Platform sheds light on insider initiated threats, it can provide complementary visibility to the network traffic that Palo Alto Networks sees and can help customers further enforce security policies on traffic that might otherwise go unseen.”</p>
          <p>“To be effective, a security appliance needs to be able to access the right network traffic stream,” said Ed Barry, VP Cyber Security Coalition at FireEye. “The GigaSECURE Security Delivery Platform addresses that challenge by providing the relevant, necessary traffic to the appropriate security device, without impacting the production network.”</p>
          <h3>GigaSECURE – Broad Support and Interoperability Across the Security Ecosystem</h3>
          <p>The GigaSECURE platform already supports a broad ecosystem of security partners and their respective security functions, including:</p>
          <ul>
           <li>Advanced Malware Protection: Check Point, Cisco, Cyphort, FireEye and Lastline;</li>
           <li>Behavior Analytics: Damballa, Lancope, LightCyber and Niara;</li>
           <li>Forensics/Analytics: ExtraHop, PinDrop, RSA and Savvius;</li>
           <li>IPS: Check Point and Cisco;</li>
           <li>NGFW: Check Point, Cisco, Fortinet and Palo Alto Networks;</li>
           <li>Secure Email Gateways: Cisco;</li>
           <li>SIEMs: LogRythm and RSA;</li>
           <li>WAFs: Imperva.</li>
          </ul>
          <p>“The industry is facing a new challenge in security – how to detect, mitigate and remediate the threat from within,” said Todd Weber, VP of Partner Research and Strategy at Accuvant and FishNet Security, soon to be Optiv. “It’s no longer of a question of stopping a breach at the perimeter or host level. One of the things that organizations need is pervasive visibility that gives security personnel the insights to see everything in their network in order to quickly contain and remediate suspicious traffic.”</p>
          <p>“As a solutions provider to the government and large enterprises, our customers expect us to furnish not just products but solutions that have been designed for long-term benefit,” said Ryan Morris, Sr. Director of Operations at BAI Federal. “With the GigaSECURE Security Delivery Platform enhancing our customers’ options for architecting security, we consider it a timely and essential addition to the security arsenal.”</p>
          <h3>Availability</h3>
          <p>The GigaSECURE Security Delivery Platform is available now from authorized Gigamon channel partners worldwide.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides active visibility. Having the industry’s first Security Delivery Platform, GigaSECURE®, and the <a href="/visibility-fabric-architecture">Visibility Fabric</a>™, an intelligent architecture for enterprises, data centers and service providers around the globe, Gigamon’s technology empowers security and infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="https://www.gigamon.com">www.gigamon.com</a>, the <a href="/blog">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #&nbsp;</p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com" target="_blank">chris.mckie@gigamon.com </a></td>
              <td>Brian Alberti<br>Davies Murphy Group<br>+1 (781) 418-2403<br><a href="mailto:kalkhoury@webershandwick.com" target="_blank">balberti@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>