<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Adds Multiple Security Vendors to its Ecosystem Partner Program</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-956" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Wide Array of Security Technology Providers Join Gigamon’s Partner Program to Combat Cybersecurity Threats</em></h2>
          <p><strong>Santa Clara, Calif., (December 15, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that it has added eight new partners to the Gigamon Ecosystem Partner Program, taking the total number of technology partners working with Gigamon’s Visibility Fabric and Security Delivery Platform to over 60. Collectively, this group of security vendors represents more than half of the enterprise security market and delivers a rich array of innovative solutions that help organizations combat today’s most advanced threats.</p>
          <p>“We believe that one of the best ways to stop today’s cybercriminals and advanced malware is to have a rich and complementary ecosystem of security solutions that provide cutting-edge defense-in-depth protection,” said Phil Griston, Director of Business Development at Gigamon. “However, the efficacy of even the best security solutions is limited by the network traffic that they see. The combination of the best security vendors and the Gigamon Security Delivery Platform provide our customers with powerful and pervasive visibility to thwart even the most sophisticated attack.”</p>
          <p>Joining the existing Gigamon Security partners that include Check Point Software Technologies, FireEye, Fortinet, Imperva and Palo Alto Networks are Datiphy, LightCyber, ManagedMethods, Niara, Pindrop Security, ProtectWise, SideBand and Tenable.</p>
          <p>“We are excited to be joining Gigamon in helping address today’s cyber threats,” said David Thompson, Senior Director of Product Management at LightCyber. “By working together, our customers gain a solution that combines pervasive visibility and behavior-based profiling to accurately detect active cyber attacks before damage is done.”</p>
          <p>“We are pleased to announce our relationship with Gigamon,” said Charlie Sander, Chairman and CEO at Managed Methods. “ManagedMethods’ integration with Gigamon’s Visibility Fabric assures our joint customers and prospects that our solutions can provide pervasive network visibility and protection against Shadow IT.”</p>
          <p>“Teaming with Gigamon creates a substantive win-win for our customers,” said Vijay Balasubramaniyan, CEO at Pindrop Security.&nbsp;“By&nbsp;incorporating pervasive traffic and data from Pindrop call center anti-fraud and authentication solutions, our customers gain superior visibility into their overall threat environment.”</p>
          <h3><strong>The Gigamon Ecosystem Partner Program</strong></h3>
          <p>The program provides a multitude of services and benefits for technology vendors including shared lead-generation activities, joint content marketing assets, solutions guides, playbooks and case studies, event and conference opportunities and more. As well, the program includes dedicated account management, sales engineering and support resources, and multiple product, lab and technical integration services.</p>
          <h3><strong>GigaSECURE – Driving Security Ecosystem Partner Growth</strong></h3>
          <p>The GigaSECURE Security Delivery Platform is comprised of scalable hardware and software elements that aggregate traffic from physical and virtual networks and can deliver it at line-rate speeds to a multitude of threat protection systems for malware analysis and network forensics.&nbsp; This gives security administrators unparalleled visibility, capability and control for increasing security effectiveness, while simplifying security management.</p>
          <p>Key benefits of the GigaSECURE platform include:</p>
          <ul>
           <li>Infrastructure-wide reach to a broad range of network architectures and technologies via Gigamon’s GigaVUE-VM and GigaVUE® nodes to feed tools with pervasive traffic visibility;</li>
           <li>Metadata and unsampled NetFlow/IPFIX record generation from any network traffic source;</li>
           <li>Application Session Filtering, which eliminates unwanted traffic, such as streaming video from the examined traffic flows;</li>
           <li>SSL decryption for faster threat analysis;</li>
           <li>Inline plus out-of-band for scaling and fault tolerance.</li>
          </ul>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility FabricÔ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, benefits to implementing a joint Gigamon and partner solution, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>