<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Distribution Agreement with AxizWorkgroup</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-90" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Expands Distribution Reach to South Africa</em></p>
          <p><a href="http://www.gigamon.com/">Gigamon</a>®, a leader in traffic visibility solutions, today announced it entered into a distributor agreement with AxizWorkgroup, a leading IT infrastructure distributor of world-class hardware and software products and solutions in South Africa. With this agreement, Gigamon will further extend the availability of its patented <a href="/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf" target="_blank">Traffic Visibility Fabric</a>™ to enable network visibility for security, performance and compliance monitoring.</p>
          <p>"The addition of a Traffic Visibility Fabric across the network adds critical capabilities for organisations dealing with increasing network complexity and expanding traffic," said Nigel Norris, Gigamon channel director. "Through the deployment of our Traffic Visibility Fabric monitoring solutions such as Application Performance Monitoring (APM) or Intrusion Detection Systems (IDS) customers are able to achieve pervasive visibility to the traffic flows within their network. Working with a well-respected distributor like AxizWorkgroup allows us to deliver this solution effectively into the South African market and our technology complements and enhances the strong portfolio of enterprise solutions they currently provide to their reseller partners."</p>
          <p>AxizWorkgroup has a worldwide team of technology and sales professionals with a strong knowledge of both Gigamon solutions and the IT sector as a whole. This enables them to provide intelligent and insightful advice to reseller partners as they assist their South African clients in deploying, configuring and integrating Gigamon technology within their environments. AxizWorkgroup's expertise will allow resellers and clients alike to reap the full benefits and value of Gigamon's solutions.</p>
          <p>"By partnering with Gigamon, our resellers are now able to provide their customers access to a robust network traffic visibility solution that enhances the network monitoring solutions used for security, performance and compliance across the network," said Hildburg Hofer, AxizWorkgroup strategic channel manager. "Our South African reseller partners request solutions that enable best-of-breed networks, and adding the Gigamon Traffic Visibility Fabric to our portfolio allows us to fulfill this request and further prove our commitment to equipping our reseller partners with technology and platforms to strengthen their success," added Hofer.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years' experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information, visit <a href="http://www.gigamon.com/" target="_blank">www.gigamon.com</a>.</p>
          <h3>About AxizWorkgroup</h3>
          <p>AxizWorkgroup is a leading IT infrastructure distributor committed to providing technology intelligence to its business partners through the supply of world-class hardware and software products and solutions. The company is committed to building a sustainable organisation that actively contributes to a sustainable economy for South Africa and the African continent. AxizWorkgroup bases its business on five core pillars, including strong <strong>financial capital </strong>based on sustainable organic growth; renewable <strong>environmental capital </strong>by its implementing ISO processes and standards, and supporting a 4R policy; solid <strong>manufacturing capital </strong>based on increased IT, logistics, assembly an production capacity; investing in <strong>human capital </strong>by ensuring that every employee is guaranteed participation, representation and dignity throughout the organisation; and contributing conscientiously to <strong>social capital </strong>by participating and investing in its industry's social infrastructure. For more information, visit <a href="http://www.axiz.co.za/" target="_blank">www.axiz.co.za</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>