<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Brings the Power of Network Visibility to the Cyber Security Fight</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1022" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Gigamon’s Security Delivery Platform, along with industry-leading partner technologies, enables security teams to fight smarter in the battle against cybercriminals</em></h2>
          <p><strong>Santa Clara, Calif., (February 24, 2016) </strong>- Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions, has announced that its CEO, Paul Hooper, will be ringing the closing bell today at the New York Stock Exchange, to coincide with the launch of a major new marketing campaign.&nbsp; Together with its industry-leading partners, Gigamon is calling on organizations large and small to rethink the architecture of their cybersecurity infrastructure and to turn the table on the attackers.</p>
          <p>Enterprises around the world are fighting a growing enemy - and losing. Studies have shown that cybercriminals have breached almost every major corporation and government department. For all the defenses deployed today, cybercriminals are not just getting through, they are able to stay within the network undetected longer than ever before. The reality is that no one can be sure that their bank account is safe, and no corporate leader can be sure that he/she won’t be paraded in front of the media after a corporate breach.</p>
          <p>“Despite the vast sums invested in security solutions, breaches continue to increase,” said Paul Hooper, CEO of Gigamon. “We are all in the cross-hairs of this battle and it’s time for us to fight smarter, together. Gigamon believes that when you can see everything that is going on in your network, you are in control and, in turn, can defend yourself and turn the tables on the attackers. You don’t have to be a victim anymore.”</p>
          <p>By viewing the network as the new battleground in the early identification of cyber attacks, Gigamon believes that the way forward is a security architecture that is multi-layered, optimized for identifying breaches quickly and built on a robust platform for pervasive network visibility. Gigamon is delivering this today with its GigaSECURE<sup>®</sup> Security Delivery Platform.</p>
          <p>Gigamon’s Security Delivery Platform is changing how enterprises, service providers and governments view security by making existing, and planned, security infrastructures more effective at identifying and mitigating threats inside networks. The GigaSECURE Platform provides security teams the ability to eliminate blind spots and provide their security tools with the information they need, resulting in faster time to detection and response.</p>
          <p>Today’s announcement is also supported by Gigamon’s broad and growing ecosystem of security partners including Bivio Networks, Blue Coat Systems Inc., CA, Check Point, Cisco, Cyphort, Damballa, Datiphy, ExtraHop, FireEye, FlowTraq, Forescout, Fortinet, Lastline, LightCyber, LogRhythm, Lumeta, Managed Methods, Niara, Plixer, Reservoir Labs, RSA, Savvius, Sideband Networks, Tenable. &nbsp;These partnerships attest to the importance that network visibility plays in bringing an industry together to make threat prevention, detection and response the most effective it can be.</p>
          <p>"FireEye delivers customers the only security platform built around leading technologies, Mandiant services and iSight Partners intelligence, to protect operations and critical assets,” said Ed Barry, VP, Cyber Security Coalition, FireEye. "Gigamon’s Security Delivery Platform complements the FireEye platform perfectly, creating an architecture that provides the traffic visibility our customers require."&nbsp;</p>
          <p>“Protecting our customers’ networks requires all of us to be at the top of our game, which means helping our customers understand what is happening on their networks,” said Peter Doggart, Vice President of Business Development for Blue Coat Systems. “Whether it is knowing which cloud applications are being accessed or ensuring safe web browsing, complete network visibility is the first step to protection, and that has come under fire lately with the sky-rocketing use of encrypted traffic. By working together and utilizing Blue Coat Encrypted Traffic Management solutions for total visibility and policy-based control of SSL/TLS traffic, Gigamon and Blue Coat can better help our mutual customers identify and prevent advanced threats.”</p>
          <p>“In a situation where security networks are often based upon multiple tiers and proprietary technologies, a united security infrastructure represents a refreshing change with lots of potential,” said Jon Oltsik, Senior Principal Analyst at ESG. “Gigamon and its ecosystem partners deserve credit for leveraging the strength of network visibility and of one another’s technology to help customers improve security effectiveness.” &nbsp;</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This media alert contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>