<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Delivers GigaSMART Platform for GigaVUE H Series</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-82" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Milpitas, Calif., October 29, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a leading provider of <a href="http://www.gigamon.com/traffic-visibility-fabric">Traffic Visibility Fabric</a>™ solutions, announced today the next phase in the evolution of the Visibility Fabric with the launch of the <a href="http://www.gigamon.com/gigasmart-line-rate-packet-modification-technology">GigaSMART</a><sup>®</sup> technology in the GigaVUE<sup>®</sup> H Series of fabric nodes. The proven GigaSMART technology, which is currently available on the G Series of fabric nodes, now delivers up to 400Gb of processing capacity in the high-end <a href="http://www.gigamon.com/gigavue-hd8-traffic-visibility-network-node">GigaVUE-HD8</a> chassis and supports a range of GigaSMART applications to enable the deduplication, modification, manipulation and transport of network traffic as it is delivered to management, monitoring and security tools and systems. Gigamon will be showcasing its Visibility Fabric at the <a href="http://www.ciscolive.com.mx/web/MX/ciscolive2012/">Cisco Live Mexico</a> trade show, Nov. 6-8 in Cancun, Mexico.</p>
          <p>“Gigamon's continued investment in its GigaSMART technology takes network visibility into a software based model that delivers unparalleled control and flexibility for network operations,” said Nick Lippis, the author of the Lippis Report. “Their four phase fabric evolution plan would deliver customers a steady stream of value added features and capabilities over the life of their Gigamon relationship.”</p>
          <p>Bob Laliberte of the Enterprise Strategy Group sees a growing demand to control management traffic as Enterprises consolidate and increase the density of data centers. “With the recent growth in the volume of traffic, compounded with the drive to take advantage of virtualization and cloud technologies, the burden on IT to manage increasingly complex infrastructure continues to amplify. Managing the reliability and performance of infrastructure requires powerful visibility into the traffic moving between applications and devices in both physical and virtual environments.”</p>
          <p>With the launch of the high performance GigaSMART H Series solution, IT is able to take advantage of a range of applications to enable the modification, manipulation, transformation and transport of traffic between the extraction from the production network and delivery to the management, monitoring and security tools.</p>
          <p>In conjunction with the H Series GigaSMART announcement, Gigamon has also established a platform for a four-phase evolution of its Visibility Fabric. This launch provides the enabling technology for the second phase – the Engaged Visibility Fabric with subsequent planned phases to include an Active Visibility Fabric and Living Visibility Fabric.</p>
          <p>“As the volume and speed of network traffic continues to increase, the need to converge on a single platform – a fabric – that not only simplifies and automates traffic visibility, but also provides built-in intelligence, will drive the way organizations choose to monitor and manage their networks,” said Paul Hooper, VP of Marketing at Gigamon. “We see the features offered by GigaSMART as an anticipated and necessary next step in the evolution of the Visibility Fabric.”</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Traffic Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="http://www.gigamon.com/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/traffic-visibility-fabric">Traffic Visibility Fabric</a> for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>