<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon to Offer First Visibility Solution for Information Traversing the Public Cloud</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1143" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong>Innovative solution that enables enterprises to monitor and secure workloads hosted by Amazon Web Services begins customer trials today</strong></h2>
          <p><strong>Santa Clara, Calif., (May 10th, 2016)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today achieved another industry milestone with the start of trials for the world’s first solution that allows enterprises to see information traversing public clouds. Gigamon’s visibility solutions for public cloud kicks off with field trials of its Amazon Web Services (AWS) Elastic Compute Cloud (EC2) offering.</p>
          <p>The percentage of workloads hosted in the public cloud is set to explode from 16 to almost 40 percent over the next five years, according to JP Morgan. With this rapid growth comes increasing concern for network security vulnerability, compliance risk and compromised performance. Seamless public cloud adoption hinges on enterprises being able to take advantage of the agility offered by on-demand compute and confidence that hosting business critical applications on shared infrastructure does not mean compromises in security or availability.</p>
          <p>Today’s announcement takes a significant step forward for the industry by allowing enterprises to - for the first time ever - gain visibility into previously unavailable public cloud applications and information. This industry-leading capability is key to accelerating public cloud adoption and reducing its associated migration disruption and risks. With Gigamon’s visibility solution, enterprises gain unprecedented flexibility to design and provision the public cloud monitoring infrastructure that meets their business needs with the freedom to choose the most appropriate public cloud provider to address their specific requirements.</p>
          <p>As part of the initial field trials, AWS users gain immediate benefit from the Gigamon Visibility Fabric™&nbsp;by:</p>
          <ul>
           <li style="margin-left: 0.5in;">Reducing network complexity – by centralizing how traffic is forwarded to network and security operations centers (NoCs, SoCs), regardless of whether it originates in the private or public cloud</li>
           <li style="margin-left: 0.5in;">Optimizing enterprise performance – by providing the means to analyze utilization of AWS instances</li>
           <li style="margin-left: 0.5in;">Ensuring comprehensive security – by enabling security inspection of traffic flowing among AWS workloads by forwarding that traffic to premised or cloud-hosted security devices</li>
           <li style="margin-left: 0.5in;">Saving time and resources – by expediting troubleshooting and centralizing security and performance management tasks</li>
           <li style="margin-left: 0.5in;">Validating compliance – through continuous monitoring of and enabling reporting of public cloud-hosted resource access and use</li>
          </ul>
          <p>The Gigamon solution enables IT organizations to monitor enterprise workloads where it is most advantageous based on their needs. For some, this means monitoring within the AWS Virtual Private Cloud (VPC), or at a dedicated VPC that contains the necessary tools. For others, it may mean centralizing the capability on premises or private infrastructure.</p>
          <p>“Gigamon is a market pioneer who has transformed the world of IT through the power of visibility. Whether it’s delivering more effective and efficient security, bringing unprecedented subscriber awareness to service providers or scaling performance management, our Visibility Fabric has been at the center of helping our customers navigate disruptive changes around their next-generation infrastructure,” said Paul Hooper, CEO, Gigamon. “With this milestone, Gigamon enters a new phase in executing our company vision. Today, we are expanding our market yet again to the thousands of businesses that want to confidently and securely host their IT infrastructure on public clouds.”</p>
          <p>Participation in the Gigamon traffic visibility for AWS trials opens today. Those interested in learning more or participating should visit <a href="https://www.gigamon.com/trials-aws">https://www.gigamon.com/trials-aws</a>.</p>
          <p><strong><u>Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™&nbsp;and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, the general availability and benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to successfully deliver new products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>