<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Partners With Correlix To Provide Real-Time Latency Measurement To Exchanges</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-119" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Partnership Showcases Latest Success in Gigamon’s Strategic Technology Alliance Community Program</em></p>
          <p><strong>Silicon Valley, Calif., – April 2, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a>®, a world leader in <a href="/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf">Traffic Visibility</a> Fabric solutions, announced a real-time latency measurement and analytical solution enabled through its partnership with <a href="http://www.correlix.com/">Correlix</a>. By enabling compatibility of the Correlix RaceTeam™ platform with Gigamon’s flagship line of products, the H Series, which includes its highly accurate nanosecond time-stamping technology, architects and engineers of High Frequency Trading (HFT) and financial IT infrastructure are able to analyze, evaluate and tune the latency of transactions. At the heart of the solution is the Gigamon Visibility Fabric that enables analysts to pinpoint and eliminate causes of communication delay, resulting in a faster and more accurate trading cycles.</p>
          <p>The partnership was formed under Gigamon’s Strategic Technology Alliance Community program, which represents an ecosystem of partners and organizations focused on making network traffic more visible and as a result the analytics, management and monitoring of the network more intelligent, efficient and versatile for IT and business leaders.</p>
          <p>“Partnering with Correlix and other program member companies allows us to provide our customers with best-in-class solutions,” said Tara Reeve, Director of Strategic Alliances at Gigamon. “By combining Gigamon’s highly accurate Traffic Visibility Fabric that includes accurate and scalable time stamping functionality with Correlix unique latency measurement technology, we are able to provide IT teams the ability to accurately analyze transaction latency to create faster and more predictable trading environments.”</p>
          <p>The nanosecond accurate timing of the network communications is enabled by the GigaPORT-X12-TS, a line card that is compatible with the Gigamon H Series Visibility, that offers twelve 10Gb ports on a single card, and up to 96 ports in a single node chassis. With the GigaPORT-X12-TS capturing the time at the point of ingress, latency analysis can be executed accurately and in doing so the effect of latency across the fabric normalized. This enables the RaceTeam platform to provide real-time latency measurement across a wider segment of the network creating excellent results in latency measurement. Trading and finance companies can capitalize on real-time latency data, optimizing their trading strategies and improving their operations and low-latency infrastructure.</p>
          <p>“Many of our customers currently use Gigamon’s Visibility Fabric technology, so it was important for us to make sure our RaceTeam platform was fully compatible with the high-accuracy time stamping technology.” said Shawn Melamed, Correlix Founder and CEO. “By partnering with Gigamon, we are able to provide our customers with a versatile, cost effective and wider reaching solution for high frequency/low latency trading networks.”</p>
          <p>For more information, please visit the website at <a href="/gigamon-stac-program">http://www.gigamon.com/gigamon-stac-program</a>, or call (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>