<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Elevates Investment Protection with Higher Capacity Next Generation Control Card</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-83" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Continues to Improve its Visibility Fabric</em></p>
          <p><strong>Milpitas, Calif., October 1, 2012</strong>– <a href="/">Gigamon</a><sup>®</sup>, a leading provider of Traffic Visibility Fabric solutions, announced today the next generation of its Control Card for the H Series GigaVUE<sup>®</sup> Traffic Visibility Fabric™ Nodes. Significantly increasing performance up to 2.56Tb of throughput, the Control Card provides the next level of capacity for the <a href="/about-gigamon-traffic-visibility-fabric">Visibility Fabric</a>—now scaling up to eight GigaVUE H Series chassis within a single virtual cluster. The Control Card increases scalability, optimizes density and delivers a progressive migration path for the management, monitoring and security of 10, 40 and 100Gb infrastructure.</p>
          <p>“Mobile service operators and providers, cloud service providers, and finance and healthcare organizations are experiencing significant traffic growth resulting in the demand for greater scalability, agility, and performance of infrastructure management, monitoring and security solutions,” said Paul Hooper, VP of Marketing at Gigamon. “With our new Control Card, we continue to deliver Visibility Fabric solutions to address their needs. Whether organizations are running high-density 10Gb, or exploring 40Gb or 100Gb solutions, we provide an industry leading solution to enable organizations that are seeking a new and improved approach to operate increasingly complex environments.”</p>
          <p>The Control Card is fully compatible with both the modular eight-slot <a href="/gigavue-hd8-traffic-visibility-network-node">GigaVUE-HD8</a> and the smaller four-slot <a href="/gigavue-hd4-traffic-visibility-network-node">GigaVUE-HD4</a> chassis and supports all existing GigaVUE H Series line cards. These high-density fabric nodes leverage Gigamon <a href="/flow-mapping-explained">Flow Mapping</a><sup>®</sup> technology to intelligently filter, forward, replicate and manage the flow of traffic from production networks to centralized management, monitoring and security tools. The sophisticated combination of hardware and software allows enterprises and data centers of all sizes and scale to operate a powerful Visibility Fabric, resulting in lower operational costs, higher infrastructure flexibility and improved organizational agility.</p>
          <p>Current customers have the option to purchase this card to upgrade their existing chassis with a simple field replacement, while new customers can choose the control card and capacity that best meets their traffic visibility requirements.</p>
          <p>The Control Card further enhances the GigaVUE H Series by more than doubling the backplane capacity with 320Gb of non-blocking, cross-blade throughput providing 2.56 Terabit performance in the GigaVUE-HD8. In addition, the new card also doubles the clustering capability of the GigaVUE H Series, allowing users to intelligently combine up to eight chassis together—providing a combined capacity exceeding two thousand 10 Gigabit ports—all within a single addressable Visibility Fabric. With this new offering, Gigamon is further enhancing the Visibility Fabric with increased scalability and investment protection.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Traffic Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/traffic-visibility-fabric">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/traffic-visibility-fabric">Traffic Visibility Fabric</a> for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years experience designing and building intelligent traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including 53 of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>