<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon to Join Compuware Partner Network</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-77" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Compuware and Gigamon Partner to Help IT Organizations Simplify Network Data Access for Application Monitoring</em></p>
          <p><strong>DETROIT and MILPITAS, CA--January 13, 2011--</strong>Compuware (NASDAQ: CPWR), the technology performance company, and Gigamon™, the world's leading provider of Traffic Visibility Networking solutions, today announced a strategic partnership to help IT organizations ease network data access and improve application performance. The combination of Compuware Vantage and Gigamon GigaVUE technology will help IT organizations optimize network service quality while empowering them to improve network and application performance issue diagnosis and reporting.</p>
          <p>"This combined solution will greatly enhance the ability to proactively manage the performance of applications," said Kevin Jablonski, Vice President, Marketing and Business Development, Gigamon. "With the amount of data cycling through an organization’s networked infrastructure and application performance expectations heightened, the pressure put upon IT assets and the team that manages them is paramount. We are very happy to be partnering with a market leader like Compuware to provide a joint solution that will help these teams across the world."</p>
          <p>Gigamon’s GigaVUE platform will aggregate all the data points of interest, filter the network traffic and deliver the "wanted" traffic to Compuware Vantage. With the data streamlined for analysis, IT operations, network engineers and security teams will have indisputable evidence to proactively diagnose the health of networks without the need of configuration or change management.</p>
          <p>"IT organizations are striving to improve the performance of their enterprise and Internet applications. The Compuware and Gigamon partnership will help IT organizations simplify data collection and manage data traffic flows. This combination will enable customers to rapidly access critical information on application performance from the end user’s perspective," said Kimberly King, Compuware Vice President, Channels and Alliances. "We are excited to partner with Gigamon and provide our joint customers with the most advanced technology to productively and successfully deliver applications."</p>
          <p>Compuware delivers the market's only application performance management solution -- Gomez and Vantage -- that provides broad visibility and deep-dive resolution across the entire application delivery chain, spanning both the enterprise and the Internet. These unrivaled capabilities make Compuware the global standard for optimizing application performance.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>