<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Paul Milbury to Board of Directors</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-51" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Adds Networking Technology Industry Veteran to Board of Directors</em></p>
          <p><strong>Silicon Valley, CALIF., January 30, 2014 –</strong> <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced the appointment of Paul Milbury to its board of directors. He has also been appointed as a member of the company’s Audit Committee.</p>
          <p>“Paul’s extensive industry knowledge and his broad executive experience in a variety of networking and information technology companies will help us to deliver long term value for our customers and shareholders,” said Corey Mulloy, chairman of the Gigamon Board of Directors. “We warmly welcome Paul to the board.”</p>
          <p>Mr. Milbury, served as vice president of operations and chief financial officer of Starent Networks, Corp., a provider of mobile network solutions, from January 2007 until its acquisition by Cisco Systems, Inc., in December 2009. From December 2009 to July 2010, Mr. Milbury played a key role in integrating Starent Networks into Cisco to create the Mobile Internet Technology Group. Prior to Starent, from December 2000 to March 2007, Mr. Milbury served as vice president and chief financial officer of Avid Technology, Inc., a digital media creation, management and distribution solutions company. Mr. Milbury currently serves on the board of directors of Infinera Corporation, an optical networking equipment provider. Mr. Milbury also serves on the boards of directors of several privately-held companies. Mr. Milbury holds a B.B.A. in business and economics and an M.B.A. from the University of Massachusetts, Amherst.</p>
          <p>"I’m thrilled to be joining the Gigamon board of directors,” said Milbury. “Gigamon has realized tremendous growth over the past few years and I look forward to building on that success.”</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>