<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces High Density 40Gb solution to address Pervasive Visibility for Data Centers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-112" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>The H Series family expands to support 40Gb growth in data centers</em></p>
          <p><strong>Milpitas, Calif., January 28, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>, a leading provider of <a href="/products/unified-visibility-fabric-architecture">Traffic Visibility Fabric</a>™ solutions, has announced a new high density 40Gb blade, the GigaPORT-Q08 for the GigaVUE<sup>®</sup> H Series Chassis, which further addresses the scalability and visibility needs of data center managers as they meet the challenges of increasing traffic volume within data centers. The technology will be on show at <a href="http://www.ciscolive.com/london/">Cisco Live London '13</a>, Jan. 28 at the ExCeL London Exhibition and Convention Centre in London, UK.</p>
          <p>Gigamon’s flagship solution, the high-performance, high-density GigaVUE H Series, represents the latest generation of purpose-built technology to handle up to 2.5Tb of monitored traffic, delivering it intelligently to the appropriate application, security, or performance management systems. With the addition of the GigaPORT-Q08 blade, pervasive visibility scales to increasingly dense data center network architectures, whether end-of-row (EoR) or top-of-rack (ToR) deployments.</p>
          <p>“The rapid growth in the amount of information traversing networks and the increasing need for workload flexibility in an on-demand data center has created the need for pervasive visibility that can scale to accommodate the increased traffic demands,” said Bob Laliberte of Enterprise Strategy Group.</p>
          <p>“As enterprises and data centers respond to the ever-increasing volume of network traffic and the need to effectively and efficiently manage their environment, they look to Gigamon for a scalable, pervasive, and intelligent monitoring infrastructure. The new 40Gb solution delivers the next wave in higher density deployments, while also enabling pervasive traffic visibility for monitoring, management and security tools for both physical and virtual networks,” said Huy Nguyen, Sr. Director of Product Management at Gigamon.</p>
          <p>The new GigaPORT-Q08 blade offers line rate performance and connectivity with eight 40Gb ports. This allows the new blade to quadruple the 40Gb connectivity density of the GigaVUE H Series while providing high-speed traffic ingress from SPAN ports, inter-node stacking and aggregation uplinks at up to 40Gb. The blade also supports direct-connection to monitoring, management and security tools.</p>
          <p>In addition, the GigaPORT-Q08 blade offers the ability to aggregate multiple links with a GigaVUE-TA1 traffic aggregation node, which consolidates multiple low utilization links into “gateway” ports. This aggregation takes place at the top of each rack and then sends the traffic through the 40Gb ports into the GigaPORT-Q08 blade in a GigaVUE H Series Node at the end of the row, resulting in a consolidated and efficient visibility architecture. The GigaVUE-TA1 is part of Gigamon’s popular family of <a href="/aggregation-switch-roi">GigaVUE</a> traffic visibility nodes, which are designed to work together to create an intelligent and pervasive Visibility Fabric to deliver traffic flows from broad networks to the appropriate, centralized management, monitoring or security systems.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Traffic Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Traffic Visibility Fabric</a> for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive visibility and control of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>