<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Named a CRN Emerging Technology Vendor</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-23" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/crn-emerging-vendor-gigamon.pdf" target="_blank">crn-emerging-vendor-gigamon.pdf </a> (29 KB pdf file)</p>
          <p>Gigamon® today announced it has been recognized by Everything Channel as a CRN Emerging Technology Vendor. CRN's Emerging Technology Vendor list captures companies that are delivering high margins for solution providers with innovative and easy-to-use technology.</p>
          <p>Gigamon, the leading global provider of intelligent data access networking TM products, is committed to quality, excellence and addressing the needs of today’s data access networking marketplace. Gigamon’s product line, GigaVUE™, consists of data monitoring switches designed to address network security, compliance, availability, reliability and performance by improving monitoring tool efficiency and enhancing the view of the network. Gigamon’s commitment to maintaining strategic relationships with monitoring tool partners and providing immediate ROI for end users has attracted new and returning customers in the midst of the economic downturn.</p>
          <p>“Solution providers seek out innovative vendors that create new and innovative ideas to help them build revenue and customer loyalty. Our Emerging Tech list is where Solution providers go to find these vendors. We congratulate all of the vendors for their innovation, creativity and commitment to the technology sales channel," said Robert C. DeMarzo, senior vice president and editorial director, Everything Channel.</p>
          <p>The vendors who make the CRN Emerging Technology Vendor list were founded in 2001 or later, have revenue under $1 billion and have an active U.S. channel strategy. Final selection to the Emerging Technology Vendor list was made by the CRN editorial team after a review of submitted information.</p>
          <p>“Being included on CRN’s Emerging Technology Vendor list truly validates Gigamon’s winning strategy,” said Tom Gallatin, managing partner, Sales &amp; Marketing. “With more than five years in the data access networking space, Gigamon’s award-winning solutions and channel partners continue to bring value to our loyal customers.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
          <h3>Everything Channel (<a href="http://www.everythingchannel.com">www.everythingchannel.com</a>, <a href="http://www.channelweb.com">www.channelweb.com</a>)</h3>
          <p>Everything Channel is the one-stop shop for accessing, enabling, managing and accelerating technology sales channels. From branding and recruiting to marketing and sales, Everything Channel offers technology marketers the unmatched breadth and depth of global brands and market intelligence combined with unparalleled audience loyalty and credibility serving all technology sales channels through an extensive database. Everything Channel provides innovative sales and marketing solutions to arm the sellers of technology with the resources they need to achieve measurable and significant results.</p>
          <h3>About United Business Media Limited (<a href="http://www.unitedbusinessmedia.com">www.unitedbusinessmedia.com</a>)</h3>
          <p>UBM (UBM.L) focuses on two principal activities: worldwide information distribution, targeting and monitoring; and, the development and monetization of B2B communities and markets. UBM’s businesses inform markets and serve professional commercial communities - from doctors to game developers, from journalists to jewelry traders, from farmers to pharmacists – with integrated events, online, print and business information products. Our 6,500 staff in more than 30 countries are organized into specialist teams that serve these communities, bringing buyers and sellers together, helping them to do business and their markets to work effectively and efficiently.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>