<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Bucks the Trend, Continues Rapid Growth in Spite of Difficult Economic Times</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-30" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/gigamon-grows-revenue-2008.pdf" target="_blank">gigamon-grows-revenue-2008.pdf </a> (33 KB pdf file)</p>
          <p>Silicon Valley, CA - January 6, 2009 - Gigamon™, the leading provider of intelligent data access networking products, today announced that its revenue for the fiscal year 2008 has grown by 50%. This is attributed to the broad market adoption of our GigaVUE product line that is now deployed in 36 countries across the globe. GigaVUE™ saves money for stressed IT budgets in multiple ways.</p>
          <p>“Considering the economic climate, we are pleased to have had a record breaking fourth quarter which increased our annual revenue growth to 50%,” said Ted Ho, Gigamon’s CEO. “This is a testament to our engineering staff that has delivered the most comprehensive and cost effective solution on the market for monitoring data centers. We have also made significant investments in sales, marketing and business development, which resulted in an overall increased headcount of 30%.”</p>
          <p>Gigamon recently announced the GigaVUE-2404® high density 10GbE data access switch that will begin shipping in January. “Customers are excited about this product because the transition to a 10G Ethernet core is occurring at a rapid pace. With the GigaVUE-2404 they can get critical data from 10GbE Ethernet ports to 1GbE Ethernet tools. With our mapping and filtering capabilities, customers can aggregate traffic from several high speed connections and send specific traffic to a secure centralized tool farm.”</p>
          <h3>Award-Winning Solution</h3>
          <p>Gigamon’s DAN technology has earned the Emerging Technology of the Year award in the world monitoring market from Frost &amp; Sullivan. Thousands of GigaVUE units are already in use at over 400 telecom, industrial, manufacturing, financial, banking, medical, utility and government networks worldwide. Current users include Apple, Chevron, Cisco, eBay, the U.S. Federal Reserve, Capital One, Deutsche Bank, Royal Bank of Canada, Fidelity Investments, JC Penney, NASA, Northwestern Insurance, the NYSE, Raytheon, Toyota, Sprint, AT&amp;T, Verizon, T-Mobile, Vodafone, NTT, KDDI, and the U.S. Department of Defense, among many others.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>