<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon and JDSU Announce Integration of Software Defined Visibility APIs</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-742" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Intelligence of Gigamon’s Visibility Fabric Enables JDSU Tools to Detect, React and Respond to Network Threats and Traffic Filtering Needs</em></h2>
          <p><strong>SAN DIEGO (June 8, 2015)</strong> – Today at Cisco Live, Cisco’s annual IT and communications conference,<a href="http://www.gigamon.com/"> Gigamon </a>Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a href="/visibility-fabric-architecture">Visibility Fabric™,</a> announced that JDSU (NASDAQ: JDSU) is developing closed loop integration plugins that support Gigamon’s breakthrough innovation – <a href="/blog/2015/04/20/software-defined-visibility-when-automation-meets-visibility/">Software Defined Visibility</a>, a framework that allows customers, security and network equipment vendors, as well as managed service providers, to control and program Gigamon’s Visibility Fabric via REST-based APIs.</p>
          <p>“We are excited to be working with Gigamon to integrate with APIs that support Software Defined Visibility,” said Charles Thompson, senior director, Product Line Management for JDSU. “With this integration, we envision a multitude of possibilities where our customers can automate traffic visibility, so that they can focus their resources on other mission-critical activities.”</p>
          <h3><strong>Software Defined Visibility and JDSU – Solving Critical Issues for Network Visibility</strong></h3>
          <p>There are several use cases in which JDSU plans to utilize Software Defined Visibility. The following will be presented at Cisco Live, Cisco’s annual IT and communications conference:</p>
          <ul>
           <li><strong>Session-based Filtering</strong> – JDSU will take advantage of Gigamon’s Adaptive Packet Filtering capabilities to dynamically drop unwanted ‘streaming’ traffic such as Netflix or YouTube, thereby reducing the demand on monitoring appliance storage capacity.</li>
           <li><strong><a href="/products/technology/flow-mapping">IPv4 and IPv6 Traffic Filtering</a></strong> – As more networks begin deployment of IPv6 along with legacy IPv4 infrastructure, JDSU expects customers will need to selectively filter v4 and v6 traffic. Leveraging the intelligent filtering of the Gigamon Visibility Fabric, network administrators can rest assured knowing that they have comprehensive visibility and a future-proof path to simplify IPv6 adoption without creating new blind spots.</li>
           <li><strong>Reduce ‘Mean Time To Resolution’</strong> – To assist with faster diagnosis of traffic anomalies, the ability to enhance captured packets that are subsequently stored on JDSU’s GigaStor appliances will improve diagnosis accuracy and focus. Through the addition of Gigamon’s “Flow Mapping” meta-data and “network neighbor” discovery information, Network Operators will be able to evaluate network incidents more effectively and isolate issues to specific segments of the network infrastructure.</li>
          </ul>
          <p>“Having partners like JDSU on board and adopting our recently released APIs accelerates our Software Defined Visibility market momentum,” said Ananda Rajagopal, VP of Product Line Management at Gigamon. “Not only is JDSU at the forefront of adoption, they are validating the market need for pervasive and active visibility. Their API-based development demonstrates the true power and flexibility that a programmatic framework can provide to quickly and automatically react to changes in network conditions.”</p>
          <h3><strong>Software Defined Visibility – Enabled by GigaVUE-FM Fabric Manager</strong></h3>
          <p>GigaVUE-FM 3.0 Fabric Manager enables Software Defined Visibility. It delivers a single pane-of-glass view of both physical and virtual nodes across the Visibility Fabric, while providing an easy-to-use, wizard-based approach for configuring Flow Mapping® and GigaSMART® traffic policies. A single instance of GigaVUE-FM can manage hundreds of visibility nodes across multiple locations delivering more than a quarter of a million physical and virtual ports.</p>
          <p>Flow Mapping technology reduces traffic and improves analyzer performance. Flow Mapping is a patented technology at the heart of Gigamon’s GigaVUE Visibility Fabric nodes that takes line-rate traffic at 1Gb, 10Gb, 40Gb or 100Gb from a network TAP or a SPAN/mirror port (physical or virtual) and then optimizes flows based on individual traffic profiles of the tools and applications that secure, monitor, and analyze the network infrastructure.</p>
          <p>GigaSMART technology extends the intelligence and value of the Gigamon Visibility Fabric architecture by enhancing monitoring infrastructure and improving tool performance. A suite of applications is available to enable modification, manipulation, transformation, and transport of traffic from the network to the tools and appliances used for management, monitoring and security.</p>
          <h3><strong>About Gigamon</strong></h3>
          <p>Gigamon provides an intelligent <a href="/visibility-fabric-architecture">Visibility Fabric™ </a>architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">www.gigamon.com,</a> the <a href="http://www.gigamon.com/blog/">Gigamon Blog,</a> or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter,</a> <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook.</a></p>
          <h3><strong>About JDSU</strong></h3>
          <p>JDSU (NASDAQ: JDSU) innovates and collaborates with customers to build and operate the highest-performing and highest-value networks in the world. Our diverse technology portfolio also fights counterfeiting and enables high-powered commercial lasers for a range of applications. Learn more about JDSU at <a href="http://www.jdsu.com/" target="_blank">www.jdsu.com</a> and follow us on <a href="http://blogs.jdsu.com/perspectives/default.aspx" target="_blank">JDSU Perspectives,</a> <a href="http://www.twitter.com/jdsu" target="_blank">Twitter,</a> <a href="http://www.facebook.com/JDSUCorp" target="_blank">Facebook</a> and <a href="https://www.linkedin.com/company/jdsu" target="_blank">LinkedIn.</a></p>
          <p align="center"># # #</p>
          <h3><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, our strategic product initiatives, potential use cases for software defined visibility and goals for our Unified Visibility Fabric architecture and API adoption and development by our partners. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Chris McKie<br>Gigamon<br>+1 (408) 831-4440<br><a href="mailto:chris.mckie@gigamon.com">chris.mckie@gigamon.com </a></td>
              <td>Brian Alberti<br>DMG<br>+1 (781) 418-2403<br><a href="mailto:balberti@daviesmurphy.com">balberti@daviesmurphy.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com">IR@gigamon.com</a></td>
             </tr>
             <tr>
              <td>Noel Bilodeau<br>JDSU<br>+1(408) 404-9014<br><a href="mailto:noel.bilodeau@jdsu.com">noel.bilodeau@jdsu.com </a></td>
              <td>Bill Ong<br>JDSU<br>+1 (408) 404-4512<br><a href="mailto:bill.ong@jdsu.com">bill.ong@jdsu.com</a></td>
              <td>&nbsp;</td>
             </tr>
            </tbody>
           </table>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>