<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Unveils New GigaVUE-VM Traffic Visibility Fabric Node</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-116" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>New technology enables virtual environments to be managed, analyzed and secured by the same tools as physical data centers</em></p>
          <p><strong>Interop Las Vegas</strong> <strong>, – May 3, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a>®, a world leader in <a href="http://www.gigamon.com/campaign/CIAB_1/TrafficVisibilityFabricsTheForresterPaper.pdf">Traffic Visibility Fabric</a> solutions, today announced that it will be demonstrating at <a href="http://www.interop.com/lasvegas/">Interop Las Vegas</a> the GigaVUE-VM fabric node, the newest addition to the company’s award-winning <a href="http://www.gigamon.com/gigamon-traffic-visibility-networking-products">GigaVUE</a>® product family. The new GigaVUE-VM fabric node extends intelligent traffic visibility, selection and filtering into virtualized environments and in doing so evolves the Gigamon Traffic Visibility Fabric™ to enable virtual environments to be monitored by the same tools as physical data centers.</p>
          <p>“The migration from tactical to strategic virtualization in companies of all size is causing IT organizations to step back and assess how they will rise to meet the management challenges associated with large-scale virtualization. While virtualization brings significant benefits, it can also create other challenges, namely lack of visibility for management tools to effectively manage, analyze, and secure network traffic,” said Patrick Leong, Gigamon CTO. “The prior approach – connecting management and analysis tools to specific network segments and switches – will not work in this new virtualized environment. Our Traffic Visibility Fabric represents a revolutionary new approach to address this need. The Fabric, with the GigaVUE-VM fabric nodes, overcomes the challenge of management visibility in the virtualized world by providing pervasive visibility.”</p>
          <p>The GigaVUE-VM fabric node extends the Gigamon Traffic Visibility Fabric by bridging the virtual/physical boundary and allowing selected Virtual Machine (VM) traffic to be intelligently identified and directed to physical network management, analysis or security tools. By providing visibility into the traffic that traverses the hypervisor, the GigaVUE-VM fabric node can improve infrastructure manageability, empower proactive planning, and enable the implementation of compliance standards and reporting. The GigaVUE-VM fabric node in conjunction with the fabric management platform has the ability to analyze and ensure intelligent traffic selection, filtering and forwarding follows VMs as they dynamically move across the network.</p>
          <p>Implemented as a native VMware virtual machine, the GigaVUE-VM fabric node can rapidly and easily be deployed, thus avoiding the complexity and instability risk that can be created by alternative approaches. The Gigamon Traffic Visibility Fabric offers a new approach and a new architecture, allowing system managers to achieve the same level of traffic visibility between virtual server instances as is available between physical server instances without changing any operating procedures, without creating a risk to the stability of the underlying hypervisor and without adding complexity to the network.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to operate, secure and maintain the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created a revolutionary new approach for delivering this visibility called the Traffic Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="http://www.gigamon.com/visibility-delivered">http://www.gigamon.com/visibility-delivered</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Fabric™ solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis and security systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>