<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Visibility Fabric Apps and Features Offer Big Data Traffic Intelligence for Enterprises and Service Providers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-85" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Visibility Fabric Apps and Features Offer Big Data Traffic Intelligence for Enterprises and Service Providers</strong></p>
          <p><em>Applications Enable Traffic Intelligence for Visibility into Big Data</em></p>
          <p><strong>Silicon Valley, CALIF., December 16, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced new applications and enhancements designed to provide Traffic Intelligence – the next phase of the Visibility Fabric evolution. As part of the Applications and Services Layers of the Unified Visibility Fabric architecture, new applications and feature enhancements offer advanced filtering capabilities such as stateful correlation, subscriber awareness, and deep packet visibility. With Traffic Intelligence, the Visibility Fabric will deliver more granular filtering and forwarding to ensure that the tools organizations rely upon for managing, analyzing, and safeguarding the network and its users, receive only the most relevant traffic.</p>
          <p>“As network architectures evolve and network speeds increase, the tools that monitor, manage and secure that network are increasingly turning to the Gigamon Visibility Fabric to provide intelligent correlated traffic filtering in order to keep up with the growth in volumes of data as well as the rapidly evolving network architectures,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “The Visibility Fabric applications and advanced traffic filtering capabilities that we are bringing to market address a growing need for traffic intelligence built right into the Visibility Fabric.”</p>
          <p><strong>The enhancements and new applications for the Unified Visibility Fabric include:</strong></p>
          <ul>
           <li><strong>The GTP correlation application</strong>which enables customers to filter and forward correlated subscriber traffic streams that are encapsulated using the GPRS Tunneling Protocol, or GTP, within 3G/4G/LTE environments. GTP correlation provides access to mobile Big Data caused by consumption and transmission of more voice, video, and data for work and leisure purposes across 3G and 4G/LTE networks. GTP correlation utilizes stateful subscriber filtering and forwarding to understand and maintain subscriber-specific sessions, thus providing a complete picture of the subscribers’ activities to help ensure Quality of Experience (QoE) as well as reliable accounting, billing and subscriber management.</li>
           <li><strong>The FlowVUE™ application</strong>which provides active, subscriber-aware flow sampling to intelligently forward only the most relevant traffic to the tools. FlowVUE intelligently manages Big Data traffic, enabling carriers to connect monitoring tools that otherwise would not be able to handle the volume of traffic. This capability will help service providers address rising tool costs by enabling them to preserve or increase tool utility and offset ARPU reduction by monetizing Big Data with tools like Customer Experience Management offerings.</li>
           <li><strong>Adaptive Packet Filtering</strong>which offers the ability to look for content anywhere in the packet and make intelligent filtering and forwarding decisions. Filtering criteria includes advanced encapsulation protocols and/or inner packet contents beyond Layer 4. These updates enable basic application identification and protocol-aware filtering for packet filtering and distribution.</li>
           <li>Other GigaSMART <sup>®</sup> technology updates include the addition of IPv6 de-duplication to the existing De-duplication Application, as well as support for visibility in Cisco FabricPath environments and IP fragmentation awareness.</li>
          </ul>
          <p>“The increased traffic intelligence that is added through Gigamon’s applications and integrated into their Visibility Fabric is a critical step for maintaining visibility into evolving networks and tools,” said Nick Lippis, The Lippis Report publisher and co-chair of the Open Networking User Group. “As networking technology changes and invisible overlay traffic soars, visibility becomes a greater challenge. If Gigamon’s fabric can see inside these networks while correlating packets and flows for enhanced traffic optimization, that level of intelligence makes them a ‘one-stop-shop’ for visibility and can certainly add value to their tool partners and customers who deploy these joint solutions.”</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-191581) and our Quarterly Report on Form 10-Q for the period ended September 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>