<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Releases Citrus 1.1 to Support New GigaStream Trunking Solution</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-18" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/citrus-packet-filter-management.pdf" target="_blank">citrus-packet-filter-management.pdf </a> (20 KB pdf file)</p>
          <p>Silicon Valley—September 24, 2009 - Gigamon™, the leading global provider of intelligent data access networking™ products, today announced the release of Citrus 1.1, which supports Gigamon’s innovative GigaStream<sup>®</sup> technology. Users can now manage multiple GigaVUE™ in a single browser-based GUI.</p>
          <p>Along with GigaStream, a trunking technology for traffic load balancing, Citrus 1.1 helps manage cross-box connectivity with any of the GigaVUE platforms, incorporating hundreds of ports into a network-wide Data Access Network fabric. Citrus 1.1 features a new map rule and packet filteringwindow that creates customized data streams for security and monitoring tools. In a matter of minutes, Citrus 1.1 can easily select and define map rules and filters, including IP address and port ranges, VLAN ID's, protocols, application ports, MAC addresses and TCP ports. The total number of line rate filters has increased to up to 4,000 per chassis. Gigamon has also introduced a new stacking window that shows all connected chassis, indicates chassis type, box ID, hardware type and connectivity status.</p>
          <p>“Citrus provides a secure management interface for configuring allow or deny filters on both ingress and egress ports. Our powerful packet filtering engine streamlines specific traffic from many different core segments in the enterprise or data center network and aggregates that traffic to one or many security tools,” said Patrick Leong, Gigamon CTO.</p>
          <p>Since 2005, enterprise network managers and IT security professionals have depended on Gigamon's GigaVUE “orange boxes” to aggregate, filter and replicate customized data streams to all monitoring tools. Gigamon provides access to any network segment at any speed including 10 Gig connections. Upon being installed, GigaVUE can aggregate data from multiple segments, filter on specific information within each packet and direct it to all tools needing that information. Gigamon recently became the industry’s first and only NEBS (Network Equipment Building Systems) certified data access switch.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>