<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>GIGAMON NYSE EVENT MEDIA ALERT: Gigamon to Ring Closing Bell at New York Stock Exchange on February 24, 2016</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1020" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Who and What:&nbsp;&nbsp;</strong></p>
          <p><a href="https://www.gigamon.com/">Gigamon</a> (NYSE: GIMO), the leader in traffic visibility solutions, will visit the New York Stock Exchange on Wednesday, February 24<sup>th</sup>, and reveal the truth behind #wefightsmart. Gigamon CEO Paul Hooper and a number of his associates will ring <a href="https://www.nyse.com/bell">The Closing Bell</a>® to mark the occasion.</p>
          <p>“Ringing The Closing Bell at the New York Stock Exchange marks a new and vibrant chapter in Gigamon’s story as we team with others in the security industry to strengthen the fight we are all in,” said Paul Hooper, CEO, Gigamon, Inc. “We are looking forward to revealing more about this collective approach on February 24<sup>th</sup>.”</p>
          <p><strong>Where:</strong></p>
          <p>11 Wall Street, New York, NY 10005</p>
          <p><strong>When: </strong></p>
          <p>Wednesday, February 24<sup>th</sup> at 3:56 pm EST</p>
          <p><strong>Gigamon Media Contact:</strong></p>
          <p>MEDIA, Johnnie Konstantas, +1 (408) 831-4440, <a href="mailto:Johnnie.Konstantas@gigamon.com">Johnnie.Konstantas@gigamon.com</a>, or Merritt Group, Tom Rice, +1 (703) 856-2218, <a href="mailto:rice@merrittgrp.com">rice@merrittgrp.com</a></p>
          <p><strong>NYSE Media Contact: </strong></p>
          <p>Judy Shaw, <a href="mailto:Judy.shaw@nyse.com">Judy.shaw@nyse.com</a></p>
          <p><strong>Social Media:</strong></p>
          <p>For multimedia features such as exclusive content, photo postings, status updates and video of bell ceremonies please visit #wefightsmart and wefightsmart.com</p>
          <p><strong>Webcast and Video:&nbsp;</strong>The New York Stock Exchange will stream The Closing Bell® ringing on its web site:&nbsp;<a href="http://cts.businesswire.com/ct/CT?id=smartlink&amp;url=http%3A%2F%2Flivestream.com%2FNYSE&amp;esheet=51263104&amp;newsitemid=20160120006204&amp;lan=en-US&amp;anchor=http%3A%2F%2Flivestream.com%2FNYSE&amp;index=1&amp;md5=a86ff203a9ebf485000e096a6b2738a9" target="_blank">http://livestream.com/NYSE</a>. The bell ringing is scheduled for 3:56 - 4:00 p.m. Eastern Time. A video of the bell ringing will also be archived on that same page after the livestream.</p>
          <p><strong>About&nbsp;Gigamon </strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com">www.gigamon.com</a>, the Gigamon Blog, or follow Gigamon on Twitter, LinkedIn or Facebook.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This media alert contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>