<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Receives Top Information Technology Industry Award</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-115" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Network Products Guide Names GigaVUE-HD4 Best Product in Network Intelligence</em></p>
          <p><strong><img alt=" Hot companies and technologies" class="img-responsive" src="/sites/default/files/hot-companies-and-technologies.png" style="float: right;">LAS VEGAS <em>–</em>May 11, 2012 <em>–</em> </strong><a href="http://www.gigamon.com/">Gigamon</a>®, a world leader in<a href="/company/about-us">Traffic Visibility</a>Fabric solutions, announced today that <em>Network Products Guide,</em>industry's leading technology research and advisory guide, has named the GigaVUE-HD4 a winner of the 7<sup>th</sup>Annual 2012 Hot Companies and Best Products Award in the Network Intelligence category <em>.</em> <em>The Network Products Guide industry and peer awards are the world's premier information technology awards honoring achievements and recognitions in every facet of the IT industry. Winners were honored at Interop Las Vegas on Tuesday, May 8, 2012.</em></p>
          <p>“Gigamon is honored that our GigaVUE-HD4 has been selected as the world’s best network intelligence product by Network Products Guide,” said Paul Hooper, vice president of marketing at Gigamon. “We continue to extend the breadth and scale of our Traffic Visibility Fabric establishing a platform to deliver greater Network Intelligence for our customers. Our Visibility Fabric enables enterprises and service providers to gain powerful and pervasive visibility of traffic traversing their network infrastructure and in doing so, allow more intelligent management, analysis and security of their network infrastructure.”</p>
          <p>Gigamon’s <a href="/products/gigavue-hd-series"> GigaVUE - HD4 </a> is a high density chassis that uses Gigamon <a href="/products/technology/flow-mapping">Flow Mapping</a> ® technology to intelligently filter, forward, replicate, and manage the flow of traffic from production networks to management, analysis and security tools. The GigaVUE-HD4 provides users with a smaller form factor of the successful and first-to-market <a href="/products/gigavue-hd-series">GigaVUE-HD8</a> chassis, and delivers up to 1.3Tb of connectivity in a data-center-ready 5RU form. The combination of the two chassis products and the multiple line-card configurations, allows enterprises and data centers of all sizes and scale to install and operate a powerful Visibility Fabric, resulting in lower operational costs, higher infrastructure flexibility and improved organizational agility.</p>
          <p>The annual Hot Companies and Best Products recognition program identifies the world’s top information technology companies in a number of categories, including organizational performance, product differentiation, leadership team performance and customer satisfaction.</p>
          <h3>About Network Products Guide Awards</h3>
          <p>As industry’s leading technology research and advisory publication, Network Products Guide plays a vital role in keeping decision makers and end-users informed of the choices they can make in all areas of information technology. You will discover a wealth of information and tools in this guide including the best products and services, roadmaps, industry directions, technology advancements and independent product evaluations that facilitate in making the most pertinent technology decisions impacting business and personal goals. The guide follows conscientious research methodologies developed and enhanced by industry experts. To learn more, visit <a href="http://www.networkproductsguide.com/">www.networkproductsguide.com</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>