<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Recognized by Network World Asia for Excellence in Network Traffic Monitoring &amp; Management</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-39" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Network World Asia selects Gigamon as award winner in 2014 Information Management Awards</em></p>
          <p><strong>Santa Clara, CALIF., July 1, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a>® (NYSE: GIMO), a leader in traffic visibility solutions with its innovative Unified <a href=" /products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced its recognition as the winner of Network World Asia’s 2014 Information Management Awards in the "Network Traffic Monitoring &amp; Management" category.</p>
          <p>The Network World Asia (NWA) Information Management Awards are the only regional Editor’s Choice Awards to recognize Asia’s leaders in information security, storage and data management – a mature and high-growth category. The awards are backed by Network World Asia, Networks Asia, Security Asia and Storage Asia, including a team of editors, publishers, conference organizers and a panel of CIO advisors with broad industry experience and expertise.</p>
          <p>Gigamon received the recognition after being selected by 100 CIOs and IT heads from the Asia Pacific region in a voting process.</p>
          <p>“Gigamon is honored to be recognized by Network World Asia for our performance and leadership in traffic visibility for network monitoring and management,” said David Sajoto, Gigamon VP Enterprise Sales, Asia Pacific and Japan. “Our team is proud to provide best-in-class traffic visibility technology and services throughout the Asian region, and we value Network World Asia as a guide for the Asian market to understand the landscape of these rapidly growing enterprise IT technologies.”</p>
          <p>Gigamon’s Visibility Fabric is highly regarded for its intelligent, agile and scalable architecture, serving enterprises, data centers and communications service providers around the world. Over the past several months, Gigamon has received industry acclaim for its products and technologies, including recognition as a Leading Lights award finalist for Gigamon’s NetFlow Generation application, which the company announced in June. NetFlow was also recognized as a Best of Interop 2014 Finalist.</p>
          <p>“The volume, velocity and variety of data are straining monitoring and security tools in addition to network bandwidth, storage capacity, and uninterrupted availability of data center resources for business-critical applications,” said Victor Ng, South-East Asia Bureau Chief of Network World Asia. “Meanwhile, networking and security technologies are converging, as organizations face new threats every day, and solution providers like Gigamon have once again proven their understanding of industry needs and market demands in the Asia Pacific region with their innovative traffic visibility technologies.”</p>
          <p>Launched in 2012 to recognize Asia’s leaders in Information Security, Storage and Data Management, the 2014 NWA Information Management Awards were presented at an awards dinner in Singapore on June 12th, 2014.</p>
          <h3>About the NWA Information Management Awards</h3>
          <p>The Information Management Awards are the only regional Editors' Choice Awards for this mature but growing enterprise IT segment. The awards are backed by leading Asian publications and portals – Network World Asia, Networks Asia, Security Asia and Storage Asia - and its team of experienced editors with deep and broad industry knowledge. Additionally, publishers, conference producers, marketers and a panel of CIO advisers with domain expertise and deep insights in Information Management select companies for each category of the Network World Asia awards program.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href=" /products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our and our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>