<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Partners With Riverbed To Provide Accurate Time Stamping</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-121" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Partnership Represents Latest Success in Gigamon’s Strategic Technology Alliance Community (STAC) Program</em></p>
          <p><strong>Silicon Valley, Calif., – March 9, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a>®, the world leader in Traffic Visibility Fabric solutions, announced a new time stamping solution developed through its partnership with <a href="http://www.riverbed.com/us/">Riverbed Technology</a> . The new solution enables accurate time stamping detail to be used in traffic analysis for fast troubleshooting of network and application problems in enterprise and financial industry IT environments. The partnership provides mutual customers with high precision time stamps for packet capture and analysis when using the Riverbed® Cascade® application-aware network performance management (NPM) solution and Gigamon’s GigaVUE-2404 with GigaSMART®.</p>
          <p>The partnership was formed under Gigamon’s Strategic Technology Alliance Community program (STAC), which has created an ecosystem of partners and organizations focused on making the network more intelligent and the traffic that it carries more visible to IT and business leaders. In addition, Gigamon has become an elite member of the Riverbed Technology Alliance (RTA) Program, a select group of technology companies that have partnered with Riverbed to jointly develop, market, and deliver high-value, high-performance solutions to enterprise customers.</p>
          <p>“Downtime and reduced processing capacity can cost companies millions of dollars in lost business,” said Tara Reeve, Director of Strategic Alliances at Gigamon. “To help alleviate this problem, Gigamon developed a world-class time stamping technology that enables IT teams to accurately analyze traffic latency and in doing so, maintain peak infrastructure performance. Partnering with Riverbed and other STAC program partners to provide highly-accurate traffic “time-stamp” capabilities for enterprise and financial industries was the next logical step in providing our customers with best-in-class solutions.”</p>
          <p>As network complexities increase, the <a href="/gigasmart-time-stamping">GigaSMART Time Stamping</a> module provides an effective way to troubleshoot and measure application response times, jitter and latency. As packets flow through the <a href="http://www.gigamon.com/products/gigavue-2404" target="_self" title="GigaVUE">GigaVUE-2404</a>, they are time stamped to create a permanent time record, precise to the microsecond that remains permanently embedded in the packet. The packet is then captured and analyzed by Cascade, enabling superior visibility, monitoring and troubleshooting – all of which can lead to significantly reduced capital and operational expenses.</p>
          <p>“By integrating with Gigamon’s time stamp technology, Cascade can further reduce mean time to resolution (MTTR) by coordinating time stamps across the network for performance troubleshooting. This solution benefits IT teams that monitor low-latency trading environments and other time-sensitive applications for business critical operations,” said Dimitri Vlachos, senior director of marketing and product management, Cascade Business Unit at Riverbed.</p>
          <p>Gigamon now offers two levels of accuracy with its time stamping solutions. The newest addition to the portfolio, the GigaPORT-X12-TS, is a 12 port, 10Gb blade that offers hardware-based nanosecond accurate time stamping enabling IT organizations to optimize networks for all types of traffic including high frequency trading communications. The GigaPORT-X12-TS precisely synchronizes data to enhance Quality of Service (QoS) analysis and overcomes port latency issues, improving network analysis, jitter evaluation and overall infrastructure performance management.</p>
          <p>For more information, please visit the website at <a href="/gigamon-stac-program">http://www.gigamon.com/gigamon-stac-program</a>, or call (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>