<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Reseller Agreement with Fishnet</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-128" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/fishnet-network-security.pdf" target="_blank">fishnet-network-security.pdf </a> (297 KB pdf file)</p>
          <p>Silicon Valley—July 28, 2010</p>
          <p>"Gigamon is excited about the potential that Fishnet offers with their vast portfolio of over 4,000 customers and their experienced staff of over 370 employees worldwide," said Doug Lockhart, Director of National Channels &amp; Distribution for Gigamon. "Gigamon adds to Fishnet’s impressive product offering, the industry’s most advanced data access technology."</p>
          <p>Fishnet has a nationwide team of technology and sales professionals that are very knowledgeable about Gigamon solutions. They can assist clients deploying, configuring and integrating Gigamon technology in their infrastructure. Fishnet’s expertise will allow clients to reap the full benefits of utilizing Gigamon’s solutions. "As Gigamon continues to expand its presence in the security field it is important to build our relationship with Fishnet. Our solution allows security teams to gather data from every critical point and have that data readily available 24x7. That, coupled with the solutions in Fishnet’s portfolio, allows the customer a much higher level of confidence when detecting and eliminating threats." said Kevin Jablonski, Gigamon’s Vice President of Marketing and Business Development.</p>
          <p>"By partnering with Gigamon, we can offer CIOs and their teams the best of breed technology to modernize their network security at the best cost." said Luis Palacio, Fishnet Director of Vendor Relations. "With Gigamon’s GigaVUE products, IT staffs can optimize and manage their security environment while meeting the mandate to reduce operational expense and increase productivity."</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, Intelligent DAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
          <h3>About Fishnet</h3>
          <p>FishNet Security and the FishNet Security logo are registered trademarks of FishNet Security. All other products or company names mentioned herein are trademarks or registered trademarks of their respective owners. For more information, please visit <a href="https://www.fishnetsecurity.com/">http://www.fishnetsecurity.com</a>.</p>
          <p>FishNet Security is the #1 provider of information security solutions that combine technology, services, support and training. Organizations are opening their computing environments to accelerate business initiatives. Unfortunately, with limited budget and resources to manage risk, uninformed decisions result in data breaches, negative publicity, decreased revenue, and disruption of services. Providing the most comprehensive security offering, FishNet Security enables clients to manage risk, meet compliance requirements, and reduce costs while maximizing security effectiveness and operational efficiency. Unlike Systems Integrators, Technology Resellers, and VARS, FishNet Security is committed to information security excellence and has a track record of delivering quality solutions to over 4,500 clients nationwide. Gigamon™ delivers intelligent data access solutions to enhance network monitoring of data centers, service provider and enterprises. The company’s world-renowned GigaVUE® aggregates, filters and replicates customized data streams to all monitoring tools. Gigamon pioneered the technology for multi-tool environments, addressing the growing new demands for reporting and analyzing organizational data. Now in its third generation with global deployments in more than 40 countries, Gigamon’s GigaVUE - Gigamon™, the leading global provider of Intelligent Data Access Networking™, today announced a reseller agreement with Fishnet Security, the #1 provider of information security solutions that combine technology, services, support and training. By partnering with Fishnet, Gigamon can further extend the availability of its patented, world-renowned technology to provide secure access and complete visibility to all of the critical data.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>