<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints Andrew Miller to Board of Directors</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-113" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Expands Board of Directors With Video and Networking Industry Leader</em></p>
          <p><strong>Silicon Valley, Calif., May 23, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a world leader in Traffic Visibility solutions, today announced the appointment of Andrew Miller to its board of directors effective May 3, 2012. Miller has been appointed to the company’s Audit Committee.</p>
          <p>“We are extremely pleased to have Andy join our board of directors,” said Ted Ho, Gigamon CEO. “As a video and networking industry veteran with an outstanding track record of achievements, Andy's extensive telecommunications and networking industry knowledge combined with his broad executive experience will enable him to provide strategic insight and a unique perspective that will complement the strengths of our existing board members. He will be a great asset to Gigamon.”</p>
          <p>Miller brings to the board more than 20 years of senior leadership experience in the telecommunications and networking industries. He was appointed to his current role as Polycom’s president and chief executive officer in May 2010 and later became a member of the board of directors. He joined the company in July 2009 as executive vice president of Global Field Operations, where he was responsible for Polycom's go-to-market strategy, including the sales, channel, alliances and sales engineering organizations.</p>
          <p>"I'm delighted to join the Gigamon board of directors," said Miller. "The company has an impressive history of innovation and remains a strong market leader since inception. In addition, their product portfolio continues to expand as the requirements for visibility to network traffic continue to evolve and increase in significance. Throughout my career I have kept a steady eye on the network industry, so I look forward to sharing my knowledge and insights with the Gigamon team.”</p>
          <p>Before joining Polycom, Miller was president of IPC Information Systems, where he was responsible for sales, marketing, operations and engineering. Prior to that, he served as chief executive officer of Tandberg, a provider of telepresence, high-definition videoconferencing and mobile video products and services. Over the course of his career, he has led world-class sales organizations and driven growth for companies including Cisco Systems, where he held several leadership roles in sales and marketing from 1990 to 2001. Miller holds a BS in Business Administration from the University of South Carolina.</p>
          <p>Additionally, Miller is a former chairperson of the Young Presidents' Organization/Stanford Executive Education Program, a former fellow of the Society of Fellows at the Aspen Institute and a member of the Silicon Valley Executive Summit. He was also awarded CRN Magazine's Top 100 Most Influential Executives for 2010.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>