<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Collaborates with VMware on Active Visibility Solutions for VMware NSX and the Software-Defined Data Center</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-8" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Collaborates with VMware on Active Visibility Solutions for VMware NSX and the Software-Defined Data Center</strong></p>
          <p><em>Gigamon Solution Enables Customers to Maximize Monitoring Tool Investments for Virtualized Multi-Tenant Networks</em></p>
          <p><strong>SANTA CLARA, Calif., August 25, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a>® (NYSE: GIMO), a leader in active visibility solutions with the innovative Unified <a href="/visibility-fabric-architecture">Visibility Fabric</a>™, today announced a collaboration with VMware to extend Gigamon’s visibility and monitoring solutions to support the software-defined data center. Gigamon will work with VMware to enable mutual customers to maximize previous investments in network, application and security monitoring tools as they virtualize their networks with the VMware NSX™ network virtualization platform.</p>
          <p>“As our customers look to take advantage of VMware NSX™, we are working with VMware to enable customers to leverage the same enterprise-class tools they are accustomed to using across both the virtual and physical network,” said Shehzad Merchant, Chief Strategy Officer at Gigamon. “Gigamon has supported interoperability with VMware vCenter™ Server since 2013 for automated monitoring policy management enabling active visibility into virtualized workloads. This collaboration will expand on current interoperability efforts to develop additional features to support VMware NSX. Gigamon and VMware networking solutions in the software-defined data center will combine the agility, simplified operations and security improvements of VMware NSX with Gigamon’s industry-leading active visibility for monitoring and troubleshooting solutions.”</p>
          <p>Software-Defined Data Centers provide service provisioning automation and significantly simplified network operations. A key accelerator of the move to the software-defined data center (SDDC) is the ability of IT organizations to manage and monitor across the entire data center including physical and virtual networking environments. But performance monitoring and security tools used in physical environments are typically unable to provide the same level of functionality in virtual environments due to the dynamic nature of the overlays, the need to correlate and track traffic between the underlay and overlays, and the existing departmental silos between the server and network teams. Gigamon’s Visibility Fabric is designed to solve these problems with current solutions designed for a VMware NSX environment.</p>
          <p>“Customers are accelerating adoption of VMware NSX™ and the software-defined data center, driven by the ability to simultaneously achieve better business agility and improved data center security,” said Hatem Naguib, vice president, networking and security, VMware. “We are working with partners such as Gigamon to help enable customers to leverage the tools in which they have invested time and money by extending the capabilities through the VMware NSX platform. VMware and Gigamon provide customers with holistic active visibility across physical and virtual networks.”</p>
          <p>“Organizations are looking at their networks as a business enabler, allowing them to conduct research, innovate new products and services, and better serve their internal and external users. As they begin to deploy innovative new networking solutions like VMware NSX™, they seek to retain critical visibility into the network for troubleshooting network and application issues, as well as identifying potential security threats,” said Christian Renaud, Senior Networking Analyst at 451 Research. “Gigamon is the first vendor we’ve seen working closely with VMware on visibility into these new virtual networks, which will allow their mutual customers to begin to deploy new solutions while maintaining high levels of visibility for network performance and security.”</p>
          <h3>Visit Us at VMworld</h3>
          <p>Gigamon’s unique solutions address visibility in dynamic environments that are characterized by VM mobility, virtualized networks using VXLAN, and multi-tenancy. Interoperability of Gigamon solutions with the VMware NSX platform will be demonstrated at VMworld 2014 in Gigamon booth #411 at San Francisco’s Moscone Center from August 24– 27.</p>
          <p>The first of two demos running in the Gigamon booth include per tenant as well as per service overlay filtering through Gigamon’s Adaptive Packet Filtering technology, providing organizations the ability to monitor at a virtual network or tenant level. The second demo is the GigaVUE-VM solution and will showcase the integration with NSX vSwitches to extend visibility policies into virtual machines by delivering VM traffic to the GigaVUE physical platforms while also automatically migrating these visibility policies during vMotion events. In addition, VMware will be speaking in the Gigamon booth about Accelerating VMware NSX Deployments. There will also be several other Gigamon technology partners speaking in the booth throughout the conference.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the development and release of new technology modules, and goals for our Unified Visibility Fabric architecture and the benefits of our relationship with VMware. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended June 28, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>VMware, VMware NSX, vCenter, VMworld are registered trademarks or trademarks of VMware, Inc. in the United States and other jurisdictions. The use of the word “partner” or “partnership” does not imply a legal partnership relationship between VMware and any other company.</p>
          <p>SOURCE Gigamon<br>MEDIA CONTACT: J.T. Eger, (408) 831-4247, <a href="mailto:jt@gigamon.com">jt@gigamon.com</a>; INVESTOR CONTACT: Cynthia Hiponia and Alice Kousoum, (408) 831-4100, <a href="mailto:IR@gigamon.com">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>