<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Bypass TAP for In-line Network Appliances</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-130" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/bypass-tap.pdf" target="_blank">bypass-tap.pdf </a> (36 KB pdf file)</p>
          <p><strong>Silicon Valley—June 28, 2010 - <a href="http://www.gigamon.com">Gigamon™</a>,</strong> the leading global provider of Intelligent Data Access Networking™, today announced from Cisco Live, a breakthrough Bypass Tap offering non-intrusive access for active in-line network security and monitoring appliances. The module is designed to work with the award-winning GigaVUE-420 Data Access Switch.</p>
          <p>With deployments of active and in-line network security and monitoring devices such as Intrusion Prevention Systems (IPS), firewalls, VPN gateways and in-line Deep Packet Inspection (DPI) appliances, the risk of tool failure presents risk to network connectivity. Gigamon’s Bypass Tap allows the appliance to perform directly in-line and eliminates that risk to the network. The Bypass Tap protects the network link from appliance failure.</p>
          <p>Patrick Leong, Gigamon’s CTO and Co-Founder, said “the new Bypass Tap module offers both active and passive bypass protection to the inline tool and at the same time allows traffic entering and leaving the inline tool to be aggregated, replicated, filtered, and mapped to the connected tools. We are a customer driven company. This kind of flexibility and powerful functionality is the kind of innovation that our customers have to come expect from the leader in this market and we delivered,” said Leong.</p>
          <p>“Our value to our customers has always been to collect the data from anywhere on the network, 24x7, and distribute the exact “wanted” data to any tool. Active in-line appliances need to evaluate that data in real-time and at the same time assure the customer that they will not pose a risk to the availability of the network. Gigamon’s new Bypass TAP provides that level of assurance,” said Kevin Jablonski, VP of Marketing and Business Development for Gigamon. “ The new module, GigaVUE TAP-BPC, is available immediately. To learn more, visit <a href="http://www.gigamon.com">http://www.gigamon.com</a> or call Gigamon’s headquarters at (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>