<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Announces Browser Based GUI For Data Access Network Management</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-11" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/network-troubleshooting-gui.pdf" target="_blank">network-troubleshooting-gui.pdf</a> (34 KB pdf file)</p>
          <p>Silicon Valley, CA - November 13, 2008 - Gigamon™, the leading provider of intelligent data access networking products, the core of out-of-band DAN (Data Access Networking) deployment, today announced a new Web-based GUI to simplify the management of Data Access Networks. The GUI (Graphical User Interface), slated for release in early 2009, can provide an intuitive option to the command line interface used to configure and manage Gigamon’s GigaVUE™ data access switches. Gigamon’s Web-based GUI brings even greater convenience and effectiveness to the business of operating Data Access Networks.</p>
          <p>Gigamon’s DAN switching platform has helped reshape the network monitoring landscape thanks to its ability to solve tool deployment problems, consolidate otherwise distributed tools, and enable co-existence of a variety of network monitoring tools. The DAN concept, pioneered by Gigamon, provides exactly the packets needed to carry out a tool’s function, without impacting network operations. More importantly, it reduces the capital and operational cost in monitoring, securing or troubleshooting networks and network applications.</p>
          <p>ntuitive Drag-and-Drop Simplicity</p>
          <p>Mapping SPAN ports or TAPs to connected monitoring tools will be a visual, drag-and-drop function of the new, secure GigaVUE GUI. Intelligent configuration planning aids will warn the administrator if a monitoring tool will be potentially overloaded with traffic as a result of the aggregation, or assist in defining simple or complex filters (including filtering by higher layer attributes) and insure that security protocols are followed to protect sensitive data.</p>
          <p>“Our customers advised us to focus on GigaVUE’s performance, features and utility first, in favor of working on drag and drop management.” said Tom Gallatin, Gigamon’s Vice President of Marketing and Sales. “We listened and put development of the world class meat and potatoes functions before the GUI sauce.” Gallatin continued, “Now after completing the development of the GigaVUE-2404 high density 10 Gigabit platform, it is time to top it off with a world class GUI DAN Management tool.”</p>
          <p>Gigamon’s upcoming optional web based GUI will be available in addition to the GigaVUE’s existing command line interface. Other features of the Web-based GUI will include:</p>
          <ul>
           <li>Single view DAN configuration management</li>
           <li>DAN performance monitoring</li>
           <li>Intelligent aggregation of multiple SPAN or TAP sources to consolidate tools</li>
           <li>Intelligent packet replication to enable sharing data sources</li>
           <li>Advanced filter creation and load balancing</li>
           <li>Secure access to sensitive data</li>
           <li>SNMP traps and alarms</li>
           <li>TACACS+ and RADIUS authentication</li>
           <li>Award-Winning Solution</li>
          </ul>
          <p>Gigamon’s DAN technology has earned the Emerging Technology of the Year award in the world monitoring market from Frost &amp; Sullivan. Over 1,650 GigaVUE units are already in use at over 400 telecom, industrial, manufacturing, financial, banking, medical, utility and government networks worldwide. Current users include Apple, Chevron, Cisco, eBay, the U.S. Federal Reserve, Capital One, Deutsche Bank, Royal Bank of Canada, Fidelity Investments, JCPenney, NASA, Northwestern Insurance, the NYSE, Raytheon, Toyota, Sprint, AT&amp;T, Verizon, T-Mobile, Vodafone, NTT, KDDI, and the U.S. Department of Defense, among many others.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>