<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Launches Innovative Incentive Program for GigaSECURE Resellers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1394" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Cutting-edge program from Gigamon expands the security delivery platform opportunity for qualifying partner salespeople and engineers</em></h2>
          <p><strong>Santa Clara, Calif., (September 14, 2016)</strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the industry leader in traffic visibility solutions, announced today the launch of its Sell Smart Incentive Program in the US and Canada, an innovative offering that rewards Gigamon Value Added Resellers (VARs) for selling qualifying security solutions built on the GigaSECURE ® Security Delivery Platform. Qualifying opportunities are primarily based on completed sales which include at least two products from a list of Gigamon technology ecosystem partners in addition to the GigaSECURE security delivery platform.</p>
          <p>The Sell Smart Incentive Program builds on the need for efficient, scalable security architectures that combine the strengths of several best of breed security tools. This is the core benefit of the Gigamon Security Delivery platform – security made more effective through visibility. By promoting GigaSECURE, together with the offerings of our ecosystem partners, Gigamon allows partners to:</p>
          <ul class="pr-listing">
           <li>Offer the breadth of their security offerings for integrated, multi-tiered defenses</li>
           <li>Showcase their services for building customized security architectures</li>
           <li>Increase initial purchase order with an optimized and scalable security stack</li>
           <li>Earn rewards for team members for offering complete and scalable security stacks</li>
          </ul>
          <p>“Gigamon continues to impress us with their commitment to the channel and solutions sales enablement by offering training, certification and now incentive programs that translate to support of our mutual success, “said Brad McCain, Vice President of Data Solutions at Carousel Industries. “This program is designed around salespeople, engineers and security technology vendors, showing that Gigamon really understands the approach we take with security customers.”</p>
          <p>In addressing the parameters of the Sell Smart Incentive Program, VARs sell GigaSECURE, together with products from a large and expanding list of participating vendors which currently include: Acuity Solutions Corp./BluVector, Bivio Networks, Blue Coat Systems, Centripetal Networks, Inc., Check Point, Cisco Systems, Cyphort Inc., Damballa, Datiphy, Inc., ExtraHop Networks, Fidelis Cybersecurity, FireEye, Inc., FlowTraq, Hewlett Packard Enterprise, Imperva, Inc., Jask, Kentik, Lastline, Inc., LightCyber, LogRhythm, Lumeta Corporation, Managed Methods, Niara, Inc., Palo Alto Networks, Plixer International, Inc., ProtectWise, Reservoir Labs, RSA, Savvius, Splunk, Trend Micro, Vectra Networks, Inc. and Viavi Solutions Inc.</p>
          <p>“Partnering with Gigamon to provide customers the flexibility to build their security posture has been a core tenet of the #wefightsmart campaign in which Check Point has been proud to take part,” said Alon Kantor, Vice President of Business Development at Check Point. “Amplifying the reach of this initiative through the reseller community is a natural extension of our efforts to protect customers from the next generation of cyber-attacks.”</p>
          <p>“Today’s security customers want multi-tiered architectures that offer a higher chance of detecting breaches and responding to threats” said Barbara Spicek, Vice President, Worldwide Channels, Gigamon. “We’ve designed the Sell Smart Incentive program to encourage our resellers to apply the breadth of their security offerings and design expertise in order to offer enterprises effective security architectures. Sell Smart aims to bolster our customers’ cyber defenses and make our resellers and ecosystem partners more competitive and successful through the power of visibility.”</p>
          <p>For more information on Gigamon’s GigaSECURE Security Delivery Platform, visit: <a href="/products/technology/gigasecure">https://www.gigamon.com/products/technology/gigasecure</a></p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network, and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/" target="_blank">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a>, or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>