<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon to Provide Traffic Visibility for World's Fastest Network at SC11</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-56" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Joins Top Educational and Research Institutions, High Performance Computing Centers, Network Equipment Vendors, U.S. Laboratories, Research Networks and Telecommunication Carriers To Define Future of Networking </strong></p>
          <p><strong>SILICON VALLEY, Calif</strong>. — <a target="_blank" title="Visit our website">Gigamon®</a>, the world leader in Traffic Visibility Networking solutions, today announced it will provide the visibility fabric for network security at SCinet, the world's fastest network serving <a href="http://sc11.supercomputing.org/" target="_blank" title="Visit Supercomputing 2011 in Seattle, Washington">SC11</a>, the annual international conference for High Performance Computing, networking, storage and analysis. The SCinet team will run Gigamon's visibility fabric technology to deliver pervasive network visibility and to reduce the volume of traffic destined for the security and monitoring infrastructure. This will protect the event cyber infrastructure to ensure maximum performance and reliability throughout the conference.</p>
          <p>"A trademark of the SC Conference is its highly sophisticated, high performance networking infrastructure to support revolutionary applications and network experiments," said Scott Campbell, SCinet's network security team co-chair. "To maintain this tradition, the SCinet team collaborates with leading-edge technology vendors each year for inclusion in the core infrastructure. We appreciate Gigamon's support for the SCinet mission and our goal to provide SC attendees a high quality network experience."</p>
          <p>SCinet uses premier networking technologies to build the fastest network in the world; powerful enough to transfer nearly 500 gigabits of data per second. This high-performance network is built each year by volunteers for SC exhibitors and attendees to showcase their world-class research, production HPC and advanced computing resources. SCinet features a state-of-the-art network that allows attendees and exhibitors to connect to the Internet and research networks around the world and the Research Sandbox which provides researchers a platform for experimentally testing and demonstrating innovative architectures, applications and protocols in the live SCinet network environment.</p>
          <p>Gigamon has been integrated into the SCinet infrastructure for the past 3 years to help monitor and secure its network operation centers and Internet access gateway. Gigamon will provide a traffic visibility fabric for monitoring and securing the network. The SCinet platform connects multiple 10 and 100 Gbps circuits to research and commercial networks around the world. Gigamon will aggregate the multiple 10Gbps connections between the border routers/WAN, while replicating and load balancing this traffic before delivering it to the monitoring infrastructure. The Visibility Fabric provides intelligent traffic filtering resulting in the elimination of superfluous traffic, ensuring that critical traffic is delivered to the centralized security suite. In addition, GigaSMART Stripping technology will be used to conduct VLAN header stripping of all network tools used to build SCinet to enable monitoring and protection of all traffic.</p>
          <p>"Our participation in SCinet every year is a clear demonstration and recognition of our market leading status," said Ted Ho, Gigamon CEO. "We have a well established reputation with organizations, including the National Center for Supercomputing Applications (NCSA) and the Defense Research and Engineering Network (DREN) for our ability to deliver the most complete visibility fabric in high performance and large networks. Moreover, our continued work with SCinet enables us to partner with some of the world's foremost networking experts to chart a course for the future of networking for the entire world. It is a privilege that we do not take lightly."</p>
          <p>SC11 will be conducted in Seattle, WA, from November 12-18, 2011. To learn more about Gigamon at the show, visit booth #5211.</p>
          <h3>About SC11</h3>
          <p>SC11, sponsored by IEEE Computer Society and ACM (Association for Computing Machinery) offers a complete technical education program and exhibition to showcase the many ways high performance computing, networking, storage and analysis lead to advances in scientific discovery, research, education and commerce. This premier international conference includes a globally attended technical program, workshops, tutorials, a world class exhibit area, demonstrations and opportunities for hands-on learning. For more information on SC11, please visit: <a href="http://sc11.supercomputing.org/">http://sc11.supercomputing.org/</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years' experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>