<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Wins MobilityTechzone Wireless Backhaul Distinction Award</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-38" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company’s High-Density Intelligent Traffic Visibility Switch, GigaVUE-HD8, Selected as Innovative Solution for Traffic Visibility</em></p>
          <p><strong>Silicon Valley, Calif., – December 12, 2011</strong>– <a href="http://www.gigamon.com/">Gigamon</a>®, the world leader in Traffic Visibility Networking solutions, announced that its high-density intelligent traffic visibility switch, <a href="/products/gigavue-hd-series">GigaVUE-HD8, </a>has been selected as a winner of the Third Annual Wireless Backhaul Distinction Award. The awards are presented by Mobility Techzone, a global, integrated media site dedicated to mobility and communications, and are sponsored by <a href="http://www.tmcnet.com/" target="_blank">TMC</a> and <a href="http://www.crossfiremedia.com/" target="_blank">Crossfire Media</a>. The awards honor companies that successfully demonstrate a commitment to wireless innovation.</p>
          <p>"Gigamon's selection as a winner of the Wireless Backhaul Distinction Award reflects the major role we play in creating solutions that address some of the most critical issues facing high speed network operators today," said Ted Ho, Gigamon CEO. “As traffic and data continue to increase at an exponential rate, companies need effective solutions to intelligently manage the massive amount of information flowing in and out of their networks. Gigamon’s core mission is to develop new and innovative ways to confront this new IT challenge. We're very pleased that MobilityTechzone has recognized our dedication and innovation."</p>
          <p>The GigaVUE-HD8 appliance is a high-density intelligent traffic visibility switch that replicates and filters network traffic for monitoring and security tools. It is first in its category to break the terabit backplane barrier and is able to support thousands of map rules at 10G+ line rates. Without the GigaVUE-HD8 in place, visibility and data access in higher speed networks, such as Telco 4G LTE and banking data center deployments, would be virtually impossible to secure and maintain. GigaVUE-HD8’s next-generation architecture makes these critical capabilities possible in today’s 1G and 10G network environments.</p>
          <p>“Our elite panel of judges had a difficult time selecting winners, but there were standouts that demonstrated exceptional innovation in wireless backhaul technologies,” stated Carl Ford, co-founder and community developer, Crossfire Media. “Gigamon’s GigaVUE-HD8 impressed the judges by showcasing its forward-thinking capabilities. We were delighted to present them with the Wireless Backhaul Distinction Award. We look forward to seeing more innovative products from them.”</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>