<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Adds Context-Aware Visibility to Standard NetFlow Metadata Generation</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-900" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Newest Release Extends NetFlow/IPFIX Metadata Records, Enabling Stronger Security</em></h2>
          <p><strong>Santa Clara, Calif., (Nov. 17, 2015)</strong> – <a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced new functionality via license in its GigaVUE Operating System (GigaVUE-OS) that enhance security capabilities by providing context-aware metadata information in the NetFlow/IPFIX format. By generating metadata, Gigamon gives advanced security appliances, such as SIEMs, critical context with which to better protect networks, applications and data, while simultaneously reducing infrastructure costs and performance overhead.</p>
          <p>“Within many enterprise networks, security appliances actually get too much information, so analysis results in a high number of false positives,” said Jai Balasubramaniyan, Director of Security Product Management, Gigamon. “By generating metadata that includes context-aware information, Gigamon enables security tools to perform more efficiently and effectively. They get to detect threats and places of compromise potentially much more quickly by using high-value, contextual data from our metadata.” &nbsp;</p>
          <p>In addition to generating URL, SIP and CDP information, the new metadata record generation via NetFlow/IPFIX now includes HTTP Response Codes that can be used by security tools to detect whether a server has been compromised and is redirecting a user to a malicious website or is simply unavailable because it is the target of a DoS/DDoS attack.</p>
          <p>“Having context to link actions, users and source/destination is crucial in order to make better security and policy enforcement decisions,” said Mike Potts, President and CEO of Lancope. “When using Lancope’s StealthWatch System combined with the Gigamon security delivery platform, administrators gain in-depth security context that helps creates a complete picture of their networks’ activity.”</p>
          <p>“As security becomes more complex, it becomes crucial for administrators to have solutions and technologies that simplify and automate policy enforcement,” said Zeus Kerravala, Analyst at ZK Research. “Generating metadata from NetFlow records is a huge step forward in keeping security simple yet highly effective.”</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <h3><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>