<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Appoints John Kispert to Board of Directors</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-84" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Gigamon Appoints John Kispert to Board of Directors</strong></p>
          <p><em>Company Expands Board of Directors With Networking Industry Leader</em></p>
          <p><strong>Silicon Valley, CALIF., December 17, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™, today announced the appointment of John Kispert, CEO of Spansion, to its board of directors. Kispert has also been appointed as a member of the company’s Audit Committee.</p>
          <p>“We are delighted to have John join our team,” said Corey Mulloy, chairman of the Gigamon Board of Directors. “John’s extensive industry knowledge and his broad executive experience as a veteran of the networking and information technology industry will enable him to provide strategic insight and a unique independent perspective to complement the strengths of our existing board members. He will be a great addition and we welcome him to the Gigamon board.”</p>
          <p>Mr. Kispert has served as president, chief executive officer and member of the board of directors of Spansion, Inc., a global leader of embedded systems solutions, since February 2009. Kispert has a broad background spanning executive, financial and operational roles. Prior to joining Spansion, Kispert spent 13 years in a number of finance and operational roles at KLA-Tencor including president, chief operations officer and chief financial officer. Prior to KLA-Tencor, Kispert held several senior management positions with IBM. Kispert holds a B.A. degree in Political Science from Grinnell College and a M.B.A. from the University of California, Los Angeles.</p>
          <p>"I'm pleased to join the Gigamon board of directors," said Kispert. "The company has experienced immense growth over the past few years and has an impressive history of innovation. Their unique approach to the network traffic visibility market should serve them well as they take their momentum forward. I look forward to contributing my knowledge and insight, and working with the Gigamon team.”</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-191581) and our Quarterly Report on Form 10-Q for the period ended September 28, 2013. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>