<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Chief Marketing Officer Peter Finter Recognized As 2015 CRN Channel Chief</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-666" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Santa Clara, Calif., (Feb. 23, 2015)</strong> – <a class="color: #307fe2" href="http://www.gigamon.com/">Gigamon</a>® Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified <a class="color: #307fe2" href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™, today announced that Chief Marketing Officer Peter Finter has been named to the prestigious list of the 2015 CRN Channel Chiefs. The influential executives on this annual list represent the most powerful leaders in the IT channel who hold responsibility for driving growth and revenue for their organizations through their channel partners. Individuals are selected for inclusion based on their track record of channel accomplishments, standing in the industry, dedication to the partner community, and plans for driving future business innovation and channel growth.</p>
          <p>The 2015 CRN Channel Chiefs have demonstrated their enduring support for the channel by consistently defending, promoting and executing effective channel partner programs and strategies.</p>
          <p>As CMO at Gigamon, Finter is responsible for all corporate, channel and product marketing, including the recent launch of Gigamon’s updated <a class="color: #307fe2" href="http://www.gigamon.com/company/newsroom/press-releases/deeper-and-stronger-gigamon-demonstrates-commitment-and-launches">partner program</a>, a worldwide channel program that rewards and enables VAR partners through a range of incentives and financial benefits, sales and technical certifications, sales enablement tools and access to marketing resources. In 2014, Finter facilitated the creation of Gigamon’s first partner training curriculum for sales and technical resources, designed to encourage the growth of Gigamon’s channels partners and their ability to offer support services to their customers. With global growth across the partner program, the company expanded its channel leadership last December with the appointment of <a class="color: #307fe2" href="http://www.gigamon.com/company/newsroom/press-releases/gigamon-appoints-scott-sullivan-vice-president-worldwide-channel-0">Scott Sullivan</a> as Vice President of Worldwide Channel Sales.</p>
          <p>“Each year, our editors carefully vet an extensive group of highly accomplished channel executives to highlight those exemplary individuals who earn the mantle of CRN Channel Chief. These executives strive to advance the success and standing of the channel community within their organizations. The 2015 CRN Channel Chiefs lead by example and serve as valuable advocates to help ensure the health and longevity of the IT channel. We applaud their accomplishments and look forward to their continued success,” said Robert Faletra, CEO, The Channel Company.</p>
          <p>“This award is an endorsement of Gigamon’s commitment to ensuring our partners’ success,” Finter said. “We understand that the channel community is always looking to expand its customer base while putting new technologies into practice, and Gigamon offers its partners the unique opportunity to do both. Initiatives like our updated <a class="color: #307fe2" href="http://www.gigamon.com/company/newsroom/press-releases/deeper-and-stronger-gigamon-demonstrates-commitment-and-launches">partner program</a> and the recent introduction of GigaVUE-OSTM software solutions on select third-party ‘white box’ hardware empower our partners to serve their customers with the best solutions and most comprehensive portfolio in the traffic visibility market, ultimately driving channel success.”</p>
          <p>The 2015 CRN Channel Chiefs list is featured in the February 2015 issue of CRN, and online at <a href="http://www.CRN.com">www.CRN.com</a>.</p>
          <h2>About Gigamon</h2>
          <p>Gigamon provides an intelligent <a class="color: #307fe2" href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a class="color: #307fe2" href="http://www.gigamon.com/">www.gigamon.com</a>, the <a class="color: #307fe2" href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a class="color: #307fe2" href="https://twitter.com/gigamon">Twitter</a>, <a class="color: #307fe2" href="https://www.linkedin.com/company/gigamon">LinkedIn </a>or <a class="color: #307fe2" href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <h2>About The Channel Company</h2>
          <p>The Channel Company, with established brands including CRN, XChange Events, IPED and SharedVue, is the channel community's trusted authority for growth and innovation, For more than three decades, we have leveraged our proven and leading-edge platforms to deliver prescriptive sales and marketing solutions for the technology channel. The Channel Company provides Communication, Recruitment, Engagement, Enablement, Demand Generation and Intelligence services to drive technology partnerships. Learn more at <a href="http://www.thechannelcompany.com">www.thechannelcompany.com</a>.</p>
          <h2>Legal Notice Regarding Forward Looking Statements</h2>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, our strategic product initiatives, including the timing, availability, benefits and adoption of white-box certified GigaVUE-OS, demand for our product portfolio and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; our ability to work with QCT and Agema to certify their hardware and successfully market the white-box solutions, customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended September 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law. # # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>