<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Moves into New Corporate Headquarters</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-132" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/new-gigamon-hq.pdf" target="_blank">new-gigamon-hq.pdf </a> (72 KB pdf file)</p>
          <p><strong>Silicon Valley—June 21, 2010 - <a href="http://www.gigamon.com">Gigamon™</a>,</strong> the leading global provider of Intelligent Data Access Networking™, today announced that it opened its nearly 50,000 square foot headquarters facility at 598 Gibraltar Dr. in Milpitas, California.</p>
          <p>“This is an important and strategic event for Gigamon. We are confident that the new facility will support the rapid growth of the company” said Ted Ho, CEO. Gigamon has successfully increased its revenue by greater than 55% year over year since 2007 and has been profitable since shipping the first GigaVUE in 2005. The entire GigaVUE product line is assembled, quality tested, packaged and shipped from this facility right here in the USA. Ted said, “We’ve come a long way and I want to express how thankful we are for all of our loyal customers who made this growth possible. This facility will help increase our responsiveness and capability to support and deliver more innovative products to our customers.”</p>
          <p>The new facility will also provide the space needed to support the increased hiring the company has been experiencing, adding over twenty key positions since the beginning of the year. Gigamon continues to seek world-class engineering talent for hardware and software development as it upholds its status as the leading innovator in the Data Access Market.</p>
          <p>“We are very excited about this move to a much larger facility. Our entire organization feels motivated and re-energized in our new surroundings. As our Data Access Market continues to expand, we needed more space to foster ideas and spontaneity, which has been the hallmark to our success” said Kevin Jablonski, Vice President of Marketing and Business Development. “Customers across the globe continue to choose Gigamon as an integral solution that ensures secure access and complete visibility of all their critical data, 24x7. With our newer and larger facility we are even better positioned to continue to meet the increasing demand for our GigaVUE product line.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, IntelligentDAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>