<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon wins multiple awards for its advanced network traffic management tools</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-739" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2>Two wins at the NetworkWorld Asia Information Management Awards follow another win at the Data Centre Solutions Awards in Europe<br>&nbsp;</h2>
          <p><strong>June 04, 2015</strong> – Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions with its innovative Unified Visibility Fabric™, announced today that it has recently won a series of awards from around the world for its advanced network traffic management solutions.&nbsp; On the 4<sup>th</sup> of June, 2015, at the NetworkWorld Asia Information Management Awards in Singapore, Gigamon won two awards in the categories of ‘Network Traffic Monitoring &amp; Management’ and ‘Network Testing &amp; Measurement’.&nbsp; This closely follows a win at the Data Centre Solutions Awards in London on the 14<sup>th</sup> of May where Gigamon won the award for ‘Datacentre ICT Networking Product of the Year’.</p>
          <p>“We are extremely happy to have received recognition and validation for our technical capabilities with these awards,” said Peter Finter, CMO at Gigamon. “Next-generation network deployments by enterprises, data centers and service providers face serious challenges in maintaining pervasive visibility of network traffic – both physical and virtual.&nbsp; Gigamon’s tools are designed to provide architects and admins with the ability to see more, secure more and do more with their network. These award wins are a testament to our success in helping organizations worldwide overcome their current and future network management and data center security challenges.”</p>
          <p>The <a href="http://www.networksasia.net/IMA2015/" target="_blank">NetworkWorld Asia Information Management</a> Awards recognize Asia's leaders in information security, storage and data management.&nbsp; They are the only regional editors' choice awards and are backed by leading Asian publications and portals – NetworkWorld Asia, Networks Asia, Security Asia and Storage Asia. &nbsp;This is the second year in a row that Gigamon has won in the ‘Network Traffic Monitoring &amp; Management’ category.&nbsp;<br><br>“Gigamon’s comprehensive range of network traffic management, analysis, compliance and security tools effectively gives organizations the ability to control and manage traffic for security and performance, as well as provide accurate and real-time data about the traffic, which is essential to testing and measuring network quality and network bandwidth optimization,” said Victor Ng, South-East Asia bureau chief of NetworkWorld Asia and editorial director of the Enterprise Group at Questex Media. “It comes as no surprise that Gigamon has won both the ‘Network Traffic Monitoring &amp; Management’ and ‘Network Testing &amp; Measurement’ categories in this year’s Information Management Awards. Congratulations!”<br><br>The Datacenter Solutions Awards are designed to reward the product designers, manufacturers, suppliers and providers operating in data centre arena. Gigamon’s win in the ‘Datacentre ICT Networking Product of the Year’ category was for its <a href="https://www.gigamon.com/products/gigavue-hc2">GigaVUE-HC2 hardware networking tool</a>, which provides essential visibility into complex, changeable networks and future-proofs IT with its ability to scale as network needs evolve.<br><br>The GigaVUE-HC2 node provides intelligent traffic visibility in a modular, mid-sized form factor to address complex network visibility requirements for both enterprise and service provider networks. The versatile, multi-purpose design incorporates a broad spectrum of capabilities within the device including port, bypass, embedded TAP modules and GigaSMART® packet manipulation options. With a combined throughput exceeding 1Tb, the node easily accommodates non-blocking port speeds of 1Gb, 10Gb and 40Gb. The GigaVUE-HC2 node future-proofs IT, scaling as network needs evolve. It accommodates thousands of map rules and features some of the industry’s highest-density line cards, all in a compressed form factor.</p>
          <p align="center">###</p>
          <p><strong>About Gigamon</strong></p>
          <p>Gigamon provides an intelligent <a href="http://www.gigamon.com/visibility-fabric-architecture">Visibility Fabric™</a> architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">http://www.gigamon.com/</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p><strong>Legal Notice Regarding Forward Looking Statements</strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>