<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon Enhances Centralized Management and Configuration for Network Visibility in Private Clouds and Virtualized Data Centers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-43" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>GigaVUE-VM 2.2 Extends Scalability for VMware Virtual Server Environments and GigaVUE‑FM 2.2 adds Single Pane of Glass for Centralized Visibility Fabric Management </em></p>
          <p><strong>Santa Clara, CALIF., May 19, 2014</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>® </sup>(NYSE: GIMO), a leader in network traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today forthcoming enhancements to its GigaVUE-VM Visibility Fabric node and GigaVUE-FM Fabric Manager. Virtualization has led to increased deployment of distributed applications, dramatically increasing the need for visibility at the Virtual Machine level. These concerns are addressed with the GigaVUE-VM 2.2 software update, which increases the scale of virtual visibility. The GigaVUE-FM 2.2 update introduces a “single pane of glass” graphical user interface (GUI), adding powerful configuration management capabilities to its current asset management capabilities for an intuitive management experience spanning physical and virtual Fabric Nodes across the Unified Visibility Fabric.</p>
          <p>“Private enterprise cloud environments utilize a variety of virtual switch technologies. With the virtual network potentially extending across multiple data centers, significant challenges arise when monitoring the health, performance and security of those environments.” said Ananda Rajagopal, VP of Product Management at Gigamon. “Our new software enhancements address those needs through a single pane of glass for configuration and management, and provides pervasive visibility in a private cloud deployment.”</p>
          <p>Monitoring, analytic and security tools have been providing insight for traffic analysis between network end points on the physical wire since their inception. However, the rise in distributed application architectures and API-based communication, the volume of app interactions has increased dramatically. Compounding the challenge of delivering pervasive visibility is the fact that these east-west application interactions take place on an increasingly virtualized infrastructure, causing the virtual network traffic to remain completely hidden from tools on the physical wire. Visibility to virtual network traffic is essential for enterprises to maintain ROI on their monitoring, analytic and security tools, and ensure the continued use and benefits of their existing tool investments.</p>
          <p>The GigaVUE-VM 2.2 software release will add support for VMware vSphere Standard Switch (VSS) in addition to the existing support for VMware vSphere Distributed Switch (VDS) and Cisco Nexus 1000V virtual switch. This software enhancement will provide support for hundreds of monitored hypervisors per vCenter and support for multiple vCenters benefitting private cloud data center deployments.</p>
          <p>The GigaVUE-FM 2.2 release will offer centralized configuration for all Visibility Fabric nodes in a customer’s environment, complementing existing asset management features. The software now includes a real-time operational dashboard that displays health statistics of the connected physical and virtual Visibility Fabric nodes, and visualized alerts.</p>
          <h3>About the Unified Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance, and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section27A of the Securities Act of 1933 and Section21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, the upcoming release of new product features, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our and our Quarterly Report on Form 10-Q for the period ended March 29, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>