<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Gigamon to Report Second Quarter 2013 Financial Results on July 29, 2013</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-100" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley, CALIF., July 1, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>(NYSE:GIMO), a leader in traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, today announced that it will release its financial results for the second quarter ended June 29, 2013 after the market closes on Monday, July 29, 2013. The company will host a conference call and live webcast for analysts and investors at 5:00 p.m. Eastern time on that day. The news release with the financial results will be accessible from the company's website prior to the conference call.</p>
          <ul>
           <li>Parties in the United States and Canada can access the call by dialing 1- 877-941-1427, using conference code 4627689.</li>
           <li>International parties can access the call by dialing 1- 480-629-9664, using conference code 4627689.</li>
          </ul>
          <p>The webcast will be accessible on Gigamon’s investor relations website at <a href="http://investor.gigamon.com">http://investor.gigamon.com</a> for a period of one year. A telephonic replay of the conference call will be available through Monday, August 5, 2013. To access the replay, parties in the United States and Canada should call 1-800-406-7325 and enter conference code 4627689. International parties should call 1-303-590-3030 and enter conference code 4627689.</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>