<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>High-Tech Veteran Michael Ruettgers Joins Gigamon’s Board of Directors</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-31" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Former Chairman &amp; CEO of EMC to help company further expand market leadership position in network monitoring solutions</em></p>
          <p><strong>MILPITAS, Calif., December 14, 2010 –</strong> <strong><a href="http://www.gigamon.com/">Gigamon™</a></strong>, the leading global provider of Intelligent Data Access Networking™, is pleased to announce the appointment of Michael Ruettgers to its Board of Directors. The insight, expertise and counsel from Ruettgers extensive experience managing and scaling technology companies will be invaluable in further accelerating the next stage of Gigamon’s growth.</p>
          <p>"We are very excited to have a seasoned veteran like Mike join our Board,” said Ted Ho, co-founder and chief executive officer, Gigamon. "With cloud computing moving into the mainstream of enterprise computing and large-scale deployments of 10-Gigabit networks, our business continues to expand into many new markets worldwide. Mike has experienced this type of expansion firsthand and managed it with great success. We are looking forward to working with him.”</p>
          <p>"I'm delighted to join Gigamon’s Board of Directors. Gigamon has a great story with an impressive history of profitability," said Ruettgers. "There is a growing enthusiasm for their products and they continue to prevail as a market leader. Gigamon laid a solid foundation that is similar to that of EMC in the late 80’s. At that time, EMC’s market cap was $75M and a decade later it was $210B, one of the greatest returned in NYSE history. I look forward to sharing my experiences with Gigamon and furthering their foundation for successful growth.”</p>
          <p>Ruettgers joined EMC in 1988 and served as CEO from 1992 until January 2001. Under his leadership, Ruettgers led EMC through a period of unprecedented growth, with revenues growing from $120 million to nearly $9 billion a decade later. His contributions to EMC continued as he served as Executive Chairman of EMC’s Board through 2005 when he was instrumental in leading all facets of corporate governance. Ruettgers has been named one of the "World's Top 25 Executives" by BusinessWeek; one of the "Best Chief Executive Officers in America" by Worth Magazine; one of the "25 Most Powerful People in Networking" by Network World.</p>
          <p>Gigamon has created a new market around a revolutionary way to access and monitor all of your network data traffic at a fraction of the cost. Founded in 2004 and choosing not to raise institutional capital, the company achieved profitability by the end of 2005. From 2006 to 2010, Gigamon experienced 55% year over year growth while still being bootstrapped. In 2010, with demand increasing and growth accelerating, the strategic decision was made to partner with Highland Capital Partners. Highland invested $22.8 million to fund global expansion and further expand the company’s market leadership position.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com.</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>