<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>iMarker selects Gigamon for deployment with its targetJ-based advertising platform</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-71" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>GigaVUE-2404 mid-density 10G Data Access Switch and iMarker platform deployed and generating revenue from new innovative services for telecom operators</em></p>
          <p><strong>Silicon Valley – May 3, 2011</strong>– <a href="http://www.gigamon.com/"><strong>Gigamon</strong></a>, the world's leading provider of Traffic Visibility Networking solutions, today announced that VSP <a href="http://www.imarker.ru/" target="_blank">iMarker</a> selected Gigamon to provide secure access and consolidation of traffic for its target-based advertising service platform, which is deployed in several telecom operators’ networks across Russian Federation, including OJSC Svyazinvest regional telco companies (MRK).</p>
          <p>“By employing Gigamon’s intelligent data access network architecture, iMarker was able to efficiently connect our platform to telco partner networks in a cost effective manner, while providing room for future growth.” said Vitaly Sattarov, CTO of iMarker, maker of the innovative iMarker target-based advertising platform.</p>
          <p>Using Gigamon G-TAP optical TAPs and GigaVUE-2404 intelligent data access switches, iMarker and their telco partner’s engineers were able to connect to highly utilized 10G Ethernet core network links to aggregate, filter and intelligently load-balance subscriber traffic consisting of over 100,000 subscribers per network link, for analysis by the iMarker platform. A solution brief that outlines this solution will be available from the Gigamon website.</p>
          <p>“Without the capabilities of our GigaVUE<sup>®</sup> intelligent data access switch, iMarker would not have had the necessary data visibility to their network tools, given the distributed nature of telco networks and the sheer amount of subscriber traffic on their 10Gigabit Ethernet links”, said Ted Ho, Gigamon’s CEO. “The ability of the GigaVUE<sup>®</sup> intelligent data access switch to aggregate and intelligently map traffic from multiple 10Gigabit Ethernet links, and load-balance that data across several instances of iMarker interfaces, provided a cost-effective and scalable deployment solution for their innovative platform”.</p>
          <p>The combined iMarker and Gigamon solution allows iMarker’s telco partners to create new sources of revenue from their subscribers, by offering innovative services such as target-based advertising and other personalized services.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <p>iMarker (<a href="http://www.imarker.ru/" target="_blank">www.imarker.ru</a>) is an innovative Internet-based advertising service in Russia, providing its customers unique targeting functionality based on location, gender, age and other parameters of the target audience. The service was launched in March 2011 and is operated by CJSC Virtual Service Provider.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>