<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Industry Veteran Duston Williams Joins Gigamon as Chief Financial Officer</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-122" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley, CALIF., March 5, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, the world leader in Traffic Visibility solutions, announced today that technology enterprise veteran Duston Williams has joined the company as Chief Financial Officer.</p>
          <p>Williams is responsible for all aspects of the organization’s financial operations and will help drive the next stage of the company’s development. He joins Gigamon from SandForce, Inc.</p>
          <p>“Gigamon continues to experience significant growth in our financial results and headcount with last year seeing a doubling of our workforce,” said Ted Ho, Gigamon co-founder and CEO. “A critical factor in driving this growth has been the building of a strong and experienced leadership team that can take the company forward into a new era. We’re excited to have Duston Williams join our team with his reputation for successfully working with market leading companies and his proven ability to manage the transition from the private to public market.”</p>
          <p>Over the past three decades, Williams has served in top finance and administration roles at both private and public companies. Prior to joining Gigamon, Williams served as Chief Financial Officer for SandForce, Inc., through its sale to LSI in January 2012. He has also served as the CFO for multiple technology companies including Infinera Corporation which he led to a successful IPO in 2007, Maxtor Corporation, Aruba Wireless Networks, Rhapsody Networks, and Western Digital Corporation. During his career, Williams has been recognized as a trusted advisor to the CEO supporting companies during times of significant growth.</p>
          <p>“Duston has an exceptional track record of success with high-growth companies, both public and private, making him a perfect fit for Gigamon at this time,” said Corey Mulloy, General Partner with Highland Capital Partners. “He brings the strategic and operational experience and expertise essential for driving the next stage of corporate growth.”</p>
          <p>“I’m excited to join Gigamon,” added Williams. “With a first-to-market pedigree, significant growth since inception of the organization and the on-going compelling results, I’m thrilled to be part of the team as we rapidly scale the worldwide adoption of Traffic Visibility Fabric solutions.”</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>