<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>InfoSecurity Russia'2010: How to ensure the reliability of the monitoring and protection of IT resources in conditions of traffic growth and the transition to 10GE</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-127" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>InfoSecurity Russia'2010: How to ensure the reliability of the monitoring and protection of IT resources in conditions of traffic growth and the transition to 10GE</strong></p>
          <p>Legal requirements, safety standards and internal policies of organizations forced the Gigamon to introduce new and innovative solutions for monitoring and protection. At the same time, traffic volumes and data rates continue to rise, including the widespread introduction of 10GE-channels. On how to ensure a reliable and operationally efficient approach to monitoring and protection with these new realities, the report says, "Monitoring and protection of data centers - and the problem of high traffic volumes and the widespread use of 10GE."</p>
          <p>"Challenges to protect the infrastructure and core applications, the need to monitor SLA-parameters, and the quality of critical systems requires access to data in real time. Departmental IT service monitoring, compliance and other groups within companies are often in competition for access to communication channels," said Derek Jackman, Vice President, EMEA Sales.</p>
          <p>Traditional mirroring solutions are severely limited, do not possess sufficient flexibility, as well as create an additional burden on the critical elements of infrastructure that could, in turn, affect the quality of services and availability of information. The use of so-called "insertion" is inexpensive, but at the same time an unsafe way of accessing the data, and not the most effective. High volumes of traffic in the networks of large organizations and service providers leads to the fact that the existing means of protection and monitoring systems can not cope with the flow of information.</p>
          <p>In its report, Derek Jackman talks about the complexities of using protective equipment and monitoring in the widespread use of communication channels 10GE and answers the following questions:</p>
          <ul>
           <li>How to optimize the performance of various protection and monitoring, unable to cope with high volumes of traffic</li>
           <li>How to reduce the "competition" for access to SPAN ports</li>
           <li>How to create a flexible infrastructure to access data and be able to adapt to changing circumstances and new challenges</li>
          </ul>
          <p>Gigamon is the founder and inventor of the data access (Data Access Network); solutions that allow the company to help IT departments, security monitoring and compliance teams to get a full vision of user activity, performance of key applications, vulnerabilities, and network activity, protecting the investment in the protection and monitoring and reducing the total cost of proactive protection and monitoring of IT infrastructure.</p>
          <p>More information about the company, the solutions presented at the exhibition InfoSecurity Russia. StorageExpo. Documation'2010, and all activities at the booth, see here:</p>
          <p><a href="http://www.infosecurityrussia.ru/2010/expo/gigamon">www.infosecurityrussia.ru/2010/expo/gigamon</a></p>
          <p>VII International exhibition InfoSecurity Russia. StorageExpo. Documation'2010 be held in Moscow from 17 to 19 November 2010. Venue: Sokolniki, 4 Pavilion.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>