<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>InfoWorld Top 15 Startups to Watch Award (2006)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-516" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h1>Tech startups to watch</h1>
          <h2>InfoWorld selects 15 startups whose technologies meet tough IT challenges and introduce intriguing new capabilities</h2>
          <p>Startups are back! or at least, startup fever is back. Scan the latest numbers from PricewaterhouseCoopers and you won’t find any hockey sticks -- the level of investment in enterprise-related technology startups has actually remained fairly flat, hovering between $1.5 and $2.3 billion per quarter from 2003 through 2005.</p>
          <p>Yet the excitement is palpable -- and not just because of all that flashy Web 2.0 stuff the press loves to cover.</p>
          <p>Look closely, and you’ll notice that today’s enterprise tech startups are much smarter and more targeted than the broad, change-the-world ventures of the go-go ’90s. During the past couple of years, we’ve seen countless demos from companies whose singular ingenuity has brought a smile to the face of even the most jaded editor. That’s why we decided, as a group, that it was time to draw attention to some of the most interesting plays we’ve encountered.</p>
          <p>Our main intent is to highlight new companies and products you probably haven’t heard of that offer innovative solutions to enterprise IT problems. All 15 of the companies covered here were founded in 2003 or later and have, in the view of InfoWorld editors or contributors, something special to offer enterprise customers. Generally, our picks address IT problems in a new way, rather than merely refining what has gone before.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>