<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>IntercontinentalExchange Selects Gigamon to Enable 10Gbps Monitoring</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-126" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Silicon Valley— October 12, 2010 - <a href="http://www.gigamon.com">Gigamon™</a></strong>, the leading global provider of Intelligent Data Access Networking™, today announced that IntercontinentalExchange has selected GigaVUE to provide secure access and complete visibility to their network.</p>
          <p>IntercontinentalExchange (NYSE: ICE) operates leading regulated exchanges, trading platforms and clearing houses serving the global markets for agricultural, credit, currency, emissions, energy and equity index markets. The company offers an integrated electronic trading platform for side-by-side trading of products in both futures and OTC markets, together with clearing, post trade, and market data services.</p>
          <p>Seeking a comprehensive, centralized and cost-effective way to access and monitor secure mission critical traffic on their 10Gbps network, ICE deployed The GigaVUE-2404 Data Access Switch. “The GigaVUE-2404 solution worked while delivering quick ROI for ICE. GigaVUE’s packet filtering technology is the most robust in the marketplace today,” said Jose Veras, Senior Security Engineer.</p>
          <p>The robust packet filtering was an important feature on the GigaVUE-2404 because ICE had both 10Gbps and 1Gbps network security and compliance tools. By filtering out unwanted packets network engineers were able to effectively monitor 10Gbps traffic with 1Gbps or 10Gbps tools at full line rate.</p>
          <p>“The GigaVUE-2404 provided the team with the ability to seamlessly send data to newer 10Gbps monitoring tools and legacy 1Gbps monitoring tools simultaneously, using Gigamon’s low-latency multi-tool maps and filtering. The filtering capability dramatically increased the efficiency of the security and compliance tools as they now receive easier to identify data at a more manageable data rate. ” said Kevin Jablonski, Gigamon’s VP of Marketing and Business Development. “We understand our customers need to show an immediate ROI and Gigamon continues to deliver that result.”</p>
          <p>For a complete case study, visit <a href="http://www.gigamon.com/case-studies">www.gigamon.com/case-studies</a> or call Gigamon’s headquarters at (408) 263-2022.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com</a>.</p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, Intelligent DAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>