<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Lead411 Silicon Valley HOT Company (2011)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-511" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>LOS ANGELES, Calif., - March 29, 2011 </strong>- In order to recognize the fastest growing technology companies in the Silicon Valley area, Lead411 is proud to announce the release of its "Hottest Companies in Silicon Valley" award.</p>
          <h1>Background</h1>
          <p>Each day, the Lead411 research team scours through 600+ press releases and business articles including venture capital fundings, company launches, new office openings, customer press releases, etc. This information has given insight to which are the fastest growing companies in the U.S. Their "Hottest Companies" awards have been created to recognize these fast growing companies in different geographic regions. This particular list originally started with over 4000 companies and it has been narrowed down to the top 102.</p>
          <p>"This year, the Silicon Valley List was exceptionally difficult," said Tom Blue, CEO of Lead411, "so many companies received large amounts of funding which led to a much larger list than normal"</p>
          <h1>About Lead411</h1>
          <p>Lead411 provides information, news, and research about U.S. companies and their executives. Founded in 2001, its goal has been to focus on quality corporate data that is valid and useful rather than producing as many company records as possible. In addition, Lead411 tracks company news in order to alert its customers about venture financing, new hires, hiring plans, etc. Customers include Gartner, Administaff and ADP.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>