<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>LTE Asia Awards: Best Traffic Management Product (2014)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-509" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>Santa Clara, CALIF., Nov. 3, 2014 – Gigamon® (NYSE: GIMO), a leader in traffic visibility solutions with its innovative Unified Visibility Fabric™, today announced that its GigaVUE-HC2 Multi-Purpose Visibility Fabric Node was recognized as the winner of LTE Asia Award 2014 for the Best Traffic Management Product.</p>
          <p>Gigamon’s Visibility Fabric™ delivers active visibility across physical, virtual, software-defined networks (SDN) and network function virtualization (NFV) environments to the centralized tools that manage, analyze and secure the network. The award judges commended the GigaVUE-HC2, introduced in March 2014, for its ability to address complex traffic visibility requirements for both service provider and enterprise networks.</p>
          <p>The GigaVUE-HC2 is a modular platform in the Visibility Fabric that combines a variety of functions including sophisticated traffic filtering, replication and aggregation, secure in-band TAPs to prevent unauthorized access to network traffic, and high-performance compute to support advanced traffic intelligence applications. Examples of traffic intelligence applications include stateful packet correlation capabilities that enable de-duplication, session-, subscriber- and device-level awareness for enhanced visibility, insight and control over traffic flows, the ability to summarize and generate NetFlow records from incoming traffic streams and many more. The ability of the GigaVUE-HC2 to support all these functions on a common platform provides maximum flexibility and a powerful combination of cost, reach and intelligence enabling administrators to achieve pervasive visibility across their infrastructure. With the ability to cluster multiple GigaVUE-HC2 nodes into a single logically managed entity, operators can easily scale their visibility infrastructure to maximize return on their traffic-based performance and security monitoring investments.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over ten years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>