<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon and Western Union to Highlight Power of Network Visibility at Cisco Live</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1237" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><em>Think Tank Session and new solution demonstrations will explore the benefits of network visibility for data center and cloud environments</em></h2>
          <p><strong>Santa Clara, Calif. and Las Vegas, Nev. (July 8, 2016) </strong>- Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions, invites <a href="http://www.ciscolive.com/us/">Cisco Live US 2016</a> attendees to join the Think Tank Session <strong>“Leveraging the Power of Visibility to Accelerate Cisco ACI Implementation”</strong> on Tuesday, July 12th. Joined by customer Western Union, Gigamon will delve into how network visibility can accelerate the transformation to Cisco ACI, as well as how metadata can extend its value and more quickly detect threats.</p>
          <p>Gigamon will also be showcasing its newest network visibility innovations at the event. To explore the latest capabilities and receive a demo, visit <strong>Gigamon</strong> <strong>booth</strong><strong> #2227</strong>.</p>
          <p><strong><u>Tuesday, July 12, 2016</u></strong></p>
          <p><strong>3:45 PM – 4:15 PM: Think Tank Session: Leveraging the Power of Visibility to Accelerate Cisco ACI Implementation</strong></p>
          <p style="margin-left:.5in;">Many organizations are transforming their architectures from legacy 3-tier architectures to a more modern Cisco Application Centric Infrastructure (ACI). This talk explores the power of network visibility to accelerate the transformation to Cisco ACI using the Gigamon Visibility Fabric™ while ensuring business continuity. A case study of how Western Union successfully deployed this approach to gain increased visibility in their infrastructure will be presented. Finally, the talk will explore a new dimension of visibility that goes beyond traffic visibility: the power of metadata exported via IPFIX and NetFlow records to complement and extend the value of traffic visibility and how this approach can be used to shorten mean time to threat detection in the kill chain.</p>
          <ul>
           <li style="margin-left: 0.5in;"><u>Location:</u><br>Cisco Live US 2016<br>Mandalay Bay<br><span style="font-size: 0.923em; line-height: 1.5em;">The Hub, Think Tank Session Theater<br>3950 S Las Vegas Blvd, Las Vegas, Nevada 89119</span></li>
          </ul>
          <ul>
           <li style="margin-left: 0.5in;"><u>Panelists:</u><br>Joseph Ordoñez, Network Engineer, Western Union<br>Ananda Rajagopal, VP Product Line Management, Gigamon</li>
          </ul>
          <p>For more information on Gigamon’s take on leveraging the power of network visibility in the cybersecurity fight, go to <a href="http://www.wefightsmart.com/">www.wefightsmart.com</a>.</p>
          <p><strong>Follow @Gigamon and #CLUS on Twitter for the latest updates from the event.</strong></p>
          <p>&nbsp;</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
          <p align="center">&nbsp;</p>
          <p align="center">&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>