<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon to Showcase the Power of Network Metadata at 7th Annual Splunk Conference</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1415" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Attendees are invited to explore strategies to deliver more signal and less noise to security appliances and gain seamless network visibility</em></p>
          <p><strong>Santa Clara, Calif. and Orlando, Fla. (September 20, 2016)</strong> - <a href="/">Gigamon Inc.</a> (NYSE: GIMO), the leader in traffic visibility solutions, invites participants at the <a href="https://conf.splunk.com/" target="_blank">7th Annual Splunk Conference</a> to learn more about the benefits of metadata and Gigamon’s solutions to achieve pervasive visibility across the network.</p>
          <p>Gigamon will demonstrate how leveraging network metadata can increase the efficiency of security tools by ensuring the identification and delivery of the right information to operational intelligence platforms like Splunk. Gigamon experts will delve into the compliance challenges of highly regulated industries such as healthcare and finance and shed light on how metadata can separate signal from noise and enable faster time to detection of problems and potential threats.</p>
          <p>Attendees will also learn how to:</p>
          <ul class="pr-listing">
           <li>Marry big data solutions with SIEM type technologies to properly identify anomalies and stay one step ahead of attackers</li>
           <li>Leverage Gigamon’s powerful and unique solutions as a core component of their cyber security strategy</li>
           <li>Build a detection-based strategy that involves building context of the organization’s operating environment, triangulating bad-like behavior against what is normal-like behavior for an organization and trying to identify anomalies that could lead to the presence of malware in the organization</li>
          </ul>
          <p>To explore how to use metadata to get the most out of your Splunk implementation, allowing security administrators to improve security efficacy and reduce time to incident detection, visit Gigamon in booth M12.</p>
          <p>For more information on the benefits of network metadata, visit: <a href="/resources/white-paper/nine-metadata-use-cases-how-use-metadata-make-data-driven-decisions-3206">https://www.gigamon.com/resources/white-paper/nine-metadata-use-cases-how-use-metadata-make-data-driven-decisions-3206</a></p>
          <p>Follow @Gigamon and #splunkconf16 on Twitter for the latest updates from the event.</p>
          <p>.conf2016 will feature more than 175 technical sessions, including more than 80 customer presentations, and is expected to attract IT, security and business professionals who know the value of their data. The conference will be held September 26 – 29, at The Walt Disney World Swan and Dolphin Resorts, Orlando, FL, with three days of optional education classes through Splunk University, September 24 – 26, 2016.</p>
          <p>.conf2016 attendees will learn how to gain Operational Intelligence from machine-generated data by improving customer experience and service delivery, enhancing IT performance, shipping better code faster, providing timely business insights or reaching new levels of security in their organization. With more than 50 percent of the Fortune 100 in attendance, it’s the best place to learn how leading companies are using Splunk. Attendees will share best practices, discover new features and ways to implement Splunk software to gain insights from their data. <a href="https://splunkconf2016.smarteventscloud.com/portal/newreg.ww">Register for .conf2016</a>. At the conference, follow us on <a href="https://www.linkedin.com/company/3784269">LinkedIn </a>and Twitter <a href="https://twitter.com/Splunkconf">@splunkconf</a> (all conversations tagged <a href="https://twitter.com/search?q=%23splunkconf16&amp;src=typd">#splunkconf16</a>).</p>
          <h3>Gigamon</h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog/" target="_blank">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p><em>Splunk, Splunk&gt;, Listen to Your Data, The Engine for Machine Data, Hunk, Splunk Cloud, Splunk Light, SPL and Splunk MINT are trademarks and registered trademarks of Splunk Inc. in the United States and other countries.</em></p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>