<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon Talks Automated Traffic Visibility for the Software-Defined Data Center at VMworld 2016 in Las Vegas</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1329" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong><em>Gigamon and Ecosystem Partners highlight s</em></strong><strong><em>ecurity and monitoring strategies to enable visibility into virtual workloads</em></strong></h2>
          <p>Santa Clara, Calif. and Las Vegas, Nev. (August 25, 2016) - <a href="https://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, invites <a href="http://www.vmworld.com/en/us/index.html">VMworld 2016 US</a> participants to attend Gigamon speaking sessions and meet with company executives at the event. Together with leading ecosystem partners VMware, RSA, Riverbed, Live Action and ExtraHop, Gigamon will discuss automated traffic visibility for the software-defined data center (SDDC).&nbsp;&nbsp;</p>
          <p>With more than 80 percent of the workloads in the data center expected to be virtual by 2019<sup><sup>[1]</sup></sup>, a primary challenge for centralized monitoring infrastructure is to access this virtual traffic for application, network and security analysis. Gigamon experts will discuss these challenges and more in <strong>booth #727</strong>.</p>
          <p>Conference attendees can also view demonstrations of the GigaSECURE Security Delivery Platform and explore functionality that addresses traffic visibility for the SDDC including automated traffic visibility with NSX, visibility in motion with ESX and network auto-discovery and topology visualization. Gigamon ecosystem partners will also highlight additional capabilities in the Gigamon booth.</p>
          <p>Here is the agenda of Gigamon’s key events at the show:</p>
          <p><strong><u>Tuesday, August 30, 2016</u></strong></p>
          <p>1:20pm - 1:40pm: Automated Traffic Visibility for VMware Powered Private Clouds</p>
          <p>With rapid adoption of VMware NSX-powered software-defined data centers that ease and automate onboarding the tenant workloads over virtualized networks while providing micro-segmentation services, there is also an increasing demand to automate the monitoring of these workloads. Collaborating with VMware and using NSX Dynamic Service Insertion, Gigamon’s Automated Traffic Visibility solutions enable SecOps and NetOps teams to automate the selection, filtering and forwarding of the ever-growing east-west virtual traffic for security and monitoring analysis.</p>
          <p style="margin-left:.5in;"><u>Location:</u><br><span style="font-size: 0.923em; line-height: 1.5em;">VMworld 2016 US</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Mandalay Bay Hotel &amp; Convention Center - Solutions Exchange Theater B</span><br><span style="font-size: 0.923em; line-height: 1.5em;">3950 S Las Vegas Blvd, Las Vegas, NV 89119</span></p>
          <p style="margin-left:.5in;"><u style="font-size: 0.923em; line-height: 1.5em;">Speakers:</u><span style="font-size: 0.923em; line-height: 1.5em;"> Sesh Sayani, Director – Product Management, Gigamon</span></p>
          <p>&nbsp;</p>
          <p><strong><u>Thursday, September 1, 2016</u></strong></p>
          <p>1:30pm - 2:30pm: Automating Traffic Visibility for the Software-Defined Data Center</p>
          <p>Next-generation private clouds powered by VMware NSX are being designed from the ground up for scale and agility, and VM-to-Host consolidation ratios are touching 50:1 to 100:1. Thus, the SecOps and NetOps teams that are charted to secure, record, and analyze this traffic are demanding automated and continuous visibility of these virtual workloads. This session describes how the ITOps teams can automate traffic visibility for the SDDC, leveraging VMware NSX Dynamic Service Insertion and Gigamon Security Delivery Platform, while preserving the security and monitoring investments. A use case for a large federal civilian agency automating their traffic visibility will also be discussed to illustrate the technical details and business benefits.</p>
          <p style="margin-left:.5in;"><u>Location:</u><br><span style="font-size: 0.923em; line-height: 1.5em;">VMworld 2016 US</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Mandalay Bay Hotel &amp; Convention Center – Islander C, Level 1</span><br><span style="font-size: 0.923em; line-height: 1.5em;">3950 S Las Vegas Blvd, Las Vegas, NV 89119</span></p>
          <p style="margin-left:.5in;"><u style="font-size: 0.923em; line-height: 1.5em;">Speakers:</u><span style="font-size: 0.923em; line-height: 1.5em;">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Vyenkatesh Deshpande, Sr. Product Line Manager, VMware</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Sesh Sayani, Director – Product Management, Gigamon</span></p>
          <p>Follow @Gigamon, #VMworld and #VMworld2016 on Twitter for the latest updates from the event.</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p align="center">&nbsp;</p>
          <p><sup><span style="font-size: 11.3591px; line-height: normal;">[1]</span></sup><span style="font-size: 0.923em; line-height: 1.5em;">&nbsp;According to Cisco Global Cloud Index, October 2015 </span><a href="http://www.cisco.com/c/en/us/solutions/service-provider/global-cloud-index-gci/index.html" style="font-size: 0.923em; line-height: 1.5em;">http://www.cisco.com/c/en/us/solutions/service-provider/global-cloud-index-gci/index.html</a></p>
          <div>
           <div id="ftn1">
            <p>&nbsp;</p>
           </div>
          </div>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>