<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon Announces Full Slate of Activities at RSA Conference 2016</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1023" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Santa Clara, Calif. (February 25<sup>th</sup>, 2016) </strong>- Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions, cordially invites RSA Conference 2016 attendees to connect with the company and its experts through a wide array of activities and events. Along with its industry-leading partners, Gigamon will be discussing and demonstrating how security teams can now fight smarter in the battle against cybercriminals.</p>
          <p>From educational sessions to networking engagements to demonstrating the benefits to its Security Delivery Platform, Gigamon has RSA Conference attendees covered. The company’s booth, Moscone South Expo #S1227, will be the epicenter of activity for attendees who are looking to make existing, and planned, security infrastructures more effective by identifying and mitigating threats inside networks while eliminating blind-spots.</p>
          <p>To follow is a daily agenda of key events:</p>
          <p><strong><u>Tuesday, March 1, 2016</u></strong></p>
          <p style="margin-left:.5in;">●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>7:00-11:00 PM PST: </strong>Palo Alto Networks and Gigamon After Party at <a href="http://terrasf.com/">Terra Gallery</a></p>
          <p>&nbsp;</p>
          <p><strong><u>Wednesday, March 2, 2016</u></strong></p>
          <p style="margin-left:.5in;">●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>8:30 AM PST: </strong>Gigamon hosts a “Federal User Group Breakfast”</p>
          <p style="margin-left:1.0in;">○&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The 2015 Verizon Data Breach Incident Report (DBIR) makes it clear that the public sector is heavily targeted by bad actors. Join our User Group to hear from the people charged with protecting the networks of public sector organizations. They'll speak about the strategies and tactics they employ to design security architectures for protecting citizen data and mission critical infrastructure in today’s relentless threat environment. Speakers from Gigamon include:</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Dennis Reilly</strong>, Vice President, Federal</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Paul Hooper</strong>, Chief Executive Officer</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Ananda Rajagopal</strong>, Vice President, Product Line Management</p>
          <p style="margin-left:.5in;">●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>12:00-2:00 PM PST: </strong>CSO Luncheon “Turning the Tables on Attackers”</p>
          <p style="margin-left:1.0in;">○&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; An all-star panel will discuss how the cybersecurity landscape has changed from a faith in prevention to an assumption of compromise and the questions that have arisen from the associated power structure:</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>CSO</strong> <strong>Magazine</strong> Publisher, Bob Bragdon (moderator)</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>FireEye</strong> Chief Security Strategist, Lance Dubsky</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Former <strong>Bloomberg</strong> CISO and <strong>Gigamon</strong> Security Fellow, Simon Gibson</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Fidelis Cybersecurity</strong> CSO and former FireEye Chief Solutions Strategist, Justin Harvey</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Verisign</strong> Security Operations Leader, James Adair</p>
          <p style="margin-left:1.5in;">■&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Optiv</strong> Director of Information Security, Sean Cordero</p>
          <p style="margin-left:.5in;">●&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>6:00-8:00 PM PST: </strong>Check Point Software and Gigamon After Party at <a href="http://www.samovartea.com/locations/yerba-buena-gardens/">Samovar Tea Lounge</a> in Yerba Buena Gardens</p>
          <p><strong>Follow @Gigamon and @RSAC on Twitter for the latest updates from the Show.</strong></p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<ins cite="mailto:Elizabeth%20Toepfer" datetime="2016-02-22T11:25">™</ins> and GigaSECURE<sup>®</sup> , the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>