<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: General Michael Hayden to Deliver Keynote Address at Gigamon Federal Cybersecurity Summit</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1156" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong><em>Cybersecurity leaders panels with FEMA, DOE,</em></strong><strong><em> Deputy Department of the Navy,</em></strong><strong><em> Raytheon, FireEye, Fidelis Cybersecurity and </em></strong><strong><em>ForeScout</em></strong><strong><em> to discuss turning the tables on attackers</em></strong></h2>
          <p><strong>Santa Clara, Calif. (May 19, 2016) </strong>- <a href="https://www.gigamon.com/">Gigamon Inc.</a> (NYSE: GIMO), the leader in traffic visibility solutions, will be holding its inaugural Gigamon Federal Cybersecurity Summit on Tuesday, May 24th from 7:00 a.m. to 12:00 p.m. at the Ronald Reagan Building &amp; Trade Center in Washington, D.C. The half-day event features a keynote by retired four-star General Michael Hayden, the former director of the CIA and the NSA, and panels featuring cybersecurity leaders from FEMA, DOE, Department of the Navy, Raytheon, FireEye, Fidelis Cybersecurity and ForeScout. Dennis Reilly, Gigamon’s Vice President of Federal, will help to lead the event.</p>
          <p style="margin-left: 40px;"><strong>What:&nbsp;Gigamon Federal Cybersecurity Summit</strong><br><strong style="font-size: 0.923em; line-height: 1.5em;">Date:&nbsp;</strong><span style="font-size: 0.923em; line-height: 1.5em;">Tuesday, May 24th</span><br><strong style="font-size: 0.923em; line-height: 1.5em;">Time:&nbsp;</strong><span style="font-size: 0.923em; line-height: 1.5em;">7:00 a.m. - 12:00 p.m. &nbsp;</span><br><strong style="font-size: 0.923em; line-height: 1.5em;">Location:&nbsp;</strong><span style="font-size: 0.923em; line-height: 1.5em;">Ronald Reagan Building &amp; Trade Center<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 0.923em; line-height: 1.5em;">Pavilion Room<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 0.923em; line-height: 1.5em;">1300 Pennsylvania Ave NW<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span><span style="font-size: 0.923em; line-height: 1.5em;">Washington, DC 20004</span></p>
          <p>General Michael Hayden will deliver the event keynote <strong><em>“Cyber Security and the Threat of a Cyber Attack.”</em> </strong>General Hayden was on the frontline of geopolitical strife and the war on terror when communication methods were being revolutionized, and he recognized that the world of information was changing rapidly. Hayden understands our nation’s need to adapt to our ever-changing informational landscape and the dangers, risks, and potential rewards of our digital security situation. Having served as the number one military intelligence officer in the country, he will discuss geopolitics, cyber security, our vulnerabilities and challenges, the threat of a real attack and its potential ramifications.&nbsp;</p>
          <p>The event will also feature two cybersecurity leaders panels on the topic of <strong>“<em>Reversing the Asymmetry Between the Attacker and Defender.</em>”</strong> The panels will delve into the topic from both the DOD and civilian agency perspectives covering how increased visibility, adaptive defense, and other strategies can help protect federal agencies. Panelists will also answer questions around how CIOs and CISOs can affordably deploy, secure, operate and defend a high-performance network.</p>
          <h3><strong>Cybersecurity Leaders Panel – DoD</strong></h3>
          <p>Moderator: Dennis Reilly, Vice President of Federal, <em>Gigamon</em><br><span style="font-size: 0.923em; line-height: 1.5em;">Panelists:</span></p>
          <ul>
           <li>Janice C. Haith, Director, <em>Deputy Department of Navy Chief Information Office</em></li>
           <li>Michael K. Daly, CTO, <em>Raytheon</em></li>
           <li>Lance Dubsky, Chief Security Strategist, <em>FireEye</em></li>
           <li>Justin Harvey, CSO, <em>Fidelis Cybersecurity</em></li>
          </ul>
          <h3><strong>Cybersecurity Leaders Panel – Civilian Agencies </strong></h3>
          <p>Moderator: Ryan Morris, Sr. Director, Operations, <em>BAI Federal</em><br><span style="font-size: 0.923em; line-height: 1.5em;">Panelists:</span></p>
          <ul>
           <li>Donna S. Bennett, CISCO, <em>FEMA</em></li>
           <li>Paul Cunningham, CISO, <em>DOE</em></li>
           <li>Wallace Sann, CISSP-ISSEP, CIPP/G, CCSK, U.S. Public Sector CTO, <em>ForeScout</em></li>
          </ul>
          <p>The event will also feature a Gigamon solutions overview and a partner pavilion. Gigamon partners that will be demonstrating their solutions include: Palo Alto Networks, Blue Coat, RSA, FireEye, Fidelis Cybersecurity, ForeScout, Niara, Vectra Networks, BAI Federal, ProtectWise, Fast Lane, Carahsoft and Immix Group. &nbsp;</p>
          <p>To register for a complimentary seat at the Gigamon Federal Cybersecurity Summit, visit: <a href="http://insight.gigamon.com/WeFightSmartSummit-Federal_Registration.html">http://insight.gigamon.com/WeFightSmartSummit-Federal_Registration.html</a></p>
          <p>If you are a member of the media wishing to attend, please contact: <a href="mailto:gigamonpr@merrittgrp.com">gigamonpr@merrittgrp.com</a></p>
          <p>Follow @Gigamon and #wefightsmart #gigamonsummit for the latest updates from the event.</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE<sup>®</sup>, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p>&nbsp;</p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>