<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon and San Diego County Credit Union Talk Security and Big Data at Gartner Catalyst Conference 2016</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1293" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2><em>Panel to share active security defense strategies and insights into the role metadata solutions play in today’s changing cybersecurity threat landscape</em></h2>
          <p><strong>Santa Clara and San Diego, Calif. (August 11, 2016) </strong> – <a href="/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, invites Gartner Catalyst Conference 2016 attendees to join the expert security panel discussion on Monday, August 15<sup>th</sup>, “<a href="http://www.gartner.com/events/na/catalyst?cm_mmc=CATUS6-_-van-_-1-_-hp#!exhibitorDetails-22131" target="_blank">Metadata, Big Data and the Coming Tectonic Shift in Security</a>.”</p>
          <p>During this session, Gigamon CTO Shehzad Merchant and San Diego County Credit Union CISO Scott Maxwell will explore how defenders need to rethink their cyber security strategies with intelligence-based defense that addresses each attack life cycle stage beyond the initial breach. Gigamon and San Diego County Credit Union will share advantageous strategies for defenders to become the dominant player in breach detection and prevention.</p>
          <p>Alongside the joint session, event attendees are encouraged to visit <strong>Gigamon booth #601</strong> at the Solution Showcase Theater to explore the GigaSECURE® Security Delivery Platform and recently announced end-to-end network topology visualization capability.</p>
          <p><strong><u>Monday August 15, 2016</u></strong></p>
          <p><strong>1:00-1:20 PM PT: Metadata, Big Data and the Coming Tectonic Shift in Security</strong></p>
          <p>While yesterday’s security model was largely based on prevention of breaches, a clear shift is underway towards the internal detection of breaches combined with containment. This approach provides an opportunity to reverse the asymmetry between the attacker and defender, shifting the advantage towards the latter, and big data solutions are key to this changing landscape. Come hear Gigamon’s CTO, Shehzad Merchant, and San Diego County Credit Union’s CISO, Scott Maxwell, discuss this approach and more.</p>
          <ul>
           <li><u>Location:</u>
            <ul>
             <li>Gartner Catalyst Conference<br>Grand Hyatt Manchester (Solution Showcase Theater, the show floor)<br>1 Market Place<br>San Diego, CA</li>
            </ul></li>
           <li><u>Presenters:</u>
            <ul>
             <li>Shehzad Merchant, CTO, Gigamon</li>
             <li>Scott Maxwell, Senior Vice President, Chief IT Security Officer, San Diego County Credit Union</li>
            </ul></li>
          </ul>
          <p>Follow @Gigamon, @Gartner_inc and #GartnerCAT on Twitter for the latest updates from the conference.</p>
          <h3><strong><u>Gigamon</u></strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="/">www.gigamon.com</a>, the <a href="/blog" target="_self">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon" target="_blank">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon" target="_blank">LinkedIn</a> or <a href="https://www.facebook.com/gigamon" target="_blank">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended December 27, 2015 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <h3>Media Contacts:</h3>
          <div class="table-responsive table-section">
           <table class="table">
            <tbody>
             <tr>
              <td>Johnnie Konstantas<br>Gigamon<br>+1 (408) 831-4407<br><a href="mailto:johnnie.konstantas@gigamon.com" target="_blank">johnnie.konstantas@gigamon.com</a></td>
              <td>Tom Rice<br>Merritt Group<br>+1 (703) 856-2218<br><a href="mailto:gigamonpr@merrittgrp.com" target="_blank">gigamonpr@merrittgrp.com</a></td>
              <td>Cynthia Hiponia<br>Investor Relations<br>+1 (408) 831-4100<br><a href="mailto:IR@gigamon.com" target="_blank">IR@gigamon.com</a></td>
             </tr>
            </tbody>
           </table>
          </div>
          <p>&nbsp;</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>