<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Advisory: Gigamon CTO Shehzad Merchant to Discuss the Role of White Box Solutions in Traffic Visibility at Ethernet Technology Summit</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-700" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h3>What</h3>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">“Leveraging white box solutions to scale security and performance monitoring”</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Gigamon CTO, Shehzad Merchant</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Ethernet Technology Summit</span></p>
          <h3>When</h3>
          <p>Tuesday, April 14<br><span style="font-size: 0.923em; line-height: 1.5em;">10:30 a.m. – 12 p.m. PT &nbsp;</span></p>
          <h3><span style="font-size: 0.923em; line-height: 1.5em;">Where</span></h3>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">Santa Clara Convention Center</span><br><span style="font-size: 0.923em; line-height: 1.5em;">5001 Great American Pkwy</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Santa Clara, CA 95054</span></p>
          <h3><span style="font-size: 0.923em; line-height: 1.5em;">Details</span></h3>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">Gigamon CTO Shehzad Merchant will discuss how to leverage white box solutions to scale security and performance monitoring during </span><a href="http://www.ethernetsummit.com/" style="font-size: 0.923em; line-height: 1.5em;">The Ethernet Technology Summit</a><span style="font-size: 0.923em; line-height: 1.5em;"> on Tuesday, April 14.</span></p>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">Network traffic is quickly becoming the gold standard for securing, monitoring and managing application performance and customer experience. However, increases in traffic, user and machine mobility, and virtualization are fundamentally changing the deployment architecture of security and performance management tools. These changes are driving a need to significantly expand traffic visibility to get closer to the application, desktop and user, which in turn is leading toward a two-tier model for traffic visibility solutions.</span></p>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">Merchant will discuss how the two-tier model provides an opportunity to leverage white-box solutions enhanced with software to establish visibility nodes for the infrastructure edge with high performance, purpose-built nodes at the core. This enables SSL decryption, de-duplication and filtering to serve a centralized tool farm for security, application performance and customer experience monitoring.</span></p>
          <p><span style="font-size: 0.923em; line-height: 1.5em;">Merchant has over 20 years of experience in the high-tech industry, is the author of several networking and communications patents, and has been engaged with standards bodies including the IEEE, IETF and ONF. He is a frequent speaker at various industry events, including Interop and Open Networking Summit. Merchant holds a master’s degree in computer engineering from the University of Southern California and an electronic engineering degree from the University of Mumbai.&nbsp;</span></p>
          <h3><span style="font-size: 0.923em; line-height: 1.5em;">About Gigamon</span></h3>
          <p>Gigamon provides an intelligent Visibility Fabric™ architecture for enterprises, data centers and service providers around the globe. Gigamon’s technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. Gigamon has been designing and building traffic visibility products since 2004 and its solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. Learn more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="https://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="http://www.linkedin.com/company/gigamon">LinkedIn </a>or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p style="margin-left:1.0in;">&nbsp;</p>
          <p align="center" style="margin-left:1.0in;">###</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>