<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon To Discuss OpenStack Project Progress and Virtual Visibility at OpenStack Summit 2016</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1088" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Santa Clara, Calif. and OpenStack Summit (April 21, 2016) </strong>- Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions, cordially invites OpenStack Summit 2016 attendees to dive into strategies around how to improve network monitoring capabilities and thwart cyber criminals. Hot topics addressed include network visibility; forensics and SIEM; and analyzing and troubleshooting subscriber traffic.</p>
          <p>Gigamon experts, Sesh Sayani and Anil Rao, will be speaking at the show and invite you to join in to discuss issues such as multi-tenant traffic visibility and Tap-as-a-Service to better navigate congested network traffic. Be a part of the conversation at our sessions and visit us at booth #C28 in the Austin Convention Center April 25-29 to explore our expanded traffic visibility solution, GigaVUE-VM, designed to better support OpenStack environments.</p>
          <p>To follow is an agenda of key events:</p>
          <p><strong><u>Thursday, April 28, 2016</u></strong></p>
          <p style="margin-left:.5in;">●&nbsp;<strong>10:35-10:55 PM CDT: </strong>Multi-Tenant Traffic Visibility for OpenStack NFVi and Private Clouds</p>
          <p style="margin-left:1.0in;">○&nbsp;<strong>Sesh Sayani, <em>Director, Product Management, Gigamon</em></strong></p>
          <p style="margin-left:1.0in;">○ Service providers and enterprises are investing heavily into clouds powered by OpenStack and KVM hypervisor. Whether the deployment is for NFVi or IaaS, monitoring is paramount in being able to demonstrate interoperability, troubleshoot and secure virtual workloads. This session will cover virtual visibility solutions and adoption strategy.</p>
          <p style="margin-left:1.0in;">○&nbsp;<u>Austin Convention Center - Level 1 - Marketplace Theater</u></p>
          <p style="margin-left:.5in;">●&nbsp;<strong>4:10-4:50 PM CDT: </strong>Tap-as-a-Service: What you need to know now</p>
          <p style="margin-left:1.0in;">○&nbsp;<strong>Anil Rao, <em>Distinguished Engineer, Research and Development, Gigamon</em></strong></p>
          <p style="margin-left:1.0in;">○ This presentation offers a review of all the progress made to the relatively new OpenStack project, along with an overview of the TaaS architecture. We will discuss the primary motivations for monitoring network activity, explore the major challenges one can expect to encounter when attempting to monitor network traffic in a cloud environment and describe the need for a platform-oriented solution.</p>
          <p style="margin-left:1.0in;">○ <u>Austin Convention Center - Level 4 - Ballroom D</u></p>
          <p><strong>Follow @Gigamon and @OpenStack on Twitter for the latest updates from the Show.</strong></p>
          <p>&nbsp;</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE<sup>®</sup> , the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>