<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Media Alert: Gigamon Explores the Superpower of Metadata at Black Hat USA 2016</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1272" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong><em>Engaging panel, after-party and live news broadcast feature experts from Synack, Twitter and KPCB</em></strong></h2>
          <p>Santa Clara, Calif. and Las Vegas, Nev. (August 3, 2016) - <a href="https://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, invites <a href="https://www.blackhat.com/us-16/">Black Hat USA 2016</a> attendees to connect with the company and attend a full slate of educational activities and networking events. Along with influential experts and industry-leading partners, Gigamon will showcase why metadata is the security superpower and explore strategies for battling cyber attackers.</p>
          <p>Gigamon offers a wide array of activities for Black Hat attendees including a CISO panel, live broadcast from the <em>Dark Reading</em> news desk and Black Hat after party co-hosted by Optiv. The company will showcase its newest network visibility and security innovations along with allowing attendees to take on the hacker challenge puzzle for a chance to win an Oculus Rift prize pack. To receive a demo of Gigamon’s Security Delivery Platform, get a hand-rolled cigar and take a shot at the prize, visit <strong>Gigamon booth #1307.</strong></p>
          <p>To follow is an agenda of key upcoming events:</p>
          <p><strong><u>Wednesday, August 3rd, 2016</u></strong></p>
          <p><strong>11:00 a.m. - 11:45 a.m</strong>: <a href="http://go.synack.com/TS-2016---08-04-Ted-Talk---BlackHat_Ted-Talk-Registration.html">5 Things a CISO Should Do When Talking to their Board</a></p>
          <p>Join us for an intimate discussion with Ted Schlein, Michael Coates and Simon Gibson as they share the best way to talk security posture with your Board. As M&amp;A activity builds across many markets, the panel of experts will offer wisdom on the security challenges of integrating different code bases and board communication requirements as your company grows.</p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Location:</u><br><span style="font-size: 0.923em; line-height: 1.5em;">Black Hat USA 2016</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Synack Panoramic Penthouse Suite, Delano Hotel</span><br><span style="font-size: 0.923em; line-height: 1.5em;">3940 S Las Vegas Blvd, Las Vegas, NV 89119</span></p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Speakers:</u><br><span style="font-size: 0.923em; line-height: 1.5em;">Ted Schlein, Managing Partner, KPCB</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Michael Coates, Trust and Security Officer, Twitter</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Simon Gibson, Former CISO, Bloomberg &amp; LP. CISO, Gigamon</span></p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Moderator:</u><br><span style="font-size: 0.923em; line-height: 1.5em;">Jay Kaplan, CEO and Co-Founder of Synack</span></p>
          <p style="margin-left: 40px;">&nbsp;</p>
          <p><strong>12:45 p.m.</strong>: <em>Dark Reading</em> News Desk Live Broadcast</p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Topic</u><span style="font-size: 0.923em; line-height: 1.5em;">: Tectonic Shift in Security: Now the Spotlight's on the Attacker</span></p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Location:</u><span style="font-size: 0.923em; line-height: 1.5em;"> This year’s broadcast will be streamed live online from the show floor of Black Hat 2016</span></p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Gigamon Participants</u><span style="font-size: 0.923em; line-height: 1.5em;">: Shehzad Merchant, CTO</span></p>
          <p>&nbsp;</p>
          <p><strong>7:30 - 10:30 p.m.</strong>: <a href="https://forms.na1.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=1069687&amp;formid=17&amp;h=AACffht_4z1O9kI5nk6kHoRPYMtqDoHQzj0%3D&amp;custrecordeventcamp=2016+Las+Vegas+Black+Hat+After+Party+0803&amp;elqTrackId=e93fcfb02e7e40199a5b10e8f32224c2&amp;elq=130a0eea9f604baa870369f6bd2805fb&amp;elqaid=1292&amp;elqat=1&amp;elqCampaignId=&amp;redirect_count=1&amp;did_javascript_redirect=T">Black Hat After-Party</a> - Hosted by Gigamon and Optiv</p>
          <p style="margin-left: 40px;"><u style="font-size: 0.923em; line-height: 1.5em;">Location:</u><br><span style="font-size: 0.923em; line-height: 1.5em;">Black Hat USA 2016</span><br><span style="font-size: 0.923em; line-height: 1.5em;">Light Nightclub - Mandalay Bay</span><br><span style="font-size: 0.923em; line-height: 1.5em;">3950 S Las Vegas Blvd, Las Vegas, NV 89119</span></p>
          <p style="margin-left: 40px;"><a href="https://forms.na1.netsuite.com/app/site/crm/externalcustrecordpage.nl?compid=1069687&amp;formid=17&amp;h=AACffht_4z1O9kI5nk6kHoRPYMtqDoHQzj0%3D&amp;custrecordeventcamp=2016+Las+Vegas+Black+Hat+After+Party+0803&amp;elqTrackId=e93fcfb02e7e40199a5b10e8f32224c2&amp;elq=130a0eea9f604baa870369f6bd2805fb&amp;elqaid=1292&amp;elqat=1&amp;elqCampaignId=&amp;redirect_count=1&amp;did_javascript_redirect=T" style="font-size: 0.923em; line-height: 1.5em;">Register here</a></p>
          <p>Follow @Gigamon and #BHUSA16 on Twitter for the latest updates from the event.</p>
          <p><strong>Gigamon</strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>,<a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>