<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Network Industry Veteran Joins Gigamon - Leader &amp; Inventor of Network Data Access Monitoring Solutions</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-67" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p>SILICON VALLEY, Calif., July 5, 2011 /PRNewswire/ -- <a href="http://www.gigamon.com/" target="_blank">Gigamon<sup>®</sup></a>, the world's leading provider of Traffic Visibility Networking solutions, is pleased to announce that Paul Hooper has joined the company as Vice President of Marketing. In this role, Hooper will oversee all facets of the company's global marketing efforts, including corporate, product and channel marketing, corporate communications, investor and analyst relations. Hooper is a networking and high tech industry veteran, joining Gigamon from Extreme Networks.</p>
          <p>During Hooper's distinguished tenure at Extreme Networks, he held numerous executive positions including Chief Marketing Officer, Vice President and General Manager for the Volume Products Group, and Chief Information Officer. His responsibilities at Extreme have included all aspects of marketing, product development and business management, and strategic leadership of the IT systems and associated compliance for infrastructure throughout a global business with more than 800 employees across 50 countries. Before joining Extreme Networks, Hooper held senior-level IT positions with my CFO, Inc., JDS Uniphase, Netscape Communications, and Sun Microsystems.</p>
          <p>"Paul brings a wealth of experience and leadership to Gigamon, from the perspective of a CMO and a CIO," said Ted Ho, Gigamon Co-Founder and CEO. "This unique combination gives him both the perspective and credibility to enhance and communicate Gigamon's message to the marketplace. With so many new opportunities to extend visibility of information and communications in areas like Cloud Computing, Security, Compliance and Telco 4G/LTE build out, we welcome Paul's vision as Gigamon continues to expand our global presence."</p>
          <p>"Gigamon is in a unique position, having the credibility of an impressive list of Fortune 500 customers, innovative and market leading solutions, and the proven ability to scale the organization," states Hooper. "As communications increase exponentially within society, one of the biggest challenges that companies will face is the ability to track and secure their data in motion. Gigamon is perfectly positioned to address that requirement I am delighted to contribute to the next phase in the evolution of the company."</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit<a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>