<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>New revenue streams open for security and networking resellers with Gigamon</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-78" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <ul>
           <li><em>New vendor complements established networking and security portfolio</em></li>
           <li><em>Distributor to support specialist resellers with value-add services</em></li>
          </ul>
          <p><strong>Newmarket, 12th January 2011:</strong> <a href="http://www.computerlinks.co.uk/"> <strong>COMPUTERLINKS UK</strong> </a> <strong>,</strong>the next generation distributor of IT security and Internet technology solutions, has today announced a distribution agreement with <a href="http://www.gigamon.com/">Gigamon</a>, the world's leading provider of Traffic Visibility Networking solutions. The agreement, which enhances and complements COMPUTERLINKS’ established networking, security and virtualisation solutions portfolio, will enable the distributor’s specialist resellers to offer their clients proactive and efficient network monitoring solutions, combined with secure and convenient data access methods.</p>
          <p>COMPUTERLINKS will help Gigamon and its partners find and deliver new business opportunities through a range of value-added services, including end-user marketing, ‘proof of concept’ and product evaluations programs, technical training workshops and global on-site hardware support.</p>
          <p>David Ellis, director of new technologies and services at COMPUTERLINKS commented, “This is a very fast-growing sector driven by customers’ needs to understand what’s happening on their networks, and reduce security risks whilst maximising ROI from their current infrastructure. We’re looking to develop relationships with our specialist partners, who we will work closely with to satisfy the strong market demand. This is a very exciting opportunity for all involved.”</p>
          <p>Gigamon pioneered the technology that enables companies to securely access and gain complete visibility of all their network traffic. Since it’s founding in 2004, thousands of units have been deployed in over 40 countries around the world. Gigamon’s product suite seamlessly aggregates, filters and replicates traffic of interest to multiple monitoring and security tools. COMPUTERLINKS’ specialist resellers will now have access to this technology, which will allow them to help their clients’ network and security teams gain a better understanding of user activity, application performance, threat vulnerabilities and network events simultaneously.</p>
          <p>Derek Jackman, VP EMEA, Gigamon said, “We’ve enjoyed tremendous growth due to the way our technology revolutionises network traffic monitoring in today’s high-speed, distributed datacentres. With the addition of COMPUTERLINKS’ global infrastructure and comprehensive round-the-clock support, we’ll be able to increase incremental business to the European channel.”</p>
          <p>The announcement follows COMPUTERLINKS UK’s recent remodelling of its business to deliver margin-rich services to its channel partners around new and emerging technologies such as virtualisation, cloud computing and IP-based physical security.</p>
          <h3>About COMPUTERLINKS</h3>
          <p>COMPUTERLINKS is a next generation distributor of IT security, network performance and Internet technology, providing UK and Irish channel partners with reliable, supported solutions from world-leading hardware and software manufacturers and service providers. COMPUTERLINKS concentrates on dynamic technologies such as cloud computing, virtualisation, and the growing area of IP Physical Security. It provides a comprehensive and complementary product portfolio, backed by an extensive range of knowledge-based professional and managed services, to ensure its channel partners deliver the right solutions to their customers. COMPUTERLINKS is 100 percent committed to the two-tier channel and delivers profitable growth to its partners and competitive advantage to their customers by providing a full-service package of technical, sales and marketing support, practical training and efficient logistics. The company currently has over 550 employees operating across 19 countries worldwide. For more information, visit <a href="http://www.computerlinks.co.uk/">www.computerlinks.co.uk</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>