<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Peter Finter Joins Gigamon as Chief Marketing Officer</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-104" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Networking Veteran Brings More than 20 Years of Technology Marketing Experience</em></p>
          <p><strong>Silicon Valley, CALIF., June 17, 2013</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, a leader in traffic visibility solutions with the innovative <a href=" /products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today that networking veteran Peter Finter has joined the company as Chief Marketing Officer. Finter will focus on developing and advancing the marketing objectives of the company as we expand our presence and brand worldwide. Finter joins Gigamon from Juniper Networks.</p>
          <p>“Peter's background, perspective, experience and focus are exactly what we require as Gigamon builds upon its success and reaches new heights. Gigamon will benefit from his proven track record for building and leading strong global marketing teams and delivering results”, said Paul Hooper, CEO of Gigamon. “This fast-paced market continues to evolve and Peter will provide the marketing and sales tools to generate awareness and demand for Gigamon’s leading Visibility Fabric architecture. I am excited to welcome Peter to the executive team.”</p>
          <p>Finter brings more than 20 years of experience in the networking industry. Prior to joining Gigamon, Finter served as Vice President of Marketing for Juniper Networks, leading their Worldwide Field Demand Center. He previously led their Americas Marketing and Global Marketing Operations teams. While at Nortel, he also held various Vice President positions, including Americas Marketing &amp; Sales Operations, Global Marketing Strategy &amp; Operations and EMEA Marketing. Finter started his career in Sales, initially with GEC Telecommunications and then BT. He is an Electrical Engineering graduate of Imperial College, London, and a Chartered Engineer.</p>
          <p>“I am thrilled to be joining the Gigamon team. As Enterprises, Data Centers and Service Providers are increasingly impacted by virtualization, application and device mobility and the move to the Cloud, Gigamon’s unique Visibility Fabric addresses their need for proactive, intelligent traffic management by providing “eyes everywhere” in the network,” said Finter. “I look forward to helping Gigamon bring its market-leading solutions to more customers, in more markets, and enable all of its customers to gain control of their networks.”</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href=" /products/unified-visibility-fabric-architecture"> /products/unified-visibility-fabric-architecture</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as “may,” “will,” “should,” “expects,” “plans,” “anticipates,” “could,” “intends,” “target,” “projects,” “contemplates,” “believes,” “estimates,” “predicts,” “potential” or “continue” or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations that the market for our products will continue to grow and develop; and our expectations regarding product developments and enhancements and adoption of those products by our customers. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Prospectus related to our initial public offering of common stock filed pursuant to Rule 424(b) under the Securities Act of 1933 (Registration No. 333-182662). The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>