<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Product of the Year Internet Telephony (2010)</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-512" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>VoIP Routers Featured Article</strong> February 01, 2011</p>
          <p>TMC, a global, integrated media company helping clients build communities in print, in person and online, announced today the winners of the 2010 Product of the Year Awards, presented by INTERNET TELEPHONY magazine. Recipients of the 13th Annual Product of the Year Awards represent the year’s most innovative new products. Launched in 1998, INTERNET TELEPHONY is the leading publication covering the IP communications industry.</p>
          <p>The editors of INTERNET TELEPHONY selected the companies that have demonstrated the vision, leadership, and thoroughness associated with the Product of the Year Award. INTERNET TELEPHONY honors the most deserving companies with this esteemed award.</p>
          <p>"Judging hundreds of applications was difficult but I am certain this year’s winners are deserving of INTERNET TELEPHONY’s prestigious Product of the Year Award. These winners have been chosen based on the innovative solutions brought to market that have contributed to the growth of IP communications,” said Erik Linask, TMC (News - Alert) group editorial director.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>