<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Red Herring Magazine Names Gigamon One of the Most Innovative Companies in North America</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-70" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Company Selected as a Top 200 Finalist for the 2011 Red Herring North America Award</em></p>
          <p><strong>Silicon Valley, Calif., June 7, 2011</strong> – <a href="http://www.gigamon.com/">Gigamon</a><sup>®</sup>, the world's leading provider of Traffic Visibility Networking solutions, today announced it has been selected as a finalist for the 2011 <a href="http://www.herring100.com/RHNA/2011/finalists.html">Red Herring</a> North America Award, which honors the most innovative private companies in the North American region. <img alt="Red Herring North America Top 100 Winner" class="img-responsive" src="/sites/default/files/red-herring-logo.png" style="float: right;"></p>
          <p>The Red Herring editorial staff chose Gigamon from a pool of hundreds of innovative companies across North America. The 200 finalists for the 2011 edition of the Red Herring 100 North America award were selected based upon their technological innovation, management strength, market size, investor record, sales success and financial health. Hundreds of companies in the telecommunications, security, Web 2.0, software, hardware, biotech, mobile and other industries completed their submissions to qualify for the award.</p>
          <p>"Gigamon's selection as a finalist for the Red Herring Top 100 North America Awards is recognition for our role in helping to create and define an entirely new category of networking solutions that provide extremely detailed visibility into all of the data flowing in and out of your network," said Ted Ho, company President and CEO. “When we introduced our data access switches in 2005, they represented a highly disruptive technology that filled a critical need that has only grown more critical in an age of increasing data traffic and compliance requirements. Today, we serve more than 800 customers with our family of GigaVUE<sup>®</sup> intelligent data access switches, ranging from the largest telecom providers and financial services firms, to governmental agencies, medium and large enterprises and more. We've accomplished a lot in a short time and we're very pleased to be recognized by Red Herring for what we’ve achieved."</p>
          <p>"The global economic situation has abated and there are many great companies producing really innovative and amazing products,” said Alex Vieux, publisher and CEO of Red Herring. “We had a very difficult time narrowing the pool and selecting the finalists. Gigamon shows great promise and therefore deserves to be among the finalists. Now we're faced with the difficult task of selecting the Top 100 winners of Red Herring North America. We know that the 2011 crop will grow into some amazing companies that are sure to make an impact."</p>
          <p>The 200 finalists will present an overview of their winning technology and business strategies at the Red Herring North America Forum in Hollywood, California, June 13-15, 2011. The Top 100 winners will be announced at a special awards ceremony the evening of June 15 at the event.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>