<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>SC Magazine Survey Shows Network Visibility as a Top Priority for Security Professionals</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1030" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>Santa Clara, Calif., (March 2, 2016)</strong>&nbsp;–&nbsp;<a href="http://www.gigamon.com/">Gigamon</a>&nbsp;Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that a survey conducted by <em>SC Magazine</em> has found that the majority of respondents are investing in security beyond the traditional perimeter, with network visibility as a top priority.</p>
          <p>Highlights from the survey included:</p>
          <ul>
           <li><strong>Top security priorities: </strong>Firewalls top this list (83%) followed closely by intrusion prevention and detection systems (77%), and network visibility (67%) as the third highest security priority. Network visibility can help organizations find problems and remediate them faster.</li>
           <li><strong>Assumption of compromise:</strong>&nbsp;More than half of the respondents either know for certain they have been a victim of a targeted attack or advanced persistent threat, or are unsure if they have suffered a data breach.</li>
           <li><strong>Techniques for discovery:</strong> Network visibility is credited with detecting the most breaches at 50%; far fewer attribute discovery to forensic investigation (28%), or contact by an affected party (15%), third party (4%), or attacker (3%).</li>
           <li><strong>Time to discovery:</strong> Of those who acknowledged a breach, over a third said the breach took ‘weeks to months’ to discover or were challenged to identify a time window.</li>
           <li><strong>Biggest security challenges:</strong> User behavior dominated responses to this question with nearly one third of respondents citing user error as the biggest security challenge, followed by BYOD/BYOA (14%), mobile devices (13%), and rate of change in environment and poor security hygiene (both at 10%). Other areas of concern included cloud-based applications and storage, multi-vendor interoperability, difficult security workflows, and virtualization.</li>
           <li><strong>Methods of infiltration:</strong> Respondents list a variety of culprits for breaches, including social engineering (28%), advanced malware (29%), software vulnerabilities such as an unpatched application (24%), or a combination of these (34%).</li>
           <li><strong>Uses for network-level traffic visibility:</strong> 30% deem insight into encrypted traffic as the most useful application for network visibility. Other areas where respondents felt security could be augmented by visibility included identification of applications requiring inspection (20%), application session filtering (19%), public clouds (13%), private clouds (10%), and metadata extraction for forensics (7%).</li>
          </ul>
          <p>“When companies are attacked, they often find out well after the incursion has happened, giving the attack time to settle in and metastasize into a much larger breach” said Johnnie Konstantas, director of security solutions marketing and business development at Gigamon. “Pervasive visibility to network traffic and continuous monitoring is foundational to mounting the best defense and this survey highlights that reality.”</p>
          <p><a href="https://www.gigamon.com/resources/analyst-industry-report/marketfocus-double-vision">The survey</a> was based on 294 responses from a broad cross-section of company sizes and revenues in eight industry verticals, including federal, state and local government, technology services, finance, education, manufacturing, medical and healthcare, legal/real estate, and retail and wholesale distribution.</p>
          <p><strong><u>Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government, and service provider networks operate more efficiently and effectively. See more at&nbsp;<a href="http://www.gigamon.com/">www.gigamon.com</a>, the&nbsp;<a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on&nbsp;<a href="https://twitter.com/gigamon">Twitter</a>,&nbsp;<a href="https://www.linkedin.com/company/gigamon">LinkedIn</a>&nbsp;or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>