<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Shehzad Merchant Joins Gigamon as Chief Strategy Officer</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-109" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Industry Veteran Brings 20 years of Experience in Innovative Networking Solutions</em></p>
          <p><strong>Silicon Valley, CALIF., April 1, 2013</strong> – <a href="http://www.gigamon.com">Gigamon</a><sup>®</sup>, a leader in traffic visibility solutions with the innovative <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture, announced today that enterprise networking veteran Shehzad Merchant has joined the company as Chief Strategy Officer. Merchant will be focused on developing a strategic path for the continued evolution of the company’s Visibility Fabric architecture in this exciting and fast-paced market. Merchant joins Gigamon from Extreme Networks.</p>
          <p>“Shehzad will play a critical role in driving and evangelizing the strategic vision of our innovative Visibility Fabric architecture. As the world of networking continues to evolve through the increasing adoption of next generation technologies, including virtualization, cloud computing and emerging SDN technology, operators and owners of infrastructure will need increasing visibility and control of the traffic crossing their networks”, said Paul Hooper, CEO of Gigamon. “Shehzad’s knowledge and experience will allow Gigamon to continue to provide increasing value to our existing and future customers through determined and purposeful thought leadership.”</p>
          <p>Merchant brings more than 20 years of experience in the networking industry. Prior to joining Gigamon, Merchant served as the CTO at Extreme Networks and prior to that as the co-founder and VP of Products at Polytime Systems. Merchant has also held various senior architectural and research roles at Allied Telesyn, Nevis Networks and SRI. He is the author of several networking and communications patents and is a frequent speaker at industry events, including Interop and Open Networking Summit. He also works closely with many standards groups and organizations, including the IEEE, IETF and ONF. Merchant holds a Masters Degree in Computer Engineering from USC and an Electronic Engineering degree from the University of Mumbai.</p>
          <p>"As the need for application performance and security management increases, the monitoring fabric will continue to play an increasingly critical role in bringing visibility to the application flows”, said Merchant. “Gigamon is a leader in building traffic visibility systems. The versatility of Gigamon's platforms, its compelling vision and its strong team set it apart as an innovative leader in this space. I am excited to be part of the Gigamon team".</p>
          <h3>About the Visibility Fabric architecture</h3>
          <p>At Gigamon we realized that delivering the visibility essential to manage, analyze and secure the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created an innovative new approach for delivering this visibility called the Visibility Fabric architecture. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/products/unified-visibility-fabric-architecture">http://www.gigamon.com/traffic-visibility-fabric</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric</a>™ architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years’ experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com">www.gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>