<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1> SoftBank Corp. Teams with Gigamon to Increase Network Efficiency and Enhance Subscriber Satisfaction</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-1081" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong><em>Leading Global Service Provider Working with Gigamon to Increase Effectiveness of Customer Experience Management Tools</em></strong></h2>
          <p><strong>Santa Clara, Calif., (Apr. 12, 2016)</strong>– Gigamon Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced it is working with SoftBank Corp. &nbsp;By implementing Gigamon’s visibility fabric, SoftBank has streamlined LTE Mobile Core (EPC) traffic monitoring which has resulted in both capital and operational cost savings for the Company.</p>
          <p>“Gigamon has helped SoftBank Corp. optimize the number of GTP correlation licenses required for our network by orders of magnitude, freeing up budget for other projects,” said Hideki Kurokawa, Deputy Manager. “The company’s solutions do an excellent job of load balancing the traffic on our network and help to ensure the data is properly correlated and formatted to maximize the processing capability of the Customer Experience Management (CEM) tools attached to our Gigamon visibility fabric.”</p>
          <p>Through the market-leading capabilities of Gigamon’s solutions, SoftBank Corp. is able to gain insight into the way its subscribers consume content and adjust its offerings to needs and requirements of these high value subscribers. SoftBank Corp. is also working with Gigamon to increase its network performance through pervasive network visibility. The company is utilizing a number of Gigamon solutions and technologies including GigaVUE-HC2 and GigaSMART GTP correlation functions.</p>
          <p>“As the demand for pervasive traffic visibility increases and proliferation of subscriber data usage grows exponentially, Gigamon’s visibility and security solutions are becoming even more essential for mobile carriers such as SoftBank Corp.,” said Gary Newbold, vice president of sales for the Asia-Pacific region, Gigamon<em>. </em>“Using Gigamon’s subscriber aware capabilities SoftBank can apply resources in a judicious way to enrich and customize the experience of its most demanding subscriber base.”</p>
          <p>The GigaVUE-HC2 modular platform integrates high-density ports, TAPs, and intelligent packet capabilities into a single node intended to reduce overall capital and operating expenditures.&nbsp; &nbsp;With optional GigaSMART<sup>®&nbsp;</sup>GTP Correlation application, mobile operators can install a monitoring policy with the Visibility Fabric that will intelligently deliver subscriber-aware traffic to the specific tools such as DPI, analysis behavior of mobile subscribers converting&nbsp; information into new services maximize the ARPU.</p>
          <h3><strong>About SoftBank Corp.</strong></h3>
          <p>SoftBank Corp., a subsidiary of SoftBank Group Corp. (TOKYO:9984), provides mobile communication, fixed-line communication and Internet connection services to customers in Japan. Leveraging synergies with other companies in the SoftBank Group, SoftBank Corp. aims to transform lifestyles through ICT and expand into other business areas including IoT, robotics and energy. To learn more, please visit<a href="http://www.softbank.jp/en/corp/group/sbm/">www.softbank.jp/en/corp/group/sbm/</a></p>
          <h3><strong>Gigamon</strong></h3>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric™ and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>