<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Telefonica Selects Gigamon to Gain Network Visibility and Optimize Customer Offerings</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-885" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <h2 align="center"><strong><em>Global Service Provider Teams with Gigamon to Improve Customer Experience Management</em></strong></h2>
          <p><strong>Santa Clara, Calif., (Nov. 3, 2015)</strong> –<a href="http://www.gigamon.com/">Gigamon</a> Inc. (NYSE: GIMO), the leader in traffic visibility solutions, today announced that Telefonica Argentina, a subsidiary of the Telefonica Group, has selected Gigamon’s visibility solutions to help optimize its subscriber service offerings.</p>
          <p>Through the market-leading capabilities of Gigamon’s solutions, Telefonica Argentina is able to gain insight into the way its subscribers consume content and adjust their service offerings accordingly. Telefonica Argentina is also working with Gigamon to increase its network performance and optimization capabilities. Daitek, a Gigamon reseller in Argentina, used their local and technological expertise to help facilitate the relationship.</p>
          <p>“Telefonica Argentina is always looking for ways to increase customer satisfaction, and by teaming with Gigamon we are able to spot usage patterns and adjust our services as needed,” said Duncan Campbell, IP Backbone and Infrastructure Manager, Telefonica Argentina. “Gigamon’s solutions are well suited for our customer experience management needs.”</p>
          <p>“Gigamon has also helped us gain greater visibility across our entire network and identify and address issues as soon as they arise. In fact, during the deployment process, Gigamon helped us to troubleshoot a DNS Cache Server Farm performance issue, resolve it remotely avoiding a possible service outage. It really helped us to streamline the performance of the DNS system,” said Alberto Bernal, Telecom Network Planning Engineer, Telefonica Argentina. &nbsp;</p>
          <p>Telefonica Argentina is utilizing a number of Gigamon solutions and technologies including several GigaSMART® applications for traffic intelligence: Adaptive Packet Filtering, Application Session Filtering and Header Stripping as well as Gigamon’s patented Flow Mapping. By combining Gigamon´s Aggregation Solution, GigaVUE-TA1, and the GigaVUE-HD8 Fabric Node with the GigaSMART applications implemented as part of a Visibility Fabric™ architecture, Telefonica Argentina gained visibility into more than 32 x 10Gbps IP/MPLS links. The GigaSMART feature set significantly reduced the traffic that needed to be processed by the tools, resulting in a 10:1 cost savings ratio for Telefonica. With Gigamon’s solution in place, Telefonica Argentina can streamline the introduction of new technologies such as VoLTE, IMS and CDN to its network and reduce operational and performance impact.</p>
          <p>“By implementing pervasive network visibility with Gigamon, Telefonica Argentina can smoothly scale its monitoring infrastructure to keep pace with its growth aspirations,” said Carlos Perea, vice president of sales for Latin America, Gigamon. “Gigamon’s solutions are particularly well suited to the constantly evolving challenges faced by integrated service providers such as Telefonica Argentina.”</p>
          <p><strong><u>Gigamon</u></strong></p>
          <p>Gigamon (NYSE: GIMO) provides active visibility into physical and virtual network traffic, enabling stronger security and superior performance. Gigamon’s Visibility Fabric<sup>TM</sup> and GigaSECURE®, the industry’s first Security Delivery Platform, deliver advanced intelligence so that security, network and application performance management solutions in enterprise, government and service provider networks operate more efficiently and effectively. See more at <a href="http://www.gigamon.com/">www.gigamon.com</a>, the <a href="http://www.gigamon.com/blog/">Gigamon Blog</a>, or follow Gigamon on <a href="https://twitter.com/gigamon">Twitter</a>, <a href="https://www.linkedin.com/company/gigamon">LinkedIn</a> or <a href="https://www.facebook.com/gigamon">Facebook</a>.</p>
          <p align="center"># # #</p>
          <p><strong><em>Legal Notice Regarding Forward Looking Statements</em></strong></p>
          <p>This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, benefits for a customer of the new product offerings, and goals for our Security Delivery Platform and Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver our products and general market, political, economic and business conditions.&nbsp; The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the&nbsp;Securities and Exchange Commission, including our Annual Report on Form 10-K for the period ended&nbsp;December 27, 2014 and most recent Quarterly Report on Form 10-Q. The forward-looking statements in this press release are based on information available to&nbsp;Gigamon&nbsp;as of the date hereof, and&nbsp;Gigamon&nbsp;disclaims any obligation to update any forward-looking statements, except as required by law.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>