<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Traffic Visibility for Network Upgrade Cycle in Enterprises and Data Centers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-125" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>New Technology Enables IT Managers to Intelligently Aggregate Data from 10Gb ports regardless of utilization rates; Portfolio Now Includes Forward Looking 40G Solution</em></p>
          <p><a href="http://www.gigamon.com/">Gigamon</a>®, the world leader in Traffic Visibility solutions, announced that it has expanded its portfolio of solutions to further enable enterprise managers to more efficiently and completely gain visibility of all traffic traversing their networks. Following a network upgrade cycle, higher speed, low-utilization ports created a challenge as the volume of traffic could not justify the higher-speed physical connectivity into a Visibility Fabric. The launch of two new products which combine to create a powerful aggregation solution, address this challenge. At the same time, the products double the density for the H Series family and deliver 40Gb connectivity in preparation for the next upgrade cycle and higher-speed monitoring tools in the future.</p>
          <p>“Over the last few years, the exponential growth in communications has created traffic visibility problems for enterprises and data centers. What they cannot see, they cannot measure, and what they cannot measure, they cannot manage,” said Ted Ho, Gigamon CEO. “Our customers have been asking for a traffic aggregation solution to consolidate low-utilization connections before entering an intelligent Visibility Fabric, and in parallel the industry has been asking for a 40Gb solution to address the new backbone traffic visibility challenges. By expanding our existing Visibility Fabric solutions, Gigamon provides enterprises and data centers with a broad portfolio of solutions that can scale to accommodate virtually any current or future networking requirements they have.”</p>
          <h3>GigaVUE-TA1</h3>
          <p>Gigamon’s popular family of <a href="/aggregation-switch-roi">GigaVUE</a> traffic visibility nodes, that create an intelligent and pervasive Visibility Fabric to deliver traffic flows from across broad networks to appropriate, centralized management, monitoring or security systems, now includes a solution designed specifically to aggregate traffic from low-utilization links. The GigaVUE-TA1 node consolidates multiple low utilization ports into “gateway” ports that connect directly into a Visibility Fabric. As enterprises and data centers transition from 1Gb to 10Gb networks, many upgraded ports continue carry traffic below the 1Gb links originally replaced and often run at five percent utilization or lower. Aggregating data from these lower-utilization ports has typically been inefficient, resource demanding or costly, making the task difficult or even impossible to justify. When multiplied across numerous similar characteristic ports, the challenge can lead to a significant gap in network visibility. With the arrival of the Gigamon GigaVUE-TA1 node, traffic from low-utilization ports are aggregated in advance of connection into the Visibility Fabric, allowing for pervasive visibility and, as a direct result, improved measurement and management of an enterprises’ network.</p>
          <p>The GigaVUE-TA1 is ready for high availability and demanding deployments by delivering 640Gb of connectivity in 1RU, having front-to-back cooling and options for hot-swap power and fan trays.</p>
          <h3>New High-density GigaPORT Blade</h3>
          <p>With the arrival of the GigaPORT-Q02X32 H Series line-card, Gigamon expands its first-to-market terabit Visibility Fabric solution built around the H Series of chassis products. The new blade offers a full 320Gb of connectivity in a single chassis slot through 24 ports of 10Gb and 2 ports of 40Gb. This blade almost triples the connectivity density of the H Series while also providing high-speed traffic ingress from SPAN ports, inter-node stacking and aggregation uplinks at up to 40Gb. The blade also future proofed as it allows monitoring, management and security tools to be attached at 40Gb when the need arises. The GigaPort line card is compatible with all H Series products that are ready for data center deployments with front-to-back cooling, redundant power and fan, and offer high-density connectivity.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to operate, secure and maintain the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created a new approach and a new solution for delivering this visibility, called the Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/visibility-delivered">http://www.gigamon.com/visibility-delivered</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>