<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>University of Wisconsin Tackles 100Gb Network Security with Gigamon</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-571" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><strong>University of Wisconsin Tackles 100Gb Network Security with Gigamon</strong></p>
          <p><strong>Gigamon's Visibility Fabric™ Enables Pervasive Security in High Speed Research Network</strong></p>
          <p><strong>SANTA CLARA, Calif., Sept. 29, 2014 </strong>/PRNewswire/ -- <a href="http://www.gigamon.com/">Gigamon®</a> (NYSE: GIMO), a leader in traffic visibility solutions with the innovative Unified <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a>, today announced that the University of Wisconsin-Madison (UW-Madison), one of the most prolific research universities in the world, has selected Gigamon's Visibility Fabric to provide pervasive visibility in order to manage and secure their high speed, big data environment. The University of Wisconsin-Madison published an RFP detailing the institution's need to monitor 100 percent of the Internet traffic on their perimeter 100Gb link and additional 10G links as well as their internal network for intrusion detection and troubleshooting. The Gigamon Visibility Fabric was selected as the clear winner in the evaluation.</p>
          <p>"The University of Wisconsin-Madison is a world class research university and has implemented a high speed research network for important big data computing projects," said Ananda Rajagopal, vice president of product management at Gigamon. "Gigamon enabled the university to gain pervasive visibility across its network, including its 10Gb and 100Gb WAN links serving the increasing amount of Internet traffic and the traffic from other facilities with which they have peering arrangements. We were able to provide multiple departments with access to traffic for security and troubleshooting while extending the ROI on their existing tools."</p>
          <p>"We awarded the contract to Gigamon in part because it enabled multiple teams to have visibility into the traffic on our 100Gb link and across the network," said Jeff Savoy, Campus Information Security Officer, University of Wisconsin-Madison.</p>
          <p>As one of the premier research facilities in the world, the University of Wisconsin-Madison is home to more than one hundred research centers and programs in such diverse areas as agribusiness, biotech, fusion, nanotechnology, space engineering, and particle physics. They share massive amounts of data with other research facilities including CERN, home of the large Hadron collider that was instrumental in the discovery of the Higgs boson. The UW-Madison did not have the technology to monitor a 100Gb link and that is why they put out an RFP. As a result of the RFP, the UW-Madison selected Gigamon's 100Gb optical taps and a Visibility Fabric solution based on the GigaVUE-HD4 node with patented Flow Mapping® to provide intelligent aggregation and replication of traffic flows to their security and performance monitoring tools.</p>
          <p>"Our University is executing an experimental project with the National Science Foundation, and Gigamon has been highly cooperative and responsive as we have pushed the envelope of our 100Gb science DMZ," said Bruce Maas, CIO and Vice Provost for Information Technology at the University of Wisconsin. "We value partners who engage with us in joint problem solving, and Gigamon clearly did not hesitate as we overcame early challenges together. They responded with adaptations that worked."</p>
          <p>"We were able to optically tap the 100Gb Internet connection and forty-eight 10Gb LAN ports to get 100 percent visibility of all north/south and east/west traffic," said Greg Padden, network engineer at The University of Wisconsin-Madison. "We are now able to send traffic from any point on our network to any team that needs it."</p>
          <h3>About Gigamon</h3>
          <p>Gigamon provides an intelligent <a href="/products/unified-visibility-fabric-architecture">Visibility Fabric™</a> architecture for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with pervasive and dynamic intelligent visibility of traffic across both physical and virtual environments without affecting the performance or stability of the production network. Through patented technologies and centralized management, the Gigamon GigaVUE portfolio of high availability and high-density products intelligently delivers the appropriate network traffic to management, analysis, compliance and security tools. With over eight years' experience designing and building traffic visibility products in the US, Gigamon solutions are deployed globally across vertical markets including over half of the Fortune 100 and many government and federal agencies. <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>Legal Notice Regarding Forward Looking Statements</h3>
          <p>Legal Notice Regarding Forward Looking Statements This press release contains forward-looking statements within the meaning of Section 27A of the Securities Act of 1933 and Section 21E of the Securities Exchange Act of 1934. Forward-looking statements generally relate to future events or our future financial or operating performance. In some cases, you can identify forward-looking statements because they contain words such as "may," "will," "should," "expects," "plans," "anticipates," "could," "intends," "target," "projects," "contemplates," "believes," "estimates," "predicts," "potential" or "continue" or the negative of these words or other similar terms or expressions that concern our expectations, strategy, plans or intentions. Forward-looking statements in this press release include, but are not limited to, our expectations regarding the evolution of our marketplace, and goals for our Unified Visibility Fabric architecture. Our expectations and beliefs regarding these matters may not materialize, and actual results in future periods are subject to risks and uncertainties that could cause actual results to differ materially from those projected. These risks include our ability to continue to deliver and improve our products and successfully develop new products; customer acceptance and purchase of our existing products and new products; our ability to retain existing customers and generate new customers; the market for network traffic visibility solutions not continuing to develop; competition from other products and services; and general market, political, economic and business conditions. The forward-looking statements contained in this press release are also subject to other risks and uncertainties, including those more fully described in our filings with the Securities and Exchange Commission, including our Quarterly Report on Form 10-Q for the period ended June 28, 2014. The forward-looking statements in this press release are based on information available to Gigamon as of the date hereof, and Gigamon disclaims any obligation to update any forward-looking statements, except as required by law.</p>
          <p>SOURCE Gigamon<br>MEDIA CONTACT, J.T. Eger, (408) 831-4247, <a href="mailto:jt@gigamon.com">jt@gigamon.com</a>, or INVESTOR CONTACT, Cynthia Hiponia and Alice Kousoum, (408) 831-4100, <a href="mailto:IR@gigamon.com">IR@gigamon.com</a></p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>