<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Visibility Fabric Solution Extended through the Addition of High Density, High Resiliency Technology</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-124" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>The H Series family expanded by the addition of a small form factor, high-density chassis and latest software release delivering clustering capability to create high resiliency Visibility Fabric architecture</em></p>
          <p><strong>Silicon Val</strong> <strong>ley, Calif., –February 8, 2012</strong>– <a href="http://www.gigamon.com/">Gigamon</a>®, the world leader in Traffic Visibility Fabric solutions, announced that it has expanded the breadth and scale of its H Series portfolio by adding a new high density, small form factor chassis with a high-resiliency multi-chassis “clustering” capability. Gigamon’s flagship line of products, the H Series, represents the latest generation of purpose built technology to handle millions of traffic flows each second, delivering them intelligently to the appropriate infrastructure security or managing systems. The launch of a new H Series chassis, the GigaVUE-HD4, and new software update for the entire H Series, continues to enable network architects and engineers to respond to the need to provide pervasive visibility to network traffic.</p>
          <p>“A significantly increasing challenge faced by IT professionals is to maintain accurate and pervasive management and monitoring of the rapidly rising volumes of traffic traversing the enterprise infrastructure. The past approach – to connect monitoring and management tools into specific segments or domains of the network – will not scale into the future. A new approach is required, and we believe the Visibility Fabric architecture represents a compelling solution. Without the Visibility Fabric in place, network managers lack the ability to ensure pervasive visibility that enables management tools to effectively monitor this increasing volume of traffic.” said Ted Ho, Gigamon CEO. “By expanding Gigamon’s H Series family and increasing the scale, performance and density of the Visibility Fabric, we provide our customers with a solution to enable complete traffic visibility and manageability of their infrastructure; leading to lower operational cost, reduced risk and far fewer outages.”</p>
          <h3>GigaVUE-HD4</h3>
          <p>To further broaden and diversify the portfolio of visibility fabric nodes, Gigamon has introduced the GigaVUE-HD4. The GigaVUE-HD4 is a high density chassis that uses Gigamon’s <a href="http://www.gigamon.com/products/technology/flow-mapping">Flow Mapping</a> technology to intelligently filter, forward, replicate and manage the flow of traffic from production networks to management, monitoring and security tools. The GigaVUE-HD4 provides users with a smaller form factor of the successful and first-to-market <a href="/gigavue-hd8-traffic-visibility-network-node">GigaVUE-HD8</a> chassis, with the new GigaVUE-HD4 delivering a 1.3Tb of connectivity in a data-center-ready 5RU form. The combination of the two chassis products and the multiple line-card configurations allows enterprises and data centers of all sizes and scale to operate a powerful Visibility Fabric, resulting in lower operational costs, higher infrastructure flexibility and improved organizational agility.</p>
          <h3>H Series v2.3</h3>
          <p>To allow architects, engineers and operators to design and deploy highly-available and resilient Visibility Fabrics, Gigamon has released an upgrade to the H Series software for all products within the family. The new release, v2.3, allows architects to create a “Master/Slave” control-plane clustering structure within the fabric to include multiple H Series visibility nodes. For added resiliency, secondary nodes can assume the role of “master” if connectivity is lost to the original master. Additional capabilities and functionality has been added in the form of a graphical user interface (GUI) specifically designed to efficiently manage and control the many hundreds of ports contained across a Cluster of H Series nodes.</p>
          <h3>About the Visibility Fabric</h3>
          <p>At Gigamon we realized that delivering the visibility essential to operate, secure and maintain the complex system that is the IT infrastructure requires a new approach. With millions of traffic flows across thousands of endpoints, visibility needs to be pervasive, intelligent and dynamic. Using our patented, unique technology, we created a new approach and a new solution for delivering this visibility, called the Visibility Fabric. This new approach is intelligent and versatile in its ability to enable visibility into the network. For more information visit <a href="/visibility-delivered">http://www.gigamon.com/visibility-delivered</a>.</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>