<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>WildPackets and Gigamon Expand Technology Partnership</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-74" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><em>Joint solution provides flexible, real-time visibility into all network environments</em></p>
          <p>SILICON VALLEY, Calif. and WALNUT CREEK, Calif., April 18, 2011 /PRNewswire/ -- <a href="http://www.gigamon.com/" target="_blank">Gigamon</a><sup>®</sup>, the world's leading provider of Traffic Visibility Networking solutions, and <a href="http://www.wildpackets.com/" target="_blank">WildPackets</a><sup>®</sup>, a leading provider of network and application performance analysis solutions, today announced an extension of their long-standing partnership, with new integration that provides extremely flexible and accurate real-time visibility into an organization's network. The integrated WildPackets/Gigamon solution leverages the synchronized and precise nanosecond time stamping of the Gigamon GigaVUE appliance with the WildPackets OmniPeek network analyzer, to direct network packets with 100% time stamp accuracy.</p>
          <p>Highly precise data time stamping is essential for most organizations, especially those providing sensitive financial services where networks must be optimized, secure, and 100% compliant. Now network engineers can rapidly troubleshoot faults and fix problems, to maximize network uptime and user satisfaction, all within a single interface that aggregates data from 10/100 Ethernet, Gigabit Ethernet, 10 Gigabit Ethernet, VoIP, Video, and IPTV links to remote offices.</p>
          <p>"This technology is essential for any organization where network uptime is critical," said Mike Valladao, Head of Product Management at Gigamon. "We are happy to extend our partnership with WildPackets to enable the next generation of network monitoring tools that allow our mutual customers to reap the benefits of highly efficient, high performing networks."</p>
          <p>"Oversubscribed span ports, simultaneous analysis of multiple data types or multiple network segments at different speeds make real-time network monitoring hard for highly-utilized 10 Gigabit networks," said Tony Barbagallo, WildPackets Vice President of Marketing. "The combination of GigaVUE intelligent data access switches and OmniPeek network analyzers addresses these issues by providing the best solution for any highly utilized network environment."</p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com/">www.gigamon.com</a></p>
          <h3>About WildPackets, Inc.</h3>
          <p>WildPackets develops hardware and software solutions that drive network performance, enabling organizations of all sizes to analyze, troubleshoot, optimize, and secure their wired and wireless networks. WildPackets products are sold in over 60 countries and deployed in all industrial sectors. Customers include Boeing, Chrysler, Fidelity, Motorola, Nationwide, and over 80 percent of the Fortune 1000. WildPackets is a Cisco Technical Development Partner (CTDP). For more information, visit <a href="http://www.wildpackets.com/" target="_blank">www.wildpackets.com</a>.</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>