<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="tabs"></div>
  <h1>Wireshark Adds Support for Gigamon's GigaSMART Headers</h1>
  <div class="region region-content">
   <div id="block-system-main" class="block block-system">
    <div class="content">
     <div id="node-129" class="node node-press-releases node-promoted clearfix">
      <div class="content">
       <div class="field field-name-body field-type-text-with-summary field-label-hidden">
        <div class="field-items">
         <div class="field-item even">
          <p><a href="/sites/default/files/wireshark-protocol-analyzer.pdf" target="_blank">wireshark-protocol-analyzer.pdf </a> (37 KB pdf file)</p>
          <p><strong>Silicon Valley <a href="http://www.gigamon.com">Gigamon™</a> </strong>, the leading global provider of Intelligent Data Access Networking™, today announced that Wireshark has added support for Gigamon’s <a href="www.gigamon.com/GigaSMART.php">GigaSMART</a> headers. Now packets that are processed by the GigaSMART module can be modified to include ingress port identification, time stamping and original packet length when slicing. This valuable information can now be decoded by the Wireshark interface for in-depth analysis.</p>
          <p>“We recognize Gigamon’s GigaSMART as an important data access technology for Wireshark users. With support for GigaSMART’s inserted header or trailer information, Wireshark can now better serve our open source community,” said Gerald Combs, Director of Open Source Projects at CACE Technologies, Wireshark Development Project Lead, and original Ethereal/Wireshark creator.</p>
          <p>Wireshark is the world’s foremost open source network protocol analyzer used to capture packets. With more than 500,000 downloads a month for Wireshark and thousands of GigaVUE shipped from Gigamon every year, the IT industry has embraced the joint solution for network troubleshooting, optimization and security.</p>
          <p>“The gatekeepers of Wireshark recognize the innovative technology that GigaSMART provides with nanosecond time stamping accuracy, the ability to add ingress port information to a packet and slice packets. Now only the relevant portions are processed, which boosts the efficiency of the Wireshark tool,” said Patrick Leong, CTO of Gigamon. “The Wireshark user community needs to see this critical information which made it an easy decision for the gatekeepers to support the GigaSMART headers.” “When devices using Wireshark are connected to the GigaVUE, they will gain complete visibility to all the data, 24x7. The combined solution simplifies troubleshooting network problems, examining security issues and debugging protocols,” said Kevin Jablonski, Gigamon’s VP of Marketing and Business Development. “With the latest support for the GigaSMART module, IT teams can analyze the exact ‘wanted’ network data and identify problems in a more timely manner.”</p>
          <p>To learn more, visit <a href="http://www.gigamon.com">www.gigamon.com</a> or call Gigamon’s headquarters at (408) 263-2022.</p>
          <p>To download Wireshark, visit <a href="https://www.wireshark.org/download.html">www.wireshark.org/download.html</a></p>
          <h3>About Gigamon</h3>
          <p>Gigamon® provides intelligent Traffic Visibility Networking solutions for enterprises, data centers and service providers around the globe. Our technology empowers infrastructure architects, managers and operators with unmatched visibility into the traffic traversing both physical and virtual networks without affecting the performance or stability of the production environment. Through patented technologies, the Gigamon GigaVUE® portfolio of high availability and high density products intelligently delivers the appropriate network traffic to security, monitoring or management systems. With over seven years’ experience designing and building intelligent traffic visibility products in the US, Gigamon serves the vertical market leaders of the Fortune 1000 and has an install base spanning 40 countries. For more information visit <a href="http://www.gigamon.com">www.gigamon.com.</a></p>
          <p>GigaVUE, GigaVUE-2404, GigaVUE-420, GigaVUE-MP, Intelligent DAN and G-TAP are registered trademarks of Gigamon, LLC in the United States. Gigamon, GigaSMART, and Intelligent Data Access Networking are trademarks of Gigamon, LLC in the United States. All other copyrights, registered trademarks and trademarks herein are the property of their respective owners.</p>
          <h3>Press Contact:</h3>
          <p>Jerry Speaks| Communications Director<br><a href="mailto:press@gigamon.com">press@gigamon.com</a><br>Phone: 408.263.2022</p>
          <h3>About CACE Technologies</h3>
          <p>CACE Technologies Inc. is the sponsor and innovative force behind Wireshark and WinPcap, the world’s most widely used Open Source network traffic capture and analysis tools. The company develops cutting edge network analysis and troubleshooting products that complement Wireshark’s prodigious packet inspection capabilities. For more information visit <a href="http://www.cacetech.com/">http://www.cacetech.com.</a></p>
          <h3>Press Contact:</h3>
          <p>Janice Spampinato<br><a href="mailto:janice@cacetech.com">janice@cacetech.com</a><br>(530) 758.2790 x111</p>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>