/**
 *  Main css for sticky-footer
 */

.component-sticky-footer {
	text-align: center;
	font-family: 'proxima_nova';
    font-size: 11px;
	letter-spacing: 1px;
	line-height: 1em;
    background-color: transparent;
	height: 48px;
	position: fixed;
	z-index: 110;
	bottom: 0;
	left: 0;
	right: 0;
    margin-bottom: -48px;
    transition: margin .6s ease-in-out;
	&.show {
	    margin-bottom: 0px;
	    transition: margin .4s ease-in-out;
	    background-color: transparent;
	}
	.sticky-footer-container {
		max-width: 1440px;
	    margin: 0 auto;
	    padding: 12px 32px 0;
	}
	.sf-social-links {
		display: inline-block;
		margin: -3px 0 0px;
		padding: 0px;
		li {
			list-style: none;
			display: inline-block;
			margin-right: 10px;
			a {
				font-size: 11px;
				img {
					height: 25px;
					widht: auto;
				}
			}
		}
	}
	.share-btn {
		float: left;
		margin-right: 30px;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 2.6px;
		padding: 1px 25px 0 8px;
	    line-height: 1.71;
		color: #79808b;
		border-right: 1px solid #ccc;
	}
	.contact-btn {
	margin-right: 1px!important;
    height: 50px;
    width: 240px!important;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px;
    padding: 3px 8px 0;
    text-transform: uppercase;
    font-family: 'proxima_nova';
    line-height: 1.71;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
		&:hover {
		    color: white;
		    background: lighten($orange, 5%);
		    text-decoration: none;
	  	}	
	  	
	  	svg
	  	{
   		 fill:white;
    	  position: relative;
    	 top: 2px;
    	 left:0;
    	 transition: all .3s ease-in-out;
        }
	}
	.contact-btn:hover svg
	{
    left: 6px;
    transition: all .3s ease-in-out;
	}
	
	
}

@media (max-width: $screen-sm-min) {
	.component-sticky-footer .sf-social-links {
		margin: 0px 0 0px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {

.component-sticky-footer .sticky-footer-container {
    padding: 0px }
.component-sticky-footer .contact-btn
        {
            width:100% !important; 
			padding:7px !important;
                }
  .check0 {
    width:100% !important; }
  .check1 {
    display:none !important; }
  .check2 {
    display:none !important; }
            }

@media (max-width: 767px) {

.component-sticky-footer .sticky-footer-container {
    padding: 0px }
.component-sticky-footer .contact-btn
        {
            width:100% !important; 
			padding:7px !important;
                }
  .check0 {
    width:100% !important; }
  .check1 {
    display:none !important; }
  .check2 {
    display:none !important; }
}


#ShareThisModule {
	width: 48px;
	background: #d8dadd;
	position: fixed;
	left: 0;
  top: 40%;
  z-index: 99999;
}
#ShareThisModule .share-icon {
	width: 48px;
	height: 48px;
	float: left;
	text-align: center;
	font-size: 30px;
	color: #767678;
	cursor: pointer;
}
i.fa.fa-share-alt.share-font-icon {
    font-size:20px;
}
#ShareThisModule .share-icon.fa-share-alt {

font-size: 18px;
}
#ShareThisModule .share-icon b {
    position: absolute;
    top: 32px;
    left: 5px;
	margin: 0;
	padding: 0;
    font-size: 11.3px;
    font-weight: bold;
    text-align: left;
    color: #79808a;
}
#SharethisItems {
	width: 100%;
	float: left;
	margin: 0 0 -100px 0;
	height: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
#ShareThisModule:hover #SharethisItems {
	height: auto;
	margin: 0;
	opacity: 1;
	visibility: visible;
	-webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}
#ShareThisModule #SharethisItems li {
    height: 48px;
	list-style: none;
	padding: 0;
	margin: 0;
	border-top: solid 1px #79808a;
}
#ShareThisModule #SharethisItems li span {
	cursor: pointer;
	    padding: 10px 4px;
	margin: 0;
	font-size: 18px;
	color: #767678;
	display: block;
	text-align: center;
}
#ShareThisModule #SharethisItems li span:hover {
	opacity: 0.7;
}
.fa
{
color: #767678;
}

@media (max-width: 992px) {

#ShareThisModule {
display:none;
}
}


