/**
 *  Main css for responsive-layout
 */

.component-responsive-layout {

    .column {
        /* Show hidden colums in author edit mode, but mark with red background */
        body.edit & {
            @media (max-width: $screen-xs-max) {
                &.hidden-xs {
                    display: block !important;
                    background: rgba(red, .25) !important;
                }
            }

            @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                &.hidden-sm {
                    display: block !important;
                    background: rgba(red, .25) !important;
                }
            }

            @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
                &.hidden-md {
                    display: block !important;
                    background: rgba(red, .25) !important;
                }
            }

            @media (min-width: $screen-lg-min) {
                &.hidden-lg {
                    display: block !important;
                    background: rgba(red, .25) !important;
                }
            }
        }
    }

    // name: xs, sm, md, or lg
    @mixin gutter($name, $size) {
        &.gutter-#{$name}-#{$size} {
            margin-left: ($size / 2) * -1px;
            margin-right: ($size / 2) * -1px;

            > .column {
                padding-left: ($size / 2) * 1px;
                padding-right: ($size / 2) * 1px;
            }
        }
    }

    // name: xs, sm, md, or lg
    @mixin build-responsive-layout-row($name) {
        .row.grid-at-#{$name} {
            &.layout-flex {
                display: flex;
                flex-wrap: wrap;
            }

            &.align-stretch { align-items: stretch; }
            &.align-top { align-items: flex-start; }
            &.align-center { align-items: center; }
            &.align-bottom { align-items: flex-end; }

            &.justify-left { justify-content: flex-start; }
            &.justify-center { justify-content: center; }
            &.justify-right { justify-content: flex-end; }

            @include gutter($name, 0);
            @include gutter($name, 10);
            @include gutter($name, 20);
            @include gutter($name, 30);
            @include gutter($name, 40);
            @include gutter($name, 50);
            @include gutter($name, 60);
        }
    }

    @include build-responsive-layout-row(xs);

    @media (min-width: $screen-sm-min) {
        @include build-responsive-layout-row(sm);
    }

    @media (min-width: $screen-md-min) {
        @include build-responsive-layout-row(md);
    }

    @media (min-width: $screen-lg-min) {
        @include build-responsive-layout-row(lg);
    }

    .container {
        width: auto;
    }

    @media (max-width: $screen-md-min) {
        .col-xs-4 {
            text-align: center;
            .btn-link-no-arrow {
                padding: 10px 0;
            }
            .container {
                padding: 0px;
            }
        }
    }
	
	.sorter div {
		float: left;
		height: 130px;
		width: 160px;
	 }

}

@media (max-width: $screen-md-min) {
    .horz-pad-right-lg {
        margin-right: 1.5em;
    }
    .horz-pad-left-lg {
        margin-left: 1.5em;
    }
}


@media (min-width: $screen-lg-min) {
    .responsive-layout {
        .component-background {
            .container {
                max-width: $max-width;
            }
        }
    }
}