<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the <%= htlName %> component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.<%= htlTemplateName %>="${ @ model }">
    <section class="component-<%= sassName %>">

        <!--/*
        Uncomment for debug output
        <sly data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model=model}" />
        */-->

        <h2>Hello World!</h2>
        <p>I'm the <b><%= htlName %></b> component</p>
        <p>Dummy Value: ${model.dummyValue}</p>

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.<%= javaName %>" data-sly-call="${<%= htlTemplateName %> @ model=model}" />
