<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the footer component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderFooter="${ @ model }">
    <section class="component-footer">

       <div class="row flex">
          <!-- <a href="/" class="logo" aria-label="Gigamon"></a> -->
          <ul class="nav footer-links hidden-xs hidden-sm">
            <!-- To Do generate list through root pages -->
            <li><a href="${model.contactUsUrl}">${model.contactUsText}</a></li>
            <li><a href="${model.careersUrl}">${model.careerText}</a></li>
          </ul>
          <ul class="nav footer-links border-left hidden-xs hidden-sm">
            <li><a href="${model.customerPortalUrl}">${model.customerPortalText}</a></li>
            <li><a href="${model.partnerPortalUrl}">${model.partnerPortalText}</a></li>
          </ul>
          <ul class="nav footer-links border-left hidden-xs hidden-sm">
            <li><a href="${model.companyInfoUrl}">${model.companyInfoText}</a></li>
            <li><a href="${model.inNewsUrl}">${model.inNewsText}</a></li>
            <li><a href="${model.blogUrl}">${model.blogText}</a></li>
          </ul>
          <ul class="nav social-links">
            <!-- <li><a href="${model.bloggerUrl}"><i class=""></i></a></li> -->
            <li><a href="${model.facebookUrl}"><i class="fa fa-facebook"></i></a></li>
            <li><a href="${model.twitterUrl}"><i class="fa fa-twitter"></i></a></li>
            <li><a href="${model.linkedInUrl}"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="${model.youtubeUrl}"><i class="fa fa-youtube-play"></i> </a></li>
          </ul>
        </div>
        <div class="row border-top"> 
          <ul class="nav footer-links">
            <li><strong>${model.copyRightText}</strong></li>
            <li><a href="${model.tncUrl}">${model.tncText}</a></li>
            <li><a href="${model.privacyPolicyUrl}">${model.privacyPolicyText}</a></li> 
            <li><a href="${model.cookiePolicyUrl}">${model.cookiePolicyText}</a></li>
          </ul>
        </div>

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.Footer" data-sly-call="${renderFooter @ model=model}" />
