<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the simple-navigation component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderSimpleNavigation="${ @ model }">
    <section class="component-simple-navigation">
	<div class="logo-nav">
		<sly data-sly-test="${!model.Hidebutton && model.title}">
			<a href="${model.link}" class="btn btn-orange" title="contact sales" target="${model.NewTab ? '_blank' : ''}">${model.title}</a>
		</sly>

		   <a href="${model.homePage}" >
               <img src="${model.logoPath}" class="simple-nav-img">
           </a>
	 </div>
    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.SimpleNavigation" data-sly-call="${renderSimpleNavigation @ model=model}" />
