<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the navbar component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderNavbar="${ @ model }">
    <nav class="navbar navbar-default ${model.navbarMode}">
        <div class="container">

            <!--/* Brand and toggle get grouped for better mobile display */-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-mobile-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="${model.homePage}">
                    <img alt="Brand" src="${model.logoPath}">
                </a>
            </div>

            <!--/* DESKTOP + MOBILE: Collect the nav links, forms, and other content for toggling */-->
            <div class="collapse navbar-collapse" id="navbar-mobile-collapse">

                <ul class="nav navbar-nav">
                    <!--/* DROP DOWN 1 */-->
                    <li data-sly-test="${model.dd1Title}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            ${model.dd1Title} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-sly-list.item="${model.dd1Links}">
                            <li data-sly-test.hasTitle="${item.title}">
                                <a href="${item.link @ context='uri'}" target="${item.newTabBool ? '_blank' : ''}">${item.title}</a>
                            </li>
                            <li data-sly-test="${!hasTitle}" role="separator" class="divider"></li>
                        </ul>
                    </li>

                    <!--/* DROP DOWN 2 */-->
                    <li data-sly-test="${model.dd2Title}" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            ${model.dd2Title} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" data-sly-list.item="${model.dd2Links}">
                            <li data-sly-test.hasTitle="${item.title}">
                                <a href="${item.link @ context='uri'}" target="${item.newTabBool ? '_blank' : ''}">${item.title}</a>
                            </li>
                            <li data-sly-test="${!hasTitle}" role="separator" class="divider"></li>
                        </ul>
                    </li>

                    <!-- */
                    Example of normal link
                    <li>
                        <a href="#">${model.dd1Title}</a>
                    </li>
                    */-->
                </ul>

                <form class="navbar-form navbar-right" action="${model.searchPage}" method="GET">
                    <div class="form-group">
                        <input name="q" type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">${model.localizedText.search}</button>
                </form>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</template>

<sly data-sly-use.model="gigamon.core.models.component.Navbar" data-sly-call="${renderNavbar @ model=model}" />
