<!--/*

  Stripped down version of AEM parsys component that always wraps
  component in a div.carousel-slide element

*/-->
<sly data-sly-use.parsysComponent="parsys.js" data-sly-list.paragraph="${parsysComponent.renderInfo}">
    <!--/* edit mode: new section component drop zone */-->
    <div data-sly-test="${paragraph.resourceType && paragraph.cssClasses}" class="${paragraph.cssClasses}" data-sly-resource="${paragraph.resourcePath @ resourceType=paragraph.resourceType, decorationTagName=''}"></div>
    <!--/* non-edit mode */-->
    <div data-sly-test="${paragraph.resourceType && !paragraph.cssClasses}" class="carousel-slide" data-sly-resource="${paragraph.resourcePath @ resourceType=paragraph.resourceType}"></div>
</sly>
