<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the resource-grid component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderResourceGrid="${ @ model }">

    <div data-sly-unwrap="${!wcmmode.edit}" data-sly-resource="${'filter-container' @ resourceType='gigamon/components/content/filter-container'}"></div>

    <!-- if number of resources is not 0 -->
    <sly data-sly-test="${model.resources.resources.size}" data-sly-unwrap>

        <section data-component-name="background-container" class="component-resource-results container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="count">${model.resources.resources.size} Resources</h2>
                </div>
            </div>
                <div class="row" data-sly-list.gridResource="${model.resources.resources}">
                    <div data-tags="${gridResource.tagIds}" class="col-sm-4 col-lg-3 col-xlg-15 resource-results-cell ">
                            <div class="resource-item-media resource-bg-color">
                                <img src="${gridResource.gridBackgroundImage}">
                            </div>
                            <h2>${gridResource.title}</h2>
                            <p class="resource-item-description">${gridResource.description}</p>
                            <p class="resource-item-metadata" data-sly-test="${gridResource.damFilePath}">
                                <a href="${gridResource.damFilePath}" target="_blank" download>${gridResource.damFileType} ${gridResource.damFileSize}</a>
                            </p>
                            <sly data-sly-test.download="${gridResource.gridUrl == 'download'}">
                                <div class="component-cta-button">
                                    <a class="btn btn-link" href="${gridResource.damFilePath}" target="_blank" download>
                                        <span>${gridResource.gridCtaTextOverride ? gridResource.gridCtaTextOverride : model.ctaText}</span>
                                        <svg width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg"><title>Chevron</title><g fill-rule="evenodd"><path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/><path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/></g></svg>
                                    </a>
                                </div>
                            </sly>
                            <sly data-sly-test="${!download}" data-sly-use.cta="gigamon/components/content/cta/cta.html" data-sly-call="${cta.renderCtaStatic @ title=gridResource.gridCtaTextOverride ? gridResource.gridCtaTextOverride : model.ctaText, link=gridResource.gridUrl, newTab=gridResource.gridCtaNewTab, style='btn-link'}"/>
                    </div>
                </div>
        </section>

        <section data-component-name="background-container" class="section-container white-bg vert-pad-sm zero-results">
            <div class="container" data-sly-use.text="gigamon/components/content/text/text.html">
                <sly data-sly-call="${text.renderHText @ text=model.noResultsTitle,  size='h1', classes=model.noResultsTitleColor}"/>
                <sly data-sly-call="${text.renderP @ text=model.noResultsText, wrapPTag=true}"/>
            </div>
        </section>

    <section data-component-name="background-container" class="section-container load-more-bar">
        <div class="container">
            <div class="component-cta-button">
                <button href="javascript:void();" class="btn btn-primary default-stroke default-fill" >${model.loadMoreText}</button>
            </div>
        </div>
    </section>


    </sly>
</template>

<sly data-sly-use.model="gigamon.core.models.component.ResourceGrid" data-sly-call="${renderResourceGrid @ model=model}" />
