/**
 *  Main css for block-quote
 */

.component-block-quote {
	padding: 2em 0;
	.container {
		max-width: $max-width-indent;
		margin: 0 auto;
	}
	.component-image {
		.img-responsive {
			width: auto;
			margin: 0 auto;
		}
	}
	blockquote {
		border: none;
		margin: 20px 0;
		padding: 0px;
		font-size: 22px; 
	}
	.blockquote-meta {
		p {
			font-size: 12px;
		}
	}
}
