/**
 *  Main css for general-modal
 */

.modal--fade, .modal--show {
z-index: 0 !important;
}
.modal--fade:target, .modal--show:target, .is-active.modal--fade, .is-active.modal--show {
z-index: 9 !important;
}
.modal--fade .modal-inner, .modal--show .modal-inner {
	position: fixed;
	top: 50%;
    transform: translate(0%, -50%);
    max-height: auto !important;
}

.modal--fade .modal-content, .modal--show .modal-content {
	max-height: none !important;
}

.has-overlay > body {
	width: 100%;
}


.component-general-modal .modal-close:after {
    height: 4%;
    width: 6%;
    min-height: 20px;
    min-width: 20px;
    top: 10%;

}

.component-general-modal .modal-inner .modal-content {
    padding: 0px;
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    border: none;
}