/**
 *  Main css for resource-card
 */

.component-resource-card {
	h2 {
		font-family: $headings-font-family;
		font-size: 22px;
		font-weight: 500;
		overflow: hidden;
		line-height: 26px;
		letter-spacing: 1px;
	}
	.component-text {
		display: block;
		height: 74px;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		margin-bottom: 20px;
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
		overflow: hidden;
			text-overflow: ellipsis;
	}
	.btn-link {
		color: black;
		margin-bottom: 20px;
		.chev {
			fill: black;
		}
	}
}

.resource-card {
	.container {
		padding: 0px;
	}
}

/**
 *  Main css for resource-square
 */
.resource-square.border {

    padding-top: 0px!important;
    margin-top: -20px;
}

.component-resource-card.resource-square
{
padding-left: 16px;
padding-right: 15px;
padding-bottom: 15px;
padding-top: 15px;
h2 {
    font-weight: bold;
    letter-spacing: normal;
    font-style: normal;
    font-stretch: normal;
    color: #444450;
    text-align: left;
    height: 50px;
	}
p {
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #444450;
}
p.resource-card-metadata {
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8c939d;
}

p.super-title
{
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #444450;
}

}



.resource-square a.btn-primary {
    width: 100%;
}


	.resource-card-image {
		&.crop {
			padding-bottom: 60%;
			overflow: hidden;
			img {
				position: absolute;
				width: 100%;
			}
		}
		display: block;
		position: relative;
	}
