/**
 *  Main css for simple-navigation
 */

 
.simple-navigation {
  height:96px;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  font-family: $headings-font-family;
}

.simple-nav-img
	{
    width:98px; height:64px;
    margin-top: 16px;margin-bottom: 16px;
    }

.component-simple-navigation {
	height: inherit;
	width: 100%;
    background-color:white;
    position: fixed;
.logo-nav {
	text-align: left;
	padding-left: 11.5%!important;
.btn.btn-orange{   
    position: absolute;
    font-family: proxima_nova;
	text-align: center;
  	letter-spacing: 2.2px;
  	line-height: 1.2;
  	font-size: 20px;
  	font-weight: bold;
  	padding: 11px 15px;
 	width: 225px;
    color: #ff6600;
    background-color:white;
  	height: 48px;
  	border-radius: 3px;
  	border: solid 1px #ff6600;
    right: 60px;
    top: -200px;     transition: all 1s ease-in-out;}
   }
}
@media (max-width: 992px){
.component-simple-navigation .logo-nav {
    text-align: center;
                padding-left: 20px!important;
}
}

@media (max-width: $screen-md-min) {
	.simple-navigation 
	{
	height:60px!important;
    }
   .logo-nav
    {
   padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    }
.simple-nav-img
	{
        width: 60px!important;
        height: 40px!important;
		margin-top: 0!important;
	}
}

@media (min-width: 992px) {
.component-simple-navigation.showbtn .btn.btn-orange{
    right: 60px;
                    top: 25px;     transition: all 1s ease-in-out; }
                    }
