/**
 *  Main css for article
 */

.component-article {

}

/* Only mobile */
@media (max-width: $screen-xs-max) {
    .component-article {
        .article{
            -webkit-column-count:1 !important;
            -moz-column-count: 1 !important;
        }
    }
}

/* Large phones */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      .component-article {
        .article{
            -webkit-column-count: 2 !important;
            -moz-column-count: 2 !important;
        }
    }
}

/* Tablet */
@media (min-width: $screen-md-min) {
    .component-article {
        .article{
            -webkit-column-count: auto;
            -moz-column-count: auto;
        }
    }
}
