<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;${resource.name} <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>

<!--/*
    Main HTL template for the background-image component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderBackgroundImage="${ @ model }">
    <!--/* Author only CSS to prevent VH issue due to use of of the author mode iframe */-->
    <style scoped data-sly-test="${model.mobileHeightUnit == 'vh' && model.mobileUseFixedHeight && (wcmmode.edit || wcmmode.preview || wcmmode.design)}">
        @media only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) {
            body.edit #${model.componentId @ context='styleToken'} {
                height: 500px !important;
            }
        }
    </style>
    <!--/* Author only CSS to prevent VH issue due to use of of the author mode iframe */-->
    <style scoped data-sly-test="${model.desktopHeightUnit == 'vh' && model.desktopUseFixedHeight && (wcmmode.edit || wcmmode.preview || wcmmode.design)}">
        @media only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) {
            body.edit #${model.componentId @ context='styleToken'} {
                height: 500px !important;
            }
        }
    </style>    
    
    <!--/* Fixed height CSS */-->
    <style scoped>
        #${model.componentId @ context='styleToken'} {
            height: ${model.mobileHeightCss @ context='styleString'};
        }
        @media only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) {
            #${model.componentId @ context='styleToken'} {
                height: ${model.desktopHeightCss @ context='styleString'};
            }
        }
    </style>
    
    <!--/* Background image CSS */-->
    <sly data-sly-use.image="gigamon/components/content/image/image.html"
        data-sly-call="${image.renderBackgroundImageStyleTag @
            id=model.componentId,
            model=model,
            extraModsDesktop=model.desktopImageStyles,
            extraModsMobile=model.mobileImageStyles
        }" />
        
    <!--/* Component markup */-->
    <section id="${model.componentId}" class="component-background-image ${model.verticalAlignment}">
        <div class="container" data-sly-resource="${'content' @ resourceType='wcm/foundation/components/parsys'}"></div>
    </section>
    
</template>

<sly data-sly-use.model="gigamon.core.models.component.BackgroundImage" data-sly-call="${renderBackgroundImage @ model=model}" />

<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview || wcmmode.design}">&nbsp;${resource.name} <i class="fa fa-arrow-circle-up" aria-hidden="true"></i></span>
