<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the gated-marketo-form component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderGatedMarketoForm="${ @ model }">
    <section class="component-gated-marketo-form">

      <script src="//app-abm.marketo.com/js/forms2/js/forms2.min.js"></script>
<div class="line">
<form id="${model.getMarketoFormId}"></form>
<p class="source ${model.disclaimer ? 'disable-disclaimer' : ''}" style="padding-top:15px;">By submitting this form, you agree to our <a href="https://www.gigamon.com/terms-agreement.html">Terms & Agreement</a>. View our <a href="https://www.gigamon.com/privacy-policy.html">Privacy Statement</a>.<br></p>						
</div>
<script>MktoForms2.loadForm("//app-abm.marketo.com", "892-WER-078", ${model.getFormId @context ='unsafe'});</script>
<script>
MktoForms2.whenReady(function (form) {
   document.getElementById("Country").onchange=
function()
{
var formEl = form.getFormElem()[0],  
  inputRows = formEl.querySelectorAll('.mktoFormRow'),  
  buttonRow = formEl.querySelector('.mktoButtonRow'),   
  optInRow = [].filter.call(inputRows,function(itm){ return itm.querySelector('INPUT[name="optin"]');}).shift();  
  
  formEl.insertBefore(optInRow,buttonRow);  
}
});
</script>

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.GatedMarketoForm" data-sly-call="${renderGatedMarketoForm @ model=model}" />
