<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the block-quote component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderBlockQuote="${ @ model }">
    <section class="component-block-quote"
        data-title="${model.title}"
        data-sly-use.image="gigamon/components/content/image/image.html"
        data-sly-use.text="gigamon/components/content/text/text.html">

        <!--/*
        Uncomment for debug output
        <sly data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model=model}" />
        */-->
        <div class="container">
            <div class="row ${model.textQuoteAlignment} ${model.textQuoteColor}">
                <div class="col-md-12">
                    <sly data-sly-call="${image.renderImage @ model=model, type='original'}"/>
                </div>

                <div class="col-md-12">
                    <blockquote>
                        <sly data-sly-call="${text.renderText @ model=model}"/>
                    </blockquote>
                    <div class="blockquote-meta">
                        <p>${model.authorName}<br /> 
                            ${model.authorRole}
                        </p>
                    </div>
                </div>

            </div>
        </div>

    </section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.BlockQuote" 
    data-sly-use.background="gigamon/components/content/background/background.html"
    data-sly-call="${background.renderBackground @ model=model, contentTemplate=renderBlockQuote}" />
