<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the filter-container component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderFilterContainer="${ @ model }">
	<section class="component-grid-filter" data-component-name="filter-container">	
		<div data-sly-unwrap="${wcmmode.edit}" class="filter-bar">
		<div data-sly-unwrap="${!wcmmode.edit}" class="filter-bar" style="height: 256px">
		
			<div class="container">
				<div class="inputs">
					<section class="component-dropdown-menu">
						<div class="row">
							<div class="container" data-sly-list.item="${model.itemIds}">
								<div class="${wcmmode.edit ? 'container' : ''}" data-sly-unwrap="${!wcmmode.edit}" data-sly-resource="${'{0}' @ format=[item] , resourceType='gigamon/components/content/filter-dropdown-resource'}"></div>
							</div>
						</div>
					</section>
				</div>

			</div>
			
		</div>
		</div>
	</section>
</template>

<sly data-sly-use.model="gigamon.core.models.component.FilterContainer" data-sly-call="${renderFilterContainer @ model=model}" />
