<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the mega-banner component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderMegaBanner="${ @ model }">


 <!--/* Author only CSS to prevent VH issue due to use of of the author mode iframe */-->
    <style scoped data-sly-test="${model.mobileHeightUnit == 'vh' && model.mobileUseFixedHeight && (wcmmode.edit || wcmmode.preview || wcmmode.design)}">
        @media only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) {
            body.edit #${model.componentId @ context='styleToken'} {
                height: 500px !important;
            }
        }
    </style>
    <!--/* Author only CSS to prevent VH issue due to use of of the author mode iframe */-->
    <style scoped data-sly-test="${model.desktopHeightUnit == 'vh' && model.desktopUseFixedHeight && (wcmmode.edit || wcmmode.preview || wcmmode.design)}">
        @media only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) {
            body.edit #${model.componentId @ context='styleToken'} {
                height: 500px !important;
            }
        }
    </style>    
    
    <!--/* Fixed height CSS */-->
    <style scoped>
        #${model.componentId @ context='styleToken'} {
            height: ${model.mobileHeightCss @ context='styleString'};
        }
        @media only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) {
            #${model.componentId @ context='styleToken'} {
                height: ${model.desktopHeightCss @ context='styleString'};
            }
        }
    </style>


 <sly data-sly-call="${renderBackgroundImageStyleTag @
            id=model.componentId,
            model=model,
            extraModsDesktop=model.DesktopImageStyles,
            extraModsMobile=model.mobileImageStyles
        }" />
    <section id="${model.componentId}" class="component-mega-banner v-center"   data-title="${model.title}"
        data-sly-attribute="${model.analyticsAttributeMap}"
        data-sly-use.text="gigamon/components/content/text/text.html"
        data-sly-use.cta="gigamon/components/content/cta/cta.html"
        data-sly-use.image="gigamon/components/content/image/image.html">

        <!--/*
        Uncomment for debug output
        <sly data-sly-use.debug="../_debugging/_debugging.html" data-sly-call="${debug.renderDebugging @ model=model}" />
        */-->
        

        <sly data-sly-test="${model.columnLayout}">
        		<div class="container">
				<div class="mega-content ${model.columnsHorizontalSpacing}">
            <!-- expose ability to add activator class alongside col-* to aem author -->
            <div class="mega-left-clm ${model.LeftColumnLayout} ${model.topspacingleftcolumn} ${model.btmspacingleftcolumn}">
              <div class="text-${model.textJumboAlignment} ${model.headerWithCTA} ${model.textJumboColor}">
            <sly data-sly-call="${text.renderHText @ text=model.title, size=model.textJumboTitleSize , classes=model.fontWeight}" />
            <sly data-sly-call="${text.renderText @ model=model}" />
            <div class="mega-cta">
            <sly data-sly-call="${cta.renderMegaCta @ model=model}" />
            </div>
             </div>

            </div>
            <div class="mega-right-clm ${model.RightColumnLayout}  ${model.topspacingrightcolumn}  ${model.btmspacingrightcolumn}">
						 <sly data-sly-call="${renderImageTag @ model=model}"/>
                 <div class="secondary-text ${model.textJumboColor} ">
                <div data-sly-test="${model.secondarytext}" class="component-text text-block ${classes}">
       			 <p data-sly-unwrap="${!wrapPTag}">${model.secondarytext @ context='html'}</p>
					</div>

               </div>
            </div>
            </div>
            </div>
        </sly>

    </section>
</template>

<!--/*
    templates used for renedering background-image and image in mega-banner
*/-->

<template data-sly-template.renderBackgroundImageStyleTag="${ @ id, model, extraModsMobile, extraModsDesktop }">
    <style data-sly-test="${model.PrimaryImageFileReference}" scoped>
        <!--/* Mobile x1 */-->
        @media
            only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) {
            #${id @ context='styleToken'} {
                ${extraModsMobile ? 'background' : 'background-image' @ context='unsafe'}: url("${model.mobileImageFWX1M || model.imageFWX1M @ context='unsafe'}") ${extraModsMobile @ context='unsafe'};
            }
        }

        <!--/* Mobile x2 */-->
        @media
            only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) and (-webkit-min-device-pixel-ratio: 2),
            only screen and (max-width: ${model.maxWidthMobile @ context='styleString'}px) and (min-resolution: 192dpi) {

           #${id @ context='styleToken'} {
               ${extraModsMobile ? 'background' : 'background-image' @ context='unsafe'}: url("${model.mobileImageFWX2M || model.imageFWX2M @ context='unsafe'}") ${extraModsMobile @ context='unsafe'};
           }
        }

        <!--/* Desktop x1 */-->
        @media only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) {
           #${id @ context='styleToken'} {
               ${extraModsDesktop ? 'background' : 'background-image' @ context='unsafe'}: url("${model.imageFWX1D @ context='unsafe'}") ${extraModsDesktop @ context='unsafe'};
           }
        }

        <!--/* Desktop x2 */-->
        @media
            only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) and (-webkit-min-device-pixel-ratio: 2),
            only screen and (min-width: ${model.minWidthDesktop @ context='styleString'}px) and (min-resolution: 192dpi) {

           #${id @ context='styleToken'} {
               ${extraModsDesktop ? 'background' : 'background-image' @ context='unsafe'}: url("${model.imageFWX2D @ context='unsafe'}") ${extraModsDesktop @ context='unsafe'};
           }
        }
    </style>

</template>


<template data-sly-template.renderImageTag="${ @ model, classes, rendition}">
	 <div class="component-image ${model.Cropimage ? 'crop-img' : ''} ${model.imageoverflow!='none' ? model.imageoverflow : ''}">
    
    <a data-sly-unwrap="${!model.imgLink}" href="${model.imgLink}" target="${model.imgLinkNewTab ? '_blank' : ''}">
        <img data-sly-test="${!rendition && model.MegaImageFileReference || model.imgpath}"
            src="${model.imgpath ? model.imgpath : model.MegaImageOriginal}"
            title="${model.imageTitle}"
            alt="${model.imageAlt}"
            class="${wcmmode.edit ? 'cq-dd-image' : ''} ${classes ? classes : 'img-responsive'}  ${model.scaleImage}" />

        <img data-sly-test="${rendition && model.MegaImageFileReference}"
            src="${model.imgpath ? model.imgpath : model[rendition]}"
            title="${model.imageTitle}"
            alt="${model.imageAlt}"
            class="${wcmmode.edit ? 'cq-dd-image' : ''} ${classes ? classes : 'img-responsive'}" />

        <span data-sly-test="${model.imgText}" class="img-text">${model.imgText}</span>
    </a>
	</div>
</template>


<sly data-sly-use.model="gigamon.core.models.component.MegaBanner" data-sly-call="${renderMegaBanner @ model=model}" />
