/*
--------------------------------------------------
    Gutter classes applied to components
--------------------------------------------------
*/

@mixin vertical_padding_top($space) {

    padding-top: 0;
    margin-top: $space;

    // If this element also has a background color defined (ex. grey-bg)
    &[class*="-bg"] {
        padding-top: $space;
        margin-top: 0;

    }

    > [class*="-bg"]{
        margin-top: 0;
    }

}
@mixin vertical_padding_bottom($space) {

    padding-bottom: 0;
    margin-bottom: $space;

    &[class*="-bg"]{
        padding-bottom: $space;
        margin-bottom: 0;
    }

    > [class*="-bg"]{
        margin-bottom: 0;
    }
}

@mixin horizontal_padding_left($space) {

    padding-left: 0;
    margin-left: $space;

    // If this element also has a background color defined (ex. grey-bg)
    &[class*="-bg"] {
        padding-left: $space;
        margin-left: 0;

    }

    > [class*="-bg"]{
        margin-left: 0;
    }

}

@mixin horizontal_padding_right($space) {

    padding-right: 0;
    margin-right: $space;

    &[class*="-bg"]{
        padding-right: $space;
        margin-right: 0;
    }

    > [class*="-bg"]{
        margin-right: 0;
    }
}

/*
    All screen sizes rules.
*/
.vert-pad-top-xs{
    @include vertical_padding_top(15px);
}
.vert-pad-top-sm{
    @include vertical_padding_top(30px);
}
.vert-pad-top-md{
    @include vertical_padding_top(60px);
}
.vert-pad-top-lg{
    @include vertical_padding_top(90px);
}
.vert-pad-top-xl{
    @include vertical_padding_top(90px);
}

.vert-pad-bottom-xs{
    @include vertical_padding_bottom(15px);
}
.vert-pad-bottom-sm{
    @include vertical_padding_bottom(30px);
}
.vert-pad-bottom-md{
    @include vertical_padding_bottom(60px);
}
.vert-pad-bottom-lg{
    @include vertical_padding_bottom(90px);
}
.vert-pad-bottom-xl{
    @include vertical_padding_bottom(90px);
}

.horz-pad-left-xs{
    @include horizontal_padding_left(15px);
}
.horz-pad-left-sm{
    @include horizontal_padding_left(30px);
}
.horz-pad-left-md{
    @include horizontal_padding_left(60px);
}
.horz-pad-left-lg{
    @include horizontal_padding_left(90px);
}
.horz-pad-left-xl{
    @include horizontal_padding_left(90px);
}

.horz-pad-right-xs{
    @include horizontal_padding_right(15px);
}
.horz-pad-right-sm{
    @include horizontal_padding_right(30px);
}
.horz-pad-right-md{
    @include horizontal_padding_right(60px);
}
.horz-pad-right-lg{
    @include horizontal_padding_right(90px);
}
.horz-pad-right-xl{
    @include horizontal_padding_right(90px);
}

@mixin responsive_vertical_padding_rules($name) {
    .vert-pad-#{$name}-top-xs{
        @include vertical_padding_top(15px);
    }
    .vert-pad-#{$name}-top-sm{
        @include vertical_padding_top(30px);
    }
    .vert-pad-#{$name}-top-md{
        @include vertical_padding_top(60px);
    }
    .vert-pad-#{$name}-top-lg{
        @include vertical_padding_top(90px);
    }
    .vert-pad-#{$name}-top-xl{
        @include vertical_padding_top(90px);
    }

    .vert-pad-#{$name}-bottom-xs{
        @include vertical_padding_bottom(15px);
    }
    .vert-pad-#{$name}-bottom-sm{
        @include vertical_padding_bottom(30px);
    }
    .vert-pad-#{$name}-bottom-md{
        @include vertical_padding_bottom(60px);
    }
    .vert-pad-#{$name}-bottom-lg{
        @include vertical_padding_bottom(90px);
    }
    .vert-pad-#{$name}-bottom-xl{
        @include vertical_padding_bottom(90px);
    }
}

@mixin responsive_horizontal_padding_rules($name) {
    .horz-pad-#{$name}-left-xs{
        @include horizontal_padding_left(15px);
    }
    .horz-pad-#{$name}-left-sm{
        @include horizontal_padding_left(30px);
    }
    .horz-pad-#{$name}-left-md{
        @include horizontal_padding_left(60px);
    }
    .horz-pad-#{$name}-left-lg{
        @include horizontal_padding_left(90px);
    }
    .horz-pad-#{$name}-left-xl{
        @include horizontal_padding_left(90px);
    }

    .horz-pad-#{$name}-right-xs{
        @include horizontal_padding_right(15px);
    }
    .horz-pad-#{$name}-right-sm{
        @include horizontal_padding_right(30px);
    }
    .horz-pad-#{$name}-right-md{
        @include horizontal_padding_right(60px);
    }
    .horz-pad-#{$name}-right-lg{
        @include horizontal_padding_right(90px);
    }
    .horz-pad-#{$name}-right-xl{
        @include horizontal_padding_right(90px);
    }
}

@include responsive_vertical_padding_rules(xs);
@include responsive_horizontal_padding_rules(xs);

@media (min-width: $screen-sm-min) {
    @include responsive_vertical_padding_rules(sm);
    @include responsive_horizontal_padding_rules(sm);
}

@media (min-width: $screen-md-min) {
    @include responsive_vertical_padding_rules(md);
    @include responsive_horizontal_padding_rules(md);
}

@media (min-width: $screen-lg-min) {
    @include responsive_vertical_padding_rules(lg);
    @include responsive_horizontal_padding_rules(lg);
}
