/*
--------------------------------------------------
    Base Layout
--------------------------------------------------
*/
html {
    position: relative;
    min-height: 100%;
    background: #f2f2f2;
}
body {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.18); 
}

.site-wrapper,
.site-header,
.site-content,
.site-footer,
.content-section {
    width: 100%;
    // max-width: 1440px;
    padding: 0;
    margin: 0;
    display: block;
    overflow: hidden;
}

// CQ layout fix
#CQ * {
    box-sizing: content-box;

    .cq-wcm-preview * {
        box-sizing: border-box;
    }
}

// Page wrapper - default is without styling, possibility to add position properties, paddings etc.. (for sidebar nav)
.site-wrapper {
    background-color: $body-bg;
    margin: 0 auto;
}

// Content wrapper - width: 100%
.site-content {
    overflow: visible;
    position: relative;
    z-index: 1;
}

/* Container */
.container {
    display: block;

    padding-left: 15px;
    padding-right: 15px;

    // nested containers are full width
    .container {
        // width: 100% !important;
    }
}

.adjust-column-width-max {
    max-width: $max-width;
    margin: 0 auto;
}

.adjust-column-width-90 {
    max-width: $max-width;
    display: block;
    margin: 0 auto;
    padding: 0 120px;
}

/*
    Responsive (mobile first)
    XS: 480px | SM: 768px | MD: 992px | LG: 1200px | XL: 1440px
--------------------------------------------------
*/

@media (min-width: 1400px) {
    .adjust-column-width-90{
        padding: 0 120px;
    }
}

@media (min-width: $max-width) {
    .container {
        width: 100%;
    }
    .adjust-column-width-90{
        padding: 0 120px;
    }
}


@media (min-width: $screen-lg-min) {

    .container {
        width: 100%;
    }
    .adjust-column-width-90{
        padding: 0 120px;
    }
}

@media (min-width: $screen-sm-min) {
    .container {
        width: 100%;
    }
}

/* Tablet and up */
@media (min-width: $screen-md-min) {
    .container {
        width: 100%;
    }
    /* Vertical Alignment in Cols */
    .flex-container {
        display: flex;
        align-items: center;

        &.flex-left{
            justify-content: flex-start;
        }
        &.flex-right{
            justify-content: flex-end;
        }
        &.flex-center{
            justify-content: center;
        }
    }

    .adjust-column-width-70{
        width:70%;
        margin-left: 15%;
    }
}


/* Tablet and down */
@media (max-width: $screen-lg-min) {
    .adjust-column-width-90{
        padding: 0 40px;
    }
}

/* Tablet and down */
@media (max-width: $screen-md-min) {
    .col-xs-12 {
        padding: 0px;
    }
    .adjust-column-width-90{
        padding: 0 10px;
    }
}


/* flex alignment tools */
.flex-align-top {
    align-self: flex-start;
}

.flex-align-center {
    align-self: center;
}

.flex-align-bottom {
    align-self: flex-end;
}
