<span class="edit-start container" data-sly-test="${wcmmode.edit || wcmmode.preview}">&nbsp;&#9473; ${resource.name} &#9473;</span>

<!--/*
    Main HTL template for the global-navigation component.
    model: The java model containing all fields necessary for rendering.
*/-->
<template data-sly-template.renderGlobalNavigation="${ @ model }">
    <div class="global-navigation">
        <sly data-sly-test="${!model.Hidebutton && model.buttontext}">

        </sly>
        <sly data-sly-test="${model.external}">
            <!-- Header requested with .external selector. Include CSS with the markup -->
            <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-unwrap/>
            <sly data-sly-call="${clientLib.css @ categories='gigamon.pagelibs'}" data-sly-unwrap/>
        </sly>
        <section style="background-color: ${model.backgroundHex @ context='unsafe'}" class="component-global-navigation ${model.theme}">
            <!-- top brands bar -->
            <div class="top-bar hidden-xs hidden-sm">
                <div class="container">

                    <ul class="left" data-sly-list="${model.brandLogos}">
                        <li>
                            <a href="${model.homepageURL}"><img src="${item.brandLogo}"></a>
                        </li>
                    </ul>

                    <ul class="right utility-nav pull-right">
                        <li>
                            <a href="${model.contactLink}"><span>${model.contactText}</span></a>
                        </li>

                        <li class="lang-container" data-sly-test="${model.loginLinks}">
                            <a class="lang-options" role="button" id="login-opt" aria-expanded="false">
                                <span>${model.loginText}</span>
                                <span class="arrow-down">&#9662;</span>
                            </a>
                            <ul class="option-nav" data-sly-list="${model.loginLinks}">
                                <li><a href="${item.link}" target="${item.newTabBool ? '_blank' : ''}">${item.title}</a></li>
                            </ul>
                        </li>

                        <li class="lang-container" data-sly-test="${model.languages}">
                            <a class="lang-options" role="button" id="lang-opt" aria-expanded="false">
                                <span>${model.activeLanguage}</span>
                                <span class="arrow-down">&#9662;</span>
                            </a>
                            <ul class="option-nav" data-sly-list="${model.languages}">
                                <li><a href="${item.link}" target="${item.newTabBool ? '_blank' : ''}">${item.title}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- mobile slide push menu, dynamically assembled based on desktop menu -->
            <nav class="mp-menu mp-cover hidden-lg hidden-xl" id="mp-menu">
                <div class="mp-level">
                    <a tabindex = "-1" href="${model.homepageURL}" class="mobile-logo">
                        <img id="logo-static" class="" src="${model.logo ? model.logo : ''}" alt="logo" />
                    </a>

                    <a tabindex = "-1" class="mobile-close-nav mobile-trigger">
                        <svg width="19" height="18" viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg"><title>Close</title><g stroke="#122230" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M2.237 1.72l14.31 14.312M16.796 1.72L2.485 16.033"/></g></svg>
                    </a>

                    <ul>
                        <sly data-sly-list.navigationItem="${model.navigationItems}">
                            <li>
                                <a data-sly-test="${navigationItem.pageHref}" tabindex = "-1" title="Menu item" href="${navigationItem.pageHref}.html" class="split-link">
                                    ${navigationItem.title}
                                </a>
                                <a data-sly-test="${navigationItem.subMenu}" tabindex = "-1" href="javascript:;" title="Menu item" class="${navigationItem.pageHref ? 'split-link-child' : ''}">
                                    <span data-sly-test="${!navigationItem.pageHref}">${navigationItem.title}</span>
                                    <svg class="arrow-right" width="17" height="9" viewBox="0 0 17 9" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M.256 1.485c0-.128.035-.258.108-.368.183-.282.535-.343.787-.14l7.105 5.761L15.36.978c.251-.204.605-.143.788.139a.674.674 0 0 1-.125.876l-7.436 6.03a.519.519 0 0 1-.662 0L.488 1.993a.651.651 0 0 1-.232-.508" fill="#122230" fill-rule="evenodd"/>
                                    </svg>
                                </a>

                                <div class="mp-level">
                                    <a tabindex = "-1" href="javascript:;" class="mp-back">
                                        <svg class="arrow-left" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                            <g fill-rule="evenodd">
                                                <path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/>
                                                <path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/>
                                            </g>
                                        </svg> ${navigationItem.title}
                                    </a>

                                    <ul class="second-level" data-sly-test="${navigationItem.subMenu}" data-sly-list.subMenuBlock="${navigationItem.subMenu.nonFeatureSubMenuBlocks}" >
                                        <li data-sly-unwrap="${!subMenuBlock.blockHeading}">
                                            <a data-sly-test="${subMenuBlock.blockHeadingLink}" tabindex = "-1" title="Menu item 2" href="${subMenuBlock.blockHeadingLink}" class="split-link">
                                                ${subMenuBlock.blockHeading}
                                            </a>
                                            <a data-sly-test.hasBlockHeading="${subMenuBlock.blockHeading}" tabindex = "-1" title="Menu item 2" href="javascript:;" class="${subMenuBlock.blockHeadingLink ? 'split-link-child' : 'no'}"><span data-sly-test="${!subMenuBlock.blockHeadingLink}" >${subMenuBlock.blockHeading}</span>
                                                <svg class="arrow-right" width="10" height="5" viewBox="0 0 17 9" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M.256 1.485c0-.128.035-.258.108-.368.183-.282.535-.343.787-.14l7.105 5.761L15.36.978c.251-.204.605-.143.788.139a.674.674 0 0 1-.125.876l-7.436 6.03a.519.519 0 0 1-.662 0L.488 1.993a.651.651 0 0 1-.232-.508" fill="#122230" fill-rule="evenodd"/>
                                                </svg>
                                            </a>

                                            <div data-sly-unwrap="${!hasBlockHeading}" class="mp-level">
                                                <a data-sly-test="${hasBlockHeading}" tabindex = "-1" href="javascript:;" class="mp-back">
                                                    <svg class="arrow-left" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                        <g fill-rule="evenodd">
                                                            <path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/>
                                                            <path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/>
                                                        </g>
                                                    </svg>  ${subMenuBlock.blockHeading}
                                                </a>

                                                <ul data-sly-list.subMenuLink="${subMenuBlock.links}" class="sub-menu third-level">
                                                    <li data-sly-test.noChildren="${!subMenuBlock.linkChildren[subMenuLinkList.index]}"><a tabindex = "-1" title="" href="${subMenuLink.link}">${subMenuLink.title}</a></li>
                                                    <li data-sly-test="${!noChildren}">
                                                        <a data-sly-test="${subMenuLink.link}" tabindex = "-1" title="" href="${subMenuLink.link}" class="split-link">
                                                            ${subMenuLink.title}
                                                        </a>
                                                        <a tabindex = "-1" title="" href="javascript:;" class="${subMenuLink.link ? 'split-link-child' : 'no'}">
                                                            <span data-sly-test="${!subMenuLink.link}">${subMenuLink.title}</span>
                                                            <svg class="arrow-right" width="10" height="5" viewBox="0 0 17 9" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M.256 1.485c0-.128.035-.258.108-.368.183-.282.535-.343.787-.14l7.105 5.761L15.36.978c.251-.204.605-.143.788.139a.674.674 0 0 1-.125.876l-7.436 6.03a.519.519 0 0 1-.662 0L.488 1.993a.651.651 0 0 1-.232-.508" fill="#122230" fill-rule="evenodd"/>
                                                            </svg>
                                                        </a>

                                                        <div class="mp-level">
                                                            <a tabindex = "-1" href="javascript:;" class="mp-back">
                                                                <svg class="arrow-left" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                                                    <g fill-rule="evenodd">
                                                                        <path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/>
                                                                        <path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/>
                                                                    </g>
                                                                </svg>  ${subMenuLink.title}
                                                            </a>

                                                            <ul data-sly-list.subMenuChild=${subMenuBlock.linkChildren[subMenuLinkList.index]} class="sub-menu fourth-level">
                                                                <li>
                                                                    <a tabindex = "-1" title="" href="${subMenuChild.link}">${subMenuChild.title}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </sly>

                        <li class="secondary-style"><a tabindex = "-1" title="" href="/">${model.loginText}</a></li>
                        <li class="secondary-style"><a tabindex = "-1" title="Menu item"><span class="light-grey">${model.activeLanguage}</span>
                            <svg class="arrow-right" width="17" height="9" viewBox="0 0 17 9" xmlns="http://www.w3.org/2000/svg">
                                <path d="M.256 1.485c0-.128.035-.258.108-.368.183-.282.535-.343.787-.14l7.105 5.761L15.36.978c.251-.204.605-.143.788.139a.674.674 0 0 1-.125.876l-7.436 6.03a.519.519 0 0 1-.662 0L.488 1.993a.651.651 0 0 1-.232-.508" fill="#122230" fill-rule="evenodd"/>
                            </svg></a>

                            <div class="mp-level">
                                <a tabindex = "-1" href="javascript:;" class="mp-back">
                                    <svg class="arrow-left" width="14" height="14" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                                        <g fill-rule="evenodd">
                                            <path class="chev" d="M8.107 13.176a.53.53 0 0 1-.293-.087c-.224-.145-.273-.426-.111-.626l4.587-5.657-4.587-5.657c-.162-.2-.113-.482.11-.627a.536.536 0 0 1 .699.1l4.8 5.92a.413.413 0 0 1 0 .527l-4.8 5.922a.519.519 0 0 1-.405.185"/>
                                            <path class="chev" d="M12.908 7.255H.5c-.277 0-.5-.201-.5-.45 0-.247.223-.448.5-.448h12.408c.276 0 .5.201.5.449s-.224.449-.5.449"/>
                                        </g>
                                    </svg> ${model.activeLanguage}
                                </a>
                                <ul class="option-nav" data-sly-list="${model.languages}">
                                    <li><a href="${item.link}" target="${item.newTabBool ? '_blank' : ''}">${item.title}</a></li>
                                </ul>
                            </div>

                        </li>
                        <li class="secondary-style"><a tabindex = "-1" title="" href="${model.contactLink}">${model.contactText}</a></li>
                    </ul>
                    <a href="${model.requestDemoURL}" class="mobile-request-demo"><span>${model.requestDemoText}</span></a>
                </div>
            </nav>

            <div class="logo-nav">
                <!-- mobile logo nav bar that gets pushed over by mobile menu -->
                <div class="mobile-btns hidden-md hidden-lg">
                    <a tabindex = "-1" href="javascript:;" id="mobile-trigger" class="burger mobile-trigger" title="Open">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>

                    <a tabindex = "-1" href="${model.homepageURL}" class="mobile-logo">
                        <img id="logo-static" class="" src="${model.logo ? model.logo : ''}" alt="logo" />
                    </a>

                    <a href="#" tabindex="2" class="search-trigger-mobile">
                        <svg xmlns="http://www.w3.org/2000/svg" class="search-icon" width="19" height="19" viewBox="0 0 19 19">
                            <g fill="none" fill-rule="evenodd" stroke="#79808B" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M11.964 12.976l4.535 4.491"/>
                                <circle cx="8" cy="8" r="6"/>
                            </g>
                        </svg>
                        <span class="close-search">
                            <svg width="19" height="18" viewBox="0 0 19 18" xmlns="http://www.w3.org/2000/svg">
                                <title>Close</title>
                                <g stroke="#122230" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
                                    <path d="M2.237 1.72l14.31 14.312M16.796 1.72L2.485 16.033"/>
                                </g>
                            </svg>
                        </span>
                    </a>
                </div>
                <div class="container hidden-xs hidden-sm">
                    <a id="hero-logo-container" href="${model.homepageURL}" class="hero-logo-container">
                        <span data-sly-test="${model.logo}" style="background-image:url(${model.logo @ context='styleString'})" class="logo-static" id="logo-static"></span>
                        <div data-sly-test="${!model.logo}" id="hero-logo-ani" class="hero-logo-ani animating"></div>
                    </a>

                    <div class="desktop-nav-top ">
                        <sly data-sly-list="${model.navigationItems}">
                            <a class="" href="${item.pageHref}" data-index="${itemList.index}">${item.title}</a>
                        </sly>
                        <div class="search-position-container">
                            <div class="search-bar hidden-xs hidden-sm">
                                <div class="container search-container">
                                    <input tabindex = "0" id="searchInput" type="text" data-path="${model.searchPageURL}" placeholder="${model.searchText}">
                                </div>
                            </div>
                            <a href="#" tabindex="2" class="search-trigger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 19 19">
                                    <g fill="none" fill-rule="evenodd" stroke="#79808B" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M11.964 12.976l4.535 4.491"/>
                                        <circle cx="8" cy="8" r="6"/>
                                    </g>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>

                <sly data-sly-list="${model.navigationItems}">
                    <sly data-sly-test="${!wcmmode.edit}">
                        <div data-sly-test="${item.subMenuReferencePath}" class="component-sub-menu-wrapper" data-index="${itemList.index}">
                            <sly data-sly-resource="${item.subMenuReferencePath @ resourceType='gigamon/components/content/sub-menu'}"/>
                        </div>
                    </sly>
                </sly>
            </div>
            </sly>
            <a href="${model.requestDemoURL}" class="request-demo hidden-xs hidden-sm"><span><i class="fa fa-dropbox"></i></br>${model.requestDemoText}</span></a>
            <a href="${model.link}" class="contact-sales hidden-xs hidden-sm"><span><i class="fa fa-phone" ></i>${model.contactsalestext}</span></a>
        </section>
        <div class="search-bar-mobile hidden-md hidden-lg">
            <div class="container search-container">
                <input tabindex="0" id="searchInputMobile" type="text" data-path="${model.searchPageURL}" placeholder="${model.searchText}">
                <button class="mobile-search-trigger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <g fill="none" fill-rule="evenodd" stroke="#79808B" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.364 22.976l4.535 5.491"/>
                            <circle cx="15" cy="14" r="10"/>
                        </g>
                    </svg>
                </button>
            </div>
        </div>

        <sly data-sly-test="${model.external}">
            <!-- Header requested with .external selector. Include JS with the markup -->
            <sly data-sly-call="${clientLib.js @ categories='gigamon.pagelibs'}" data-sly-unwrap/>
        </sly>
    </div>
</template>

<sly data-sly-use.model="gigamon.core.models.component.GlobalNavigation" data-sly-call="${renderGlobalNavigation @ model=model}" />
